/node_modules
/target
/checkouts
/src/gen
/out

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.cpcache
.idea
*.iml
.lein-*
.nrepl-*
.DS_Store
.calva
.cljs_node_repl
.vscode

.hgignore
.hg/
.clj-kondo
.lsp

/resources/hexagrams.d/*