{:binary "111100",
 :line-1
 {:too-bold-to-be-undertaken-by-one-in-the-lowest-place,-and-in-addition-there-is-no-proper-correlate-in-line-four.-from-exhaustion-will-follow-distress-and-other-evils.
  "",
  :confucius-legge
  "This will certainly lead to exhaustion. Wilhelm/Baynes: This certainly leads to failure. Blofeld: The confidence symbolized by power in the toes is soon exhausted. Ritsema/Karcher: One's conforming exhausted indeed. Cleary (2): With power in the feet, that certainty comes to an impasse. Wu: Confidence has been misplaced.",
  :liu "Power in the toes. Actions lead to misfortune. This is true.",
  :cleary-1
  "With power in the feet, it is inauspicious to go forth on an expedition – there is truth in this.",
  :cleary-2
  "With power in the feet, an expedition bodes ill, having certainty.",
  :the-power-is-in-the-toes,-the-lowest-part-of-the-body,-and-the-very-bottom-of-the-hexagram.-this-suggests-a-compulsive,-unconscious-drive,-or-an-ill-considered-impulse-to-act.-if-it-is-the-only-changing-line,-the-hexagram-becomes-number-thirty-two,
  "Consistency,Duration or Standing Fast, which is the implied proper response here. In its most neutral interpretation, this line images a strong urge or impetus to take action.",
  :legge
  "This line is dynamic, in its correct place, and is the first line of the lower trigram of Strength in the hexagram of Great Power.  The essence of the hexagram might seem to be concentrated in it and hence we see it symbolized by strength in the toes, or advancing. But such action is",
  :blofeld
  "Power in the toes. [I.e. power of a rather low or limited kind.] To advance now would bring misfortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Invigorating tending-towards the feet. Chastising: pitfall, possessing conformity.",
  :wing
  "Even though you have the strength, proceeding with your plan would be a mistake. You must not force this issue because you are not in a position to do so successfully.",
  :editor "Compare this line with the definition of compulsion:",
  :siu
  "At the outset, the man in a lowly situation possesses great energy. Seeking advancement through force, however, will bring misfortune.",
  :commentary "",
  :wilhelm-baynes
  "Power in the toes. Continuing brings misfortune. This is certainly true.",
  :wu
  "Having strength in the toes indicates foreboding to proceed, confidence notwithstanding.",
  :shaughnessy
  "Mature in the foot; to be upright is inauspicious; there is a return.",
  :compulsion
  "1a. an act of compelling: a driving by force, power, pressure, or necessity. 2. an irresistible impulse to perform an irrational act."},
 :line-5
 {:anthony
  "We may give up pacts with ourself which require people to do certain things before we will be receptive to them. We need to allow ourself to be led, not setting up structured ideas of how things must happen. We should give up anger and feelings of retribution. Punishment must not be an end in itself.",
  :confucius-legge
  "She loses her ram and hardly perceives it -- she is not in her proper place. Wilhelm/Baynes: Because the place is not the appropriate one. Blofeld: This is indicated by the line's unsuitable position. Ritsema/ Karcher: Situation not appropriate indeed. Cleary (2): “The position is not appropriate” means that one is as though master of the world but does not have anything to do with it. Wu: Because the position is not proper.",
  :liu
  "He carelessly loses the goat. No remorse. [One is not able to achieve one's plans; no benefit.]",
  :in-the-ease-of-her-position.-there-will-be-no-occasion-for-repentance.
  "",
  :cleary-1
  "Losing the goat in ease, let there be no regret. [Even if people can’t be vigorous, it would be fortunate if they opened their minds with flexible receptivity and borrowed knowledge from others to break through their own obstructions.]",
  :cleary-2
  "Losing the ram in ease, etc. [When one is flexible and balanced, there is no attitude of rambunctious strength, so there is no regret.]",
  :legge
  "Line five is magnetic in a central place and will therefore refrain from exerting her strength. Although the hexagram does not forbid the use of strength, it does concern itself with how strength should be properly controlled and directed. All that is said about her is that she will give no occasion for repentance. Being out of place only means that the position properly requires a dynamic line.",
  :blofeld
  "He sacrifices a goat too lightly -- no regret! [I.e. he resorts too easily to force, which is not advisable.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Losing the goat, tending-toward versatility. Without repenting. [Versatility, I: sudden and unpredictable change; mental mobility and openness; easy and light, not difficult and heavy; occurs in name of the I Ching.]",
  :wing
  "You should now let go of an opinionated or stubborn attitude. It is no longer necessary to prove anything. The situation will progress with ease; therefore you do not need to use excessive force.",
  :editor
  "None of the translations of this line convey exactly the same message in English. When that happens, beware: the statement can have a maddeningly koan-like range of meanings. In the positive sense, because line five occupies the central place there is the possibility that one understands the Mean and knows when to refrain from action: one loses the goat (impetus to act) with ease. Alternately, the Blofeld, Liu and Ritsema/Karcher versions depict power which is misused or wasted. As a weak line in a strong place in a hexagram of strength and action, this can also refer to an impotent force with little power to affect the situation at hand. Since no remorse is involved, apparently no harm accrues.",
  :siu
  "The man has lost his alertness and strength because of the ease of his position.",
  :commentary "",
  :wilhelm-baynes
  "Loses the goat with ease. No remorse. [The place is strong, it is in fact the place of the prince, but the nature of the line is yielding, hence the outer place does not correspond with the inner nature. Therefore the line easily rids itself of its obstinate disposition.]",
  :wu "A sheep is lost in the field, etc.",
  :shaughnessy "Losing sheep at Yi; there is no regret."},
 :number 34,
 :name "Great Power",
 :the-image
 {:legge
  "The image of thunder over heaven forms the hexagram of Great Power. The superior man, in accordance with this, does not take one step that is not in accordance with propriety.",
  :wilhelm-baynes
  "Thunder in heaven above: The image of The Power of the Great. Thus the superior man does not tread upon paths that do not accord with established order.",
  :blofeld
  "This hexagram symbolizes thunder in the sky. The Superior Man never takes a step involving impropriety.  [Note: The combination of trigrams meaning thunder and sky suggests something of the awe-inspiring quality of the truly great.]",
  :liu
  "Thunder in the sky above symbolizes Great Power. The superior man's conduct does not oppose the rules.",
  :ritsema-karcher
  "Thunder located above heaven. Great Invigorating. A chun tzu uses no codes whatever, nowhere treading.",
  :cleary-1
  "Thunder is up in the sky, with great power. Thus do superior people refrain from what is improper.",
  :cleary-2 "… Developed people do not do what is improper.",
  :wu
  "There is thunder above heaven; this is Great Strength. Thus the jun zi does not practice what is not proper."},
 :line-4
 {:confucius-legge
  "He still advances. Wilhelm/Baynes: It can go upward. Blofeld: Once the hedge has fallen apart, he can get up and go forward. Ritsema/Karcher: The hedge broken-up, not ruined. Honoring going indeed. Cleary (2): It is valuable to go. Wu: The conditions are favorable to proceed.",
  :liu
  "Persistence brings good fortune and remorse vanishes. The hedge opens and entanglements vanish. Powerful is the axle of the big cart.  [Note: Activity will follow a long quiet period, bringing good fortune for the individual.]",
  :cleary-1
  "Correctness is good; regret vanishes. The fence opened up, one does not get stuck; power is in the axle of a large vehicle.",
  :cleary-2
  "Being correct leads to good results; regret vanishes. Fences opened up, one does not get exhausted, etc.",
  :legge
  "Line four is still dynamic, but in the place of a magnetic line. This explains the cautions with which the symbolism commences. Going forward thus cautiously, his strength will produce the good effects described.",
  :blofeld
  "Righteous persistence brings good fortune and regret vanishes. The hedge falls apart and he is no longer entangled. There is great power in the cart axle.  [A powerful axle indicates that the time is favorable for an advance towards our goal.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Trial: significant. Repenting extinguished. The hedge broken-up, not ruined. Invigorating tending-towards the Great: a cart's axle-straps.",
  :wing
  "When you can work toward your aim and make progress without a great show of power, you create a striking effect. Obstacles give way and your inner strength persists. Good fortune.",
  :editor
  "The image suggests that slowly but surely, one step at a time, one removes the obstacles to progress. Power thus accumulated can go anywhere.",
  :siu
  "The man removes all obstacles through quiet perseverance. Unseen power can move heavy loads.",
  :commentary "",
  :wilhelm-baynes
  "Perseverance brings good fortune. Remorse disappears. The hedge opens; there is no entanglement. Power depends upon the axle of a big cart.",
  :wu
  "With perseverance, there is good fortune and no regret. The fence has been removed and the horns unharmed. The wooden pieces holding the axle underneath the carriage are strong.",
  :shaughnessy
  "Determination is auspicious; regret is gone. The fence block is not weakened, but is matured by the great cart's axle-strut."},
 :line-2
 {:confucius-legge
  "Because he is in the center and exemplifies the due mean. Wilhelm/Baynes: Because it is in the central place.  Blofeld: This is indicated by the line's central position in the lower trigram. Ritsema/ Karcher: Using centering indeed. Cleary (2): Because of balance. Wu: Because the second line is central.",
  :liu
  "Persistence brings good fortune. It (the second line) is in the center (the middle way).",
  :cleary-1 "Rectitude is auspicious.",
  :cleary-2 "Correctness is auspicious.",
  :legge
  "The strength of line two is tempered by his being in a magnetic place which is also in the center. With firm correctness there will be good fortune. The central position and the due moral mean in line two are illustrative of the maxim: The strong man is he who overcomes himself.",
  :blofeld "Persistence in a righteous course brings good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Trial: significant.",
  :wing
  "Moderation now is the key to lasting success. Do not allow yourself to become overconfident because you meet with such little resistance in your efforts. Use your power carefully.",
  :editor
  "The symbolism of the line, and Legge's commentary point out the fact that willpower is the cornerstone of the Work.",
  :siu
  "The way begins to open for growth and progress. Exuberant self-confidence needs to be tempered by continued inner equilibrium in the use of power.",
  :commentary "",
  :wilhelm-baynes "Perseverance brings good fortune.",
  :wu "Perseverance will bring auspiciousness.",
  :shaughnessy "Determination is auspicious."},
 :judgment
 {:legge "Great Power necessitates firm correctness.",
  :wilhelm-baynes "The Power of the Great. Perseverance furthers.",
  :blofeld
  "The Power of the Great. Persistence in a righteous course brings reward. [This hexagram with a solid group of firm lines topped by a small number of yielding lines obviously signifies strength -- in this case the power to succeed in spite of difficulties. Much of what follows concerns goats -- a symbol presumably suggested by the form of the hexagram, namely a solid body distinguished by a pair of horns -- the yielding lines at the top.]",
  :liu "Great Power.  It is of benefit to continue.",
  :ritsema-karcher
  "Great Invigorating , Harvesting Trial. [This hexagram describes your situation in terms of the invigorating power of a central creative idea. It emphasizes that animating everything around you through this guiding motivation is the adequate way to handle it. To be in accord with the time, you are told to invigorate through the great!]",
  :shaughnessy "Great Maturity: Beneficial to determine.",
  :cleary-1 "Great power is beneficial when correct.",
  :wu
  "Great Strength indicates that it is advantageous to be persevering."},
 :line-6
 {:confucius-legge
  "The impasse is owing to his want of care. If he realizes his difficulty his error will not be prolonged. Wilhelm/Baynes:it cannot go backward, it cannot go forward. This does not bring luck. The mistake is not lasting. Blofeld: Inability to retire or advance is hardly conducive to good fortune; but our very difficulties will generate it; the ignoble circumstances in which we find ourselves will not endure for long. Ritsema/ Karcher: Not ruminating indeed. Fault not long-living indeed. Cleary (2): Inability to retreat or go ahead is due to carelessness. Work hard and there will be good results because error will not increase. Wu: The situation is not good. The debacle will not last.",
  :liu
  "A goat butts against the hedge. It cannot advance or retreat; nothing furthers. If one continues to work through the difficulty, there is good fortune. [If you get this line, cease all arrogant behavior, otherwise it will cause you trouble.]",
  :cleary-1
  "The ram running into a fence cannot retreat, cannot go ahead; there is no benefit. Struggle will produce good results.",
  :cleary-2 "… Work hard and there will be good results.",
  :legge
  "Line six, at the top of the trigram of Movement in the hexagram of Great Power, may be expected to be dynamic in the exertion of strength. Because of his passivity, the result is as described. If he stops pushing his cause and reflects upon his weak position, good fortune will result.",
  :blofeld
  "A goat butts against a hedge and can move neither backward nor forward; it can get nowhere. Yet at this time, difficulty presages good fortune. [It can get nowhere is a rendering of a phrase which, taken symbolically, means that this is not a time to advance towards our goal or destination. The implication of the last two sentences is that the shame we feel at finding ourselves prisoners of circumstances will drive us to make an effort powerful enough to release us.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The he goat butts a hedge. Not enabling withdrawing, not enabling releasing. Without direction: Harvesting. Drudgery by-consequence significant.  [Without direction: Harvesting: WU YU Li: no plan or direction is advantageous; in order to take advantage of the situation, do not impose a direction on events.]",
  :wing
  "You have gone so far in the pursuit of your desires that you are at an impasse. Everything you try to do just complicates the situation even further. Seeing the difficulty of this will eventually force you to compose yourself. The entire affair can then be resolved.",
  :editor
  "The image suggests an impasse which can only be surmounted by waiting patiently for its natural resolution. The second clause suggests that circumstances will improve if you just don't meddle with them. Ritsema/ Karcher’s: In order to take advantage of the situation, do not impose a direction on events is usually the best choice whenever it is received in a line.",
  :siu
  "The man goes too far and reaches a deadlock with neither the capability to advance nor the opportunity to retreat. If he recognizes his weakness and is not obstinate, he will not compound the error.",
  :commentary "",
  :wilhelm-baynes
  "A goat butts against a hedge. It cannot go backward, it cannot go forward. Nothing serves to further. If one notes the difficulty, this brings good fortune.",
  :wu
  "A ram butts into a fence. He cannot go forward or back away. There is nothing to gain. Endurance will bring good fortune.",
  :shaughnessy
  "A ram butts a fence, is not able to retreat and is not able to follow; there is no place beneficial; difficult but then auspicious."},
 :notes-&-para
 {:judgment "Control yourself.",
  :the-superior-man
  "does nothing that is not in accordance with the principles of the Work.",
  :wilhelm-and-blofeld-translate-this-hexagram-as
  "The Power of the Great., but I prefer Liu's rendition of Great Power, because it has a more neutral connotation. The Power of the Great suggests the might of kings and emperors, and implies superior power wielded at one's own discretion. It is too easy to misinterpret this hexagram as a clear injunction to take unilateral action. Such is seldom the case -- the hexagram depicts a charge of latent energy which must be properly managed.",
  :the-figure-is-usually-compared-with-the-image-of-a-ram-or-goat--the-four-lower-dynamic-lines-being-the-body,-and-the-two-upper-magnetic-lines-representing-the-horns.-since-this-hexagram-is-the-preceding-figure-of
  "Retreat turned upside down, one can imagine the two together as a person retreating across a pasture pursued by a charging beast. The ram/goat is mentioned in four of the six lines of the hexagram. This is certainlyGreat Power, but in such a crude form it cannot be truthfully called The Power of the Great.",
  :truly
  "Great Power, as the Judgment tells us, is derived from our will to restrain our emotions, instincts and appetites. Note that lines two and four are the most positively forceful lines in the hexagram and that both imply restraint of power as the proper way to attain one's goals. Without changing lines, the hexagram sometimes refers to provocations in which one is legitimately” tempted to a self-righteous display of power.” Remember that other people's ego-trips are none of your concern: the superior man does not respond to them with other than dignified reserve. Regard it as a test and be joyful if you pass it!"},
 :commentary
 {:confucius-legge
  "In Great Powerwe see that which is great becoming strong. The trigram of Strength directs the trigram of Movement, and hence the whole is expressive of vigor. But that which is great necessitates firm correctness. The attributes of heaven and earth are displayed when firmness and correctness attain their ideal state.",
  :legge
  "Because the dynamic lines predominate in Great Power,the figure suggests a state in which there is an abundance of strength and vigor. Is strength alone enough for the conduct of affairs? Of course not! Strength must always be subordinated to the idea of right, and exerted only in harmony with it.",
  :the-lower-trigram-symbolizes-strength,-the-upper-symbolizes-movement.-in-the-confucian-commentary,
  "that which is great” denotes the group of four dynamic lines which strikes us on looking at the figure, and also the superior men in positions of power, of whom these are the representatives. That the attributes of heaven and earth are displayed means that the power of men should be a reflection of the great power which we see impartially working in nature.",
  :ch'eng-tzu-says-on-the-image
  "Thunder rolling in the sky and making all things shake is the symbol of Great Power.  In relating its application to man, he quotes a beautiful saying of antiquity: The strong man is he who overcomes himself."},
 :line-3
 {:using-all-his-strength;-and-in-the-case-of-a-superior-man,-one-whose-rule-is-not-to-do-so.-even-with-firm-correctness-the-position-would-be-perilous.-the-exercise-of-strength-in-it-might-be-compared-to-the-case-of-a-ram-butting-against-a-fence,-and-getting-his-horns-entangled.
  "",
  :confucius-legge
  "The inferior man uses all his strength; in the case of the superior man it is his rule not to do so. Wilhelm/Baynes: The inferior man uses his power. This the superior man does not do. Blofeld: This means that inferior men use their power and the Superior Man is likely to be tricked.  Ritsema/Karcher: Small People avail-of Invigorating. A chun tzu: absence indeed. Cleary (2): Petty people use power; superior people disappear. Wu: A little man deploys strength indiscreetly, but a jun zi does not.",
  :liu
  "The inferior man uses his power, while the superior man does not. The goat butts against a hedge, entangling his horns. To continue is dangerous.",
  :cleary-1
  "For inferior people the use is powerful, but for superior people the use is nil. It is dangerous to persist in this, goat, etc.",
  :cleary-2
  "Petty people use power; superior people use nothingness, chaste in danger, goat, etc.",
  :legge
  "Line three is dynamic, and in his proper place at the top of the trigram of Strength. An inferior man so placed will use all of his strength to the utmost. Not so the superior man. For him the position is beyond the safe middle, and he will be cautious not to injure himself like the ram by exerting all of his strength.",
  :blofeld
  "Inferior men use their power where (under the circumstances prevailing) the Superior Man refrains from using his. Persistence now would bring serious consequences, as when a goat butts against a hedge and gets its horns entangled.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Small People avail-of Invigorating. A chun tzu avails-of absence. Trial: adversity. The he goat butts a hedge. Ruining his horns.",
  :wing
  "Only inferior people boast of their power or demonstrate it ostentatiously. This creates many unnecessary entanglements and, ultimately, danger. Do not persist in this. Concealed power, at this time, has the greatest effect.",
  :editor
  "The image suggests the difference between forcing an issue and allowing it to develop naturally.",
  :siu
  "The situation becomes entangled and perilous. The inferior man in power applies full force and gets himself irretrievably enmeshed. He is like a goat butting against a hedge and getting its horns entangled. The superior man renounces empty display of force and retains the secure middle position.",
  :commentary "",
  :wilhelm-baynes
  "The inferior man works through power. The superior man does not act thus. To continue is dangerous. A goat butts against a hedge and gets its horns entangled.",
  :wu
  "A little man deploys strength indiscreetly; a jun zi doe not do so. There is peril ahead, goat, etc.",
  :shaughnessy
  "The little man uses maturity, the gentleman uses loss; determination is dangerous. A ram butts a fence, and weakens its horns."},
 :char \䷡,
 :other-titles
 {:titles
  ("The Power of the Great"
   "The Symbol of Great Vigor"
   "Persons of Great Authority"
   "Great Strength"
   "Great Invigorating"
   "Great Maturity"
   "Accumulated Force"
   "The Strength of the Mighty"
   "Righteous Power"
   "Excessive Force")}}
