{:binary "101010",
 :line-1
 {:confucius-legge
  "As we may rightly judge, there will be no mistake. Wilhelm/ Baynes: According to the meaning, there is no blame in this. Blofeld: Since we manage to stop at the right moment we are not to blame for what happens. Ritsema/Karcher: Righteous, without fault indeed. Cleary (2): (None.) Wu: In principle there is nothing wrong.",
  :liu "The brake to the wheel. The tail gets wet. No blame.",
  :cleary-1 "Dragging the wheel, wetting the tail, there is no fault.",
  :cleary-2
  "Dragging the wheels – it is right that there be no problem.",
  :legge
  "Line one, the first of the hexagram, represents the time immediately after the successful completion of something -- a time for resting and being quiet. For a season at least, all movement should be hushed. Hence we have the symbolism of a driver trying to stop his carriage, and a fox who has wet his tail, and will not attempt the stream again.",
  :blofeld
  "He brakes the wheel of his chariot and gets the rear part wet -- no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Pulling back one's wheels. Soaking one's tail. Without fault.",
  :wing
  "As you move forward with your plans, the pressure starts to build and you feel an urge to reconsider. You must face the fact that you will be affected by the events that you have inexorably set into motion, but not detrimentally, as you are generally correct.",
  :editor
  "Wilhelm, Blofeld and Liu all use the image of brakes to stop a wheel. If the hexagram is turned upside down it becomes number sixty-four, Before Completion or Unfinished Business,and this line becomes number 64:6 which has a similar message. Even the fox is mentioned. The image is one of avoiding danger by holding back.",
  :siu
  "At the outset, the man is not caught in the intoxication of the masses during a great transition. The general pressure finally overwhelms him. However, this occurs only at the last minute, after he has successfully completed the enterprise.",
  :commentary "",
  :wilhelm-baynes
  "He brakes his wheels. He gets his tail in the water. No blame.",
  :wu
  "The wheels are pulled back. The tail is immersed in water. There will be no error.",
  :shaughnessy
  "Dragging his ribbon, wetting his tail; there is no trouble."},
 :line-5
 {:confucius-legge
  "The large sacrifice of the eastern neighbor cannot equal the small sacrifice of the western neighbor because the latter is in harmony with the times. Wilhelm/Baynes: The eastern neighbor, who slaughters an ox, is not as much in harmony with the time as the western neighbor. The latter attains true happiness: good fortune comes in great measure.  Blofeld: Because the former's sacrifice (though bigger) was less timely. The benefits obtained by the neighbor to the west betoken that good fortune is on its way to us. [This is one of the favorite themes of the Book of Change, namely the importance of timeliness. A small effort at the right time will win for us more benefit than a gigantic effort at the wrong time.] Ritsema/Karcher: Significant, the great coming indeed. Cleary (2):  Good fortune comes in great measure. Wu: There comes great fortune.",
  :liu
  "The eastern neighbor sacrificed an ox; the western neighbor made a simple offering, but he received the blessing. [Many will succeed in small undertakings but fail in grand schemes.]",
  :cleary-1
  "Slaughtering an ox in the neighborhood to the east is not as good as the ceremomy in the neighborhood to the west, really receiving the blessing.",
  :cleary-2 "... The genuine get the blessings.",
  :legge
  "The neighbor in the east is line five, and the neighbor in the west is line two -- his correlate. Five is dynamic, and two is magnetic, and magnetic passivity is more likely to be patient and cautious under the prevailing circumstances. They are compared to two men sacrificing. The one presents valuable offerings, the other very poor ones, but the second excels in sincerity, and his small offering is the more acceptable.",
  :blofeld
  "In terms of benefits, the neighbor to the east gained less from sacrificing an ox than the neighbor to the west obtained from carrying out the spring sacrifice.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Eastern neighbor slaughters cattle. Not thus the Western neighbor's dedicated offering. The substance: acquiescing-in one's blessing.",
  :wing
  "This is an inappropriate time for ostentatious exhibitions of personal success and grandeur. Look for true happiness in the simplicity of your life. You will achieve more by small efforts than by large displays of power.",
  :editor
  "The superior neighbor is the magnetic line two in the middle of the trigram of Clarity, who understands the true difference between form and substance. The inferior neighbor is the dynamic and ego-centric line five in the middle of the trigram of Peril, who acts on his own initiative and wastes his effort. The image teaches the difference between acting from the ego or the Self: between pushing the river and flowing with it.",
  :siu
  "Men are deceived by what the eyes see, but the gods are swayed by what the heart conceals.",
  :commentary "",
  :wilhelm-baynes
  "The neighbor in the east who slaughters an ox does not attain as much real happiness as the neighbor in the west with his small offering.",
  :wu
  "The neighbor on the east side slaughters an ox. What he does is less rewarding than the neighbor on the west side, who makes simple offerings in the summer and receives an abundance of blessings.",
  :shaughnessy
  "The eastern neighbor kills an ox to sacrifice; it is not as good as the western neighbor's spring sacrifice in really receiving its blessing; auspicious."},
 :number 63,
 :name "Completion",
 :the-image
 {:legge
  "The image of water above fire formsCompletion. The superior man, in accordance with this, thinks of the evil that may come, and guards against it in advance.",
  :wilhelm-baynes
  "Water over fire: the image of the condition in After Completion. Thus the superior man takes thought of misfortune and arms himself against it in advance.",
  :blofeld
  "This hexagram symbolizes water above fire. The Superior Man deals with trouble by careful thought and by taking advance precautions.",
  :liu
  "Water above fire symbolizes Completion. The superior man ponders danger and takes precautions against it.",
  :ritsema-karcher
  "Stream located above fire. Already Fording. A chun tzu uses pondering distress and-also providing-for defending-against it.",
  :cleary-1
  "Water is above fire,Settled.Thus superior peopleconsider problems and prevent them.",
  :wu
  "There is water above fire; this is Mission Accomplished. Thus the jun zi conceives ways to prevent disaster."},
 :line-4
 {:confucius-legge
  "She is on guard all the day -- she is in doubt about something.",
  :liu
  "One has silk clothes but wears rags. Be cautious all day.  [This line indicates that you can expect to have enough money to live comfortably.]",
  :cleary-1 "With wadding to plug leaks, one is watchful all day.",
  :cleary-2 "There is doubt.  Wu:  There are doubts.",
  :legge
  "Line four is magnetic and has advanced into the trigram symbolizing Water and Peril. She will be cautious and prepare for evil.",
  :blofeld
  "Amidst the fine silk are ragged garments -- be cautious throughout the livelong day!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A token: possessing clothes in-tatters. Completing the day, a warning. [Token, HSU: halves of a torn piece of silk which identify the bearers when joined.]",
  :wing
  "Elements of decay can be found in the situation of your inquiry. Watch your step.",
  :editor
  "Wilhelm, Blofeld and Liu all juxtapose the image of rags with clothing, or fine silk. The message is to not be deluded by what seems to be a favorable situation. Maintain constant awareness and make your choices with extreme care. Regardless of appearances you're in a position of risk.",
  :siu
  "Evils are occasionally uncovered but quickly glossed over during periods of prosperity and cultural advance. The man is not complacent about such readily hidden defects and takes earnest steps toward their correction.",
  :commentary "",
  :wilhelm-baynes
  "There is cause for doubt. Blofeld: This indicates that doubt and suspicion are now prevalent. Ritsema/Karcher: Possessing a place to doubt indeed.",
  :wu
  "Rags are used to plug leaks. This is a matter of concern all day long.",
  :shaughnessy
  "The short coat has jacket wadding; in winter days be warned."},
 :line-2
 {:confucius-legge
  "The course pursued is that indicated by the central position of the line. Wilhelm/Baynes: As a result of the middle way. Blofeld: Restraint or moderation will be rewarded. Ritsema/Karcher: Using centering tao indeed. Cleary (2): Because of her balanced course.  Wu: Because she take a middle course.",
  :liu
  "A lady loses her carriage curtain. Without seeking it, it will be regained within seven days.",
  :cleary-1
  "A woman loses her protection. Do not pursue; you will get it in seven days.",
  :cleary-2
  "A woman loses her protection. Let her not give chase: she will find it in seven days.",
  :legge
  "The second line is magnetic and in her proper place. With her dynamic correlate in line five, she might be expected to take action, but she is central and correct – a lady who has lost her carriage screen. She will not advance further so soon after success has been achieved, but keeps herself in hidden retirement. Let her not seek the screen. The seven days is a cycle of completion running its course -- then a new period when action will be proper shall have commenced.",
  :blofeld
  "The lady loses the blind from her chariot window. She should not go in search of it, for she will recover it in seven days.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A wife losing her veil. No pursuit. The seventh day: acquiring.",
  :wing
  "You are suddenly exposed, whether by your own hand or by circumstances beyond your control. Do nothing. Don't try to cover up, or attempt to make a case for your position. This time of conspicuousness will soon pass.",
  :editor
  "The image of the hexagram suggests a high water mark -- the point at which a cycle is completed. Beyond this point is the beginning of a whole new cycle. The second line is the ruler of the hexagram -- a magnetic, receptive, yin line who remains fully devoted to the dynamic yang line, her husband, in the fifth place. A magnetic force is vulnerable during a period of completion -- it must remain in place until the synthesis is complete and the next cycle begins.",
  :siu
  "The man is not accorded the protective confidence of his superiors. In his desire to achieve something, he is tempted to seek it and draw it to himself. He should not do so, but should remain patient and faithful. What is truly his will come to him eventually.",
  :commentary "",
  :wilhelm-baynes
  "The woman loses the curtain of her carriage. Do not run after it; on the seventh day you will get it.",
  :wu
  "A woman has lost the curtain of her carriage. There is no need to look for it. After seven days it will be found.",
  :shaughnessy
  "The wife loses her hair; do not follow, in seven days you will get it."},
 :judgment
 {:liu
  "Completion. Success in the small. It benefits to continue. Good fortune at first; disorder in the end.",
  :cleary-1
  "Settlement is developmental, but it is minimized. It is beneficial to be correct. The beginning is auspicious, the end confused.",
  :cleary-2 "Settlement is successful, even in small matters … etc.",
  :legge
  "Completion intimates progress and success in small matters. There is advantage in firm correctness. There had been good fortune in the beginning; there may be disorder in the end.",
  :blofeld
  "After Completion -- success in small matters! Persistence in a righteous course brings reward. Good fortune at the start; disorder in the end. [Perhaps persistence may help to lessen the disorder that threatens to come upon us after some initial success.]",
  :ritsema-karcher
  "Already Fording. Growing: the small. Harvesting Trial. Initially significant. Completing: disarraying. [This hexagram describes your situation in terms of an important move from one position to another. It emphasizes that actively proceeding with the crossing is the adequate way to handle it...]",
  :wilhelm-baynes
  "After Completion. Success in small matters. Perseverance furthers. At the beginning good fortune, at the end disorder.",
  :wu
  "Mission Accomplished indicates a small degree of pervasiveness and the advantage of being persevering. It is characterized by goodness in the beginning, but tumult in the end.",
  :shaughnessy
  "Already Completed: Receipt; slightly beneficial to determine; initially auspicious, in the end disordered."},
 :line-6
 {:anthony
  "We “look back” when we presume that the struggle is over, that we can relax and enjoy the situation. We must be firm and go forward, or the work will be undone.",
  :confucius-legge
  "How could such a state continue long? Wilhelm/Baynes: How can one endure this for long? Blofeld: But this sort of trouble can scarcely last long. [We must expect some trouble but perhaps not very serious and not likely to endure.] Ritsema/Karcher: Wherefore permitting lasting indeed? Cleary (2):  How can one last long? Wu: How long can it last?",
  :liu
  "His head gets wet. Danger. [Avoid evil persons lest you yourself become tainted.]",
  :cleary-1 "When the head gets wet, one is in danger.",
  :cleary-2 "Getting the head wet is dangerous.",
  :legge
  "The topmost line is magnetic and on the outermost edge of the trigram of Peril. Her action is violent and dangerous, like that of one attempting to cross a ford and being plunged over her head in the water.",
  :blofeld "His head gets wet -- trouble!",
  :notes-and-paraphrases "",
  :ritsema-karcher "Soaking one's head. Adversity.",
  :wing
  "You have initiated significant action. Do not assume that things will follow their course while you simply watch and wait. This type of attitude is both vain and perilous. You have created responsibilities for yourself. Shirking them will invite grave danger.",
  :editor
  "Wilhelm's commentary suggests the idea of not turning back after making a dangerous transition. The situation has not yet been consolidated and can easily deteriorate: what might be Completion can instead become an aborted synthesis and a regression to a lower level. Alternately, Legge’s image of the line with “even her head immersed” suggests wooly-headedness – you aren’t seeing things clearly. This prevents a transition to a clear state of consciousness. Symbolically to have one’s head immersed in water portrays thought overwhelmed by emotion.",
  :siu
  "Needless violence and self-glorification upon completion of a difficult undertaking cause the man to fall back into misfortune.",
  :commentary "",
  :wilhelm-baynes "He gets his head in the water. Danger.",
  :wu "The fox immerses his head in water. Perilous.",
  :shaughnessy "Wetting his head; danger."},
 :notes-&-para
 {:judgment
  "All's well that ends well, but the new cycle demands as much willpower as the last. Make no drastic choices during a transition.",
  :the-superior-man
  "anticipates conflict and is prepared for it in advance.",
  :the-sixty-third-hexagram-is-the-reference-hexagram-which-depicts-the-correlation-of-properly-matched-dynamic-and-magnetic-lines.-on-the-basis-of-this-figure,-all-of-the-other-hexagrams-(except-the-first-and-second,-which-are-their-"parents"),-are-compared.-yet,-despite-the-fact-that-every-line-is-in-its-proper-place,-not-one-of-them-has-an-easy-auspice,-and-both-the-judgment-and-image-are-subdued-and-cautionary.-the-general-idea-is-that-as-long-as-we-draw-breath-in-this-spacetime-dimension,-our-lives-and-work-are-incomplete.-cycles-complete-themselves,-certainly,-but
  "Completion in that sense is the completion of the full moon, which as soon as it reaches maximum brilliance immediately begins to wane.",
  :among-those-engaged-in-psycho-spiritual-work,-there-is-a-great-deal-of-energy-focused-on-"enlightenment,"-and-the-natural-desire-of-each-aspirant-to-attain-that-state-of-consciousness-as-soon-as-possible.-many-there-are-who-wander-from-one-conception-of-the-work-to-another-in-the-hope-that-this-particular-discipline,-or-that-particular-guru-will-provide-the-transcendent-answer-that-the-last-one-didn't.
  "",
  :this-is-a-very-deceptive-illusion,-because-the-chances-that-any-given-individual-will-attain-perfect-enlightenment-in-any-given-lifetime-are-probably-miniscule-to-the-point-of-insignificance.-(how-many-truly-enlightened-beings-have-you-ever-met-in-your-life?)
  "",
  :the-work-is-a-slow,-organic-process-of-transforming-unconscious-forces,-which-demands-almost-superhuman-levels-of-discipline-to-accomplish.-one-can-make-a-great-deal-of-progress-in-one-lifetime,-but-the-work-can-not-be-said-to-be-complete-until-physical-death-“completes”-it--at-that-point,-assuming-the-ego-has-acquired-enough-strength-of-will,-perhaps-one-can-facilitate-a-"permanent"-synthesis-of-the-forces-one-has-spent-a-lifetime-in-training.-death-is-the-doorway-back-to-our-source,-and-if-we-enter-that-doorway-consciously-and-correctly-we-can-consolidate-a-great-deal-of-power-which-will-serve-us-well-in-the-next-cycle,-in-whatever-dimension-that-cycle-may-take-place.
  ""},
 :commentary
 {:confucius-legge
  "Progress and success in small matters, with advantage in firm correctness. The dynamic and magnetic lines are correctly arranged, each in its proper place. There has been good fortune in the beginning because the magnetic second line is in the center. In the end there is a cessation of effort, and disorder arises. The course that led to rule and order is now exhausted.",
  :legge
  "The two written Chinese characters translated here as Completion represent two ideas -- the symbol of being past or completed, and the symbol of crossing a stream -- with a secondary meaning of helping and completing. When combined, the two characters express the idea of successful accomplishment. The hexagram denotes the kingdom finally at rest -- the vessel of state has been brought safely across the great and dangerous stream, the distresses of the realm have been relieved and its disorders rectified. Small things need to be completed: the new government must be consolidated and its ruler must, without noise or clamor, go on to perfect what has been wrought with firm correctness and without forgetting the inherent instability of all human affairs. That every line of the hexagram is in its correct place, and has its proper correlate emphasizes the intimation of progress and success.",
  :the-k'ang-hsi-editors-compare-this-hexagram-and-the-next-with-number-eleven,
  "Harmony, and number twelve, Divorcement, observing that the goodness of Harmony is concentrated, as here, in the second line. Disorder after completion is inevitable. All things move on with a constant process of change. Disorder succeeds to order, and again order to disorder."},
 :line-3
 {:confucius-legge
  "He was three years in subduing it -- enough to make him weary. Wilhelm/Baynes: This is exhausting. Blofeld: His taking three years to conquer it indicates great fatigue. [Even if we do feel capable of undertaking an extremely difficult task, we must expect it to occupy us for so long as to make us feel exhausted.]Ritsema/Karcher:  Weariness indeed. Cleary (2):  He is weary.  Wu:  It was a tiresome campaign.",
  :liu
  "The emperor Kao Tsung chastised the barbarian country and conquered it in three years. The inferior man should no longer be employed.",
  :cleary-1
  "The emperor attacks the barbarians, and conquers them after three years. Do not employ inferior people.",
  :legge
  "The dynamic third line at the top of the lower trigram suggests the idea of one undertaking a vigorous enterprise. The writer thinks of Kao Tsung, one of the ablest sovereigns of the Shang dynasty (B.C. 1364-1324), who undertook an expedition against the barbarian hordes of the cold and bleak regions north of the Middle States. His enterprise was successful, but it was tedious, and the line concludes with a warning.",
  :blofeld
  "The Illustrious Ancestor (namely, the Emperor Wu Ting, 1324 BC) carried out a punitive expedition in Kuei Fang (literally, the Land of the Devils) and conquered it after three years -- men of mean attainments would have been useless! [The Land of Devils was probably a territory inhabited by non-Chinese tribes. The implication is that only a man of outstanding capability should attempt any difficult task now.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The high ancestor subjugating souls on-all- sides. Three years-revolved controlling it. Small People, no availing of.",
  :wing
  "The attainment of a highly ambitious goal is possible. It will take a long time and will leave you spent. If it is worthwhile to you, success is indicated. However, be cautioned to employ only the most qualified persons in your endeavor.",
  :editor
  "In psychological terms, the Demon region is the unconscious psyche, and no new synthesis can take place therein until all of its autonomous complexes have been pacified and integrated. The will of the ego is the last line of defense against their constant pressure. Only one who has undertaken the Work can truly appreciate how exhausting it is -- a fact made more ominous by the realization that one can win most of the battles and still lose the war. Inferior men should not be employed means that it is a task not to be lightly undertaken by anyone.",
  :siu
  "A correct subjugation policy is essential after the conquest. Inferior people, of no value at home, should not be sent to govern the colonies. Protracted struggles usually follow, and small men are inadequate to the task.",
  :commentary "",
  :wilhelm-baynes
  "The Illustrious Ancestor disciplines the devil's country. After three years he conquers it. Inferior people must not be employed.",
  :wu
  "Gao Zong took military actions against Guifan. After three years, he quelled the rebellion. Little men should not be trusted.",
  :shaughnessy
  "The High Ancestor attacks the Devil-land, in three years conquering it; the little man should not use it."},
 :char \䷾,
 :other-titles
 {:titles
  ("After Completion"
   "The Symbol of What is Already Past"
   "Already Fording"
   "Already Completed"
   "Settled"
   "Mission Accomplished"
   "Tasks Completed"
   "After the End"
   "A state of Climax")}}
