{:binary "000111",
 :line-1
 {:confucius-legge
  "The will of the parties intended is bent on serving the ruler. Wilhelm/Baynes: The will is directed to the ruler. Blofeld:  The omen is favorable owing to continued loyalty to the rule. [The ruler is now surrounded by evil men or men of mean attainments, but the Superior Man continues to help him.]  Ritsema/Karcher:  Purpose located-in a chief indeed. Cleary (2): The will is in the leader. Wu: Because the aspiration is to serve the king.",
  :liu
  "When ribbon grass is pulled out, its roots come with it. They are of the same kind. Continuing leads to success and good fortune.",
  :cleary-1
  "Pulling out roots of a reed takes others with it. It is good and developmental to be correct.",
  :cleary-2 "… Correctness is auspicious and successful.",
  :legge
  "Naturally we should expect the advance of the first of the three magnetic lines to lead to evil. But if she sets herself to be firm and correct, she will bring about a different issue. She is one of the cluster of inferior forces who are able to change their mind, and set their hearts to love their ruler.",
  :blofeld
  "When grass is uprooted, what is attached to it is pulled up as well. Righteous persistence brings good fortune and success. [Although this hexagram is ominous, the first line is auspicious. This sort of contradiction is common with bottom and top lines, which are often held to precede or follow after the main situation.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Eradicating thatch-grass intertwined. Using one's classification. Trial: significant. Growing.",
  :wing
  "If it is not possible to change or influence the current environment while preserving the principles that have formed your character, then withdraw completely. Success will come to you in a more profound sense than could be realized from a compromising situation. Important associates may leave with you. Good fortune.",
  :editor
  "Compare this with the first line of the preceding hexagram. In some circumstances the meaning can be similar to the proverb: Birds of a feather flock together. In another sense, if grass roots are the foundation, source, bare essence of something, then the first line can represent the roots of the lower trigram, which is seen as a clump of grass or cluster of inferior forces. The image suggests the separation of oneself from an entrenched position and moving upward. Confucius sees this movement as being in accord with the will of the ruler -- in psychological terms: the will of the Self.",
  :siu
  "At the outset, the inferior people are advancing. The man retires from public office in order to preserve his integrity. He brings along his associates, who are like the sod clinging to the uprooted grass.",
  :commentary "",
  :wilhelm-baynes
  "When ribbon grass is pulled up, the sod comes with it. Each according to his kind. Perseverance brings good fortune and success.",
  :wu
  "Like pulling reeds with all their connecting roots, it will be persevering, auspicious and pervasive.",
  :shaughnessy
  "Plucking the cogon-grass stem with its roots; determination is auspicious; receipt."},
 :line-5
 {:the-master-said
  "He who keeps danger in mind is he who will rest safe in his seat; he who keeps ruin in mind is he who will preserve his interests secure; he who sets the danger of disorder before him is he who will maintain the state of order. Therefore the superior man, when resting in safety, does not forget the possibility of ruin; and when all is in a state of order, he does not forget that disorder may come. Thus his person is kept safe, and his states and all their clans can be preserved. This is according to what the I Ching says: `Let him say, Shall I perish? Shall I perish? So shall this state be firm, as if bound to a clump of bushy mulberry trees.'",
  :confucius-legge
  "The good fortune of the great man arises from the correctness of his position. Wilhelm/Baynes: The place is correct and appropriate. Blofeld: That fortune now favors the Superior Man is indicated by the suitable position of this line. [A firm line with other firm lines on either side.]Ritsema/Karcher: Situation correcting appropriate indeed.",
  :liu
  "Stagnation is coming to an end. The great man has good fortune. Will it fail, will it fail? He ties it to the mulberry shoots.",
  :cleary-1
  "Ending obstruction, great people are fortunate, but tie themselves to a tree trunk lest they go to ruin.",
  :cleary-2
  "The fortune of great people is when their position is truly appropriate. Wu: Because his position is proper.",
  :"what-if-it-should-fail?-what-if-it-should-fail?"-in-this-way-he-ties-it-to-a-cluster-of-mulberry-shoots.
  "",
  :legge
  "The dynamic fifth line in his correct central place brings the distress and obstruction to a close. Yet he, as ruler, is warned to maintain his caution in two lines of rhyme: And let him say, `I die! I die!' -- So to a bushy clump his fortune he shall tie.",
  :blofeld
  "Stagnation (obstruction) is now coming to an end and fortune favors the Superior Man, but he must not forget the situation is so dangerous that collapse may yet occur. Accordingly, he must strengthen himself as mulberry trees are strengthened by tight bindings.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Relinquishing Obstruction. Great People significant. Its extinction, its extinction. Attaching tending-towards bushy mulberry trees.",
  :wing
  "A sweeping change for the better is indicated. Things can improve and progress. Yet this is the very time to feel cautious and reserved. With such an attitude your success is doubly insured and a strong foundation is established for the new times.",
  :editor
  "The image in the first line is of the entangled roots of grass plants. The differences between line one and line five are the differences between roots and stalks -- one is a cause, the other is an effect. The roots are entangled naturally, the stalks must be bound together by a conscious act of will: one is a hidden natural association, the other is an overt willed association.",
  :siu
  "The man brings order and progress to the situation. He exhibits cool-headedness and caution during the transition and maintains contingency plans in readiness.",
  :commentary "",
  :wilhelm-baynes
  "Standstill is giving way. Good fortune for the great man.",
  :wu
  "Stagnation will soon be brought to a close. This is auspicious for the great man. Would the nation perish? Would the nation perish? It is like having tied it to the trunk of a mulberry tree.",
  :shaughnessy
  "Beneficent wife; for the great man auspicious; it is lost, it is lost, tied to a bushy mulberry."},
 :number 12,
 :name "Divorcement",
 :the-image
 {:legge
  "Heaven and earth are estranged -- the image of Divorcement. The superior man preserves his virtue by withdrawing from evil, and refuses both honor and wealth.",
  :wilhelm-baynes
  "Heaven and earth do not unite: the image of Standstill. Thus the superior man falls back upon his inner worth in order to escape the difficulties. He does not permit himself to be honored with revenue.",
  :blofeld
  "This hexagram symbolizes heaven and earth cut off from each other. To conserve his stock of virtue, the Superior Man withdraws into himself and thus escapes from the evil influences around him. He declines all temptations of honor and riches. [To understand why the trigrams for heaven and earth arranged in what seems to be their natural positions have this inauspicious significance, see notes on the preceding hexagram, (Harmony).]",
  :liu
  "Heaven and earth are not united, symbolizing stagnation. The superior man restrains himself to avoid danger. He seeks neither honor nor wealth.",
  :ritsema-karcher
  "Heaven, earth, not mingling. Obstruction. A chun tzu uses parsimonious actualizing-tao to cast-out heaviness. A chun tzu uses not permitting splendor to use benefits. [Actualize-tao: Ability to follow the course traced by the ongoing process of the cosmos ... Linked with acquire, TE: acquiring that which makes a being become what it is meant to be.]",
  :cleary-1
  "When heaven and earth do not commune, there is obstruction. The superior person therefore is parsimonious with power and avoids trouble, not susceptible to elevation by emolument.",
  :cleary-2 "… Leaders … should not prosper on wages.",
  :wu
  "… The jun zi practices the virtue of frugality to alleviate difficulties, but does not allow himself to be honored with official salary."},
 :line-4
 {:confucius-legge
  "The purpose of his mind can be carried into effect. Wilhelm/Baynes: What is willed is done. Blofeld: Those carrying out commands are obeying the ruler's will. Ritsema/Karcher: Purpose moving indeed. Cleary (2): Because the will is carried out. Wu: His aspirations will prevail.",
  :liu
  "He whose actions are in accord with the orders of the highest receives no blame. His fellows share in his blessing.",
  :cleary-1
  "If there is an order, there is no fault. The companions attain felicity.",
  :cleary-2
  "If there is order, there is no blame. The companions cleave to blessings.",
  :legge
  "The action of the subject of the line, whose activity is tempered by his magnetic position, will be good and correct, and issue in success and happiness. The fourth line is just below the ruler's place, and yielding to the will of Heaven, or the ruler, he gets his purpose carried out.",
  :blofeld
  "Whatever is done in response to a command from on high cannot be a wrong. His companions are also made illustrious and blessed. [Yet, according to Confucius, if a ruler is wholly evil, he may be regarded as a bandit and removed. Short of that, however, obedience to authority had to be unquestioning.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Possessing fate, without fault. Cultivating radiant satisfaction.",
  :wing
  "It is possible to change the entire situation to one of progress and order. If you sincerely hear a calling to the task and are in harmony with the cosmos, you and your associates will benefit. If you simply appoint yourself to the position of leader, confusion could result.",
  :editor
  "Psychologically, the idea here is that when the ego follows the principles of the Work, or the will of the Self (which amounts to the same thing), other elements within the psyche (his companions) are thereby induced to fall into line.",
  :siu
  "A turn for the better occurs. To succeed in creating order and making progress, however, the man must be given the requisite authority to do the task. He will fail if he proceeds on his own initiative and judgment.",
  :commentary "",
  :wilhelm-baynes
  "He who acts at the command of the highest remains without blame. Those of like mind partake of the blessing.",
  :wu
  "Having received the command from the above is without blame. Those of a like kind will share the blessing.",
  :shaughnessy
  "There is a command; there is no trouble; blessings fastened to the split-log."},
 :line-2
 {:confucius-legge
  "The great man does not allow himself to be disordered by the herd of inferior men. Wilhelm/Baynes: He does not confuse the masses. Blofeld: He does so by not entangling himself with the masses. Ritsema/ Karcher: Not disarraying the flock indeed. Cleary (2): They are not deranged by the crowd. Wu: Because he despises the company of little men.",
  :liu
  "Forbearance and obedience bring good fortune for the inferior. The superior man is stagnant. But his purpose will succeed.",
  :cleary-1
  "Embracing servility, the petty person is lucky; for the great person, obstruction is developmental.",
  :cleary-2
  "Embracing service, small people are lucky; great people get through obstruction.",
  :legge
  "Patience and obedience are proper for the inferior man in all circumstances. The subject of the second line is a great man, and occupies the place in the center -- if, when confronted by difficulties he cherishes the attributes of patience and obedience, he will soon have a happy issue out of the distress.",
  :blofeld
  "Because they know how to please the authorities, fortune now favors the mean, but the Superior Man prefers to contend with the causes of stagnation in the realm. [He cares for the welfare of others more than for being in favor.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Enwrapping receiving. Small People significant. Great People Obstructed. Growing.",
  :wing
  "It is better to quietly accept Stagnation than to attempt to influence the leaders and willing victims of the situation. By remaining apart, you will not corrupt your principles. Success is indicated.",
  :editor
  "Psychologically interpreted, the ego must always be aware of two realms of power in the psyche: the differentiated complexes and the integrating principle, or Self. In unifying its components, the Self sometimes uses strategies which are beyond the comprehension of the ego. When such tactics are in effect, it is time for the ego to bear and endure in good faith.",
  :siu
  "The man achieves good fortune by patience and obedience to his superior, who resolves his uncertainties. The great man, however, acts independently in meeting the challenge of the circumstances.",
  :commentary "",
  :wilhelm-baynes
  "They bear and endure; This means good fortune for inferior people. The standstill serves to help the great man to attain success.",
  :wu
  "Using flattery to please the superior will bring good fortune to the little man. The great man will find it obstruction to progress, but with patience, he will turn obstruction into pervasion.",
  :shaughnessy
  "Wrapping the steamed offering: for the little man auspicious, for the great man negative; receipt."},
 :judgment
 {:liu
  "Stagnation. Stagnation is of no benefit, although not of man's doing. The superior man carries on (according to his principles). The great is departing. The small is arriving.",
  :cleary-1
  "Obstruction’s denial of humanity does not make the superior person’s rectitude beneficial. The great goes and the small comes.",
  :cleary-2
  "… Does not make the leader’s correctness beneficial, etc.",
  :legge
  "Divorcement means there is a lack of communication between the different classes of men. This is unfavorable to the superior man. The great has departed and the inferior has arrived.",
  :blofeld
  "Stagnation (obstruction) caused by evil doers. Although the omen portends ill for the Superior Man, he must not slacken his righteous persistence. The great and the good decline; the mean approach.  [When heaven and earth cease to co-operate, no growth is possible and stagnation results. The trigram (earth), when in intercourse with heaven, has the auspicious meaning of glad acceptance; but, when separated from heaven, it represents weakness and darkness, etc.]",
  :ritsema-karcher
  "Obstructing it , in-no-way people. Not Harvesting: chun tzu, Trial. the great going, the small coming. [This hexagram describes your situation in terms of being blocked or interfered with. It emphasizes that accepting the hindrances that temporarily interrupt the flow of life and thwart communication is the adequate way to handle it. To be in accord with the time, you are told to: accept obstruction!]",
  :wilhelm-baynes
  "Standstill . Evil people do not further the perseverance of the superior man. The great departs; the small approaches.",
  :wu
  "Stagnation is destined to cause obstruction of normal course of action. It is not beneficial to the jun zi who takes a persevering stand. The great goes out and the small comes in.",
  :shaughnessy
  "The wife's non-persons; not beneficial for the gentleman to determine; the great go, the little come."},
 :line-6
 {:confucius-legge
  "How could it be prolonged? Wilhelm/Baynes: When standstill comes to an end, it reverses. One should not wish to make it permanent. Blofeld: In the end it must be overcome. How could it endure forever? [The process of change is continuous. This is the last line, which is held to have emerged from the evil symbolized by the hexagram as a whole.]Ritsema/Karcher: Wherefore permitting long-living indeed? Cleary (2): What can last? Wu: How could it last?",
  :liu
  "Stagnation ends. First there is stagnation, later good fortune.",
  :cleary-1
  "Overturning obstruction: first there is obstruction, afterward joy.",
  :legge
  "There is an end to the condition of distress. It was necessary that that condition should give place to its opposite; and the dynamic line in the topmost place fitly represents the consequent joy.",
  :blofeld
  "Stagnation (obstruction) has now been overcome and is followed by great joy.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Subverting Obstruction. Beforehand Obstruction, afterwards rejoicing.",
  :wing
  "The opportunity to change a situation from Stagnation to progress is at hand. It will not happen of its own accord. A strong and continuing sense of purpose is necessary to achieve and maintain the greatest possible heights of success.",
  :editor
  "When this line changes the hexagram becomes number forty-five: Contraction. This suggests that when an impasse is finally broken, the energy released begins to accumulate for a new cycle of growth.",
  :siu
  "Stagnation and disintegration give way to happiness and progress. But they may not last long.",
  :commentary "",
  :wilhelm-baynes
  "The standstill comes to an end. First standstill, then good fortune.",
  :wu "Stagnation is ousted, etc.",
  :  "",
  :shaughnessy "Momentary wife; at first negative, later happy."},
 :notes-&-para
 {:judgment
  "The time is out of joint -- decadence waxes and virtue is mocked.",
  :the-superior-man
  "refuses to participate in the prevailing disorder.",
  :if-the-preceding-hexagram-images-the-fruitful-union-of-heaven-and-earth-in-a-holy-marriage,-this-figure-shows-their
  "Divorcement.",
  :divorcement
  "The act, process, or an instance of separating things closely joined -- the state of being separated.",
  :to-receive-this-figure-without-changing-lines-suggests-that-you-are-separated-from-truth-or-virtue,-or-that-for-the-moment-at-least,-the-situation-at-hand-affords-no-possibility-of-reconciliation.-during-such-conditions-it-would-be-the-height-of-folly-to-"wed-oneself"-to-the-prevailing-disorder.
  "",
  :note-however-that-every-line-but-the-third-shows-some-kind-of-effort-to-reunite-that-which-has-been-separated.-the-first-shows-an-alliance-of-closely-related-elements-bent-on-serving-the-work;-line-two-depicts-a-kind-of-holding-action-which-is-necessary-to-allow-a-superior-element-to-prevail.-the-third-line-identifies-recalcitrant-forces-which-prevent-union,-and-four-depicts-another-alliance--a-higher-octave-of-its-first-line-correlate.-line-five-images-nearly-complete-re-unification-and-six-shows-the-end-of
  "Divorcement. These images suggest that although disunion prevails, the energy in the situation is promoting connection.",
  :as-regards-the-judgment ""},
 :commentary
 {:confucius-legge
  "The unfavorable auspice of Divorcement is because heaven and earth are not in communication, and all things consequently fail to unite. High and low, superior and inferior, do not meet in union, and there are no well- regulated states in the kingdom. The lower trigram consists of magnetic lines, and the upper of dynamic lines: darkness is within, clarity without; weakness within, strength without. The lower trigram represents the advancing inferior men, the upper trigram represents the retreating superior men.",
  :legge
  "The form of Divorcementis the exact opposite of Harmony, and much of what has been said on the interpretation of that will apply to this. Divorcement is the hexagram of the seventh month when the process of growth has ended and increasing decay may be expected. The trigram of Earth is below and that of Heaven is above, and since it is always proper for the lower trigram to take the initiative, how can Earth take the place of Heaven? As in nature, it is Heaven that originates, not Earth, and in a state the upper classes must take the initiative, and not the lower."},
 :line-3
 {:confucius-legge
  "This is due to the inappropriateness of the position. Wilhelm/Baynes: They bear shame because the place is not the right one. Blofeld: This is indicated by the unsuitable position of the line. Ritsema/ Karcher: Situation not appropriate indeed. Cleary (2): The position is not appropriate. Wu: The position is improper.",
  :liu "They bear with humiliation.",
  :cleary-1 "Hiding shame.",
  :cleary-2 "Embracing disgrace.",
  :legge
  "The third line is magnetic in a dynamic place. She would vent her evil purpose, but hasn't the strength to do so. Therefore she is left to the shame which she ought to feel without a word of warning.",
  :blofeld "He conceals his shame.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Enwrapping embarrassing.",
  :wing
  "Because of questionable methods and motives used to attain your position, your plans will not come to fruition. There is some shame in this, but therefore improvement.",
  :editor
  "Wilhelm and Liu both use the plural here: They bear shame, and They bear with humiliation. I have received this line when it referred to autonomous elements (inner complexes or other people) influencing the situation; I have also received it directed at a consciously held attitude, as well as describing another person’s hidden agenda. Part of the idea here is that for one to mend one's ways one must first recognize one's errors and feel shame about them. The prognosis is then favorable -- i.e.: Go thy way and sin no more. Sometimes this line can be a reprimand for asking the oracle a question you can figure out for yourself.",
  :siu
  "The man feels inwardly ashamed for having acquired his position illegitimately. But he does not have the strength to carry out his evil purpose.",
  :commentary "",
  :wilhelm-baynes "They bear shame.",
  :wu
  "It indicates a cover-up of shame. [The little man wishes to undermine progress. Since he is able to keep shame under wrap, there is no apparent foreboding or regret.]",
  :shaughnessy "Wrapping: Enfolding sadness."},
 :char \䷋,
 :other-titles
 {:titles
  ("Standstill"
   "The Symbol of Closing"
   "Stagnation"
   "Obstruction"
   "The Wife"
   "Obstructed"
   "Decadence"
   "Disjunction"
   "Impasse"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "Yin supporting yang which is wrong, they part company. Bad prospects for marriage or partnership. "})}}
