{:binary "011101",
 :line-1
 {:confucius-legge
  "The cauldron is emptied -- this is not incorrect. There will be advantage in getting rid of what was bad so that the subject of the line will thereby follow the more noble subject of line four. Wilhelm/Baynes: This is still not wrong. To follow the man of worth. Blofeld: There is nothing improper about up-ending a sacrificial vessel to rid it of decaying matter. Such actions are necessary in the pursuit of what is noble. Ritsema/Karcher: Not-yet rebelling indeed. Using adhering-to valuing indeed.  Cleary (2):  That is not bad. To go along with what is valuable. Wu: There is nothing to worry about. The outlook is after prominence.",
  :liu
  "A cauldron overturned by its legs -- it is beneficial to clean out the stagnating matter. One takes a concubine to get a son. No blame.",
  :cleary-1
  "When the cauldron overturns on its base, it is beneficial to eject what is wrong. Getting a concubine, because of her child she is not faulted.",
  :legge
  "Line one is magnetic, and little can be expected from her, but she has a proper correlate in the dynamic fourth line. The overthrow of the cauldron, causing its feet to be turned upward towards the fourth place empties it of what was bad in it. This is deemed fortunate, because it thereby hastens the cooperation between the two lines. A similar idea is that a concubine is less honorable than a wife --like the overthrown cauldron. But if she has a son, while the wife has none, he will be his father's heir, and the concubine-mother will share in the honor of his position.",
  :blofeld
  "To rid it of decaying remnants of meat, the vessel is turned upside down. [Some actions, though highly improper in themselves, may be properly performed if circumstances so require; a merely ritualistic conception of right and wrong is not desirable.] It is not shameful to take a concubine for the sake of bearing sons. [This is added as an example, immediately acceptable to a traditionally minded Chinese of something improper in itself which becomes proper when the motive is acceptable.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Vessel: toppling the foot. Harvesting: issuing-forth-from obstruction. Acquiring a concubine, using one's sonhood. Without fault.",
  :wing
  "To attain a goal that is worthy in itself, you may need to use means that are considered unorthodox. If this goal has been a long-term objective, you may have to begin again, using entirely new methods. This is not a mistake. You can succeed no matter how inexperienced you are.",
  :editor
  "An alchemical vessel is a metaphor for the psyche undergoing the transformation of the Work. To rid the vessel of what is bad (Wilhelm calls it stagnating stuff) is to rid oneself of limiting beliefs, negative emotions or whatever harmful element may be suggested by the matter at hand. After years of work, the testing process becomes increasingly refined -- one goes through long periods of stress with perfect equanimity, and begins to take pride in one's strength of will. At about that point, something will happen to evoke an emotional response, and one becomes suddenly aware that the refining process is not complete until all of the scum comes to the top and is eliminated from the psyche. The symbolism of the concubine suggests a rather humble or simple emotional component, union with which produces a new and promising synthesis.",
  :siu
  "At the outset, the evil is being discarded. This opens up opportunities for renewal, no matter how lowly a position the man may temporarily occupy.",
  :commentary "",
  :wilhelm-baynes
  "A cauldron with legs upturned. Furthers removal of stagnating stuff. One takes a concubine for the sake of her son. No blame.",
  :wu
  "The cauldron tips over and conveniently spills its stale food, like a man taking a secondary wife because of her son. There will be no error.",
  :shaughnessy
  "The cauldron's upturned legs; beneficial to expel the bad; getting a consort together with her son; there is no trouble."},
 :line-5
 {:confucius-legge
  "The central position of the line is taken as a proof of the solid virtue of its subject. Wilhelm/Baynes: The yellow handles of the cauldron are central, in order to receive what is real. Blofeld: The central position of this line in the upper trigram implies solid worth. Ritsema/Karcher: Centering uses activating substance indeed.  Cleary (2):  The knobs of the cauldron are filled through the center. Wu: What it holds is substantial.",
  :liu
  "The cauldron has yellow handles and golden carrying rings. Continuing brings advantage. [A time of benefit.]",
  :cleary-1
  "The cauldron has yellow hooks with a gold handle. It is beneficial to be single-minded.",
  :cleary-2 "... It is beneficial to be correct.",
  :legge
  "Line five, says the Daily Lecture, praises the ruler as condescending to the worthy with his humble virtue. Yellow has occurred repeatedly as a correct color, and here the yellow ears and strong rings of metal are intended to intensify our appreciation of the occupant of line five. As the line is magnetic, a caution is added about being firm and correct.",
  :blofeld
  "The Ting has yellow handles with golden rings attached -- righteous persistence brings reward! [The faults described in the last two notes have now been put right; the position is even better than before they were committed.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Vessel: yellow ears, metallic rings. Harvesting Trial.",
  :wing
  "If he is humble and receptive, a person in a position of authority will make further progress in the development of his character. He will attain insights and wisdom. He should continue developing his expanding awareness.",
  :editor
  "The Wilhelm version of the Confucian commentary gives us a more accessible clue as to the meaning of this line: ...In order to receive what is real.  The essential idea is that of the ruler's receptivity to a higher power. Openness to advice is the basic gestalt -- ears are receptive to messages, and handles suggest grasp or comprehension. Metal is often symbolic of the mental qualities, and yellow metal, rendered as gold in most translations of this line, suggests the highest form of mentality -- wisdom, divine intelligence, cosmic truth, etc. Gold also often symbolizes intuition, the highest form of comprehension.",
  :siu
  "The man is modest and approachable. He thereby attracts associates, who can provide able help and advice.",
  :commentary "",
  :wilhelm-baynes
  "The cauldron has yellow handles, golden carrying rings. Perseverance furthers.",
  :wu
  "The cauldron’s ears are yellow and its carrying pole is covered with gold. It is advantageous to be persevering.",
  :shaughnessy
  "The cauldron's yellow ears and metal bar; beneficial to determine."},
 :number 50,
 :name "The Sacrificial Vessel",
 :the-image
 {:legge
  "Wood under a fire -- the image of a Sacrificial Vessel. The superior man maintains his correctness in every situation to secure the appointment of heaven.",
  :wilhelm-baynes
  "Fire over wood: the image of The Cauldron. Thus the superior man consolidates his fate by making his position correct.",
  :blofeld
  "This hexagram symbolizes fire upon wood. The Superior Man, taking his stance as righteousness requires, adheres firmly to heaven's decrees.",
  :liu
  "Fire above wood symbolizes the Caldron. The superior man makes his destiny firm with a correct position.",
  :ritsema-karcher
  "Above wood possessing fire. The Vessel. A chun tzu uses correcting the situation to solidify fate.",
  :cleary-1
  "There is fire on top of wood; a cauldron. Thus do superior people stabilize life in the proper position.",
  :cleary-2
  "Fire over wood --  The Cauldron . Leaders stabilize their mandate by correcting their position.",
  :wu
  "There is fire on wood; this is  The Cauldron . Thus the jun zi rectifies his position and consecrates the mandate."},
 :line-4
 {:the-master-said
  "Virtue small and office high; wisdom small and plans great; strength small and burden heavy: where such conditions exist, it is seldom that they do not end in evil. As it is said in the I Ching, `The tripod's feet are overthrown, and the ruler's food is overturned. The body of him who is thus indicated is wet with shame: there will be evil.'",
  :confucius-legge
  "How can he be trusted? Wilhelm/Baynes: How can one still trust him? Blofeld: The prince's meal is overturned -- how is it possible to continue enjoying his confidence? Ritsema/Karcher: Wherefore trustworthy thus indeed?  Cleary (2):  Now that you have spilled your food, what happened to your confidence? Wu: How can there be trust?",
  :liu
  "The legs of the cauldron are split. The duke's meal is spilled and his face turns red. Misfortune.",
  :cleary-1
  "The cauldron’s legs are broken, spilling the food received for service. The physical being is enriched, but there is misfortune.",
  :cleary-2
  "The cauldron breaks its legs, spilling your food; your face drips. This is unfortunate.",
  :legge
  "Line four is the minister charged with difficult duties. Although dynamic, he is in a magnetic position with a magnetic correlate in line one. Weak in himself, and without an able helper, he has failed to do his proper work, and cannot be trusted again.",
  :blofeld
  "The legs of the Ting snap. The prince's food is overturned and his person soiled -- misfortune! [Through gross carelessness an opportunity to advance our interests is not only lost but transformed into an occasion of trouble.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Vessel: a severed stand. Overthrowing a princely stew. Its form soiled. Pitfall.",
  :wing
  "You do not have the capability to achieve the goals you have in mind. You have not been realistic about your position. You are lacking in either energy, commitment, information, or assistance. Going forth with your plans will invite disaster.",
  :editor
  "The image suggests misfortune brought about by inexperience, incompetence, lack of capacity, divided loyalties, willful disobedience, or plain ignorance. In my experience, the line does not necessarily always imply blame: sometimes, with the best will in the world, one just isn't capable of coping with superior forces in a situation. If this is the only changing line, the new hexagram becomes #18, Work on What has been Spoiled, implying that you should clean up the mess you’ve just made.",
  :siu
  "The man fails to discharge his responsibilities because of personal inadequacies. Great plans supported by limited knowledge, heavy loads by meager strength, high office by weak character -- these result in shame and disaster.",
  :commentary "",
  :wilhelm-baynes
  "The legs of the cauldron are broken. The prince's meal is spilled and his person soiled. Misfortune.",
  :wu
  "The cauldron’s legs are broken. The duke’s feast is spilled over, resulting in capital punishment. Foreboding.",
  :shaughnessy
  "The cauldron's broken leg: Overturns the duke's stew; his punishment is execution-in-chamber; inauspicious."},
 :line-2
 {:baynes
  "Be cautious about where you go. This brings no blame in the end. Blofeld: The first sentence indicates a need for caution. My enemies are in trouble indicates that I shall remain blameless to the end. Ritsema/Karcher: Considering places it indeed. Completing without surpassing indeed.  Cleary (2):  Being careful about where one goes. After all there is no resentment. Wu: Be mindful of where to go. There will be no resentment in the end.",
  :confucius-legge
  "Let the subject of the line be careful where he goes. My enemy dislikes me, but there will in the end be no fault to which he can point. Wilhelm/",
  :liu
  "The cauldron is filled with food. My associates are jealous, but they cannot harm me. Good fortune.  [Even though a person profits from his business or performs his work carefully and well, he should still beware lest others harm or disturb him.]",
  :cleary-1
  "The cauldron is filled. One’s enemy is jealous, but cannot get at one; this is lucky.",
  :cleary-2
  "The cauldron has content. My enemy is afflicted, but luckily cannot get to me.",
  :legge
  "The enemy is the first line which solicits. Line two is able to resist the solicitation, and the auspice is favorable.",
  :blofeld
  "The Ting possesses solidity. My enemies are in difficulty and there is nothing they can do to me -- good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Vessel possesses substance. My companion possesses affliction. Not me able to approach. Significant.",
  :wing
  "You may feel a need to stand apart from your fellow man to achieve a significant aim. Such a stance will invite envy, but this will not create a problem for you. Good fortune is indicated.",
  :editor
  "If the Sacrificial Vessel is seen as an analogue of the psyche, it is easy to see this line as a commentary on not allowing inner forces (appetites, passions, emotions, etc.) to overcome the ego's control of the Work. Note that the Wilhelm, Blofeld and Liu translations are not conditional like Legge's: If he can say... Liu's note is derived from the Confucian commentary, which seems unduly grave: note that the original line is not overtly cautionary. Generally, you are protected despite any perceived threats.",
  :siu
  "The man achieves great success, thereby incurring the envy of others. No harm will come to him, since he is not distracted from his purpose.",
  :commentary "",
  :wilhelm-baynes
  "There is food in the cauldron. My comrades are envious, but they cannot harm me. Good fortune.",
  :wu
  "The cauldron is full. My associates have ill feelings about me, but they cannot do anything to me. This is auspicious.",
  :shaughnessy
  "The cauldron has substance: my enemy has an illness; it is not able to approach me; auspicious."},
 :judgment
 {:liu "The Cauldron. Great good fortune. Success.",
  :cleary-1 "The cauldron is basically good; it is developmental.",
  :cleary-2 "The Cauldron is very auspiciously developmental.",
  :legge "The Sacrificial Vessel means great progress and success.",
  :blofeld "A Sacrificial Vessel -- supreme success!",
  :ritsema-karcher
  "The Vessel, Spring significant. Growing. [This hexagram describes your situation in terms of the imaginative capacity of a sacred vessel. It emphasizes that securing and imaginatively transforming the material at hand is the adequate way to handle it. To be in accord with the time, you are told to: hold and transform things in the vessel!]",
  :wilhelm-baynes "The Cauldron. Supreme good fortune. Success.",
  :wu "The Cauldron indicates great auspiciousness and pervasiveness.",
  :shaughnessy "The Cauldron: Prime auspiciousness; receipt."},
 :line-6
 {:confucius-legge
  "The rings of jade are at the very top -- the dynamic and magnetic meet in their due proportions. Wilhelm/Baynes: The jade rings in the highest place show the firm and the yielding complementing each other properly. Blofeld: The first part of the passage is indicated by this top line-- a firm line which meets the yielding fifth harmoniously. Ritsema/Karcher: Solid and supple articulating indeed. Cleary (2):  The jade handle is above. Hard and soft join. Wu: The strong and the weak are balanced.",
  :liu
  "The cauldron has carrying rings of jade. Great good fortune. Benefit in everything.",
  :cleary-1
  "The cauldron has a jade handle. This is very auspicious, entirely beneficial.",
  :cleary-2
  "The jade handle of the cauldron is very auspicious, beneficial to all.",
  :legge
  "Line six is dynamic, but his strength is tempered by being in a magnetic place. It is this which makes the handle to be of jade, which, though very hard has a peculiar and rich softness all its own. The auspice of the line is excellent. The Great Minister (line six) performs for the ruler (line five) by helping his government and nourishing the worthy. This is the part that the handle does for the cauldron.",
  :blofeld
  "The Ting has jade handles -- great good fortune! [A further improvement on the progress indicated in the preceding note.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Vessel: jade rings. The great significant. Without not Harvesting.",
  :wing
  "There exists a general atmosphere of clarity and greatness. All circumstances are favorable. The inner self has reached a highly developed stage. Everyone will benefit.",
  :editor
  "The top line of a hexagram often represents the sage or holy man. Here the wisdom of the sage is offered to the ruler. Psychologically, the ego is receptive to instruction from its higher Self. The Confucian commentary alludes to the proper union of dynamic and magnetic forces -- this is the Holy Marriage of the Perennial Philosophy. The image suggests the Chinese concept of Li, the character for which combines the ideas of heaven's ordinances with that of a receptive vessel.",
  :siu
  "The sage imparts wise counsel to the benefit of the worthy recipient. His gentle and sincere behavior pleases the heavens, which dispense good fortune to all.",
  :commentary "",
  :wilhelm-baynes
  "The cauldron has rings of jade. Great good fortune. Nothing that would not act to further.",
  :wu
  "The cauldron’s carrying pole is decorated with jade. There will be great fortune and nothing disadvantageous.",
  :shaughnessy
  "The cauldron's jade bar; greatly auspicious; there is nothing not beneficial."},
 :notes-&-para
 {:judgment "You are the Sacrificial Vessel.",
  :the-superior-man
  "holds to the principles of the Work to attain transcendence.",
  :the-usual-name-for-this-hexagram-is
  "The Cauldron -- specifically, a type of food-containing vessel which was used in ancient China for religious sacrifices. I prefer Blofeld’s title of the Sacrificial Vessel as more evocative of the ideas presented in the figure.",
  :when-the-forty-ninth-hexagram-of
  "Transformation is turned upside down, it becomes the fiftieth hexagram of the Sacrificial Vessel, thus giving us some valuable insights into the nuances of meaning in each of the figures. The combined ideas of transformation and a cauldron used for sacrifices remind us of the alchemical vessel or retort which cooked its contents and transformed them into a higher state of matter -- turned lead into gold in the popular conception. Of course, the true esoteric purpose of the alchemist was psychological, not physical.",
  :now-an-ancient-chinese-cauldron-used-to-contain-food-intended-for-religious-sacrifices-is-not-the-same-thing-as-a-hermetically-sealed-alchemical-retort-made-to-withstand-extreme-pressures,-but-symbolically-they-are-identical-images.-the-ego-sacrifices-its-autonomy-for-the-good-of-the-work-in-the-same-way-that-the-alchemist-devotes-his-entire-life-to-the-transformation-of-base-metal-into-gold--i.e.,-to-transform-his-psyche-by-following-the-extreme-discipline-of-the-work.-thomas-cleary’s
  "Taoist I-Ching explicitly tells us that this is the meaning intended here:",
  :suggestions-for-meditation "",
  :in-his-commentary-legge-mentions-that-the-chinese-see-an-analogy-between-this-figure-and-hexagram-number-forty-eight,
  "The Well. Compare the two figures, noting the similarities between the first, third, fifth and sixth lines. The component trigrams of the Sacrificial Vessel appear in reverse sequence in hexagram number thirty-seven, Family. What other similarities are there in the two figures? How is the idea of a family analogous to the idea of a sacrificial vessel?"},
 :commentary
 {:confucius-legge
  "The image of the Sacrificial Vessel shows us wood entering a fire, which suggests the idea of cooking. The sages cooked their sacrifices to God and nourished their able ministers with feasts. We have the trigrams of Flexible Obedience and Quick Intelligence, with the magnetic line advanced to the ruler's place and responded to by her dynamic correlate below. All these things give the auspice of successful progress.",
  :legge
  "The written Chinese character for Sacrificial Vessel represents a cauldron with three feet and two ears used for cooking and preparing food for both the table and the altar. The hexagram pictures this vessel -- the divided first line represents the feet, the three undivided lines above represent the body, the divided fifth line shows the ears (or carrying rings), and the top line is the handle by which the container is carried or suspended from a hook.",
  :the-lesson-of-the-hexagram-is-that-the-nourishing-of-men-of-talent-and-virtue-intimates-great-progress-and-success.-the-k'ang-hsi-editors-point-out-that-the-distinction-between-hexagram-number-forty-eight,
  "The Well, and this one is the difference between the nourishment of the people in general and the specific nourishing of worthy men. They add that the reality of sacrifice is nourishing in this regard."},
 :line-3
 {:confucius-legge
  "There is the cauldron with the places for its ears changed -- he has failed in what was required of him in his situation. Wilhelm/Baynes: He has missed the idea. Blofeld: What is said about the handles of the Ting implies our failure in carrying out our duty. Ritsema/Karcher: Letting-go its righteousness indeed.  Cleary (2):  When the knobs of the cauldron are removed, it loses its meaning. Wu: It loses its usefulness.",
  :liu
  "The handles of the cauldron are changed. Its activity will be obstructed. The fat of the pheasant is not eaten. Once the rain comes, regret vanishes. Good fortune in the end.",
  :cleary-1
  "The lifting hooks of the cauldron are removed; the activity is impeded. Rich meat is not eaten. When it rains, lack is regretted. It turns out well.",
  :cleary-2
  "The knobs of the cauldron are removed, so its use is impeded. Pheasant fat is not eaten. When it rains, regret is removed and all is well in the end.",
  :legge
  "Line three is dynamic in his proper place -- if his correlate were the magnetic line five, the auspice would be entirely good. But instead of five, his correlate is the dynamic six. What is required is that he and line five, instead of six, should be correlates. The place of the ears at five has been changed and the advance of line three is thereby stopped; the good meat in the cauldron will not be eaten. But if he keeps firm line five will eventually seek his company, the yin and the yang will mingle, and their union will be followed by the genial rain. The issue will be good.",
  :blofeld
  "The handles of the Ting have been detached, so it is difficult to move it. [A delay due to some remissness on our part.] The fat of the pheasant is not eaten. [Because of our remissness an opportunity goes to waste.] Suddenly rain [An omen of good fortune, of heaven’s nourishing powers] comes, regret wanes and, ultimately, there is good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Vessel: the ears skinned. Its movement clogged. Pheasant juice not taken-in. On-all-sides rain lessens repenting. Completing significant.",
  :wing
  "Your unique talents are not being used because they are not recognized. This may be due to erroneous thinking on your part. Maintain a positive attitude about yourself, and things will change for the better.",
  :editor
  "The Wilhelm, Blofeld and Liu translations all refer to the ears as handles. We are justified therefore in combining the ideas of both. Ears are the organs by which we hear, and handles are devices by which something is grasped. To hear and to comprehend what is heard are the ideas conveyed. However, the ears have been changed or altered, so the image suggests that a different message or new set of rules and/or circumstances is now operative; the old rules or concepts no longer apply. The situation has evolved, but progress is stopped because one hasn't comprehended the changes yet. The fat of the pheasant is not eaten is just another way of saying that one has missed the point, or has not been nourished by the new insight. However, the situation will not remain static -- a coming union of thought and feeling will create the catharsis needed to effect the transformation.",
  :siu
  "The man is faced with obstacles. His abilities go unnoticed and talents unused. But this is only a temporary setback, as the tension will be relieved.",
  :commentary "",
  :wilhelm-baynes
  "The handle of the cauldron is altered. One is impeded in his way of life. The fat of the pheasant is not eaten. Once rain falls, remorse is spent. Good fortune comes in the end.",
  :wu
  "The cauldron’s earrings malfunction. It cannot be carried. The delicious pheasant dish is not enjoyed. Timely rain washes regret away. There will be auspiciousness in the end.",
  :shaughnessy
  "The cauldron's ears are bridled: his motion is blocked; the pheasant fat is not edible; the countryside rain diminishes; regret, in the end auspicious."},
 :char \䷱,
 :other-titles
 {:titles
  ("The Cauldron"
   "The Vessel"
   "Rejuvenation"
   "Cosmic Order"
   "The Alchemical Vessel"),
  :quotes
  ({:author "D.F. Hook",
    :quote "A complete transformation of a person or circumstance."})}}
