{:binary "001010",
 :line-1
 {:hua-ching-ni
  "If one moves forward, obstruction will be encountered. Honorable growth naturally comes to the one who keeps still.",
  :confucius-legge
  "The proper course is to wait. Wilhelm/Baynes: Because it is right to wait. Blofeld: This passage stresses the advantage of waiting for some time. Ritsema/Karcher: Proper to await indeed. Cleary (2): It is best to wait. Wu: This means that waiting is in order.",
  :liu
  "Going leads to obstruction. Coming brings praise. [People should remain in their present positions.]",
  :cleary-1 "Going results in trouble, coming in praise.",
  :legge
  "Line one is magnetic in a dynamic place. If she advances she won't be able to cope with the difficulties of the situation, but will be overwhelmed by them. Let her wait for a more favorable time.",
  :blofeld "Going involves trouble; coming wins praise.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Going Limping, coming praise.",
  :wing
  "If you have met with an obstacle in your path, do not attempt to overcome it. Instead, pull back from the situation and wait out the trouble. You will know the right moment for action when you can move with ease.",
  :editor
  "Most translators use the words going and/or coming in every line of this hexagram except number two. The respective differences between these two words, going and coming, are the differences between analysis and synthesis. To go is to disperse, to create differences; to come is to return to center, to reunite. Legge chooses the phrase remaining stationary in place of coming, which is not quite the same idea, though it nicely stresses the idea of waiting mentioned in the Confucian commentary.",
  :siu
  "At the outset, the man forges ahead in the face of an impasse and is overwhelmed by complications. He should wait for a favorable moment.",
  :commentary "",
  :wilhelm-baynes
  "Going leads to obstructions, coming meets with praise.",
  :wu "Going forth is difficult; coming back is commendable.",
  :shaughnessy "Going afoot, coming in a cart."},
 :line-5
 {:confucius-legge
  "He is in the central position and possesses the requisite virtue. Wilhelm/Baynes: For they are ruled by the central position. Blofeld:  This is indicated by the line's central position in the upper trigram. Ritsema/ Karcher: Using centering articulating indeed. Cleary (2): Because of balance and moderation. Wu: The difficulty will be assuaged around the center.",
  :liu
  "One meets great obstruction. Friends come. [You can expect help in your undertakings and good fortune in everything.]",
  :cleary-1 "Great trouble; a companion comes.",
  :cleary-2 "In great trouble, companions come.",
  :legge
  "Line five is the king, the man great and strong. He can cope with the difficulties, and his friends are his correlate line two and the other two lines of the lower trigram who also give their help.",
  :blofeld
  "In the midst of severe trouble, friends (or a friend) arrive.",
  :notes-and-paraphrases "",
  :ritsema-karcher "The great Limping, partnering coming.",
  :wing
  "Even in the most desperate struggles, your spirit alone will attract others. This co-operation will bring you success in your endeavors. Obstacles will give way.",
  :editor
  "The image suggests an impasse about to be resolved by forces currently outside your sphere of awareness.",
  :siu
  "The man meets the obstruction head-on in an emergency. His spirit attracts able helpers.",
  :commentary "",
  :wilhelm-baynes
  "In the midst of the greatest obstructions, friends come.",
  :wu "There is great difficulty. Friends will come.",
  :shaughnessy "Greatly afoot, the friend comes."},
 :number 39,
 :name "Impasse",
 :the-image
 {:liu
  "Water on the mountain symbolizes Obstruction. The superior man reexamines himself and improves his character.",
  :[
  "Actualize-tao: Ability to follow the course traced by the ongoing process of the cosmos... Linked with acquire, TE: acquiring that which makes a being become what it is meant to be.]",
  :cleary-1
  "There is water atop a mountain, halting. Thus do superior people examine themselves and cultivate virtue.",
  :cleary-2
  "Water on a mountain – trouble. Developed people examine themselves to cultivate virtue.",
  :legge
  "Water on the mountain -- the image of Impasse. The superior man turns around to examine himself and cultivate his virtue.",
  :blofeld
  "This hexagram symbolizes water upon a mountain. The Superior Man cultivates virtue by bringing about a revolution within himself.",
  :ritsema-karcher
  "Above mountain possessing stream. Limping. A chun tzu uses reversing individuality to renovate actualizing-tao.",
  :wilhelm-baynes
  "Water on the mountain: the image of Obstruction. Thus the superior man turns his attention to himself and molds his character.",
  :wu
  "There is water on the mountain; this is Difficulty. Thus, the jun zi examines his own person to polish his virtue."},
 :line-4
 {:confucius-legge
  "To advance will only be to encounter greater difficulties; she remains stationary, and unites with the line above who is in his proper place and has the ruler's stability. Wilhelm/Baynes: In the appropriate place one finds support.  Blofeld:  Because this line is suitably placed and possesses solidity. Ritsema/Karcher: Appropriate situation, substance indeed. Cleary (2): One’s position is solidified. Wu: What is in place is solid.",
  :liu "Going leads to obstruction. Coming brings about unity.",
  :cleary-1 "Going leads to trouble; come form associations.",
  :cleary-2 "Going means trouble; coming back brings company.",
  :legge
  "Line four is magnetic, and though in her proper place, she can do very little by herself. She is immediately below the king or great man however, and cultivates her loyal attachment, waiting for the time when she shall be required to act.",
  :blofeld
  "To proceed would lead to trouble, whereas those coming will forge useful connections.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Going Limping, coming continuity.",
  :wing
  "In order to meet the challenge and overcome Obstacles facing you, you must rely upon someone who can help you. You will need a unified approach, employing the help of another person or an organization. A single-handed maneuver will surely fail. Hold back and unite.",
  :editor
  "Blofeld's rendering of union with the line above in terms of forging useful connections is sometimes an apt interpretation in contemporary idiom. Psychologically it can refer to reuniting with your essence via meditation on the principles of the Work. Note that both lines 4 and 6 are magnetic, and both are counseled to focus on the 5th line ruler: dimensionally, the inner Self: the one who is both above and inside. The structure of the upper trigram symbolizes these relationships in the context of Impasse.",
  :siu
  "The man charges ahead, only to fall back because of insufficient strength. He needs to gather trustworthy associates for the venture before it can succeed.",
  :commentary "",
  :wilhelm-baynes
  "Going leads to obstructions, coming leads to union.",
  :wu "Going forth is difficult; coming back will find an associate.",
  :shaughnessy "Going afoot, coming connected."},
 :line-2
 {:confucius-legge
  "In the end no blame will attach to her. Wilhelm/Baynes: But in the end there is no blame in this. Blofeld: This indicates that we shall be free from blame to the very end (or in the end). Ritsema/Karcher: Completing without surpassing indeed. Cleary (2): In the end there is no bitterness. Wu: He will make no error in the end.",
  :liu
  "The king's officer meets many obstructions. It is not his fault.",
  :cleary-1
  "King and vassal both faithful in spite of difficulty, not for their own comfort.",
  :cleary-2
  "King and minister recognize trouble as trouble, not for personal reasons.",
  :legge
  "Line two is the correctly magnetic correlate of the ruler in line five. Here we see that the moral value of conduct is independent of success or failure.",
  :blofeld
  "The King's minister meets with difficulty upon difficulty, but through no fault of his.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A king, a servant: Limping, Limping. In-no-way body's anteriority.",
  :wing
  "Because you serve a larger cause, whether you realize it or not, you are obligated to meet Obstacles head on and overcome them. Even though this is not advisable in ordinary affairs, this is the proper approach for extraordinary causes. You will not be blamed.",
  :editor
  "The image depicts an ego doggedly coping with an imperfect universe to further the Work. Since its subject is judged blameless for the difficulties encountered, this line often refers to dealing with the illusions of others; it could be a test.",
  :siu
  "When duty bound, the man should seek out the danger and deliberately face the opposition. This is especially important for officials in the government.",
  :commentary "",
  :wilhelm-baynes
  "The king's servant is beset by obstruction upon obstruction, but it is not his own fault.",
  :wu
  "A king’s minister is in the depths of difficulties and he disregards his personal gains or losses.",
  :shaughnessy
  "The king's servant is so afoot; it is not the body's reason."},
 :judgment
 {:hua-ching-ni
  "The good direction is where there is no abyss or high mountains, like the Southwest, but not the Northeast. One should go to the great leader who can work with people in breaking through obstructions.",
  :liu
  "Obstruction. The southwest is of benefit. The northeast -- no benefit. It benefits one to visit a great man. To continue brings good fortune.",
  :cleary-1
  "When halted, the southwest is beneficial, not the northeast. It is profitable to see a great person; innocence is auspicious.",
  :cleary-2
  "When in trouble, it is beneficial to go southwest; it is not beneficial to go northeast. It is beneficial to see a great person. Correctness leads to good results.",
  :legge
  "During an Impasse advantage is found in the southwest, disadvantage in the northeast. See the great man. Firm correctness brings good fortune.",
  :blofeld
  "Trouble. The west and the south are favorable, but not the east and north. [That is to say, if we try to forward our plans by proceeding in either of those directions, we shall get bogged down or lost. It could also mean that we should be driven to unvirtuous conduct.]  It is advisable to see a great man. [We should seek advice from someone of lofty moral stature and profound wisdom.] Persistence in a righteous course brings good fortune.",
  :ritsema-karcher
  "Limping, Harvesting: Western South. Not Harvesting: Eastern North. Harvesting: visualizing Great People. Trial: significant. [This hexagram describes your situation in terms of being weak, afflicted or hampered. It emphasizes that going ahead even though haltingly is the adequate way to handle it. (Sic) To be in accord with the time, you are told to: limp!]",
  :wilhelm-baynes
  "Obstruction. The southwest furthers. The northeast does not further. It furthers one to see the great man. Perseverance brings good fortune.",
  :wu
  "Difficulty indicates that it will be advantageous in the southwest, but not so in the northeast. There will be advantage to meet with the great man. Auspiciousness will come with perseverance.",
  :shaughnessy
  "Afoot: Beneficial to the southwest, not beneficial to the northeast; beneficial to see the great man; determination is auspicious."},
 :line-6
 {:harvesting-visualizing-great-people. "",
  :confucius-legge
  "Her aim is to assist the subject of the line inside of her. By",
  :liu
  "Going leads to obstruction. Coming brings great events. Good fortune. It is beneficial to see a great man.",
  :her-course-she-follows-that-noble-lord-of-the-figure.
  "Wilhelm/Baynes: For the will is directed to inner things. For thus does one follow a man of rank. Blofeld: The first sentence points to directing the will inwards. The other sentence is an injunction to submit ourselves to someone truly noble. Ritsema/Karcher:  Purpose located inside indeed. Using adhering-to valuing indeed. Cleary (2): The aim is within. By following what is valuable. Wu: His goals are directed inward. He can get his advices from the highly placed.",
  :cleary-1
  "Going is trouble, coming is great. For good results, it is beneficial to see a great person.",
  :legge
  "The action of the hexagram is over -- where can the magnetic sixth line go? Let her abide where she is, and serve the great man immediately below her. So shall she also be great -- in meritorious action at least. The line inside of her refers to the ruler in line five.",
  :blofeld
  "To proceed would lead to trouble; coming will produce excellent results. It is advisable to see a great man. [We should seek advice from someone of lofty moral stature and profound wisdom.]",
  :notes-and-paraphrases "",
  :ritsema-karcher "Going Limping, coming ripening. Significant.",
  :wing
  "Although it seems that you may ignore the turmoil around you and proceed with your own affairs, you will not be able to do so. You will inexorably be drawn into the struggle. Look to the paths of the wise for guidance in this matter. This brings good fortune to all concerned.",
  :editor
  "The third and sixth lines are proper correlates and very similar in content. Wilhelm comments that the magnetic line six and its dynamic correlate in line three unite to support the dynamic fifth line ruler (that noble Lord of the figure). Legge's commentary misses this subtle distinction. The psychological message is to conjoin your thoughts and feelings and re-attune yourself to the principles of the Work. To assist the ruler inside of us, or direct the will to inner things, is to serve the intent of the Self -- a repetition of the counsel in the Judgment to see the great man.",
  :siu
  "The man cannot go forward. He needs to remain where he is and serve the great man in order to achieve meritorious deeds.",
  :commentary "",
  :wilhelm-baynes
  "Going leads to obstructions, coming leads to great good fortune. It furthers one to see the great man.",
  :wu
  "Going forth is difficult; coming back is great. Good fortune. It will be advantageous to see the great man.",
  :shaughnessy
  "Going afoot, coming with swelled head; auspicious; beneficial to see a great man."},
 :notes-&-para
 {:judgment
  "Dissolve the polarities of an Impasseby seeking its most fertile integration. Use your will in harmony with the principles of the Work.",
  :the-superior-man "seeks his center and refines his commitment.",
  :lines-two-and-five-of-this-difficult-hexagram-show-those-who-struggle-with-hardship;-all-of-the-other-lines-show-images-of-an-improper-advance-followed-by-a-proper-return-to-a-former-position.-ritsema-karcher's-characterization-of-the-hexagram's-overall-meaning-as-an-injunction-to
  "(go) ahead even though haltingly is the adequate way to handle (the situation) is anomalous and at variance with the general import of this figure. Legge's Confucian commentary is more in keeping with its meaning: It is a wise man who can stop his advance at the first sign of danger.",
  :legge-also-chooses-an-excellent-paraphrase-of-the-role-of-the-superior-man-in-the-image-with-his-quotation-from-mencius
  "When our actions do not realize our desires, we must turn inwards and examine ourselves in every point.  In other words, the chances are good that the Impassemay be self-created, and when the ego introspects with care the reasons usually become apparent.",
  :it-is-not-unknown-at-a-certain-stage-of-development-for-the-ego,-overwhelmed-with-the-enormity-of-the-work,-to-evade-its-responsibilities-and-vainly-try-to-return-to-the-bliss-of-its-former-ignorance.-at-such-times-it-soon-becomes-clear-that-no-matter-what-you-attempt,-success-will-be-blocked-where-others-succeed-with-ease,-it-will-take-you-five-times-as-much-effort-just-to-break-even.-this
  "Impasse is permanent until you reassume responsibility for the Work. The following quotation is an allegory of this condition:",
  :in-one-way-or-another,-the-self-will-attain-its-intent.-to-ignore-this-hard-truth-is-to-experience
  "Impasse."},
 :commentary
 {:confucius-legge
  "Impasse means difficulty, with the trigram of Peril up ahead. It is a wise man who can stop his advance at the first sign of danger. Advantage in the southwest means that the dynamic line has advanced to the central position. In the northeast, however, progress is halted. Seeing the great man insures progress and success. All of the lines except the first are in their appropriate places, suggesting the firm correctness in which the regions of the kingdom are brought to their natural order. Great indeed is the work to be done during an Impasse.",
  :legge
  "Impasse is the symbol of incompetency in the feet and legs involving difficulty in walking. Hence it represents a state of the kingdom which makes government an arduous task. The figure teaches how to perform this task under the prevailing circumstances.",
  :the-judgment-requires-three-things-the-attention-to-place,-the-presence-of-the-great-man,-and-the-observance-of-firm-correctness.-according-to-king-wen's-arrangement-of-the-trigrams,-the-southwest-is-occupied-by-the-trigram-of-the-earth,-and-the-northeast-by-the-trigram-of-the-mountain.-the-former-is-the-fertile-lowland,-the-latter-the-mountain-peaks;-the-former-is-easily-traversed-and-held,-while-the-latter-presents-obstacles.-thus-the-attention-to-place-becomes-a-calculation-of-circumstances--differentiating-those-that-are-promising-from-those-that-are-likely-to-fail.
  "",
  :the-great-man-is-the-correctly-dynamic-ruler-in-the-fifth-place,-with-the-proper-magnetic-correlate-in-line-two.-however,-favorable-position-and-circumstances,-and-the-presence-of-the-great-man-do-not-relieve-us-from-the-observance-of-firm-correctness--this-principle-is-consistent-throughout-the
  "I Ching.",
  :ch'eng-tzu-says
  "We see here a steep and difficult mountain, on the top of which is water. Each trigram represents perilousness -- there is peril above and below. Hence it shows the difficulties of the state.  The application of the symbolism is illustrated by the words of Mencius: When our actions do not realize our desires, we must turn inwards and examine ourselves in every point."},
 :line-3
 {:confucius-legge
  "His associates, represented by the lower trigram, rejoice",
  :liu
  "Going leads to obstruction. Therefore he returns. He will be happy. [Caution will prevent loss or injury.]",
  :cleary-1 "Going leads to trouble. Come back.",
  :legge
  "Line three is dynamic, and in a place of strength, but his correlate sixth line is magnetic, so that his advance would not be supported. He waits therefore for a better time, and nurtures the two lines below, who naturally cling to him. On line three, K'ung Ying-ta says: Of the three lines of the lower trigram only the third is yang, above the two others who are of the yin nature. They cling to him, and are represented as rejoicing.",
  :blofeld "To proceed would lead to trouble; therefore turn back!",
  :notes-and-paraphrases "",
  :ritsema-karcher "Going Limping, coming reversing.",
  :in-him.
  "Wilhelm/Baynes: Those within rejoice over it. Blofeld:  This passage presages happiness for the women of the family (literally, happiness for those within).  [This could also be translated internal happiness, but I think the above rendering is what the author meant.] Ritsema/Karcher: Inside rejoicing-in-it indeed. Cleary (2): Those inside will rejoice at this. Wu: Because he will be greeted from inside.",
  :wing
  "If you abandon your present concerns in order to struggle with an external obstacle, you are in danger of jeopardizing the security of those close to you and, perhaps, undermining the structure of your life. It would be a good idea to return to your center and reconsider your plan.",
  :editor
  "This line changes the hexagram to number eight, Holding Together, the corresponding line of which states: We see its subject seeking for union with such as ought not to be associated with. This reinforces the idea in the present case of returning from a dangerous position. There seems to be very little difference between lines one and three -- as in the former, the psychological correlations of going and coming with analysis (differentiation), and synthesis (union), are sometimes useful.",
  :siu
  "Under certain circumstances, however, it is the duty of the man to refrain from dealing with obstructions. Should the father, for example, fail to return from his reckless venture, the dependents entrusted to his care may not survive.",
  :commentary "",
  :wilhelm-baynes "Going leads to obstructions, hence he comes back.",
  :wu "Going forth is difficult; coming back is the opposite.",
  :shaughnessy "Going afoot, coming in return."},
 :char \䷦,
 :other-titles
 {:titles
  ("Obstruction"
   "The Symbol of Difficulty"
   "Arresting Movement"
   "Trouble"
   "Obstacles"
   "Barrier"
   "Halt"
   "Halting"
   "Limping"
   "Afoot"
   "“Sit Tight—Don’t move”"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "One is surrounded by an underwater reef and should wait for assistance."})}}
