{:binary "100011",
 :line-1
 {:confucius-legge
  "Though it is not for one in so low a position to have to do with great affairs. Wilhelm/Baynes:  Those below do not use it for their own convenience. Blofeld: What is said about sublime good fortune and freedom from error means that those below do not complain of having too much to do. [This suggests that others will now work for us gladly.]Ritsema/Karcher: The below, not munificent affairs indeed. Cleary (2): It is not for those in low positions to be deeply concerned with affairs. Wu: A person in this position is not suitable to do a delicate task.",
  :liu
  "It is beneficial to undertake a great enterprise. Sublime good fortune. No blame.",
  :cleary-1
  "It is beneficial to act so as to do great work: this is very auspicious and blameless.",
  :cleary-2
  "It is beneficial to undertake to do great work. If it turns out very well, there is no blame.",
  :legge
  "Line one is dynamic, but his low position might seem to prevent him from any great enterprise. Favored as he is, however, by the general idea of the hexagram, and responding to his proper correlate in the fourth line, it is natural that he should make a movement. Great success will make his rashness irrelevant. The Confucian commentary says that one in a low position should not move in great affairs -- not a son, it is said, while his father is alive, nor a minister while his ruler governs, nor a member of an official department while its head directs its affairs. If such a one does initiate such an affair, only great success will excuse his rashness.",
  :blofeld
  "The time is favorable for undertaking great works -- sublime good fortune and no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Harvesting: availing-of activating the great, arousing. Spring significant, without fault.",
  :wing
  "You are blessed with the energy to approach a large task, which at any other time you may have avoided or not even considered. Success is yours if your goal is worthwhile and can Benefit others. Consider this carefully. In this way your reputation will remain above reproach.",
  :editor
  "Despite the confusing Confucian commentary, this is one of the very few lines in the entire Book of Changes that counsels unconstrained movement. Psychologically interpreted, action taken in the matter at hand will be in accordance with the will of the Self.",
  :siu
  "At the outset, the man receives help from on high. He should use it to accomplish something correspondingly worthwhile. Success will cause his rashness to be forgotten.",
  :commentary "",
  :wilhelm-baynes
  "It furthers one to accomplish great deeds. Supreme good fortune. No blame.",
  :wu
  "It is beneficial to do farming. There is great fortune, no error.",
  :shaughnessy
  "Beneficial herewith to do the great creation; prime auspiciousness; there is no trouble."},
 :line-5
 {:confucius-legge
  "He gets what he desires on a great scale. Wilhelm/ Baynes: You have attained your purpose completely. Blofeld: The whole of this passage presages the fulfillment of what is willed. Ritsema/Karcher: Actually no questioning it. The great acquiring purpose indeed. Cleary (2): Do not question it. Great achievement of what is intended. Wu: He asks no questions. His goal is amply realized.",
  :liu
  "If you are sincere and benevolent in your heart, without consulting, there will be great good fortune. People will trust your benevolent character.",
  :[
  "Actualize-tao: ...ability to follow the course traced by the ongoing process of the cosmos... Linked with acquire, TE: acquiring that which makes a being become what it is meant to be.]",
  :cleary-1
  "When there is truthfulness and a benevolent heart, there is no need to ask – it is very auspicious. Truthfulness and benevolence are charismatic qualities in oneself.",
  :cleary-2
  "There is sincerity to benefit the mind. Do not ask – it is very auspicious. There is sincerity granting one’s rewards.",
  :legge
  "Line five is dynamic, in its fitting position, and central. It is the seat of the ruler, who has his proper correlate in line two. Everything good, according to the conditions of the hexagram, may be said of him.",
  :blofeld
  "Be confident (or sincere) and kind, but refrain from asking questions and you will enjoy sublime good fortune. Faithfulness (or sincerity) and confidence are virtues proper to us.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Possessing conformity, a benevolent heart. No question, Spring significant. Possessing conformity, benevolence: my actualizing tao.",
  :wing
  "A true kindness on your part, something you did or will do without thought of your own gain, will bring you recognition.",
  :editor
  "The image suggests a cornucopia of power flowing to meet that which is receptive to it. If this is the only changing line the new hexagram becomes number twenty-seven, Nourishment. Literally: “Increasebrings about Nourishment.” Sincere: Heartfelt, true. Heart: Center, core, source. All below: Unconscious complexes, components of the psyche, etc.",
  :siu
  "Without asking for recognition and gratitude, the man in a high position benefits those below. He acts from the inner necessity of acknowledged goodness.",
  :commentary "",
  :wilhelm-baynes
  "If in truth you have a kind heart, ask not. Supreme good fortune. Truly, kindness will be recognized as your virtue.",
  :wu
  "Having confidence in his people and being benevolent-hearted, he enjoys great auspiciousness without asking for it. His people return his kindly virtue by placing their confidence in him.",
  :shaughnessy
  "There is a return with a kind heart; do not question it; prime auspiciousness. There is a return that treats kindly my virtue."},
 :number 42,
 :name "Increase",
 :the-image
 {:legge
  "Wind over thunder -- the image of Increase. When the superior man perceives good, he moves toward it; when he perceives his faults, he eliminates them.",
  :wilhelm-baynes
  "Wind and thunder: the image of Increase. Thus the superior man: if he sees good, he imitates it; if he has faults, he rids himself of them.",
  :blofeld
  "This hexagram symbolizes wind and thunder. The Superior Man, seeing what is good, imitates it; seeing what is bad, he corrects it.",
  :liu
  "Wind and thunder symbolize Increase. When the superior man discovers good, he follows it. When he has errors, he corrects them.",
  :ritsema-karcher
  "Wind, thunder. Augmenting. A chun tzu uses visualizing improvement, by-consequence shifting. A chun tzu uses possessing excess, by-consequence amending.",
  :cleary-1
  "Wind and thunder increase. Thus do superior people take to good when they see it, and correct whatever faults they have.",
  :wu
  "Wind and thunder make Gain. Thus, when the jun zi sees a good deed, he improves his own at once; when he realizes he is making a mistake, he corrects it at once."},
 :line-4
 {:confucius-legge
  "Her only object is the increase of the general good. Wilhelm/Baynes: If you report to the prince, he will follow, because his purposes are thereby increased. Blofeld: He reported his fealty so as to be of use in carrying out the Prince's will.  Ritsema/Karcher: Using Augmenting purpose indeed. Cleary (2): Open expression of impartial following is because of the beneficial aim. Wu: his goal is to benefit the state.",
  :liu
  "If you are moderate in your conduct, people will follow you. It is beneficial to be dependent or move to a new place.",
  :cleary-1
  "When balanced action is openly expressed, the public follows. It is beneficial to use a support to move the nation.",
  :cleary-2
  "Balanced action openly expressed is followed impartially. It is beneficial to use this as a basis to move the center of operations.",
  :legge
  "Line four is the place of the minister -- next to the ruler. She is magnetic, but her position is appropriate, and since she follows the due course, her ruler listens to her and even supports the most critical movements. Changing the capital from place to place was frequent in feudal China. That of Shang, which preceded Chou, was changed five times.",
  :blofeld
  "He walked up the center of the hall and informed the Prince of his fealty. It is favorable to be entrusted with the task of removing the capital.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Center moving. Notifying the prince, adhering. Harvesting: availing-of activating depending-on shifting the city.",
  :wing
  "You have the opportunity to act as a mediator between someone in a higher position than yourself and those below you, whom you represent. If you express yourself in a reasonable manner and make Benefit to all concerned the first priority of your interests, your advice will be followed. This influential position can have far-reaching effects.",
  :editor
  "This is an image of trustworthiness. All the translators except Legge emphasize the idea of moderation, or walking in the middle.  Wilhelm and Liu also make it a conditional statement: “If” you follow the middle way, etc.",
  :siu
  "As the mediator between the prince and his followers, the man renders proper advice on the distribution of benefits. If he does not retain portions for selfish purposes and follows a moderate course, he will retain the confidence of all for executing critical projects.",
  :commentary "",
  :wilhelm-baynes
  "If you walk in the middle and report to the prince, he will follow. It furthers one to be used in the removal of the capital.",
  :wu
  "When his approach is central, the prince will value his counsel. It will be beneficial to counsel the prince on relocating the capital.",
  :shaughnessy
  "In the middle of the ranks reporting to the duke to follow; beneficial herewith to make a family and to transfer the state."},
 :line-2
 {:confucius-legge
  "(Parties add to her stores) -- they come from beyond her immediate circle to do so.  Wilhelm/Baynes: This comes from without. Blofeld:  The one who enriched him came from elsewhere. Ritsema/ Karcher: Originating-from outside, coming indeed. Cleary (2): What one is given comes from outside. Wu: Because it comes from without.",
  :liu
  "Someone enriches him with twenty tortoises. He cannot refuse. Perpetual continuance brings good fortune. The king makes a presentation to God. Good fortune.",
  :cleary-1
  "One gains ten sets of tortoise shells, and none can oppose. Perpetual correctness is auspicious. It is good for the king to serve the lord.",
  :cleary-2
  "… It bodes well to be always correct. It bodes well for the king to make offerings to God.",
  :legge
  "Compare this line with line five of hexagram number forty-one, Compensating Sacrifice. Line two is magnetic, but in the center, and is the correlate of line five. Friends give her the valuable gifts mentioned. That is, says Kuo Yung (Sung Dynasty) men benefit her. The oracles of the divination (i.e., the favorable spirits) benefit her also. And finally, when the ruler sacrifices to God, God accepts. Heaven confers benefit from above.  Line five, as the proper correlate here, is among the contributing parties, but others beyond will be won to take part with him.",
  :blofeld
  "There was one who enriched him to the extent of ten PENG or tortoise shells (2,100 of them) and who would accept no refusal -- unwavering persistence in a righteous course brings good fortune! The King sacrificed to the Supreme Lord of Heaven [From the point of view of divination, this can be taken to mean that we are about to benefit either from our earlier devotions or from some sacrifice either to moral principles or to the public good.] -- good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Maybe Augmenting's ten: partnering's tortoise. Nowhere a controlling contradiction. Perpetual Trial significant. Kinghood availing-of presenting tending- towards the supreme, significant.",
  :wing
  "Because you are receptive to worthwhile aims and energies, you are successful in your endeavors. You may think of it as exceptionally good luck. You can maintain the momentum of this fortunate time if you preserve the normal structure of your life. Do not become rash or overly confident.",
  :editor
  "If we reverse this hexagram it becomes number forty- one, Compensating Sacrifice,and this line (now upside down) becomes line five of that figure, with a meaning nearly identical to this one. (See the commentary on 41:5 for the significance of the tortoise shells.) It is also interesting to note that in each case the changing line (either 42:2 or 41:5) changes its respective hexagram to number sixty-one, Inner Truth. Kuo Yung's mention of favorable spirits bringing increases to the recipient of this line is reminiscent of the legions of angels said to appear at the birth or inception of a new and positive force into spacetime:",
  :siu
  "The ensuing gains issue naturally from the inner goodness of the man, who is in harmony with the highest laws of the universe.",
  :commentary "",
  :wilhelm-baynes
  "Someone does indeed increase him; Ten pairs of tortoises cannot oppose it. Constant perseverance brings good fortune. The king presents him before God. Good fortune.",
  :wu
  "He may be presented with ten pairs of tortoise shells and may not decline the gift. Being constantly persevering is auspicious. The king makes offerings to the Supreme Being in heaven. Auspicious.",
  :shaughnessy
  "Someone increases it by ten double-strands of turtles; you cannot deflect it; permanent determination is auspicious. The king uses aromatic grass to Di; auspicious."},
 :judgment
 {:legge
  "Increase denotes advantage in every movement which shall be undertaken -- it will be advantageous even to cross the great stream.",
  :wilhelm-baynes
  "Increase. It furthers one to undertake something. It furthers one to cross the great water.",
  :blofeld
  "Gain. It is favorable to have in view some goal (or destination) and to cross the great water (or sea).",
  :liu
  "Increase. It is of benefit to set forth. It is of benefit to cross the great water.",
  :ritsema-karcher
  "Augmenting , Harvesting: possessing directed going. Harvesting: wading the Great River. [This hexagram describes your situation in terms of increase and advance. It emphasizes that expanding the quantity and quality of your involvement is the adequate way to handle it. To be in accord with the time, you are told to augment!]",
  :shaughnessy
  "Increase:Beneficial herewith to have someplace to go; beneficial to find the great river.",
  :cleary-1
  "For Increase, it is beneficial to go somewhere; it is beneficial to cross great rivers.",
  :wu
  "Gain indicates an advantage in having undertakings and in crossing a big river."},
 :line-6
 {:the-master-said
  "The superior man in a high place composes himself before he tries to move others; makes his mind restful and easy before he speaks; settles the principles of his intercourse with others before he seeks anything from them. The superior man cultivates these three things, and so is complete. If he tries to move others while he is himself in a state of apprehension, the people will not respond to him; if without certain principles of intercommunication, he issues his requests, the people will not grant them. When there are none to accord with him, those who work to injure him will make their appearance. As is said in the I Ching, `We see one to whose advantage none will contribute, while some will seek to assail him. He observes no regular rule in the ordering of his heart: there will be evil.'",
  :confucius-legge
  "To his increase none will contribute -- this expresses but half the result. They will come from beyond his immediate circle to assail him. Wilhelm/Baynes: This is a saying that pictures one-sidedness. This comes from without. Blofeld: He not benefiting them indicates prejudice: his being struck presages that we incur the wrath of people outside our own circle. Ritsema/Karcher: One-sided evidence indeed. Originating-from outside, coming indeed. Cleary (2):“None benefit one here” expresses partiality; “They may attack one” refers to what comes from without. Wu:“People do not add to his coffer.” This is a one-sided statement. “They may even assail him,” because he alienates them.",
  :liu
  "He benefits no one. Someone will attack him. His mind is not consistent. Misfortune.",
  :cleary-1
  "Don’t increase here, or you may be attacked. If determination is inconsistent, that brings misfortune.",
  :cleary-2
  "None benefit one here; they may attack one. Do not persist in this attitude, for that would lead to misfortune.",
  :legge
  "Line six is dynamic, but it should be magnetic. At the top of the figure he will only concentrate his powers for his own advantage, and not think of benefiting those below him. The repulsive power of selfishness is exhibited, and the consequences will be as described. Contrast this with line two where the attractive power of benevolence is shown: in both cases forces come from beyond to do either benefit or harm.",
  :blofeld
  "He did not attempt to benefit them and someone struck him for his inconstancy of heart -- misfortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Absolutely-no Augmenting it. Maybe smiting it. Establishing the heart, no persevering. Pitfall.",
  :wing
  "While you seem to have the means to Benefit others, you actually do not. This is not in accord with the demands of the time. You will lose your position of influence and become open to attack. This is unfortunate indeed.",
  :editor
  "Wilhelm renders Legge's half the result in the first sentence of the Confucian commentary as one-sidedness -- an image more expressive of the idea of selfishness. To observe no regular rule in the ordering of the heart” suggests inconstancy and vacillation. Perhaps selfish motives have overwhelmed the ego's devotion to the Work. Selfishness is an imbalanced state where energy is appropriated by a part at the expense of the whole. Negative results are inevitable because the forces involved must seek equilibrium, and the stress of the imbalance is released in a violent reaction.",
  :siu
  "The man in a high position fails to bring benefits to those below. They, in turn, assail his reputation and do not support him. He does not think before speaking and does not decide the principles that govern his relationships before he sets forth.",
  :commentary "",
  :wilhelm-baynes
  "He brings increase to no one. Indeed, someone even strikes him. He does not keep his heart constantly steady. Misfortune.",
  :wu
  "People do not add to his coffer. They may even assail him. He sets no consistent course of action. Foreboding.",
  :shaughnessy
  "No one increases it, someone hits it; establishing the heart but not making it constant; inauspicious."},
 :notes-&-para
 {:judgment "Take advantage of your opportunities.",
  :the-superior-man
  "recognizes his duty and rectifies his mistakes. Or: Accentuate the positive, eliminate the negative.",
  :if-the-ego's-sacrifices-for-the-good-of-the-work-are-described-in-the-previous-hexagram,-here-we-see-the-inverse-image-of-that-figure-in-which-it-is-the-self-who-bestows-its-blessings-upon-the-psyche.-the-one-implies-the-other--in-the-words-of-an-old-blues-lyric-"if-you-don't-put-somethin'-in,-you-can't-get-nothin'-out..."-the-forty-first-and-forty-second-hexagrams-are-intimately-related,-and-in-their-interaction-portray-the-active-progress-of-the-work.-to-paraphrase-the-last-sentence-of-the-confucian-commentary-"the-self-dispenses-and-the-ego-produces,-and-all-proceeds-according-to-the-requirements-of-the-time."
  ""},
 :commentary
 {:confucius-legge
  "Increase  shows the upper trigram brilliantly decreased to augment the lower. What descends from above reaches to all below, and the satisfaction of the people is without limit. Advantage in movement is shown in the blessings dispensed by the second and fifth lines from their correct positions. The action of Wood shows that it is advantageous to cross the great stream. Through the trigrams of Movement and Humility there is unlimited daily advancement -- heaven dispenses and earth produces, and all proceeds according to the requirements of the time.",
  :legge
  "Increase has the opposite meaning to hexagram number forty-one, Compensating Sacrifice [Decrease]. What king Wen had in mind was a ruler or a government operating to dispense benefits to the people and increase their resources. The two important lines in the figure are the correlates two and five. The general auspice of the hexagram is one of being successful in one's enterprises and of overcoming the greatest difficulties.",
  :the-formation-of-the-trigrams-here-is-the-reverse-of-that-in-the-preceding-hexagram.-the-people-are-full-of-pleasure-in-the-labors-of-the-ruler-for-their-good.
  "The action of Wood in the Confucian commentary refers to the upper trigram, which is the symbol of Wind and Wood. From wood boats are made on which the great stream may be crossed. In three hexagrams, this, fifty-nine and sixty-one, in which this is the upper trigram, we find mention made of crossing the great stream. In the Image thunder and wind are seen to increase one another, and their combination gives the idea of Increase."},
 :line-3
 {:confucius-legge
  "Increase is given by means of what is evil and difficult, as she has in herself the qualities called forth. Wilhelm/Baynes: This is something that certainly is one's due.  Blofeld: His gaining something by an unfortunate means may lead to the supposition that such means are a matter of course.  Ritsema/Karcher: Firmly possessing it indeed. Cleary (2): There has always been such a thing as enhancement through unfortunate events. [If one can believe that misfortune is beneficial, then it is no longer unfortunate.] Wu: “He experiences increasing misfortune,” because of his position, not his doing.",
  :liu
  "He is enriched by unfortunate affairs. No blame, if you are sincere and moderate in your conduct, and report to the officials for the record.",
  :cleary-1
  "Using unfortunate events to gain increase is blameless. Acting in a moderate, balanced way with sincerity and truthfulness, public announcement uses the imperial seal.",
  :cleary-2
  "Enhancement through unfortunate events is blameless. Sincere and balanced in action, one presents impartial use of authority.",
  :legge
  "Line three is magnetic, neither central nor in her correct position. It would seem therefore that she should have no increase given to her. But it is the time for giving increase, and the idea of her receiving it by means of evil things is put into the line. That such things serve for reproof and correction is well known to Chinese moralists. But the paragraph goes on also to caution and admonish. There is a soul of good even in those who seem only evil, and adversity may quicken it.",
  :blofeld
  "He used an unfortunate means to gain something; but, as he acted in all sincerity, he was not to blame. Walking in the center (of the hall) to report to the Prince, he carried his jade tablet of office. [The additional Chinese commentaries declared that the jade tablet is a symbol of our being able to give an assurance of our faithfulness.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Augmenting's availing-of pitfall affairs. Without fault. Possessing conformity, center moving. Notifying the prince, availing-of the scepter.",
  :wing
  "You may find that you are going to Benefit from what might be considered unfortunate circumstances. If you hold to your principles, nevertheless, you can avoid reproach.",
  :editor
  "Every translation of the Confucian commentary says something distinctly different in the English language. When this happens it is a fair assumption that the original is ambiguous as well. My experience with the line prefers Wilhelm’s version of line and commentary. Psychologically interpreted, since the idea of No blame applies, we can assume that a painful but necessary transformation is in progress. This may be taking place on unconscious levels of the psyche.",
  :siu
  "Even unfortunate events accrue to the good of the man. Pursued with reasonableness and sincerity, they exert beneficial influence, as if officially sanctioned.",
  :commentary "",
  :wilhelm-baynes
  "One is enriched through unfortunate events. No blame, if you are sincere and walk in the middle, and report with a seal to the prince.",
  :wu
  "He experiences increasing misfortune, but this is blameless. He proceeds with confidence and reports to his prince by holding a tablet in his hands.",
  :shaughnessy
  "Increase it, using work service; there is no trouble. There is a return in the middle of the ranks reporting to the duke using a tessera."},
 :char \䷩,
 :other-titles
 {:titles
  ("The Symbol of Addition"
   "Gain"
   "Augmenting"
   "Help from Above"
   "Benefit"
   "Advantage"
   "Profit"
   "Expansion")}}
