{:binary "111101",
 :line-1
 {:confucius-legge
  "Shows no approach to what is injurious. Wilhelm/ Baynes: If the first line of Possession in Great Measure has no relationships, this is harmful. Blofeld: This line means that we shall avoid any intercourse with evil. Ritsema/Karcher: Without mingling harm indeed. Cleary (2): The absence of harm that comes from association. Wu: His disadvantage is having no association.",
  :liu
  "Avoidance of the harmful brings no blame. Awareness of difficulty -- also no blame. [This line indicates sadness and confusion but also that one can avoid them by being cautious.]",
  :cleary-1
  "If there is no association with what is harmful, one is not blameworthy. If you struggle, there will be no fault.",
  :cleary-2
  "As long as there is none of the harm that comes from association, this is not blameworthy. If one struggles, there will be no blame.",
  :legge
  "Line one, though dynamic, is at the lowest part of the figure, and has no correlate above. No external influences have as yet acted injuriously on him. Let him do as directed, and no hurtful influence will ever affect him.",
  :blofeld
  "Having no contact with evil, he is blameless; therefore, even if he is involved in trouble, he remains without fault.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Without mingling harm. In-no-way faulty. Drudgery by-consequence without fault.",
  :wing
  "Although you possess a great deal, you have not yet been challenged in your position. Therefore, you have made no mistakes. Keep in mind that the situation is at its beginning and difficulties may lie on the road ahead. With forewarned awareness you can remain blameless.",
  :editor
  "The image suggests a situation of great potential which could be ruined through bad choices of action. Recognize the difficulty of maintaining your will under such circumstances. Wilhelm’s version of the Confucian commentary and Wu’s translations of both line and commentary don’t follow the other translators. Their interpretations seem anomalous unless the specific situation concurs.",
  :siu
  "At the outset, no threats have been received and no challenges met. The man avoids harm by realizing the dangers caused by opulence and exercising appropriate restraint.",
  :commentary "",
  :wilhelm-baynes
  "No relationship with what is harmful. There is no blame in this. If one remains conscious of difficulty, one remains without blame.",
  :wu
  "His disadvantage is having no association, but it is not an error of his doing. If he is aware of his difficult position, he will be blameless.",
  :shaughnessy
  "There is no exchanging of harm that is not trouble; if in difficulty then there will be no trouble."},
 :line-5
 {:confucius-legge
  "Her sincerity is reciprocated by all the others because it serves to stir and call out what is in their minds. Without a display of proper majesty they might otherwise feel too easy, and make no preparation to serve her. Wilhelm/Baynes: By his trustworthiness he kindles the will of others. The good fortune of his dignity comes from the fact that he acts easily, without prearrangements. Blofeld: His good fortune in winning the respect of others enables him to make changes without prior preparation. [This means that we shall be trusted even if we act unexpectedly.] Ritsema/Karcher: Trustworthiness uses shooting-forth purpose indeed. Impressing thus, having significance. Versatility and-also without preparing indeed. Cleary (2): Aspirations are aroused through faith ... Ease and freedom from preparation. Wu: His sincerity is to pursue what he sets out to do … Auspiciousness comes from simplicity and unpretentiousness.",
  :liu
  "One is confident, sociable, and dignified. Good fortune. [Proud or aggressive actions will cause trouble. One should not be hasty but wait for the proper opportunity to act.]",
  :cleary-1 "The trust is mutual. Power is auspicious.",
  :cleary-2 "… It is fortunate to be awesome.",
  :legge
  "Line five symbolizes the ruler. Mild sincerity is good in her, and influences her ministers and others. But a ruler must not be without an awe-inspiring majesty.",
  :blofeld
  "His sense of confidence enables him to be sociable and well respected. A dignified bearing is an asset (literally, good fortune).",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Your conforming: mingling thus, impressing thus. Significant.",
  :wing
  "Those whom you may influence are attracted to you through the bond of sincerity. Thus a truthful relationship exists. If you are overly familiar, however, attitudes may become too casual to get things accomplished. A dignified approach brings good fortune.",
  :editor
  "Psychologically, this line expresses the idea that the will of the ego to maintain the letter and spirit of the Work creates a climate of compliance among the other complexes within the psyche.",
  :siu
  "The man and his people are mutually attracted to each other through unaffected sincerity. Benevolence on his part, however, must be accompanied by the proper display of majesty. Otherwise, the people will become insolent and lose their attitude of service.",
  :commentary "",
  :wilhelm-baynes
  "He whose truth is accessible, yet dignified, has good fortune.",
  :wu
  "His sincerity matches the confidence the people place in him. His majesty matches the authority the people accord him. This will be auspicious.",
  :shaughnessy
  "His return is crossed-like, stooped-like; in the end it is auspicious."},
 :number 14,
 :name "Wealth",
 :the-image
 {:legge
  "Fire over Heaven -- the image of Wealth. The superior man represses evil and nurtures virtue in accordance with the benevolent will of heaven.",
  :wilhelm-baynes
  "Fire in heaven above: the image of Possession in Great Measure. Thus the superior man curbs evil and furthers good, and thereby obeys the benevolent will of heaven.",
  :blofeld
  "This hexagram symbolizes fire in the heavens. [When the trigram for heaven is above, whatever is below may be separated from it; when it is below, it indicates fusion or intermixture with what is above. The significance here is that the splendor of a very great man lights up the heavens.] The Superior Man suppresses those who are evil and upholds the virtuous. Most gladly he accords with heaven and carries out its commands.",
  :liu
  "Fire over heaven symbolizes Great Possessions. The superior man suppresses evil and honors virtue, and thus follows the will of heaven and waits upon destiny.",
  :ritsema-karcher
  "Fire located above heaven. Great Possessing. A chun tzu uses terminating hate to display improvement. A chun tzu uses yielding-to heaven to relinquish fate.",
  :cleary-1
  "Fire is in the sky;great possession.Thus does the superior person stop evil and promote good, obeying heaven and accepting its order.",
  :cleary-2-…
  "Leaders obey nature and accept its order by stopping the bad and promoting the good.",
  :wu
  "Fire above and heaven below form Great Wealth.Thus the jun zi suppresses the evil and promotes the good; he abides by the will of heaven to enrich his life."},
 :line-4
 {:anthony
  "When we argue, we engage and compete with other people’s inferiors. We should remain disengaged. Even when we mentally argue with or inwardly look at the problem, we remain engaged, thinking of ways to deal with their inferiors. Such looking to the side causes us to deviate from our own direction.",
  :confucius-legge
  "His wisdom discriminates clearly what he ought to do. Wilhelm/Baynes: He is clear, discriminating, and intelligent. Blofeld: Implies the possession of very great discriminatory powers. [Such as the power to recognize how very little of our success is really due to our own merits.]Ritsema/Karcher: Brightness differentiating clearly indeed. Cleary (2): Because the understanding is clear. Wu: Because he exercises clear discriminations.",
  :liu
  "He distinguishes between himself and his friends. This brings no blame.",
  :cleary-1 "Repudiate self-aggrandizement and there is no fault.",
  :cleary-2 "Negating self-inflation, there is no blame.",
  :legge
  "The strength of line four is tempered by his position in a magnetic place. Hence he will do no injury to the mild ruler just above him.",
  :blofeld "Pride is not involved -- no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher "In-no-way one's preponderance . Without fault.",
  :wing
  "Quell your pride and envy and do not attempt to compete with others or emulate those in power. Give your full attention to the business at hand and you will avoid mistakes.",
  :editor
  "Wilhelm and Liu both render this line in terms of making a distinction between oneself and others. The distinction to be made is to see the difference between the minister in line four and the ruler in line five -- i.e., don't overstep your authority or aspire above your proper place. The line can also refer to co-dependence to other people's illusions. You have your own unique path to follow: you cannot acquiesce to the unenlightened expectations of others without doing damage to yourself, to them, and to the Work. Choices like this are often extremely painful. This, however, does not absolve the aspirant from doing what the Work demands.",
  :siu
  "The man discriminates clearly what should be done. He keeps his strength under control, yields not to competition and envy, and does not injure the mild ruler.",
  :commentary "",
  :wilhelm-baynes
  "He makes a difference between himself and his neighbor. No blame.",
  :wu
  "He who keeps his strength under restraint will not be humiliated.",
  :shaughnessy "It is not his fullness ; there is no trouble."},
 :line-2
 {:confucius-legge
  "This refers to the virtue accumulated by the subject of the line, so that he will suffer no loss in the conduct of affairs. Wilhelm/ Baynes: Accumulating in the middle; thus no harm results. Blofeld: Some place where supplies have been accumulated will escape from danger. Ritsema/Karcher: Amassing centering, not destroying indeed. Cleary (2): If the load is balanced you will not fail. Wu: Means to accumulate at the center with no failure.",
  :liu
  "Loading the big wagon. Undertaking without blame. [One can expect to achieve his undertaking and acquire property.]",
  :cleary-1
  "Using a great car for transport, when there is a place to go there is no fault.",
  :cleary-2
  "Using a large car for transport, there is a place to go, etc.",
  :legge
  "The dynamic second line has his proper correlate in the fifth line ruler of the figure, and will subordinate his strength to his humility.",
  :blofeld
  "There are large supply wagons. [Apparently we need not fear failure through lack of resources.] If there is some desired goal (or destination), setting out (to attain it) will involve no error.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The great chariot used to carry. Possessing directed going. Without fault.",
  :wing
  "You not only have tremendous resources to work with, but you also possess the wherewithal to coordinate these assets and make them work for you. Such ingenuity will allow you to fearlessly attempt ambitious endeavors.",
  :editor
  "A wagon is a vessel which contains something as well as a vehicle which can go somewhere. Thus the image suggests the power to accomplish a task or reach a goal.",
  :siu
  "Accumulated virtues and competent helpers enable the man to assume great responsibilities. Like a huge wagon ready for loading, he subordinates strength to humility.",
  :commentary "",
  :wilhelm-baynes
  "A big wagon for loading. One may undertake something. No blame.",
  :wu "To haul in a cart to a certain destination is without fault.",
  :shaughnessy
  "The great cart is used to carry; there is someplace to go; there is no trouble."},
 :judgment
 {:liu "Great Possessions. Great Success.",
  :cleary-1 "In great possession are creation and development.",
  :cleary-2 "Great possession is great success.",
  :legge "Wealth means great progress and success.",
  :blofeld "He who possesses much -- supreme success!",
  :ritsema-karcher
  "Great Possessing, Spring Growing. [This hexagram describes your situation in terms of your relation to an overriding concern or central idea. It emphasizes that organizing all your efforts around this idea is the adequate way to handle it...]",
  :wilhelm-baynes "Possession in Great Measure. Supreme success.",
  :wu "Great Wealth is primordial and pervasive.",
  :  "",
  :shaughnessy "The Great Possession:  Prime receipt."},
 :line-6
 {:confucius-legge
  "Good fortune arises from the help of heaven. Wilhelm/ Baynes: The place at the top of Possession in Great Measure has good fortune. This is because it is blessed by heaven. Blofeld:  The great good fortune presaged by this line is that of being specially protected by heaven. Ritsema/Karcher: Great Possessing the above: significant. Originating-from heaven shielding indeed. Cleary (2):  A blessing from heaven. Wu: The blessings come from heaven.",
  :liu
  "One is blessed by heaven. Good fortune. Benefit in everything.",
  :cleary-1 "Help from heaven is auspicious, unfailingly beneficial.",
  :cleary-2
  "Good fortune that is a blessing from heaven is beneficial to all.",
  :legge
  "Even the topmost line takes its character from line five. His strength is still tempered, and heaven gives its approval.",
  :blofeld
  "Those under heaven's protection enjoy good fortune and success in everything. [The top line of a very favorable hexagram is sometimes taken to symbolize heaven. Whoever receives (this line) may expect utmost success.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Originating-from heaven shielding it. Significant, without not Harvesting.",
  :wing
  "Here lies the potential for great blessings and good fortune. Know how to keep things in balance; be devoted in your endeavors and openly appreciative to those who help you. In this way you might expect supreme success.",
  :editor
  "Of all the lines and hexagrams in the I Ching, this is one of the most favorable combinations that one can receive. If it is the only changing line, the hexagram of Wealth is transformed into the thirty-fourth hexagram of Great Power -- a most energetic combination of images.",
  :siu
  "The man attains the fullness of blessings. He recognizes the bases for the favorable state of affairs, remains devoted in his actions, and honors the sage who exerted the beneficent influence.",
  :commentary "",
  :wilhelm-baynes
  "He is blessed by heaven. Good fortune. Nothing that does not further.",
  :wu
  "With blessings from heaven, there will be good fortune and nothing disadvantageous.",
  :shaughnessy
  "From heaven blessing it; auspicious; there is nothing not beneficial."},
 :notes-&-para
 {:judgment
  "The greatest kind of Wealth accrues from furthering the Work.",
  :the-superior-man
  "manages his forces in accordance with the goals of the Work.",
  :wealth
  "is the inverse of the preceding figure, Union of Forces. If the thirteenth hexagram depicts a process of uniting, the fourteenth might be seen as the completion of that process. To have one's inner forces correctly united is indeed Possession in Great Measure, which is the title that Wilhelm gives to this figure.",
  :it-is-emphasized-in-the-image-that-this
  "Wealth must be administered in accordance with the benevolent will of heaven,” which is to say: the principles of the Work must always guide one's choices if one is not to lose equilibrium and become pauperized by illusion."},
 :commentary
 {:confucius-legge
  "Wealth shows the magnetic line in the central ruler's place, and honored by the dynamic lines above and below. The figure is composed of the trigrams of Strength and Clarity. The central line of Clarity responds to the central line of Strength, eventuating in timely action. This indicates great progress and success.",
  :legge
  "Wealth means great havings, and symbolizes a kingdom, family or individual in a state of prosperity. The danger in such a position arises from the pride it is likely to engender. Here however, everything is against that: the place of honor is occupied by a magnetic line, so that the ruler will be humble, and all the dynamic lines will respond to her with sympathetic allegiance. The ruler's seat is in the central position of the trigram of Clarity, and hence her strength is directed by intelligence, and all her actions are timely, like the seasons of heaven.",
  :fire-above-the-sky-shines-far--symbolizing-the-vastness-of-the-territory-of-wealth.-to-develop-virtue-and-repress-evil-is-in-accordance-with-the-will-of-heaven,-which-has-given-to-all-men-a-nature-fitted-for-goodness.
  "",
  :cleary-2
  "All states of being have this essence inherent in them and are indeed made of this essence, but all states other than that of complete enlightenment are out of harmony with this essence in some way. Buddhahood is when you accord with this essence.",
  :wu
  "As the sun shines brightly high in the sky, both the good and the bad will be exposed. The responsibility of the jun zi is to discriminate between them. He acts in accordance with the nature of goodness (the will of heaven) to enrich his life."},
 :line-3
 {:confucius-legge
  "An inferior man in such a position does himself harm. Wilhelm/Baynes: A petty man harms himself. Blofeld: The little man would only harm himself in the attempt. [This omen suggests that a great goal can be won only by someone very powerful or distinguished; others would be well advised not to attempt it.]Ritsema/Karcher:  Small People harmful indeed. Cleary (2): Small people would be harmed. Wu: This will be unfitting to the little man.",
  :liu
  "A duke makes an offering to the emperor. The inferior man is unable to do this.",
  :cleary-1
  "The work of barons serves the son of heaven. Petty people are incapable of this.",
  :cleary-2
  "Impartial action gets through to the ruler. Small people, etc.",
  :legge
  "Line three is dynamic in a correctly dynamic place. The top line of the lower trigram is the proper place for a feudal lord. He will humbly serve the condescending ruler in the fifth place. An inferior man in the same position, but without the virtue, would give himself airs.",
  :blofeld
  "A prince may win rewards from his emperor, but this is beyond an ordinary man's power.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A prince availing-of Growing, tending- towards heavenly sonhood. Small People nowhere controlling.",
  :wing
  "A superior-minded person will place his talents or resources at the disposal of his leader or his community. Through this type of open generosity he is benefited, for he is loyally supported in turn. A lesser man cannot do this.",
  :editor
  "This line is often received under painful conditions in which a sacrifice of some kind is demanded. Blofeld and Wu’s versions differ conceptually from the other translators, and may be considered eccentric unless the matter under question supports their interpretations.",
  :siu
  "The superior man places his property and talents at the service of the ruler and the public. The inferior man employs them for his own gain.",
  :commentary "",
  :wilhelm-baynes
  "A prince offers it to the Son of Heaven. A petty man cannot do this.",
  :wu
  "A duke has the honor of dining with the king. The little man is unworthy of the honor.",
  :  "",
  :shaughnessy
  "The duke uses aromatic grass to the Son of Heaven; the little man is not capable of it."},
 :char \䷍,
 :other-titles
 {:titles
  ("Possession in Great Measure"
   "The Symbol of Great Possession"
   "Sovereignty"
   "Great Having"
   "Great Possessing"
   "The Great Possessor"
   "Great Wealth"
   "Abundance"
   "Having What is Great"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "Often means things other than material possessions or achievement. Count your blessings for they are many."})}}
