{:binary "001000",
 :line-1
 {:confucius-legge
  "The superior man who adds temperance to his temperance is one who nourishes his virtue in lowliness. Wilhelm/Baynes: The superior man is lowly in order to guard himself well. Blofeld:  He shows humility in disciplining himself. Ritsema/Karcher: Lowliness uses originating-from herding indeed. Cleary (2): In extreme humility, leaders manage themselves with lowliness. Wu: The jun zi uses humility for self-discipline.",
  :liu
  "The superior man is modest in his modesty. It is favorable to cross the great water. Good fortune.",
  :cleary-1
  "Humble about humility, the superior person thereby crosses great rivers. This is auspicious.",
  :cleary-2
  "Extreme humility. It is fortunate if leaders use this to cross great rivers.",
  :legge
  "A magnetic line at the lowest place in the figure is the fitting symbol of the superior man adding temperance to his temperance. The phrase nourishes his virtue” in the Confucian commentary is literally: pastures himself.” He is all temperance -- that is what makes him who he is.",
  :blofeld
  "The Superior Man, ever modest and retiring, fords the great river -- good fortune! [Any journey undertaken at this time will bring good fortune.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Humbling, Humbling: chun tzu. Availing-of wading the Great River. Significant.",
  :wing
  "If you can carry out your proposed endeavor quietly, competently, and thoroughly, without obvious announcements of your intentions, you can achieve even significant aims. With a modest and disciplined attitude, you do not create resistance or invite challenge.",
  :editor
  "Wilhelm translates the Confucian commentary in terms of lowliness as a technique of self-protection. Blofeld renders it as showing humility in one's self-discipline. Ritsema/Karcher render the verb MU, Herd, as: “tend cattle; watch over, superintend; ruler, teacher;” which recalls Legge's rendering of: pastures himself.” The idea is to use the discipline of will to keep oneself under control. The line is conceptually a kind of shadow” to line one of the following hexagram of Enthusiasm, which see. Sometimes it can have the meaning of reserve” or reservations,” as in taking something with a grain of salt.”",
  :siu
  "At the outset, the man retains his humility and does not press any claims. As a result he is free from challenges and does not encounter resistance. Difficult enterprises can be undertaken successfully.",
  :commentary "",
  :wilhelm-baynes
  "A superior man modest about his modesty may cross the great water. Good fortune.",
  :wu
  "Being humble about his humility, the jun zi can make use of this virtue to cross the big river. It will be auspicious.",
  :shaughnessy
  "So modest is the gentleman; herewith ford the great river; auspicious."},
 :line-5
 {:karcher-say
  "Not affluence: using one's neighbor...” Implicit is the idea that you are in a strong position and needn't belabor the point. The force of arms” is the use of power, and here we have one able to exercise power through a possible alliance with others like herself (neighbors are peers). Psychologically, it suggests an ego able to discipline and unite most of its inner forces in the furtherance of the Work: one summons up an alliance of power to tame recalcitrant elements within the psyche. If this is the only changing line, the hexagram becomes #39, Obstruction (Impasse) the corresponding line of which portrays the arrival of “friends” (allies), thus reinforcing the concept of obtaining some kind of assistance in the matter at hand.",
  :confucius-legge
  "She may use the force of arms to correct those who do not submit. Wilhelm/Baynes: It is favorable to attack with force” in order to chastise the disobedient. Blofeld: Such an attack is warranted if the purpose is to chastise those who do not submit to virtuous laws. [This is not an invitation to use force in any circumstances, but only if its use is directed at what is truly perverse or evil.] Ritsema/Karcher: Chastising, not submitting indeed. Cleary (2): In the sense of overcoming the unruly. Wu: Because they are taken against the insurrection.",
  :liu
  "Do not show off your riches to your neighbor. It is beneficial to attack with force. It is favorable for everything.",
  :cleary-1
  "Not enriching oneself, one shares with the neighbors. It is beneficial to make an invasion, which will profit all.  ",
  :cleary-2
  "Not rich, employing the neighbors, it is beneficial in invasion and attack; all will profit.  ",
  :legge
  "Men honor temperance in itself, whether or not it has the power to command obedience and respect. Hence her neighbors follow the ruler in the fifth line, though she may not be very rich or powerful. Her temperance need not prevent her from asserting her rights, even by the force of arms. Any refusal to submit makes an appeal to force necessary. Even the best and most temperate ruler bears the sword, and must not bear it in vain.",
  :blofeld
  "In treating his neighbors, he is modest about his wealth. If he now attacks the rebels, everything will contribute to his success.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Not affluence: using one's neighbor. Harvesting: availing-of encroaching subjugating. Without not Harvesting.",
  :wing
  "Despite the mild balance that is reached in Moderation, it may be necessary to take forceful action to accomplish your aims. This should not be done with a boastful display of power but with firm, decisive, and objective action. There will be improvement in whatever you undertake.",
  :editor
  "Legge's translation differs from the others, stating that one obtains allies from a position of poverty or relative weakness. Wilhelm, Blofeld and Liu all warn about not touting one's wealth (advantage, strength) to one's neighbors -- using them as allies is not specifically mentioned. On the other hand, Ritsema/",
  :siu
  "The man acts energetically with the use of arms, when necessary, in correcting those who do not submit. Even in severity, however, he retains a considerate demeanor, which attracts devoted followers.",
  :commentary "",
  :wilhelm-baynes
  "No boasting of wealth before one's neighbor. It is favorable to attack with force. Nothing that would not further.",
  :wu
  "He is capable of influencing his neighbors, despite his lack of wealth. It will be advantageous to take military actions. [Military actions are advantageous only if used to quell an insurrection, but certainly not to launch an aggression.]",
  :  "",
  :shaughnessy
  "Not wealthy together with his neighbors; beneficial herewith to invade and attack; there is nothing not beneficial."},
 :number 15,
 :name "Temperance",
 :the-image
 {:legge
  "A mountain hidden within the earth -- the image of Temperance. The superior man, in accordance with this, diminishes his excesses to augment his insufficiencies, thus creating a just balance.",
  :wilhelm-baynes
  "Within the earth, a mountain: the image of Modesty. Thus the superior man reduces that which is too much, and augments that which is too little. He weighs things and makes them equal.",
  :blofeld
  "This hexagram symbolizes a mountain in the centre of the earth. The Superior Man takes from where there is too much in order to augment what is too little. He weighs things and apportions them fairly.  [The component trigrams symbolize a mountain surrounded by flat earth, thus suggesting too much in one place and too little in others.]",
  :liu
  "The mountain within the earth symbolizes modesty. The superior man reduces the excess and increases the lacking; he weighs and then equalizes all things.",
  :ritsema-karcher
  "Earth center possessing mountain. Humbling. A chun tzu uses reducing the numerous to augment the few. A chun tzu uses evaluating beings to even spreading-out.",
  :cleary-1
  "There are mountains in the earth; modesty. Thus does the superior person decrease the abundant and add to the scarce, assessing things and dealing impartially.",
  :cleary-2
  "… Leaders assess people and give impartially, by taking from the abundant and adding to the scarce.",
  :wu
  "There is a mountain inside earth; this is Humility. Thus the jun zi takes excess from the more to enrich the less and measures goods to ensure fair distribution. [To prepare oneself to accept what is fair among all his fellow men is the essence of humility.]"},
 :line-4
 {:confucius-legge
  "In doing this she does not act contrary to the proper rule. Wilhelm/Baynes: He does not overstep the rule. Blofeld: This involves no departure from what is right.  Ritsema/Karcher: Not contradicting by-consequence indeed. Cleary (2): This is the way it is supposed to be. Wu: Because it violates no principle.",
  :liu "To act with modesty is beneficial toward everything.",
  :cleary-1 "Beneficial to all, extending humility.  ",
  :cleary-2 "Beneficial to all, the exercise of humility.  ",
  :legge
  "Line four is magnetic and in her proper place. She is sure to be successful and prosperous, but being so near the fifth-line ruler she should still use the greatest precaution. The proper rule” is the rule proper for her in her circumstances so near the place of the ruler.",
  :blofeld
  "Everything will be propitious for those who cultivate modesty.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Without not Harvesting, demonstrating Humbling.",
  :wing
  "Once the balance of true Moderation is reached, it must be continually maintained. This does not mean simply maintaining the form of Moderation, but continuing to cultivate equilibrium in your character and a sense of responsibility toward your society.",
  :editor "An unambiguous image of temperate action.",
  :siu
  "The man maintains his modesty in the proper perspective. He does not avoid his responsibilities, abuse the ruler's confidence, or conceal the subordinate's merit.  ",
  :commentary "",
  :wilhelm-baynes
  "Nothing that would not further modesty in movement.",
  :wu "Promoting humility is nothing but advantageous.",
  :shaughnessy "There is nothing not beneficial. False modesty."},
 :line-2
 {:confucius-legge
  "She has the virtue in the core of her heart. Wilhelm/ Baynes: He has it in the depths of his heart. Blofeld: The cry reaches the depths of our hearts. Ritsema/Karcher: Centering the heart acquiring indeed. Cleary (2): Good if correct in the sense of attainment of the heart. Wu: Because it comes from the heart.",
  :liu "Modesty is expressed. Continuing brings good fortune.",
  :cleary-1 "Expressing humility is upright and good.",
  :cleary-2 "Expressing humility is good if correct.",
  :legge
  "Line two is magnetic, central, and in her proper place. She represents temperance that has crowed” -- that is, has proclaimed itself.",
  :blofeld
  "Modestly crows the cock. Righteous persistence brings good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Calling Humbling. Trial: significant.",
  :wing
  "By maintaining a careful inner Moderation, your outward actions gain influence and weight. You will now be entrusted with responsibilities. A thoroughness in your actions brings good fortune.",
  :editor
  "Temperance that crows” seems to be a contradiction in terms; nevertheless, the image suggests the expression of temperance in one's behavior. A certain sacrifice of autonomy is implied.",
  :siu
  "Modesty is at the core of the man's being and reveals itself in his outward behavior.",
  :commentary "",
  :wilhelm-baynes
  "Modesty that comes to expression. Perseverance brings good fortune.",
  :wu
  "The subject rolls about humility. With perseverance there will be auspiciousness.",
  :shaughnessy "Calling modesty; determination is auspicious."},
 :judgment
 {:liu
  "Modesty:  success. The superior man can continue to work to the end.",
  :cleary-1
  "Humility is developmental. The superior person has a conclusion.",
  :cleary-2 "Humility gets through. A leader has a conclusion.",
  :legge
  "Temperance indicates successful progress. Temperancebrings a good issue to the superior man's undertakings.",
  :blofeld
  "Modesty brings success. The Superior Man is able to carry affairs through to completion.",
  :ritsema-karcher
  "Humbling,  Growing. A chun tzu possesses completing. [This hexagram describes your situation in terms of the necessity to cut through pride and complication. It emphasizes that keeping your words unpretentious is the adequate way to handle it...]",
  :wilhelm-baynes
  "Modesty creates success. The superior man carries things through.",
  :wu "Humility is pervasive. The jun zi will have grace in death.",
  :shaughnessy "Modesty: Receipt; the gentleman has an end."},
 :line-6
 {:confucius-legge
  "All her aims have not yet been attained. She may employ the force of arms only to correct her own towns and state. Wilhelm/ Baynes: The purpose is not yet attained. Blofeld: Because the ruler's will has yet to be carried out, it is proper to do so.  [This omen can be taken to indicate that we can afford to go forward boldly with our plans, but only if their fruition will tally with the general good. The ruler's will” in this case is roughly synonymous with the public good.] Ritsema/Karcher: Purpose not-yet acquired indeed. Permitting availing-of moving legions. Chastising the capital city indeed. Cleary (2): The aspiration has not been attained. Wu: His aspirations have not been fulfilled … The purpose is to chasten the seditious state.",
  :liu
  "Modesty is expressed. It is favorable to use the army to chastise the city and country.",
  :cleary-1
  "Trumpeting humility, it is profitable to use the army to conquer one’s land.  ",
  :cleary-2
  "Expressing humility, one profits from military operations attacking the country.  ",
  :legge
  "The subject of the magnetic sixth line is outside a game that has been played out. She will use force, but only within her own sphere and to assert what is right. She will not be aggressive. Chu Hsi bases all that is said under line six on its being a magnetic line, so that the temperate ruler is unable even at the close of the action to accomplish all her objects, and must limit her field even in appealing to arms.",
  :blofeld
  "Modestly crows the cock. Now is the time to set armies marching to subdue the cities and the countries of the empire.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Calling Humbling. Harvesting: availing-of moving legions. Chastising the capital city.",
  :wing
  "Your inner development is not yet complete. The time calls for self-discipline. When difficulties arise, do not place the blame upon others. Once you begin to take responsibility for your own destiny you can bring order to your environment.",
  :editor
  "The ruler uses force to attain order in both this and the previous line, but here her influence is confined to immediate objectives. Temperance in this instance is expressed in her awareness of a lack of wholeness in the matter at hand, and of her own limitations in being able to effect completion. Psychologically, to punish your own towns and state:” is to confine your action to the proper discipline of inner responses: emotions, drives, temptations, etc.",
  :siu
  "Even though the man's probity is recognized, his aims are not yet achieved. True modesty begins by disciplining one's own ego and the character of one's immediate circle, without being aggressive beyond.",
  :commentary "",
  :wilhelm-baynes
  "Modesty that comes to expression. It is favorable to set armies marching to chastise one's own city and one's country.",
  :wu
  "The subject rolls about humility. It will be advantageous to use the armies to chasten the seditious state.",
  :shaughnessy
  "Calling modesty; beneficial herewith to move troops to campaign against city and state."},
 :notes-&-para
 {:judgment
  "Temperance means maintaining a dynamic/magnetic balance of forces to attain success.",
  :the-superior-man "maintains equilibrium in all that he does.",
  :the-most-common-translation-of-the-title-for-this-hexagram-is
  "Modesty, but I have chosen Temperance as a title more expressive of the ideas in the Image and Confucian commentary. The words “modesty” and “humility” often carry a connotation of weakness in western usage, and “temperance,” meaning to temper or regulate, is more expressive of the dynamic strength of will required to restrain and modulate the drive to dominate every situation.",
  :the-image-shows-a-mountain-hidden-beneath-the-earth-the-quiet,-invincible-power-of-sheer-will-is-hidden-from-view,-yet-it-influences-everything.-who-observing-such-a-level-surface-would-know-that-the-bulk-of-mt.-everest-was-buried-beneath-it?
  "Temperance means that one's power is hidden, that the fluctuations of heaven and earth are kept in such dynamic/magnetic balance as to be invisible to ordinary vision. The temperate person is strong enough to bear the weight of the world when that is necessary for the Work.",
  :marcus-aurelius,-the-stoic-roman-emperor,-was-arguably-the-most-powerful-man-of-his-time,-yet-his-temperance-and-modesty-showed-him-to-fulfill-the-ideal-of-the-superior-man.-only-the-truly-strong-can-be-truly-modest.
  "",
  :suggestions-for-meditation "",
  :compare-this-hexagram-with-hexagram-number-forty-one,
  "Compensating Sacrifice.  What are the similarities between the two figures? Compare also with hexagram number sixteen, Enthusiasm.  What basic principles of the Work emerge?"},
 :commentary
 {:confucius-legge
  "It is the way of heaven to dispense its blessings downwards, and the way of earth to radiate its influence upwards. Both heaven and earth diminish the full to augment the lowly. Spiritual beings inflict calamity on the proud and bless the meek, and men resent ostentation and love temperance. Temperanceenlightens an honorable office, and neither will men ignore it in lowly positions. Thus does the superior man attain his ends.  [Emphasis editor's -- Ritsema/Karcher translate spiritual beings [Kuei Shen] as: The whole range of imaginal beings both inside and outside the individual; spiritual powers, gods, demons, ghosts, powers, fetishes.”]",
  :legge
  "An essay on temperance rightly follows that on abundant possessions. The third line, dynamic among five magnetic lines, in the topmost place of the trigram of Keeping Still, is the ruler of the hexagram. He is the representative of Temperance -- strong, but self-effacing. The idea is that temperance is the way to permanent success.",
  :the-confucian-commentary-deals-generally-with-the-subject-of-temperance,-showing-how-it-is-valued-by-heaven-and-earth,-by-spirits-and-by-men.-the-descent-of-the-heavenly-influences,-and-the-low-position-of-the-earth-are-both-symbolic-of-temperance.-the-heavenly-influences-are-seen-in-the-daily-fluctuations-of-the-sun-and-moon,-and-the-fertility-of-the-earth-correspondingly-waxes-and-wanes-with-the-seasons.
  "",
  :the-daily-lecture-says
  "The five yin lines above and below symbolize the earth; the one yang line in the center is the mountain in the midst of the earth. The many yin lines represent men's desires; the one yang line represents the heavenly principle. The superior man, looking at this symbolism, diminishes the multitude of human desires within him, and increases the single shoot of the heavenly principle; so does he become grandly just, and can deal with all things evenly according to the nature of each. In whatever circumstances or place he is, he will do what is right.”"},
 :line-3
 {:the-master-said
  "He toils with success, but does not boast of it; he achieves merit, but takes no virtue to himself from it; this is the height of generous goodness, and speaks of the man who with great merit yet places himself below others. He wishes his virtue to be more and more respectful, he who is so modest, carrying his respectfulness to the utmost, will be able to preserve himself in his position.”",
  :confucius-legge
  "The myriads of the people will submit to him. Wilhelm/ Baynes: All the people obey him. Blofeld: The people most willingly submit to him. Ritsema/Karcher: The myriad commoners submitting indeed. Cleary (2): The people submit to leaders who work and achieve yet are humble. Wu: Because he has the support of all the people.",
  :liu
  "The superior man works in a modest way to conclusion. Good fortune.",
  :cleary-1
  "Working with humility, the superior person has a conclusion. This bodes well.  ",
  :cleary-2
  "Leaders who work and achieve yet are humble have an auspicious conclusion.  ",
  :legge
  "Line three is dynamic, and occupies his proper place. He is the lord of the hexagram, to whom all represented by the lines above and below turn.",
  :blofeld
  "The Superior Man, exceedingly hard-working yet modest, brings his affairs to fruition -- good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Toiling Humbling: chun tzu. Possessing completing significant.",
  :wing
  "With an unwavering commitment and hard work, you gain honor and fame. Do not allow such recognition to lead you astray or put you in a compromising position. Maintaining the perseverance that brought you prominence will win you continued support. You can then bring your work to completion.",
  :editor
  "The key idea here is the notion of inferior elements submitting to a calmly devoted superior element. The inferior elements acknowledge their superior and willingly submit to him.",
  :siu
  "The man disregards his fame and acknowledged merit but toils on laboriously and unpretentiously. He is supported by all the people in bringing his works to a successful conclusion.",
  :commentary "",
  :wilhelm-baynes
  "A superior man of modesty and merit carries things to conclusion. Good fortune.",
  :wu
  "Working hard toward humility, the jun zi will have grace in death. This will be auspicious.",
  :shaughnessy
  "Toiling modesty; the gentleman has an end; auspicious."},
 :char \䷎,
 :other-titles
 {:titles
  ("Modesty"
   "The Symbol of Humility"
   "Moderation"
   "Humbling"
   "Respectful/Humble"
   "Yielding/Retiring"),
  :quotes
  ({:author "C.K. Anthony",
    :quote
    "Obtaining this hexagram implies that modesty is needed in our attitude, meaning, to allow ourself to be led without resistance."}
   {:author "Chung Wu",
    :quote
    "A Humble or modest person is thought of as having an “empty or unoccupied” mind, meaning a mind without prejudice."})}}
