{:binary "001111",
 :line-1
 {:anthony
  "Our ego keeps engaged with the negative power through looking at and examining the issue. We may be considering a compromise with the evil element, or remain involved with desire, fear, anger, impatience or anxiety. We must disconnect, not looking at the situation with our mind’s eye.",
  :confucius-legge
  "If no movement is made, what disaster can there be? Wilhelm/Baynes: If one undertakes nothing while exposed to the danger of the retreating tail, what misfortune could befall one? Blofeld:  If you refrain from moving back so far what misfortune can overtake you? Ritsema/ Karcher: Not going wherefore calamity indeed. Cleary (2): If you do not go anywhere, what trouble will there be? Wu: How can retreat in the rear be perilous if he does not undertake it?",
  :liu
  "The tail in retreat. (Someone closely following.) Danger. No undertakings.",
  :cleary-1
  "Withdrawing the tail is dangerous; don’t go anywhere with this.",
  :legge
  "A retiring tail suggests the idea of the subject of the line hurrying away, which would only aggravate the evil and danger of the time.",
  :blofeld
  "Withdrawal to the hindermost point -- trouble! It is useless to seek any goal or destination at such a time.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Retiring tail, adversity. No availing-of possessing directed going.",
  :wing
  "Your position in the situation is in close proximity to an adversary. It would have been to your advantage to Retreat earlier. Do not take any action now, as it will only invite danger.",
  :editor
  "In vulgar English: Your ass is exposed! This suggests the analogy of being threatened by a barking dog -- the surest way to be bitten is to show fear and run. The best strategy is to remain as calm as possible, and then slowly back off. Ritsema/Karcher's definition of adversity includes the idea of a malevolent spiritual force: pacifying or exorcizing such a spirit can have a healing effect.",
  :siu
  "At the outset, the man is in a perilous position at the end of the retreating column still in contact with the enemy. No action should be undertaken under such circumstances.",
  :commentary "",
  :wilhelm-baynes
  "At the tail in retreat. This is dangerous. One must not undertake anything. [Since the hexagram is the picture of something that is retreating, the lowest line represents the tail and the top line the head. In a retreat it is advantageous to be at the front.]",
  :wu
  "To retreat in the rear is perilous. He should not undertake it.",
  :shaughnessy
  "Wield the tail; danger; do not herewith have any place to go."},
 :line-5
 {:confucius-legge
  "This is due to the rectitude of his purpose. Wilhelm/ Baynes: Because the will thereby reaches a correct decision. Blofeld: This results from a withdrawal carried out as a result of rectifying our aims. [I.e. revising them in the light of unfavorable circumstances.]Ritsema/Karcher: Using correcting the purpose indeed.) Cleary (2): Because of right aspiration. Wu: He needs to put his aims in the right perspective.",
  :liu "Appropriate retreat. To continue brings good fortune.",
  :cleary-1 "Excellent withdrawal; correctness is auspicious.",
  :legge
  "The K'ang-hsi editors refer to the words of I Yin as an illustration of what is said in line five: The superior man will not for favor or gain continue in an office whose work is done. He advances or withdraws according to the character of the time. The strength and correct position of the fifth line show that he is able to maintain himself, and as he is responded to by the magnetic second line, no opposition would come from any of the others. Therefore, he is free to keep his place, but since he recognizes the advance of inferior men in lines one and two, he deems it better to withdraw from the field for a time. Thus there is successful progress even in his retreat.",
  :blofeld
  "An admirably carried out withdrawal. Persistence in a righteous course brings good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Excellence Retiring, Trial: significant.",
  :wing
  "Make your Retreat friendly but firm. Do not be drawn into irrelevant discussions or considerations concerning your decisions. A persevering withdrawal brings good fortune.",
  :editor
  "Both Legge and Blofeld use the concept of rectification in their translations of the Confucian commentary. [Rectify: 1.a: to make or set right: remedy. 2.a: to restore to a healthy state.] The idea is that one must pleasantly but firmly disassociate oneself from an inferior alliance -- the only hope of improvement lies in withdrawal from the scene.",
  :siu
  "The man recognizes the proper time for an admirable retirement with necessary amenities and without disagreeableness. Firmness in the rectitude of his purpose is necessary to guard against being misled by irrelevant issues.",
  :commentary "",
  :wilhelm-baynes
  "Friendly retreat. Perseverance brings good fortune.",
  :wu "The commendable retreat is auspicious if persevering.",
  :shaughnessy "Enjoyable wielding; determination is auspicious."},
 :number 33,
 :name "Retreat",
 :the-image
 {:legge
  "A mountain beneath the sky -- the image of Retreat. The superior man keeps inferior men at a distance by his dignified bearing rather than hostility.",
  :wilhelm-baynes
  "Mountain under heaven: the image of Retreat. Thus the superior man keeps the inferior man at a distance, not angrily but with reserve. [He does not hate him, for hatred is a form of subjective involvement by which we are bound to the hated object.]",
  :blofeld
  "This hexagram symbolizes mountains beneath the sky. The Superior Man, by keeping his distance from men of inferior character, avoids having to display wrath and preserves his dignity. [The component trigrams, symbolizing mountain and sky, indicate withdrawal to a solitary place when circumstances are unfavorable.]",
  :liu
  "The mountain beneath the sky symbolizes Retreat. The superior man keeps his distance from the inferior, not with anger, but with dignity.",
  :ritsema-karcher
  "Below heaven possessing mountain. Retiring. A chun tzu uses distancing Small People. A chun tzu uses not hating and-also intimidating.",
  :cleary-1
  "There are mountains under heaven, which is inaccessible. Thus do superior people keep petty people at a distance, being stern without ill will.",
  :cleary-2
  "… Being strict without ill will.[Petty people can be useful, so there is no ill-will, but their pettiness cannot wield authority, so be strict. In terms of learning to be a sage, the celestial ruler is the master, and the physical body takes orders from it, so that the desires of the various parts of the body cannot cause disturbance.]",
  :wu
  "There is a mountain under heaven; this is Retreat. Thus the jun zi distances himself from the little men, not because of despising them, but because of maintaining his own esteem. [The difference between the jun zi and the little men is one of education and not of birth. Confucius was a teacher first and a philosopher second, for he said: “Education is classless.” Every one of us has the potential of becoming a sage.]"},
 :line-4
 {:confucius-legge
  "A superior man retires notwithstanding his likings; an inferior man cannot attain to this. Wilhelm/Baynes: The superior man retreats voluntarily; this brings downfall for the inferior man. Blofeld:  For when, quite rightly, the Superior Man withdraws, lesser men are bound to suffer. Ritsema/ Karcher: A chun tzu lovingly Retiring. Small People obstructing indeed. Cleary (2): Developed people withdraw well; petty people do not. Wu: The Jun zi uses retreat to his advantage, but the little man doesn’t.",
  :liu
  "Voluntary retreat is good fortune for the superior man, but not for the inferior man.",
  :cleary-1
  "A superior person who withdraws well is fortunate, an inferior person is not.",
  :cleary-2
  "Developed people who withdraw in the right way are fortunate; petty people are not.",
  :legge
  "Line four has a proper correlate in the magnetic first line, but as four is the first line in the upper trigram of Strength, he is free to exercise his choice.",
  :blofeld
  "Withdrawal for good reasons -- for the Superior Man, good fortune; for people of mean attainments, misfortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Loving Retiring. A chun tzu significant. Small People obstructing.",
  :wing
  "If you recognize the moment for Retreat, be certain that you do so with the proper attitude -- that is, willingly. In this way you will adjust easily and progress in your new environment. Those who are filled with emotional turmoil during withdrawal will suffer greatly.",
  :editor
  "Psychologically interpreted, to retire notwithstanding one's likings is to exercise willpower over an inferior impulse for the good of the Work. The image suggests that you have the requisite strength to do this. It is a truism that when positive libido is withdrawn from something, unsupported inferior forces must wane.",
  :siu
  "The man withdraws, despite his desire to do otherwise. The superior man can retreat in a friendly way, adjusting to the situation, and retaining his convictions. The inferior man is unable to do this.",
  :commentary "",
  :wilhelm-baynes
  "Voluntary retreat brings good fortune to the superior man and downfall to the inferior man.",
  :wu
  "To retreat from what he is fond of is easy for a Jun zi, but not so for a little man.",
  :shaughnessy
  "Good wielding; for the gentleman auspicious, for the little man negative."},
 :line-2
 {:anthony
  ": Our own inferiors want, and ultimately have a right to justice. Justice may not, however, be procured through the demands and leadership of our ego. It will come about only through the firm leadership of our superior self, which through perseverance and disengagement, wins the help of the hidden world.",
  :confucius-legge
  "Her purpose is firm. Wilhelm/Baynes: This means a firm will.  Blofeld:  This symbolizes a powerful will.Ritsema/Karcher: Firm purpose indeed. Cleary (2): (This) means making the will firm. Wu: Indicates a firm will.",
  :liu
  "If his will is strong, like yellow ox-hide, no one can dissuade him.",
  :cleary-1
  "Use the hide of a yellow ox to fasten this; no one can loosen it.",
  :legge
  "Her purpose in line two is the purpose to withdraw. The magnetic two responds correctly to the dynamic fifth line, and both are central. The purpose therefore is symbolized as in the text. The yellow color of the ox is introduced because of its being correct, and of a piece with the central place of the line.",
  :blofeld
  "He bound it with thongs of yellow ox-hide and no one could untie it.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Holding-on-to it: availing-of yellow cattle's skin. Absolutely-nothing has mastering stimulating.",
  :wing
  "You lack sufficient strength to make a complete withdrawal. If you can maintain a strong desire to Retreat or align yourself with one in a position to guide you, you can make your escape.",
  :editor
  "There is a fair amount of ambiguity in this line, and the meaning can fluctuate according to circumstances. Most translations refer to will or purpose in either the line or its Confucian commentary -- this is a reference to the strong ox-hide. Because the meaning of the hexagram is derived from the symbolism of inferior forces encroaching from below (which includes this line), it could be interpreted as a tenacious negative influence operating in the situation. Will associated with an inferior entity could relate to the uncanny power of instincts and passions within the psyche. On the other hand, the ox-hide is yellow, and this is the color of the mean. The line is also central with a proper correlate, so the auspice can also be positive. Wilhelm comments that it symbolizes an inferior man who wants to change his status, and holds fast to the superior man above him. He likens the situation to Jacob's battle with the angel in Genesis 32:",
  :siu
  "The man holds fast to the purpose of withdrawal but with due moderation.",
  :commentary "",
  :wilhelm-baynes
  "He holds him fast with yellow ox-hide. No one can tear him loose.",
  :wu
  "He holds fast to his decision with the hide of a yellow cow. Nobody can dissuade him.",
  :shaughnessy
  "Uphold it using a yellow ox's bridle; no one will succeed in overturning it."},
 :judgment
 {:liu "Retreat. Success. To persist in small matters is of benefit.",
  :cleary-1
  "Withdrawal is developmental. The small is beneficial and correct.",
  :cleary-2 "Withdrawal is successful. Small benefit is correct.",
  :legge
  "Retreatmeans successful progress. Advantage comes from firm correctness and attention to details.",
  :blofeld
  "Yielding. Success! Persistence in small things wins advantage. [Much of the teaching of the Book of Change is concerned with the wisdom of restraint or withdrawal as the best way of achieving our goal under certain circumstances; so this hexagram is not necessarily unfavorable to the wise. This is not a time when we can hope to achieve much; but attention to small matters will stand us in good stead later.]",
  :ritsema-karcher
  "Retiring, Growing. The small: Harvesting Trial.  [This hexagram describes your situation in terms of conflict and consequent seclusion. It emphasizes that withdrawing from the affairs at hand to conceal yourself in obscurity is the adequate way to handle it. To be in accord with the time, you are told to: retire!]",
  :wilhelm-baynes
  "Retreat .  Success. In what is small, perseverance furthers.",
  :wu
  "Retreat indicates pervasion. It will be advantageous for the little men to be persevering.",
  :shaughnessy "Wielding: Receipt; little beneficial to determine."},
 :line-6
 {:confucius-legge
  "He who does so has no doubts about his course.  Wilhelm/ Baynes:  Because there is no longer any possibility of doubt. Blofeld: In this case, there cannot be the smallest doubt.  [I.e. not the smallest doubt as to the wisdom of withdrawal.] Ritsema/Karcher: Without a place to doubt indeed. Cleary (2): Wu: His mind is free from doubt.",
  :liu "Retreat after success. Everything is favorable.",
  :cleary-1 "Rich withdrawal is wholly beneficial.",
  :cleary-2 "Withdrawal of the rich is beneficial to all.",
  :legge
  "Line six is dynamic, with no correlate in line three to detain him. He vigorously and happily carries out the idea of the hexagram.",
  :blofeld
  "A sleek withdrawal -- everything is favorable! [The Chinese commentators suggest that this means going to live in retirement. They add that the phrase also implies excellent health.]",
  :notes-and-paraphrases "",
  :ritsema-karcher "Rich Retiring, without not Harvesting.",
  :wing
  "You are sufficiently removed from the situation and able to Retreat without guilt or doubt. Here you are blessed with great good fortune. You will find rewarding success in your endeavors.",
  :editor
  "The image suggests that you already know what to do in the situation at hand -- remove yourself without further ado.",
  :siu
  "No doubt exists as to the need for retirement. The man resigns in a gracious manner.",
  :commentary "",
  :wilhelm-baynes "Cheerful retreat. Everything serves to further.",
  :wu "Retreat at his leisure is never disadvantageous.",
  :shaughnessy "Fattened wielding; there is nothing not beneficial."},
 :notes-&-para
 {:judgment
  "When carried out with shrewd discernment, Retreat is a strategy for success.",
  :the-superior-man
  "removes himself from disintegrating forces without calling attention to himself. He controls his weaknesses by maintaining his serious purpose.",
  :with-the-possible-exception-of-line-two,-there-is-very-little-ambiguity-in-the-hexagram-of
  "Retreat. Without changing lines it is a clear injunction to remove yourself from an inferior situation, influence, emotion or way of thinking. The figure has certain affinities with hexagram number forty- four: Temptation which also depicts an inferior element encroaching from below.",
  :suggestions-for-meditation "",
  :compare-hexagrams-number-forty-four,
  "Temptation; number thirty-three, Retreat; and number twelve, Divorcement; in that order. What are the next three logical hexagrams in the sequence, and what are the implications of the series as a whole?"},
 :commentary
 {:confucius-legge
  "There is progress in Retreat. The dynamic ruler in the fifth place receives a proper response from his correlate in line two. The action is in accordance with the requirements of the time because what is inferior is gradually increasing and advancing. The actions required during a Retreat are of great significance.",
  :legge
  "Retreat  is the hexagram of the sixth month when the yin influence, represented by the two magnetic lines, has established a foothold. This suggests the growth of inferior and unprincipled men in the state, before whose advance superior men are obliged to retire. Yet the auspice of Retreat is not all bad. By firm correctness the threatened evil may be arrested to some extent. Ch'eng-tzu says: “Below the sky is the mountain. The mountain rises up below the sky, and its height is arrested, while the sky goes up higher and higher, till they come to be apart from each other. In this we have an emblem of retiring and avoiding.”",
  :anthony
  "The correct time for retreat comes when others are not receptive to us, when delicacy of feeling is lost, when we begin to be attacked by doubt, or when our actions no longer yield progress. The person who can hold his ego in check has many creative moments open to him."},
 :line-3
 {:confucius-legge
  "The peril is due to distress and exhaustion. A great affair cannot be dealt with in this way. Wilhelm/Baynes: The danger of a halted retreat is nerve- wracking; this brings fatigue. To retain people as men-and maidservants brings good fortune. True enough, but one cannot use them in great things.  Blofeld:  The evils referred to here are those attendant on extreme fatigue. Though supporting servants and concubines brings good fortune, it does not lead to achieving anything of consequence.  [Seemingly, Confucius, always inclined to be austere, does not altogether approve of this type of good fortune.]Ritsema/Karcher: Possessing afflicting weariness indeed. Not permitting Great Affairs indeed. Cleary (2): Affliction and exhaustion. Not suitable for great works. Wu: Illness can be wasting. No big business is achievable.",
  :liu
  "Retreat with entanglements is dangerous and leads to illness. Take care of women and subordinates. Good fortune.",
  :cleary-1
  "Entangled withdrawal has affliction, but it is lucky in terms of feeding servants and concubines.",
  :cleary-2
  "Entangled in withdrawal, there is affliction and danger, but feeding servants and concubines leads to good results.",
  :legge
  "Line three has no proper correlate in line six, and he allows himself to be entangled and impeded by the first and second lines. Because he is too familiar with them they are presumptuous and fetter his movements. He should keep them at a distance.",
  :blofeld
  "Yielding under constraint results in ills and trouble, but there is good fortune in store for those who are supporting servants and concubines.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Tied Retiring. Possessing afflicting adversity. Accumulating servants, concubines, significant.",
  :wing
  "You've been held back from Retreat and consequently are in the center of a difficult situation. Inferior persons or ideals may surround you. They can be used to insulate you from further difficulties, but you can accomplish nothing significant while fettered by inferior elements.",
  :editor
  "The image suggests being held back by inferior or subordinate forces within the situation. Ritsema/Karcher explain that Possessing afflicting adversity can connote a spirit that seeks revenge by inflicting suffering on the living. Pacifying or exorcizing such a spirit can have a healing effect. (I have received this line when exactly that meaning was implied in the query.) Psychologically, sublimation is indicated. This is the art of making negative energy sublime, i.e.: positive. Servants and concubines sometimes symbolize subconscious complexes: their libido can be either positive or negative, depending upon how it is treated. Remember that the proper nourishment of libido is not the same as indulging it.",
  :siu
  "The man loses his freedom of action during retreat. The hangers-on impede and fetter his movements. The expedient course of action is to employ them in such a way as to retain the initiative. But he must maintain an appropriate distance from them and not rely on expedient actions of this kind in dealing with important matters.",
  :commentary "",
  :wilhelm-baynes
  "A halted retreat is nerve-wracking and dangerous. To retain people as men-and maidservants brings good fortune.",
  :wu
  "The subject of this yang position feels that he is attached to the occupant of the second (line), a yin position. This sentimental attachment, symbolized here as the string attachment, hinders his freedom to retreat. Under these circumstances it is all right for him to handle small matters, such as hiring domestic help, but no big business.",
  :shaughnessy
  "Do the wielding; there is sickness; danger; keeping servants and consorts is auspicious."},
 :char \䷠,
 :other-titles
 {:titles
  ("The Symbol of Retirement"
   "Yielding"
   "Withdrawal"
   "Retiring"
   "Wielding"
   "Strategic Withdrawal"
   "Inaccessibility"
   "Disassociation from Inferior Forces"),
  :quotes
  ({:author "D. F. Hook",
    :quote
    "“When an opportunity for something better comes along, do not quarrel with an impossible situation.”"})}}
