{:binary "001110",
 :line-1
 {:confucius-legge
  "Her mind is set on what is beyond herself. Wilhelm/ Baynes: The will is directed outward. Blofeld: This implies that the will is fastened upon external matters. Ritsema/Karcher: Purpose located outside indeed. Cleary (2): The aspiration is outside. Wu: His affection is outward.",
  :liu
  "Stimulation in the big toe. [If you get this line you will plan an undertaking, but if it is planned hastily, it will be difficult to carry out.]",
  :cleary-1
  "Sensing in the big toe is inauspicious. [The big toe can move but not walk; to feel something one can not carry out is not right sensing. This is sensitivity that stirs the human mentality.]",
  :cleary-2 "Sensing in the big toe.",
  :legge
  "The first line is magnetic at the commencement of the figure. Although the fourth line is a proper correlate, his influence will be ineffective. However much she moves her toes, that won't enable her to walk. What is beyond herself is represented by the fourth line. There is the desire to influence but no strength and/or ability to do so.",
  :blofeld "Sensation in the toe.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Conjoining one's big toes.",
  :wing
  "There is something in the air. Perhaps it's the beginning of a compelling attraction or an idea just coming to light. Whatever it is, it is of little significance, since a great deal more must be done to make it a reality.",
  :editor
  "Although the image is simple, the concept behind it is not. Wilhelm's commentary suggests the idea of a hidden influence, a latent force within the situation, which has not yet become apparent. This energy is focused on what is beyond itself -- i.e., it wants to become manifest, but as yet is not powerful enough to do so. (There is a suggestion of impatience to take action.) At its most neutral, the line can image a concern with something distant in time or space -- even an abstract idea. Legge's Confucian commentary is a good paraphrase.",
  :siu
  "At the outset, something is beginning to happen which is not yet apparent to everyone.",
  :commentary "",
  :wilhelm-baynes "The influence shows itself in the big toe.",
  :wu "He moves his big toes.",
  :shaughnessy "Feeling his big toe."},
 :line-5
 {:confucius-legge
  "He tries to move the flesh along the spine above the heart -- his aim is trivial. Wilhelm/Baynes: The will is directed to the ramifications. Blofeld: This betokens inability to impose our will as yet. Ritsema/Karcher: Purpose, the tips indeed.  [Tips:, MO: growing ends, outermost twigs; last, most distant.]Cleary (2): The aim is concluded. Wu: His affection is at the top.",
  :liu
  "Stimulation in the middle of the back. No remorse. [Conflict. Perhaps one's strong opinions ... will create discord ... One can expect difficulty in carrying out his plans. Only small ventures will succeed.]",
  :cleary-1
  "Sensing in the flesh of the back, there is no regret. [What separates the mind of Tao from the human (ego) mind is but a hairbreadth; sensing it in the flesh of the back means it is near the heart …The mind that is not mind is called the true mind … It is open awareness unobscured … This is sensitivity preserving the mind of Tao without the human mentality.]",
  :legge
  "The symbolism of line five refers to a part of the body behind the heart, and is supposed to indicate an ineffective influence. The triviality of the aim explains the ineffectiveness of the movement, but since it is free from selfish motivations it is nothing to be repented of.",
  :blofeld
  "Sensation in the fleshy covering of the spinal column -- no regret.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Conjoining one's neck. Without repenting.",
  :wing
  "Look within to determine the depth of your influence on external matters. People with a profound inner resolve can accomplish much. Those with shallow roots cannot exert significant external influence.",
  :editor
  "Despite the no remorse, this is can be a less than positive line. The influence here doesn't come from the heart, but from a region near the heart: it isn't that the motivations are insincere, it's that they miss the mark. Trivial (Legge, Siu) means of little or no value -- a fair synonym for illusion. At a deeper level, Wilhelm comments: What takes place in the depths of one's being, in the unconscious, can neither be called forth nor prevented by the conscious mind. It is true that if we cannot be influenced ourselves, we cannot influence the outside world.” If this is the only changing line, the new hexagram is number 62, Small Powers,with its corresponding line portraying a lack of understanding of hidden matters. This can sometimes imply things within the situation which are beyond the ego's immediate comprehension.",
  :siu
  "The man's goals are trivial, although free from selfish motives.",
  :commentary "",
  :wilhelm-baynes
  "The influence shows itself in the back of the neck. No remorse.",
  :wu "He moves his upper back muscles. There will be no regret.",
  :shaughnessy "Feeling his (thigh:) spine; there is no regret."},
 :number 31,
 :name "Initiative (Influence)",
 :the-image
 {:legge
  "The image of a marsh over a mountain forms Initiative. The superior man frees his mind of preoccupation so that he is open to the influence of others. [Lit: Thus the superior man receives people by virtue of emptiness.]",
  :wilhelm-baynes
  "A lake on the mountain: the image of Influence. Thus the superior man encourages people to approach him by his willingness to receive them.",
  :blofeld
  "This hexagram symbolizes a lake situated upon a mountain. In dealing with men, the Superior Man shows himself to be entirely void of selfishness.",
  :liu
  "The lake on top of the mountain symbolizes Attraction. With a humble manner the superior man receives people.",
  :ritsema-karcher
  "Above mountain possessing marsh. Conjoining. A chun tzu uses emptiness to acquiesce people.",
  :cleary-1
  "There is a lake on a mountain. Thus does the superior person accept people with openness.",
  :cleary-2
  "There is a lake atop a mountain – Sensing. Developed people accept others with openness.",
  :wu
  "There is a marsh in the mountain; this is Affection. Thus the jun zi receives people with humility."},
 :line-4
 {:confucius-legge
  "There has not yet been any harm from a selfish wish to influence, yet his power to influence is neither brilliant nor great. Wilhelm/ Baynes: In this way one does not stir up anything injurious. Thoughts going hither and thither in agitation: by this one shows that one has as yet no clear light. Blofeld: Persistence rewarded and the vanishing of regret both result from our not having incited anyone to evildoing, but this irresolute conduct scarcely indicates clarity of mind on our part. [This suggests the rather negative good fortune of having a clear conscience; apparently we have little reason for self- congratulation, since our rather spineless conduct alienates everyone who is not bound to us by ties of blood or friendship.]Ritsema/Karcher: Not-yet influencing harming indeed. Not-yet the shining great indeed. Cleary (2): One has not yet sensed danger. One is not yet great. Wu: He has not done anything brilliant.",
  :liu
  "To carry on reaps good fortune; remorse disappears. If his mind is not quiet and his thoughts go back and forth, only his friends will follow his ideas.",
  :cleary-1
  "Rectitude brings good fortune, and regret disappears. Coming and going with an unsettled mind: companions follow your thoughts. [Thoughts that “come along with companions” obscure the mind of Tao by the human mentality.]",
  :cleary-2
  "Correctness brings good fortune, and regret disappears. Coming and going ceaselessly, companions follow your thoughts.",
  :legge
  "Line four is dynamic, but in a magnetic and receptive place. It is the",
  :blofeld
  "Righteous persistence brings good fortune and regret vanishes; but only friends and immediate followers will waste their thoughts on one who dithers irresolutely to and fro.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Trial significant, repenting extinguished. Wavering, wavering: going, coming. Partnering adheres-to simply pondering.",
  :wing
  "The desire to influence a specific person or situation is now enhanced. Do not become calculating or manipulative in your efforts. Instead, take a unilateral approach by displaying the strength of your convictions in all that you do. By remaining consistent in all matters you will achieve your goal.",
  :from-the-great-treatise
  "-- It is said in the I Ching: Full of anxious thoughts you go and come; only friends will follow you and think with you. The Master said: In all the processes taking place under heaven, what is there of thinking? What is there of anxious scheming? They all come to the same successful issue, though by different paths. There is one result, though there might be a hundred anxious schemes. What is there of thinking? What is there of anxious scheming?”",
  :editor
  "The Confucian commentary from the Great Treatise hints at the subtle truth behind this line. When the ego has attained true tranquility, all initiative comes directly from the Self. If the ego is unsettled in its movements, only its friends (analogous complexes within the psyche) will respond. Sometimes the message here is to have the discipline not to meddle with a natural process.",
  :siu
  "No harm has yet been incurred from a selfish wish to influence. But neither is the man's power of any great consequence. He is too indecisive and unsure of himself to move anyone beyond his own circle of friends.",
  :seat-of-the-mind,-and-its-subject-is-therefore-warned-to-be-firm-and-correct-in-order-to-get-a-good-issue.-if-he-is-wavering-and-uncertain,-his-influence-won't-extend-beyond-his-circle-of-friends.
  "",
  :commentary "",
  :wilhelm-baynes
  "This is a strong line in a weak place, hence it has a twofold possibility. It can remain firm and, resisting the temptation to use special influence, quietly make itself felt as one of the rulers of the hexagram, by virtue of its character; in this case it does not stimulate anything injurious, since it is in harmony with the right. Or it can instead yield to the influence of the six at the beginning, to which it is related. Thereby it limits its influence; everything is shifted onto the conscious plane, and the inner light darkens.",
  :wu
  "From perseverance will come auspiciousness. Regret will fade away. His mind vacillates, but his friends will be able to follow his thoughts.",
  :shaughnessy
  "Determination is auspicious; regret is gone. So undecided going and coming, a friend follows you in thought."},
 :line-2
 {:confucius-legge
  "If she abides quietly in her place and complies with the circumstances of her condition there will be no injury. Wilhelm/Baynes: Even though misfortune threatens, tarrying brings good fortune. One does not come to harm through devotion.  Blofeld:  If we gladly accord with others, we shall come to no harm. Ritsema/Karcher: Yielding, not harming indeed. Cleary (2): Because obedience does no harm. Wu: His rash move will be foreboding. Patience will turn into good fortune, as observance will keep out humiliation.",
  :liu
  "Stimulation in the calves of the legs. Misfortune. Stillness invites good fortune.",
  :cleary-1
  "Sensing in the calf is inauspicious. Biding is auspicious.",
  :cleary-2 "Sensing in the calf bodes ill. To stay put bodes well.",
  :legge
  "The calves cannot move of themselves -- they follow the moving of the feet. She is too anxious to move. However, she is magnetic and central, so if she abides quietly in her place until she is acted upon from above, there will be good fortune.",
  :blofeld
  "Sensation in the legs -- misfortune! [I.e. Misfortune if we yield to the urge to exercise our legs by going somewhere else.] Good fortune comes to those who do not venture forth.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Conjoining one's calves. Pitfall. Residing significant.",
  :wing
  "You may feel compelled to move, to take some kind of action, yet you really don't know what you're doing. It's a little like sleepwalking. Avoid action until you wake up to what's going on. Otherwise there is some danger of getting into trouble.",
  :editor
  "This image of the calves of the legs might be rendered in Western idiom as knee-jerk responses. The meaning is analogous, if not identical.",
  :siu
  "The influence of the man increases, yet it is not obvious. He is eager to act but should wait for more favorable circumstances.",
  :commentary "",
  :wilhelm-baynes
  "The influence shows itself in the calves of the legs. Misfortune. Tarrying brings good fortune.",
  :wu
  "He moves his calves. It will be foreboding. Should he stay, there will be good fortune.",
  :shaughnessy
  "Feeling his calf; inauspicious; to dwell is auspicious."},
 :judgment
 {:liu
  "Attraction. Success. To continue is of benefit. To marry a girl is good fortune.",
  :cleary-1
  "Sensitivity is developmental. It is beneficial to be correct. Marriage brings good fortune.",
  :cleary-2
  "Sensing gets through, beneficial if correct. Marriage is auspicious.",
  :legge
  "Upon fulfillment of the conditions implied in Initiative, there will be free course and success. Advantage depends upon firm correctness, as in marrying a young lady. Good fortune.",
  :blofeld
  "Attraction. Success! Righteous persistence brings reward. Taking a wife will result in good fortune.",
  : "",
  :ritsema-karcher
  "Conjoining,  Growing. Harvesting Trial. Grasping womanhood significant. [This hexagram describes your situation in terms of the influence that separated parts of an intrinsic whole have on each other. It emphasizes that bringing these parts into contact is the adequate way to handle the situation...]",
  :wilhelm-baynes
  "Influence. Success. Perseverance furthers. To take a maiden to wife brings good fortune.",
  :wu
  "Affection indicates pervasion and advantage to be persevering. There will be good fortune to marry a young woman.",
  :shaughnessy
  "Feelings : Receipt; beneficial to determine; to take to wife a woman is auspicious."},
 :line-6
 {:confucius-legge
  "She only talks with loquacious mouth. Wilhelm/Baynes: He opens his mouth and chatters. Blofeld:  This is a way of saying that we open wide our mouths and talk too much. Ritsema/Karcher: The spouting mouth stimulating indeed. Cleary (2): Sensing in the jaws and tongue is speaking a lot. Wu: He likes chattering.",
  :liu "Stimulation in the jaws and tongue.",
  :cleary-1
  "Sensing in the jaws and tongue. [When the mouth moves, the mind moves. This is sensitivity using the human mentality, utterly lacking the mind of Tao.]",
  :legge
  "Line six is magnetic in a magnetic place at the top of the trigram of Frivolity. Her influence by means of speech will only be that of garrulous flattery.",
  :blofeld "Sensation in the jaws and the tongue.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Conjoining one's jawbones, cheeks, tongue.",
  :wing
  "Words are only words. Ideas mean little unexecuted. What are you doing?",
  :editor
  "The divided line at the top of the upper trigram is said to symbolize an open mouth. To talk is to use words, and words are a product of the mental realm. The image is of empty rhetoric -- perhaps a too-intellectual approach to the situation at hand. This blather can be inner as well as outer, and the line sometimes refers to the excesses of reason and logic which can blind us to the truths of an expanded awareness. Often in the course of the Work we are severely tested by choices which demand the abandonment of common sense in favor of faith in the Self to carry us to a realm transcending reason. Such tests are excruciating, and often we fail them because we cannot let go of our faith in logic, words and common sense. Compare with line five of Hexagram 52.",
  :siu
  "The man resorts to superficial ways of influencing others through nothing but talk. The results are negligible.",
  :commentary "",
  :wilhelm-baynes
  "The influence shows itself in the jaws, cheeks, and tongue.",
  :wu "He moves his tongue and cheeks.",
  :shaughnessy "Feeling his cheeks, jowls, and tongue."},
 :notes-&-para
 {:the-superior-man
  "clears his mind and remains receptive to the will of the Self.",
  :compare-the-concepts-in-this-hexagram-with-hexagram-number-fifty-four,
  "Propriety; number fifty-three, Gradual Progress; and number eleven, Harmony. How do they all deal with the symbol of marriage as an aspect of the Work? Compare the first three lines with hexagram number 52,Keeping Still.",
  :initiative-1
  ": an introductory step or movement: an act designed to originate or set on foot, as a process or train of events. Often used in the phrase: on one's own initiative, as in: Don't blame me, he acted on his own initiative.",
  :the-self-(the-causal-body-of-theosophy)-dwells-beyond-the-restrictions-of-spacetime-and-is-pre-eminently-suited-for-directing-the-work,-since-it-can-"see-ahead”-so-to-speak,-and-it-knows-the-effects-of-all-of-the-available-choices.-the-ego,-on-the-other-hand,-dwells-in-spacetime-and-is-able-to-take-action-by-its-choices-it-makes-or-breaks-the-work.-the-ideal-reciprocity-between-ego-and-self-is-a-simple-and-logical-division-of-labor--the-self-can-see-ahead-but-cannot-take-direct-action,-and-the-ego-can-take-direct-action-but-cannot-see-ahead.-for-the-ego-to-act-without-direction-from-the-self-is-to-grope-blindly-in-the-dark--and-the-work-clearly-cannot-progress-under-such-circumstances.-the-superior-man-therefore,
  "clears his mind and remains receptive to the will of the Self.” Obviously, it takes time to learn how to do this properly; in its initial stages, that's what the Work is all about.",
  :initiative
  "is the first hexagram of Part II of the I Ching. Why do you suppose the book was divided into two unequal sections? Why did the division appear between the thirtieth and thirty-first hexagrams? (An even division would be between the thirty-second and thirty-third.)",
  :judgment
  "Initiative succeeds only when it originates from the Self.",
  :symbolism-works-on-many-levels,-and-blofeld's-aborted-insight-does-apply-to-some-of-them.-it-is-an-established-fact-that-the-sentences-in-question-accurately-describe-tantric-sexual-techniques-practiced-in-the-orient-for-millennia.-to-understand-the-principles-of-the-work-we-must-be-able-to-see-the-"obvious"-as-symbolic-of-an-abstraction--and-vice-versa.-sexual-polarity-is-a-very-tricky-and-volatile-symbol-because-we-are-predisposed-to-confine-it-to-its-most-literal-meaning.-the-hardest-part-of-symbolic-interpretation-is-to-know-where-in-the-continuum-a-specific-symbol-belongs-in-any-given-situation.
  "",
  :the-judgment-states-that-the-situation-can-be-furthered-only-by-the-firm-correctness-associated-with-the-proper-contracting-of-a-marriage.-we-already-know-that-the-symbolism-of-marriage-refers-to-a-union-of-opposites-within-the-psyche.-to-understand-what-is-meant-by-the-proper-contracting-of-a-marriage,-we-need-only-look-at-hexagram-number-fifty-four,
  "Propriety (The Marrying Maiden), to see the improper way to do it -- that is, when the woman takes the initiative.",
  :the-hermetic-tradition-describes-it-this-way "",
  :what-insights-does-the-alchemical-concept-of-the
  "Unus Mundus bring to bear on these questions?",
  :the-second-and-third-sentences-in-the-confucian-commentary-elicit-the-sexual-symbolism-in-this-hexagram-quite-clearly
  "The [female] trigram is above and the [male] trigram is below -- their two influences move, respond and unite with each other. The male is placed below the female -- his repression is her satisfaction and brings fulfillment.” Blofeld comments on this in a footnote:",
  :suggestions-for-meditation "",
  :in-the-contracting-of-a-marriage-between-heaven-and-earth-(uniting-the-polarities-within-the-divided-psyche),-the-ego-must-learn,-usually-through-great-suffering,-that-its-correct-role-is-a-magnetic-one-in-relation-to-that-of-the-self.-the-work-cannot-progress-until-this-lesson-has-been-learned-and-accepted-completely.-as-long-as-the-ego-insists-on-taking-dynamic-initiative-“as-usual"-in-the-illusory-world-of-appearances,-the-results-can-only-be-the-kind-of-objective-world-we-inhabit--one-of-chaos-and-strife.-the-lesson-of-this-hexagram-then,-is-the-realization-that-the-only-correct-source-of-power-lies-with-the-self,-and-that-the-ego-must-yield-to-that-source-as-a-bride-to-her-bridegroom.-(unfortunately,-the-contemporary-relationship-between-the-sexes-has-become-so-confused-that-this-metaphor-is-seldom-effective-in-conveying-the-profound-truth-it-represents.)
  "",
  :far-from-being-a-sexist-idea,-the-symbolism-reveals-a-profound-archetypal-truth.-the-polarity-of-forces-in-the-psyche-shows-the-ego-as-magnetic-to-the-dynamic-self.-that-is,-the-conscious-ego-complex-in-any-psyche,-male-or-female,-is-feminine,-or-magnetic-in-relation-to-the-self,-which-is-masculine,-or-dynamic.-in-the
  "I Ching the Self is symbolized by heaven, and the ego is symbolized by earth. This primordial relationship between the two qualities is found in many symbol systems. Here's the Kabbalistic version:",
  :without-changing-lines-this-hexagram-suggests-that-you-examine-your-impulses-and-motivations-to-act-and-see-if-they-are-truly-in-accordance-with-the-goals-of-the-work.-the-figure-can-sometimes-take-on-the-meaning-of
  "importuning: to press or urge with frequent or unreasonable requests or troublesome persistence.” In other words, you might be importuning the oracle for answers which it is of no mind to give you. It is also significant to note that every line has a more or less negative connotation. These are all very strong warnings to the ego to control its compulsive need to take the Initiative, to influence the situation. Calm down -- reality is not what it appears to be. Please allow the Self to direct the Work.",
  :wilhelm's-translation-of-the-name-of-this-hexagram-is
  "Influence, but I have chosen Initiative to emphasize the idea of the proper source of the influence implied in the symbolism. Webster's Third New International Dictionary defines initiative as follows:"},
 :commentary
 {:confucius-legge
  "Initiative is here used in the sense of mutually influencing. The magnetic trigram is above and the dynamic trigram is below -- their two influences move, respond and unite with each other. The male is placed below the female -- his repression is her satisfaction and brings fulfillment. Advantage depends upon firm correctness, as in the marrying of a young lady. Heaven and earth stimulate each other and all things attain birth. The sages stimulate the minds of men and harmony is born. If we examine the pattern of these influences, the nature of heaven and earth is revealed.",
  :legge
  "The lines of the hexagram all deal with moving or influencing to movement, and the figure is an essay on the different ways of creating an influence, and the results engendered thereby. The lower trigram of the youngest son supports the upper trigram of the youngest daughter in happy union. This is correct because the lower trigram (here yang) should always take the initiative. No influence is so powerful and constant as that between husband and wife, and where they are both young, it is especially active. Therefore, mutual influence, correct in itself, and for correct ends is sure to be effective."},
 :line-3
 {:confucius-legge
  "He moves his thighs -- he still doesn't want to rest in his place. His will is set on following others -- what he holds in his grasp is low. Wilhelm/Baynes: For he cannot keep still. When the will is directed to things that one's followers hold to, this is very base. Blofeld: Sensation in the thighs also denotes restlessness; while being guided by the will of a wife (or subordinate) involves clinging to what is inferior.  Ritsema/Karcher: Truly not abiding indeed. Purpose located-in following people. A place to hold-on-to the below indeed. Cleary (2): Is also not staying put; the aim is in following others; what is clung to is low. Wu: Like his predecessors, he does not want to stay put either. His desire to follow people shows whatever he holds is low.",
  :liu
  "Stimulation in the thighs. If he insists on following, he will be humiliated.",
  :cleary-1
  "Sensing in the thighs; when persistence turns to indulgence, to go on is shameful.",
  :cleary-2
  "Sensing in the thighs, when clinging is following, to go on brings shame.",
  :legge
  "The attempt to move the thighs is inauspicious. The dynamic third line, in a dynamic place, wants to run after line four, which is said here to be the seat of the mind. He exercises his influence with an inferior purpose. What he holds in his grasp is low is understood to refer to the magnetic first and second lines. Following leads the mind to the lines above. Low is understood in the sense of mean.",
  :blofeld
  "Sensation in the thighs. He cleaves so closely to his wife (handmaiden, etc.) that for him to continue in this manner would be shameful.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Conjoining one's thighs. Holding-on-to one's following. Going abashed.",
  :wing
  "You must gain control of yourself. Don't run this way and that on impulse in an attempt to influence others or indulge in your many whims. You will ultimately be humiliated by such unconsidered actions. Set up a few inhibitions for yourself and operate within these limitations while you develop some self-control.",
  :editor
  "Mr. Legge, a proper Victorian, did not bring out the earthy imagery of this line to its fullest. If we were to receive this image in a dream it might take the blatantly sexual form of the pelvic thrusting associated with male dogs. When seen in this way the idea behind this line becomes clear.",
  :siu
  "A person should refrain from running after those he would like to influence, yielding to the whims of his master, and acquiescing to the moods of his own heart. Personal inhibition should constitute the basis for the enjoyment of granted freedom.",
  :commentary "",
  :wilhelm-baynes
  "The influence shows itself in the thighs. Holds to that which follows it. To continue is humiliating.",
  :wu
  "He moves his thighs and stays close to those he follows. He will regret if he keeps going forward.",
  :shaughnessy
  "Feeling his calf: thigh: holding to his follower; distress."},
 :char \䷞,
 :other-titles
 {:titles
  ("Influence"
   "Wooing"
   "Attraction"
   "Sensation"
   "Stimulation"
   "Conjoining"
   "Feelings"
   "Sensitivity"
   "Sensing"
   "Affection"
   "Influencing to Action"
   "Tension"
   "Seeking Union"
   "Persuasion"
   "Courting Response"
   "Importuning")}}
