{:binary "011011",
 :line-1
 {:confucius-legge
  "Her mind is perplexed. If she had the will of a brave soldier her mind would be well-governed. Wilhelm/Baynes: The will wavers. The will is controlled. Blofeld: The first three words imply that we have doubts about our own intentions. The rest of the passage suggests a will firmly under control. [Probably the implication is that we are now too hesitant and that we should benefit from acquiring the strong determination exhibited by soldiers in combat.] Ritsema/ Karcher: Purpose doubted indeed. Purpose regulated indeed. Cleary (2): The mind is wavering.The mind is under control. Wu: Hesitation implies doubts in the mind. The perseverance of a soldier indicates a determination to carry out orders.",
  :liu
  "Advance and retreat. It benefits the military person to be firm.",
  :cleary-1
  "Advancing and retreating. It is beneficial to be steadfast like a soldier.",
  :legge
  "Line one is magnetic where it should be dynamic. Her movements are perplexed because she lacks vigor and decision.",
  :blofeld
  "Advancing and retreating; the righteous persistence of the warriors brings advantage.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Advancing, withdrawing. Martial people's Harvesting Trial.",
  :wing
  "Do not be indecisive and perplexed. If you drift about with an undisciplined attitude, nothing can be influenced. Make a decision and stick to it.",
  :editor
  "The image is of vacillation, indecisiveness and lack of will. The only remedy is to assume our responsibilities to the Work with the same will and spirit that we associate with the samurai warrior.",
  :siu
  "At the outset, the man is perplexed and drifts indecisively. A resolute military discipline is required of him.",
  :commentary "",
  :wilhelm-baynes
  "In advancing and retreating, the perseverance of a warrior furthers.",
  :wu
  "There is hesitation. It will be advantageous to have the perseverance of a soldier.",
  :shaughnessy
  "Entering the inside; beneficial for a military man's determination."},
 :line-5
 {:confucius-legge
  "The good fortune is owing to his correct position in the center. Wilhelm/Baynes: The place is correct and central.  Blofeld:  That we shall enjoy good fortune is indicated by the correct position of this line in the center of the upper trigram.  Ritsema/Karcher: Situation correctly centered indeed. Cleary (2): Its position is correctly balanced. Correctly balanced. Wu: The position is correct and central.",
  :liu
  "Firmness -- good fortune. Remorse disappears. Everything is of benefit. Loss in the beginning, gain in the end. Three days before change. Three days after change. Good fortune.",
  :cleary-1
  "It is good to be correct; regret vanishes. There is all-around benefit. There is no beginning, but there is an end. The last three days of the lunar cycle and the first three days of the lunar cycle are auspicious.",
  :cleary-2
  "Correctness leads to good fortune; regret vanishes, none do not benefit.",
  :legge
  "Ch'eng-tzu says that line five is the seat of honor for the lord of the hexagram, from whom issue all charges and commands. It is central and correct and exemplifies the qualities of the figure in the highest mode. These qualities are docility and conformance to what is right, and the advantage of firm correctness is insisted upon. With this, all will be right. Compare the concluding image with the Judgment of hexagram number eighteen, Repair.",
  :blofeld
  "Persistence in a righteous course brings reward; regret vanishes, and everything is favorable! A poor beginning, but a good end! The three days before and the three days after a change (now due to occur) are especially propitious.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Trial: significant, repenting extinguished. Without not Harvesting. Without initially possessing completion. Before husking, three days. After husking, three days. Significant.",
  :wing
  "If you wish to accomplish your aims and change the situation, you must continue your vigilance and influence. Although the beginning has problems, the end will bring good fortune. Yet even after the change is made, you should periodically evaluate the results.",
  :editor
  "If this is the only changing line, the hexagram becomes number eighteen, Repair, or Work on What Has Been Spoiled, the Judgment of which is nearly identical to this line. This suggests that the penetration involved in the matter at hand is concerned with the rectification of a past error. The key ideas in the line are: Firm correctness brings good fortune: Willpower is the cornerstone of the Work. Poor beginning vs. good end:  Describes a sequence of events in which a situation is improved over time -- a process of repair. Three days before/after: A turning point, a moment of choice or decision which is consciously monitored. (This one-week sequence is a useful timetable for natural birth control: i.e., celibacy three days before, during, and after the calculated day of fertility. Obviously, willpower is essential for success.)",
  :siu
  "Continued integrity on the part of the man compensates for his poor beginning. However, prior to the change the man needs to ponder carefully. After the change, he needs to check his results.",
  :commentary "",
  :there-is-no-beginning,-but-there-is-an-end.-the-three-days-before-a-change-and-the-three-days-after-a-change-are-auspicious.
  "",
  :wilhelm-baynes
  "Perseverance brings good fortune. Remorse vanishes. Nothing that does not further. No beginning, but an end. Before the change, three days. After the change, three days. Good fortune.",
  :wu
  "Perseverance brings good fortune. Regret has gone. Every undertaking will be advantageous. The beginning may be rough, but the end will be great. It will be auspicious between three days before the change and three days thereafter.",
  :shaughnessy
  "Determination is auspicious; regret is gone; there is nothing not beneficial; there is no beginning, there is an end. Preceding the geng day by three days, following the geng day by three days; auspicious."},
 :number 57,
 :name "Penetration",
 :the-image
 {:legge
  "Two wind trigrams following each other form Penetration. The superior man proclaims his commands and undertakes his work.",
  :wilhelm-baynes
  "Winds following one upon the other: the image of the gently penetrating. Thus the superior man spreads his commands abroad and carries out his undertakings.",
  :blofeld
  "This hexagram symbolizes a favorable wind. The Superior Man performs his allotted tasks in consonance with heaven's (or the sovereign's) will. [The component trigrams combine the concepts of wind and blandness -- hence a favorable wind.]",
  :liu
  "Wind following wind symbolizes Penetration. The superior man proclaims his directives and executes his affairs.",
  :ritsema-karcher
  "Following winds. Ground. A chun tzu uses distributing fate to move affairs.",
  :cleary-1
  "Wind following wind.Thus do superior people articulate directions and carry out tasks.",
  :wu
  "One breeze follows the other; this is Complaisance. Thus the jun zi gives further injunctions in order to administer public affairs."},
 :line-4
 {:anthony
  "In finding and being resolute against evil in ourself, we have solved all the problems facing us at the moment, which seemed to be totally unrelated. This is the meaning of three kinds of game.",
  :confucius-legge
  "She achieves merit. Wilhelm/Baynes: This is meritorious. Blofeld:  The second sentence augurs concrete results. Ritsema/Karcher: Possessing achievement indeed. Cleary (2) There is success. Wu: He has succeeded.",
  :liu
  "Remorse disappears. One catches three kinds of game while hunting.",
  :cleary-1
  "Regret vanishes. The yield of the field is of three grades.",
  :cleary-2 "Regret vanishes. The hunt yields three catches.",
  :legge
  "Line four is magnetic, as is her correlate in line one, but four is a proper place for a magnetic line, and it rests under the shadow of the dynamic and central fifth line. Hence the omens of evil are counteracted, and a good auspice is obtained. The game caught in hunting was divided into three portions -- the first for use in sacrifices, the second for the entertainment of visitors, and the third for the kitchen generally. A hunt which yielded enough for all these purposes was deemed very successful.",
  :blofeld
  "Regret vanishes! Three kinds of game are caught in the field.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Repenting extinguished. The fields, catching three kinds.",
  :wing
  "Energetic action will yield successful results. You will be able to satisfy all your needs if you modestly yet confidently confront your adversaries.",
  :editor
  "Three is a number symbolizing the reconciliation of opposites in a new entity: thesis, antithesis and synthesis. It also suggests the unconscious, conscious and super-conscious realms of the psyche. A hunt is a quest, and game is nourishment: psychologically, the insights gained from the quest. In combination, the symbols describe a nourishing synthesis and the implication is that you are sitting pretty. Perhaps your penetration into the matter at hand has produced some fresh understanding.",
  :siu
  "The man gains praise by counteracting evil. He can now meet his needs for offerings to the gods, for everyday use, and for guests.",
  :commentary "",
  :wilhelm-baynes
  "Remorse vanishes. During the hunt three kinds of game are caught.",
  :wu "Regret no more. He hunts and bags three kinds of game.",
  :shaughnessy "Regret is gone. In the fields bagging three types."},
 :line-2
 {:confucius-legge
  "The good fortune is due to the position of the line in the center.",
  :liu
  "Wind under the bed. Many fortune-tellers and witches are used. Good fortune. No blame.",
  :cleary-1
  "Obedient in the basement, frequently employing intermediaries, leads to good fortune, without blame.",
  :cleary-2
  "Obedience below the platform, using scribes and mediums frequently, etc.",
  :legge
  "Line two is dynamic in the central place of the lower trigram. The K'ang-hsi editors explain that something is hidden beneath a couch or bed, and the subject of the line searches for it. He relies on divination to assist his judgment, and exorcism to expel what is bad. The work is great and difficult, and he appears almost distracted by it. The sincerity of purpose indicated by his central position leads him to the right course, despite the many considerations that might distract him.",
  :blofeld
  "Crawling below the bed. He employs the services of a disorderly rabble of diviners and wizards -- good fortune and no error! [This could be taken to refer to the lines of the hexagram up to this point, for this one is much more favorable than those (sic) preceding it. Or it may be taken to mean that affairs which begin by going ill with us will later take a change greatly for the better.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Ground located below the bed. Availing-of chroniclers, shamans. The mottled like significant. Without fault.",
  :wing
  "Hidden motives, weaknesses, or prejudices are buried deeply within the situation and influence it. These must be ferreted out into the light of day and dispensed with. Once this is done, your aims can be accomplished.",
  :editor
  "Wind is air in motion, hence symbolic of thought. When the ideas of thought and penetration are combined we get an image of the process of comprehension. Trying to comprehend something under a bed suggests that which lies beneath a sleeping place, beneath consciousness: hence, trying to understand hidden or unconscious forces. To do this, one employs exorcists and diviners -- uses the oracle, studies dreams, etc. Although our method borders on confusion (we are not entirely accurate in our comprehension), we are on the right track, and eventual success is indicated. Sometimes there is a hint here that we may be making things more complicated than necessary.",
  :siu
  "Undesirable influences from hidden quarters adversely affect the man's progress. They must be indefatigably traced to their darkest sources and exposed. This will eliminate their power over people.",
  :commentary "",
  :wilhelm-baynes
  "One has attained the middle. Blofeld:  Good fortune is indicated by the position of this line, which is central to the lower trigram. Ritsema/Karcher: Acquiring the center indeed. Cleary (2): The attainment of balance. Wu: His central position.",
  :wu
  "He acts so agreeably as if he were under the bed. If he could use the sincerity of an augur to make himself understood, it would be auspicious.",
  :shaughnessy
  "Calculations are under the bed, herewith causing the magicians to be indignant-like; auspicious; there is no trouble."},
 :judgment
 {:liu
  "Penetration. Small success. It is beneficial to go somewhere. It is beneficial to see a great man.",
  :cleary-1
  "Wind is small but developmental. It is beneficial to have somewhere to go. It is beneficial to see a great man.",
  :cleary-2
  "The small comes through successfully. It is beneficial to have a place to go. It is beneficial to see great people.",
  :legge
  "Penetration indicates modest success. See the great man and move in the direction that implies.",
  :blofeld
  "Willing Submission -- success in small matters. It is advantageous to have in view a goal (or destination) and to visit a great man. [This is a reasonably auspicious hexagram; it augurs a certain amount of success for those who submit to circumstances -- unless a moving line indicating the contrary is received. This is not a time for resistance but for submission.]",
  :ritsema-karcher
  "Ground, the small: Growing. Harvesting: possessing directed going. Harvesting: visualizing Great People. [This hexagram describes your situation in terms of providing an underlying support. It emphasizes that subtly penetrating and nourishing things from below, the action of Ground, is the adequate way to handle it. To be in accord with the time, you are told to enter the situation from below!]",
  :wilhelm-baynes
  "The Gentle. Success through what is small. It furthers one to have somewhere to go. It furthers one to see the great man.",
  :wu
  "Complaisance indicates that the small are pervasive. It is advantageous to have undertakings. It is also advantageous to see the great man.",
  :shaughnessy
  "Calculations: Little receipt; beneficial to have someplace to go; beneficial to see the great man."},
 :line-6
 {:anthony
  "Sometimes a diligent search for the hidden enemy reveals nothing specific. In getting this line, we should let go of the search. In sincerely seeking, our attitude has been corrected of careless overconfidence; that is enough.",
  :confucius-legge
  "Though occupying the topmost place, his powers are exhausted. Though he tries to be correct, there will be evil. Wilhelm/Baynes: At the top, the end has come. Is this right? It brings misfortune. Blofeld: This top line indicates exhaustion of all possibilities. Losing his traveling expenses presages certain misfortune! Ritsema/ Karcher: Above exhaustion indeed. Correcting reaching a pitfall indeed. Cleary (2): Above there is an impasse. It is proper that there be misfortune. Wu: He has reached his limit. It is definitely foreboding.",
  :liu
  "Wind under the bed. He loses his wealth. Continuing leads to misfortune. [This line indicates possible loss or sickness.]",
  :cleary-1
  "Obedient under the floor, one loses one’s resources; even if faithful, there is misfortune.",
  :cleary-2
  "The obedient are below the platform. Losing resources and tools, it is proper that there be misfortune.",
  :legge
  "The evil that line six concludes with arises from the quality of gentle penetration being carried to excess.",
  :blofeld
  "Crawling below the bed. [This symbolizes exaggerated submission, servile humility, etc. Apparently, we have been guilty of this fault.] He loses what is required for his traveling expenses -- persistence brings misfortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Ground located below the bed. Losing one's own emblem-ax. Trial: pitfall.",
  :wing
  "By attempting to penetrate all the myriad possibilities of the situation, you have dissipated the energy to influence. Great understanding means little without decisive action. Negativity can no longer be prevented.",
  :editor
  "As in line two, penetration is comprehension, and beneath a bed suggests the unconscious realms of the psyche.  Penetration under the bed is an attempt to understand the unknown. An axe is a metal cutting instrument with associations in common with the sword and arrow: that is, the discriminating mental faculty; intellect, scientific method, etc. To lose one's axe is to be without the ability to differentiate the components of an unknown situation. The line implies that you are asking questions beyond your capacity to understand; or you are asking the wrong questions; or the oracle is tired of your importunate questioning entirely: the gentle penetration is being carried to excess. In the latter case, we are reminded of the Judgment in hexagram number 4, Inexperience:I do not seek the inexperienced youth, but he seeks me. When he shows the sincerity proper for divination, I instruct him. If he asks two or three times, that is troublesome, and I do not instruct the troublesome.",
  :siu
  "The man appreciates the underlying problem and traces the injurious influence to its ultimate origin. However, he lacks the power to overcome it and is hurt in the process.",
  :commentary "",
  :wilhelm-baynes
  "Penetration under the bed. He loses his property and his ax. Perseverance brings misfortune.",
  :wu
  "He acts so agreeably as if he were under the bed. He loses his means of supporting and protecting himself. Even with perseverance it is foreboding.",
  :shaughnessy
  "Calculations are under the bed; losing his goods and ax; determination is inauspicious."},
 :notes-&-para
 {:judgment
  "Get to the heart of the matter and act on the information obtained.",
  :the-superior-man
  "acts on his understanding by implementing it in the world.",
  :the-hexagram-of
  "Penetration, made up of two trigrams symbolizing Wind (which is air in motion), suggests the activity of thought (the realm of air) trying to comprehend or penetrate something. Thus, each line of the figure may be seen as some aspect of an act of mental endeavor.",
  :the-first-line-depicts-vacillation-and-indecisiveness;-the-second-shows-one-trying-to-"get-to-the-bottom"-of-a-matter.-line-three-is-an-image-of-futile-hypothesizing;-four-and-five-show-two-aspects-of-successful-comprehension,-and-the-sixth-line-symbolizes-an-inability-to-understand.
  "",
  :the-hexagram-can-also-symbolize-humble-submission-and-devoted-service,-thus-suggesting-the-role-of-the-ego-in-the-work.-to-truly-comprehend-the-nature-of-the-work-is-to-serve-it-with-devotion.-there-are-some-interesting-associations-between-the-act-of-penetration-and-that-of-submission-–-when-dynamic-and-magnetic-are-in-full-harmony-they-lose-their-individual-identities-and-become-one-force-which-is-both-and-neither.
  ""},
 :commentary
 {:confucius-legge
  "Repeated wind trigrams show the repetition of governmental orders. The dynamic fifth line has penetrated to his correct central place and carries his will into action. The magnetic first and fourth lines obey the dynamic lines above them. Hence it is said that there will be success in small matters.",
  :legge
  "Penetration symbolizes both wind and wood, and has the attributes of Docility, Flexibility and Penetration. We are to think of it as wind with its penetrating power which finds its way into every nook and cranny.",
  :confucius-said
  "The relation between superiors and inferiors is like that between the wind and the grass. The grass must bend when the wind blows upon it.  In accordance with this, the hexagram must be understood as the influence and orders of the government designed to remedy what is wrong in the people. The upper trigram denotes the orders issuing from the ruler, and the lower the obedience rendered to them by the people.",
  :ch'eng-tzu-says
  "Superiors, in harmony with the duty of inferiors, issue their commands; inferiors, in harmony with the wishes of their superiors, follow them. Above and below there are that harmony and deference; and this is the significance of the redoubled Wind trigram. When governmental commands and business are in accordance with what is right, they agree with the tendencies of the minds of the people who follow them.",
  :anthony
  "Getting this hexagram often refers to the presence of inferior elements that obstruct our having a good influence ... Because this hexagram is concerned with self-correction, we often get it together with Work on What has been Spoiled. [Hex. 18: Repair.]"},
 :line-3
 {:confucius-legge
  "This shows exhaustion of the will. Wilhelm/Baynes: The will exhausts itself. Blofeld:  Shame resulting from the exhaustion of our will-power.",
  :liu "Orders repeated many times. Humiliation.",
  :cleary-1 "Redundant obedience is humiliating.",
  :cleary-2 "Repeatedly attempting obedience is humiliating.",
  :legge
  "Line three is in the right place for a dynamic line, but his position at the top of the trigram indicates his restlessness bordering on vehemence. The sixth line is not a proper correlate, and all the striving is ineffective. The exhausted will is the result of his repeated efforts which have worn him out. He can now only regret his failures.",
  :blofeld "Repeated submission -- shame!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Purpose exhausted indeed. Cleary (2): The aim is frustrated.",
  :wing
  "People who indulge too much in the deliberation of an issue, its possible outcomes and other such fantasies lose their initiative and their ability to influence. This brings humiliation.",
  :editor
  "The image is an unambiguous one of trying to force something. Sometimes the line can suggest a masochistic obsession with negativity.",
  :siu
  "The man deliberates repeatedly about the same issues, thereby generating fresh scruples and doubts. His striving is ineffective.",
  :commentary "",
  :wilhelm-baynes "Repeated penetration. Humiliation.",
  :wu
  "The humiliation from trying repeatedly to be obliging results from losing his bearing.",
  :shaughnessy "Sequenced calculation; distress."},
 :char \䷸,
 :other-titles
 {:titles
  ("The Gentle"
   "The Penetrating"
   "Wind"
   "The Symbol of Bending to Enter"
   "Willing Submission"
   "Gentle Penetration"
   "Ground"
   "Calculations"
   "Complaisance"
   "Penetrating Influence"
   "The Penetration of the Wind"
   "Humility"
   "Devoted Service"
   "Submission")}}
