{:binary "010111",
 :line-1
 {:confucius-legge
  "Contention should not be prolonged. Although she may suffer the small injury of being spoken against, her argument is clear. Wilhelm/ Baynes: One must not prolong the conflict. The matter is finally decided clearly. Blofeld: This implies not dragging on a dispute. Though little should be said, its purport should be clear. Ritsema/Karcher: Arguing not permitting long-living indeed. Although the small possesses words, one's differentiation brightening indeed. Cleary (2): The explanation is clear. Wu: Clarification will bring about understanding.",
  :liu
  "One does not continue the affair (conflict). Even if there is some gossip, good fortune in the end.",
  :cleary-1
  "One does not persist forever in an affair. There will be a little criticism, but it will turn out well.",
  :legge
  "Line one is magnetic at the bottom of the figure. She may suffer somewhat in the nascent strife, but will let it drop to good effect.",
  :blofeld
  "Provided that affairs are not pressed through to the end and that as little as possible is said about them, they will end propitiously.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Not a perpetual place, affairs. The small possesses words, completing significant.",
  :wing
  "Your position is such that you must avoid any Conflict or terminate it quickly. Don't try to bring things to a decision or engage yourself in a dispute. You may feel a little victimized, but in the end all goes well.",
  :editor
  "This is a clear injunction to abandon the subject of contention or your line of questioning. The gossip sometimes refers to the inner clamoring of hurt pride or bruised ego.",
  :siu
  "At the outset, the man refrains from contention during the initial stages of strife. He suffers little. But he knows that he needs to walk together with his associates and cannot advance alone.",
  :commentary "",
  :wilhelm-baynes
  "If one does not perpetuate the affair, there is a little gossip. In the end, good fortune comes.",
  :wu
  "Contention can never produce results. Although there are small talks about him, the outcome will be auspicious.",
  :shaughnessy
  "Not permitting where it serves; there are a few words; in the end auspicious."},
 :line-5
 {:confucius-legge
  "This is shown by his holding the due mean and being in the correct place. Wilhelm/Baynes: Because he is central and correct. Blofeld:  This is indicated by the fitting position of the central line. Ritsema/Karcher: Using centering correcting indeed. Cleary (2): Contention is very auspicious when it is balanced and correct. Wu: Because of its central and correct position.",
  :liu
  "Conflict. To submit the conflict to a great man brings great good fortune.",
  :cleary-1 "Contend; it will be very auspicious.",
  :legge "Line five has every circumstance in his favor.",
  :blofeld "Conflict followed by supreme good fortune.",
  :notes-and-paraphrases " ",
  :ritsema-karcher "Arguing. Spring significant.",
  :wing
  "Bring your Conflict before a powerful and just authority. If you are in the right, the situation will end in good fortune and success.",
  :editor
  "Because this is the ruler of the hexagram, it is portrayed as a wise judge who settles the matter of contention justly. If it is the only changing line, the new hexagram becomes number 64, Unfinished Business, with its corresponding line depicting a moral victory. One sometimes receives this figure in situations involving third-party arbitration.",
  :siu
  "The man acts in moderation. By being in the right place he is on the road to good fortune. A just and powerful arbiter may be invited to mediate. Circumstances are in his favor.",
  :commentary "",
  :wilhelm-baynes "To contend before him brings supreme good fortune.",
  :wu "There is great fortune in Litigation.",
  :  "",
  :shaughnessy "Lawsuit; prime auspiciousness."},
 :number 6,
 :name "Stress",
 :the-image
 {:legge
  "The image of water moving away from heaven forms Stress. The superior man, in accordance with this, takes good counsel about the beginning of any enterprise.",
  :wilhelm-baynes
  "Heaven and water go their opposite ways: the image of Conflict. Thus in all his transactions the superior man carefully considers the beginning.",
  :blofeld
  "This hexagram symbolizes sky and water in opposition. The Superior Man does not embark upon any affair until he has carefully planned the start.",
  :liu
  "Heaven and water go in different directions, symbolizing Conflict. The superior man contemplates the beginning before undertaking an enterprise.",
  :ritsema-karcher
  "Heaven associating-with stream, contradicting movements. Arguing, a chun tzu uses arousing affairs to plan beginning.",
  :cleary-1
  "When heaven and water go in different directions, there is contention.  Superior people plan in the beginning when they do things.",
  :cleary-2 "… When leaders do things, they plan to begin with.",
  :wu
  "Heaven and water go in opposite directions; this is Litigation. Thus the jun zi plans well before taking actions."},
 :line-4
 {:confucius-legge
  "He does not fail in doing what is right. Wilhelm/Baynes: Thus nothing is lost.  Blofeld: Provided we submit to heaven's will, peaceful determination will enable us to win through. Ritsema/Karcher: Not letting-go indeed. Cleary (2): Means not getting lost. Wu: Because there will be no error.",
  :liu
  "One cannot continue the conflict. Returning and changing one's attitude brings peace and good fortune.",
  :cleary-1
  "Not pressing one’s contention, one abides by the decree of fate: Changing to rest in rectitude leads to good fortune.",
  :cleary-2
  "Contending unvictorious, return to destiny, change to rest in rectitude; then the outlook is good.",
  :legge
  "Line four is dynamic in a magnetic place which is not central -- he has a mind to contend in a position from which he cannot hope to win. Above him is the strong ruler with whom it is hopeless to strive, and below him is his weak ally in the first place from whom no help can be expected. Hence he takes the course indicated, which leads to good fortune. The returning to the study of Heaven's ordinances and changing the wish to contend are not two things, but one. The ordinances are what is right in principle, and since the wish to contend was wrong in principle, it is now abandoned.",
  :blofeld
  "Since the conflict cannot be resolved, it is best to retreat and submit to heaven's will. Peaceful determination brings good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Not controlling Arguing. Returning, approaching fate. Denying quiet Trial. Significant.",
  :wing
  "You might see where you could improve your position by engaging in Conflict with a weaker element. The fact is, though, that you cannot gain inner satisfaction from such strategies. Returning to a sense of dignity and inner worth coupled with an acceptance of your fate will bring you peace of mind and good fortune.",
  :editor
  "Psychologically interpreted, the image suggests a situation in which the ego is not yet ready to encounter certain forces involved in the Work. The lesson is to return to an attitude of receptivity to instruction: “Heaven's ordinances.”",
  :siu
  "The man thinks that belligerency toward his weaker opponents will succeed. But lacking righteousness, he fails in his endeavors. Returning from the path of strife to one of inner harmony with the eternal law, he finds peace and good fortune.",
  :commentary "",
  :wilhelm-baynes
  "One cannot engage in conflict. One turns back and submits to fate, changes one's attitude, and finds peace in perseverance. Good fortune.",
  :wu
  "He is not to win the litigation. If his mind returns to reasoning and changes for the good, he will find comfort in being correct. It will be auspicious.",
  :shaughnessy
  "Not succeeding at the lawsuit; returning and attending to the command, it changes to peace; determination is auspicious."},
 :line-2
 {:confucius-legge
  "He is unequal to the contention; he retires and keeps concealed, stealthily withdrawing from it -- for him in his lower place to contend with the stronger one above would be to invite calamity, as if he brought it with his hand to himself. Wilhelm/Baynes: Thus one escapes. To contend from a lowly place with someone above brings self- incurred suffering.  Blofeld: This passage means that, if we pit ourselves against superior strength, we shall find ourselves bowed beneath the dint of conflict to the bitter end. Ritsema/ Karcher: Converting escaping, skulking indeed. Below origin, above Arguing. Distress culminating, reaping indeed. Cleary (2): (None)Wu: When a subordinate brings a lawsuit against his superior; his loss is unavoidable.",
  :liu
  "One cannot continue in the conflict. Retreating, he goes home. Three hundred families in his town will avoid disaster.",
  :cleary-1
  "Not pressing one’s contention, one returns home to escape: If there are three hundred families in one’s domain, there will be no trouble.",
  :cleary-2
  "Not victorious in contention, one goes home and hides. The local people number 300 families. There is no mistake or calamity.",
  :legge
  "Line two is dynamic in a magnetic place and no match for his fifth-line adversary who is dynamic in a dynamic place, and the ruler to boot. That he retires from contention to an insignificant village of only three hundred people shows his humility.",
  :blofeld
  "As the conflict cannot be resolved, he beats a hasty retreat. His clan, numbering three hundred households, also escapes harm. [This sentence may have been taken from some ancient writing known to readers of the Book of Change at that time. In divination, unless it obviously has some bearing on the case, it may be disregarded, or else interpreted symbolically without paying much regard to the number three hundred.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Not controlling Arguing . Converting and-also escaping one's capital. People, three hundred doors. Without blunder.",
  :wing
  "Your adversary is superior in strength. Do not allow your pride or sense of honor to draw you into open Conflict. Retreat and you will avoid a disastrous outcome for yourself and those close to you.",
  :editor
  "Discretion is the better part of valor -- there is nothing to be gained by fighting a battle you cannot win.",
  :siu
  "The man is warned about contending against a superior or more powerful enemy. A conciliatory and timely retreat precludes personal disaster.",
  :commentary "",
  :wilhelm-baynes
  "One cannot engage in conflict; one returns home, gives way. The people of his town, three hundred households, remain free of guilt.",
  :wu
  "He is not to win the litigation, He returns home to hide. The three hundred families in his village are not implicated.",
  :shaughnessy
  "Not succeeding at the lawsuit ; returning and fleeing, three hundred households of his city people are without inspection."},
 :judgment
 {:liu
  "Conflict; you have sincerity even though obstructed, stop halfway -- good fortune; follow to the end -- misfortune. It is of benefit to see a great man, but not to cross the great water.",
  :centering-significant.-completing-pitfall.-harvesting-visualizing-great-people.-not-harvesting-wading-the-great-river.
  "[This hexagram describes your situation in terms of a dispute. It emphasizes that actively expressing your claims and objections is the adequate way to handle it. To be in accord with the time, you are told to argue!] (Sic)",
  :cleary-1
  "Contention; there is blockage of truth. Caution and moderation lead to good results, finality leads to bad results. It is beneficial to see a great person, not beneficial to cross a great river.",
  :cleary-2
  "…Wariness within leads to good results, but ending up that way is unfortunate … etc.",
  :legge
  "Stress indicates that despite sincere motivations, one still meets with opposition and obstruction. Maintain an apprehensive caution. To prosecute the contention to the bitter end will produce evil results. It is advantageous to see the Great Man. It is not advantageous to cross the great stream.",
  :blofeld
  "Conflict. Confidence accompanied by obstacles! With care, affairs can be made to prosper in their middle course, but the final outcome will be disaster. It is advantageous to visit a great man, but not to cross the great river (or sea). [In general, this hexagram indicates that we have little chance of success in any conflict, dispute or lawsuit in which we are now engaged and that retreat is the best policy -- unless line one or five is a moving line, in which case the position is more hopeful. We can profit from the advice of someone truly wise, but a journey of any kind at this time would be disastrous.]",
  :ritsema-karcher "Arguing , possessing conformity. Blocking awe.",
  :wilhelm-baynes
  "Conflict. You are sincere and are being obstructed. A cautious halt halfway brings good fortune. Going through to the end brings misfortune. It furthers one to see the great man. It does not further one to cross the great water.",
  :wu
  "Litigation indicates an obstruction of trust. If the subject is vigilant, he will have good fortune. If he is libelous to the end, he will face foreboding. It will be advantageous to see the great man. It will not be advantageous to cross the big river.",
  :shaughnessy
  "Lawsuit : There is a return; pitying and tranquil, it succeeds to be auspicious, but in the end is inauspicious; beneficial herewith to see the great man; not beneficial to ford the great river."},
 :line-6
 {:confucius-legge
  "He receives a reward through his contention, but still he is not deserving of respect. Wilhelm/Baynes: To attain distinction through conflict is, after all, nothing to command respect. Blofeld:  Garments of honor obtained through strife do little credit to the wearer. [Note: In divination, garments of honor may be taken to symbolize any of the prizes obtained through a successful dispute.] Ritsema/Karcher: Using Arguing acquiesces-in submitting. Truly not standing respectfully indeed. Cleary (2): Not worthy of honor. Wu: Nothing worthy of respect.",
  :liu
  "Even if he receives an ornamental belt, it will be snatched away three times in one morning.",
  :cleary-1
  "Even if one is given a badge of honor, it will be taken away thrice before the day is out.",
  :legge
  "Line six is dynamic and able to contend successfully, but is there to be no end of striving? Persistence in it is sure to end in defeat and disgrace. The contender here might receive a reward from the king for his success, but if he received it thrice in a morning, thrice it would be taken away from him again.",
  :blofeld
  "If a girdle of honor were bestowed upon him, he would be forced to strip it off thrice within one day.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Maybe bestowing's pouched belt. Completing dawn three-times depriving it.",
  :wing
  "If you engage now in forceful Conflict, it is possible you will emerge victorious. However, you will have created a situation of unending contest. Again and again, your position will be challenged. Such triumphs are ultimately meaningless.",
  :editor
  "This images a situation in which one may win the battle but lose the war -- a meaningless victory. The line is sometimes received when you are importuning the oracle for information it will not divulge: saying, in effect, Even if your question were answered, you wouldn't be able to understand it.",
  :siu
  "The man gains repeated rewards from exhaustive conflicts. But the happiness does not last. The respect is undeserved, and the attacks continue without end.",
  :commentary "",
  :wilhelm-baynes
  "Even if by chance a leather belt is bestowed on one, by the end of a morning it will have been snatched away three times.",
  :wu
  "He may have been presented with a leather belt. He flaunts it three times in one day.",
  :shaughnessy
  "Someone awards him a leather belt, by the end of the morning thrice strips it."},
 :notes-&-para
 {:judgment
  "Be careful, don't attempt much, and don't allow the situation to get out of hand.",
  :the-superior-man
  "is judicious about his choices of action to ensure that the situation remains stable.",
  :the-hexagram-portrays-a-high-level-of-tension.-wilhelm-points-out-that-the-only-"favorable"-line-is-the-ruler-in-the-fifth-place,-and-that-all-of-the-other-lines-symbolize-people-quarreling.-it-should-also-be-noted-that-lines-one-through-four-counsel-either-retreat-from-contention-or-remaining-passively-in-place.-only-line-five-suggests-that-an-active-struggle-can-have-a-favorable-outcome,-and-line-six-portrays-the-sorry-fate-of-those-who-insist-on-"demanding-their-rights."-if-we-turn-the-hexagram-upside-down-we-have
  "Waiting, which suggests some subtle truths about the proper way to handle stress.",
  :note-that-ritsema-karcher's-summation-of-the-judgment-stands-in-stark-disagreement-with-the-general-tenor-of-the-figure-i-have-never-received-this-hexagram-when-that-interpretation-has-applied.
  ""},
 :commentary
 {:confucius-legge
  "The coming together of Strength and Peril gives the idea of Stress. A dynamic line in the central place in the lower trigram shows how there will be good fortune if one maintains apprehensive caution; but because contention should not be taken to extremes, there will be evil if one prosecutes his contention to the bitter end. The great man sets a value on the due mean. If one attempts to cross the great stream, he finds himself in an abyss.",
  :legge
  "The upper trigram of Strength here controls the lower trigram of Peril which is trying to attack it. Or it may also be seen as someone in a perilous situation contending with strong outside forces. The image is of contention and strife. The sincere yang line in the middle of the trigram of Peril gives a character to the whole figure -- an individual so represented will be very cautious and have good fortune. But since contention is bad, even a sincere individual must fail if he pursues it to the bitter end. The fifth line represents the great man, whose agency is sure to be good. His decision in any matter of contention will be correct. The sixth line is also dynamic, but his action is likely to be too rash for a great enterprise, hence the warning about not attempting to cross the great stream."},
 :line-3
 {:confucius-legge
  "She confines herself to the support assigned to her of old; thus following those above, she will have good fortune. Wilhelm/Baynes: To obey the one above brings good fortune. Blofeld: The good fortune will result from obedience to superiors which stems from cherishing the ancient virtues. Ritsema/Karcher: Adhering-to the above significant indeed. Cleary (2): Living on past virtues is the luck of following the high. Wu: Following those above him will be auspicious.",
  :liu
  "Depending upon ancient virtues. Continuing in this way leads to danger. In the end, good fortune. While working in public affairs, one should not seek achievement.",
  :cleary-1
  "… If you are upright in danger, the end will be auspicious. If you pursue political affairs, nothing will be accomplished.",
  :legge
  "Here the line is magnetic in a dynamic place and thus unequal to the stress of the matter at hand. She withdraws from the arena, and even if forced into action she will stay safely in the background. She keeps in the old place assigned for her support literally means: She eats her own virtue. That is, she nourishes herself on her own natural endowment and does not contend for more than that.",
  :blofeld
  "He nourishes himself on the ancient virtues. Right determination leads to initial trouble followed by good fortune. Were he to seek public office now, he would not be able to attain it.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Taking-in ancient actualizing-tao. Trial. Adversity, completing significant. Maybe adhering-to kingly affairs: without accomplishment. [Actualize-tao: ...ability to follow the course traced by the ongoing process of the cosmos... Linked with acquire, TE: acquiring that which makes a being become what it is meant to be. Adversity (LI): Danger, threatening, malevolent demon ... It indicates a spirit or ghost that seeks revenge by inflicting suffering upon the living. Pacifying or exorcizing such a spirit can have a healing effect.]",
  :wing
  "Keep a low profile. Stick to established methods and traditional virtues. Do not put yourself in a position of prominence whatever you imagine to gain in prestige. Material possessions and status mean nothing now. Only your inner worth will be of value to you.",
  :editor
  "Ancient virtues suggest the principles of the Work, or the archetype of the psyche as an integrated whole. Symbolically, to engage in the king's business is to undertake the Work on behalf of the Self. Note the similarity between this line and the third line of Hexagram number two, The Magnetic.",
  :siu
  "The man lives on income received for services rendered. He recognizes that works really belonging to oneself cannot be taken away. He does not engage in perilous contests over property.",
  :commentary "",
  :wilhelm-baynes
  "To nourish oneself on ancient virtue induces perseverance. Danger. In the end good fortune comes. If by chance you are in the service of a king, seek not works.",
  :wu
  "Living by the traditional virtue and being correct and firm will bring good fortune in the end. Should he enter into public service, he does not expect recognition of his success.",
  :  "",
  :shaughnessy
  "Eating old virtue; determination is dangerous. Someone follows the king's service, without completion."},
 :char \䷅,
 :other-titles
 {:titles
  ("Conflict"
   "The Symbol of Contention"
   "Strife"
   "Litigation"
   "Quarreling"
   "Arguing"
   "Lawsuit"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "It is important to mind one's step at the very beginning then things will have a chance to work out all right."})}}
