{:binary "110001",
 :line-1
 {:confucius-legge
  "The subject of the fourth line mingles her wishes with his. Wilhelm/Baynes: The mind of the one above accords with one's own. Blofeld: Moreover, the approval of our superiors must first be obtained. Ritsema/ Karcher: Honoring uniting purposes indeed. Cleary (2): Valuing unification of aims. Wu: He does what pleases the above.",
  :liu
  "To go quickly after the work is done brings no blame. One should consider how much the decrease will be.",
  :cleary-1
  "Ending affairs, going quickly, there is no fault; but assess before reducing something.",
  :cleary-2 "… Assess the reduction of this.",
  :legge
  "Line one is dynamic and his correlate in line four is magnetic. He wants to help her, but won't leave anything of his own undone in doing so. Nor will he diminish anything of his own for her without due deliberation.",
  :blofeld
  "To hurry away when work is done is not wrong, but first consider whether such a hasty departure will harm the work.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Climaxing affairs, swiftly going. Without fault. Discussing Diminishing it.",
  :wing
  "When you are in a position to help others or to be helped yourself, be certain that moderation is exercised. To give or take too much can result in an imbalanced situation. Think this through carefully before acting.",
  :editor
  "The full meaning of this line is best evoked by comparing it with its fourth line correlate. This is an image of less than total support. It says: Render all due assistance. It is left up to you to differentiate the appropriate amount, which is a hint that a test may be involved. (...Let him consider how far he should contribute of what is his for the other can sometimes imply a warning about slavish service to archetypal powers.) When compared with the image of line four, we get a definite picture of an active balancing of forces – perhaps a dialectical process. The Self is demanding a differentiation from the rational ego. This is a complex line which often implies messages which are literally impossible to put into words.",
  :siu
  "At the outset, the man disregards his own interests to help his superior. The latter should be sensitive to the amount of such help that can be accepted without harm to the subordinate. Neither should a subordinate give without due consideration.",
  :commentary "",
  :wilhelm-baynes
  "Going quickly when one's tasks are finished is without blame. But one must reflect on how much one may decrease others.",
  :wu
  "He stops doing his own things, and swiftly goes forward. There will be no blame. He should consider limiting the loss.",
  :shaughnessy
  "Already serving the ends in going; there is no trouble; toasting decreases it."},
 :line-5
 {:confucius-legge
  "This is due to the blessing from above. Wilhelm/Baynes: The supreme good fortune comes from its being blessed from above. Blofeld: Good fortune coming from those above. Ritsema/Karcher: Originating-from shielding above indeed. Cleary (2): Help from above. Wu: He has been blessed from heaven.",
  :liu
  "He is enriched by twenty tortoises and he cannot refuse. Great good fortune.",
  :cleary-1
  "One is given a profit of ten pairs of tortoise shells. None can oppose. Very auspicious.",
  :legge
  "Line five is the seat of the ruler, who is here humble, and welcomes the assistance of her correlate in line two. She is a ruler whom all her subjects of ability will rejoice to serve in every possible way, and the result will be great good fortune.",
  :blofeld
  "There was one who enriched him to the extent of ten PENG of tortoise shells (2,100 of them) and who would accept no refusal -- sublime good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Maybe augmenting's ten: partnering's tortoise. Nowhere a controlling contradiction. Spring significant.",
  :wing
  "You are marked by fate. Nothing stands in the way of this. It comes about through refined inner forces that have led you into this situation. Fear nothing. Good fortune.",
  :editor
  "The most ancient method of divination in China involved the use of tortoise shells (Plastromancy). The yarrow stalk and coin methods didn't come into vogue until after King Wen committed the I Ching to writing. At the time that this line was composed then, to receive ten pairs of tortoise shells was a very numinous gift -- perhaps equivalent to having God on your side.” The blessing from above” is mentioned by some commentators as a reference to the oracles obtained through divining with the tortoise shells, and could be construed as an endorsement of your interpretative skills. This line changes the hexagram to number sixty-one,Inner Truth, the corresponding line of which expresses the idea of a beneficial synthesis of forces.",
  :siu
  "Fate has marked the man for good fortune. Nothing opposes him. He needs fear nothing.",
  :commentary "",
  :wilhelm-baynes
  "Someone does indeed increase him. Ten pairs of tortoises cannot oppose it. Supreme good fortune.",
  :wu
  "He may be presented with ten pairs of tortoise shells and may not decline the gift. This is great fortune.",
  :shaughnessy
  "Increasing it by ten double-strands of turtles; you cannot deflect it; prime auspiciousness."},
 :number 41,
 :name "Compensating Sacrifice",
 :the-image
 {:legge
  "The image of a mountain and beneath it the waters of a marsh form Compensating Sacrifice. The superior man, in accordance with this, restrains his wrath and represses his desires.",
  :wilhelm-baynes
  "At the foot of the mountain, the lake: the image of Decrease. Thus the superior man controls his anger and restrains his instincts.",
  :blofeld
  "This hexagram symbolizes a marshy lake at the foot of a mountain. The Superior Man keeps his anger under control and is moderate in his desires.",
  :liu
  "The lake beside the mountain symbolizes Decrease. The superior man curbs his indignation and restricts his desires.",
  :ritsema-karcher
  "Below mountain possessing marsh. Diminishing. A chun tzu uses curbing anger to block the appetites.",
  :cleary-1
  "There is a lake under a mountain, reducing it. Thus does the superior person eliminate wrath and cupidity.",
  :cleary-2
  "Lake below a mountain – Reducing. Thus do developed people eliminate anger and greed.",
  :wu
  "There is a marsh below the mountain; this is Loss. Thus the jun zi mitigates his anger and restrains his desires."},
 :line-4
 {:confucius-legge
  "This is a matter for joy. Wilhelm/Baynes: It is indeed something that gives cause for joy. Blofeld: A reduction of troubles is in itself a cause for happiness. Ritsema/Karcher: Truly permitting rejoicing indeed. Cleary (2): Reducing the ailment is a matter of joy. Wu: Capable of alleviating his illness is a cause for joy.",
  :liu
  "If he decreases his sickness (or faults) quickly, he will be happy. No blame.",
  :cleary-1
  "Reducing sickness, causing there to be joy quickly, there is no fault.",
  :cleary-2
  "Reducing the ailment causes there to be joy soon. No blame.",
  :legge
  "Line four is magnetic in a magnetic place, like someone ailing and unable to perform her proper work. But her first line correlate is strong, and is made to hasten to four's relief. The joy of the line shows her desire to do her part in the work of the hexagram.",
  :blofeld
  "He reduced the number of ills besetting him and thus hastened the arrival of happiness -- no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Diminishing one's affliction. Commissioning swiftly possesses rejoicing. Without fault.",
  :wing
  "If you can now locate your shortcomings and bad habits and make a serious attempt to decrease them you will be approached by friends and helpers. A humble attitude on your part will open the way to progressive interaction and joy.",
  :editor
  "The full meaning of this line is best evoked by comparing it with its first line correlate. All translations render line four in the imagery of decreasing one's faults (or illness). That is: rid yourself of error and happiness will come to you. Legge's version depicts incapacity which is overcome through a correct union with line one. Taken in this sense, the line can symbolize the Self (line four, upper trigram of Heaven) gaining from the ego's sacrifice in spacetime (line one, lower trigram of Earth). Whatever the context of your query, the image here is of a harmonization of forces to bring about balance.",
  :siu
  "As a consequence of giving up his bad habits, the man attracts the help of well-disposed friends.",
  :commentary "",
  :wilhelm-baynes
  "If a man decreases his faults, it makes the other hasten to come and rejoice. No blame.",
  :wu
  "His illness is alleviated and conditions are quickly improved. There is joy. No error.",
  :shaughnessy
  "Decreasing his illness; serving ends has happiness; there is no trouble."},
 :line-2
 {:confucius-legge
  "His central position gives its character to his aim. Wilhelm/Baynes: It has the correct mean in its mind. Blofeld: The central position of this line in the lower trigram indicates that persistence will be rewarded by the fulfillment of what is willed. Ritsema/Karcher: Centering using activating purposes indeed. Cleary (2): The balance that characterizes its aim. Wu: He is to remain central.",
  :liu
  "To continue is beneficial. Undertakings bring misfortune. Without decrease, without increase.",
  :cleary-1
  "It is beneficial to be correct. An expedition is inauspicious. No reduction or increase of this. [If you do not know when enough is enough and go on reducing and increasing, you will reactivate the human mentality and thus obscure the mind of Tao … It is because the strong energy is balanced, not biased or lopsided, that there is no more reduction or increasing to be done.]",
  :cleary-2 "… Increase it without reduction.",
  :legge
  "Line two is dynamic and in the central place. But he is in the place of a magnetic line, and should maintain his position without moving to help his fifth line correlate. Maintaining his own firm correctness is the best way to give assistance.  His aim is to abide where he is and help the fifth line by the exhibition of firm correctness.",
  :blofeld
  "Persistence in a righteous course brings reward, but to advance (or go anywhere) now would bring misfortune. This is not a time for decreasing but for augmenting.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Harvesting Trial. Chastising: pitfall. Nowhere Diminishing, augmenting it.",
  :wing
  "When aiding others, be certain to maintain your sense of dignity. If the nature of your task diminishes your strength or compromises your principles, or if you sacrifice your personality to please your superior, you are acting shamefully. Only efforts that do not diminish your Self are worthwhile.",
  :editor
  "This line changes the hexagram to number twenty- seven, Nourishing, the corresponding line of which carries a similar message, i.e., the idea that one's impetus to act is incorrect. Lines one and three each show some variation of active compensating (balancing) going on. Here in line two, which is the center of the lower trigram, action is inappropriate. It is the fulcrum or point of balance which must remain stationary. Note the subtle differences in the various translations of the last sentence. You decide.",
  :siu
  "The man renders faithful service without sacrificing himself. Forfeiting one's dignity and personality to do the bidding of a person of high rank is shameful.",
  :commentary "",
  :wilhelm-baynes
  "Perseverance furthers. To undertake something brings misfortune. Without decreasing oneself, one is able to bring increase to others.",
  :wu
  "It is advantageous to be firm and correct, but foreboding to go ahead. His decision of not taking a loss will benefit the other. [It may be justifiable for the below to support the above in a very moderate way in time of Loss, but it would be unacceptable by asking the below to give up all of its possessions … to satisfy the above.]",
  :shaughnessy
  "Beneficial to determine; to be upright is inauspicious. Not decreasing it, but increasing it."},
 :judgment
 {:liu
  "Decrease with sincerity: great good fortune, no blame. One may continue. It is beneficial to go somewhere. How can this (decrease with sincerity) be done? One may use two bamboo containers of grain for a sacrifice.",
  :cleary-1
  "Reduction with sincerity is very auspicious, impeccable. It should be correct. It is beneficial to go somewhere. What is the use of the two bowls? They can be used to receive.",
  :cleary-2
  "… It is beneficial to have somewhere to go, etc … They can be used for presentation.",
  :legge
  "Compensating Sacrifice means that sincerely maintained rectitude brings great success. Action is appropriate if one's sacrifice is sincere -- even two baskets of grain, though there be nothing else, may be offered.",
  :blofeld
  "Loss accompanied by confidence -- sublime good fortune and no error! It is favorable to have in view some goal (or destination). If there is doubt as to what to use for the sacrifice, two small bowls will suffice.",
  :ritsema-karcher
  "Diminishing, possessing conformity. Spring significant. Without fault, permitting Trial. Harvesting: possessing directed going. Asking-why: having availing of. Two platters permit availing-of presenting. [This hexagram describes your situation in terms of sacrifice and loss. It emphasizes that lessening yourself and decreasing your involvements is the adequate way to handle it...]",
  :wilhelm-baynes
  "Decrease combined with sincerity brings about supreme good fortune without blame. One may be persevering in this. It furthers one to undertake something. How is this to be carried out? One may use two small bowls for the sacrifice.",
  :wu
  "Loss indicates that with confidence there will be great fortune, no error, perseverance, and advantage to have undertakings. What to use in offerings? Two boxes of grain are adequate.",
  :shaughnessy
  "There is a return; prime auspiciousness; there is no trouble. It can be determined. Beneficial to have someplace to go. Why use two tureens; you can use aromatic grass."},
 :line-6
 {:confucius-legge
  "He obtains his wish on a grand scale. Wilhelm/Baynes: He attains his will in great measure. Blofeld: The first sentence presages the complete fulfillment of what is willed.  Ritsema/Karcher: The great acquiring purpose indeed. Cleary (2): Increase without reduction is great attainment of the objective. Wu: His aspiration is fully realized.",
  :liu
  "If one increases (gains) without anyone decreasing (losing), no blame. To continue brings good fortune. It is beneficial to go somewhere else; one will find a helper after leaving home.",
  :cleary-1
  "Not reducing or increasing this is faultless. Correctness brings good fortune. It is beneficial to go somewhere. Getting a servant, there is no house. [The mind of Tao is the master, the human mind is the servant. When the mind of Tao is in charge of things, every step, every undertaking, is celestial design; personal desires do not arise, and even the human mind transforms into the mind of Tao: “getting a servant, there is no house” … This is returning to ultimate good by reduction.]",
  :cleary-2
  "Increase without reduction, and there will be no blame. Correctness leads to good results. There is somewhere to go. Getting an administrator without a house. [To increase the third yin, it is necessary not to reduce the top yang. This is because the third yin as an administrator is in the position of “losing one’s home in the service of the country,” but the top yang perceives the sincerity of this lone journey, so this is “great attainment of the objective,” and the third yin considers this “getting companionship.” This is called “increase without reduction.”]",
  :legge
  "Line six has been changed from a magnetic to a dynamic line from line three. He has received the greatest increase and will carry out the idea of the hexagram in the highest degree and style. He can increase others without diminishing his own resources, and the benefit will be incalculable. Ministers will come to serve him, and not one from each clan only, but many. Ch'eng-tzu says on line six: Dwelling on high and taking nothing from those below him, but on the contrary giving more to them, the superior man accomplishes his aim on a grand scale. The aim of the superior man is simply to be increasing what others have -- that and nothing else.”",
  :blofeld
  "Gain which causes no loss to others involves no error. Persistence in a righteous course brings good fortune. It is favorable to have in view some goal (or destination). He obtains followers but not a family (or home).",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Nowhere Diminishing, augmenting it. Without fault. Trial: significant. Harvesting: possessing directed going. Acquiring a servant, without dwelling.",
  :wing
  "Expand your goals to encompass a more universal pursuit. In this way others will lend support. Your successes will lead you to a new public awareness. You may find this social position and responsibility a desirable new life-style and a benefit to many.",
  :editor
  "There is a conceptual disagreement between Legge's rendition of this line and that of the other translators. Legge: “increasing others while not decreasing oneself.” Wilhelm: “increasing oneself without decreasing others.” Cleary’s Buddhist version is the most neutral: “increase without reduction.” My understanding of the hexagram is that it depicts a process of active compensation -- the continuous give and take of life which maintains a fair equilibrium: neither pole imbalances the other. Psychologically interpreted, the sentence about the “servant but no home,” suggests the creation of a kind of Psychic Commonwealth in which all the complexes have become integrated enough to abandon their partisan interests and serve the intentions of the Self. The ego as an administrator or servant is essential for the attainment of this.",
  :siu
  "The man increases in power and dispenses blessings to the world without diminishing his own resources. Everyone willingly serves him because he does not siphon off resources to his private advantage.",
  :commentary "",
  :wilhelm-baynes
  "If one is increased without depriving others, there is no blame. Perseverance brings good fortune. It furthers one to undertake something. One obtains servants but no longer has a separate home. [Through perseverance and zealous work a man wins success and finds helpers as they are needed. But what he accomplishes is not a limited private advantage; it is a public good and available to everyone… There are loyal helpers, but not for promoting family interests.]",
  :wu
  "His wishes of not taking a loss will benefit others. No error. Perseverance brings auspiciousness. It is advantageous to have undertakings. His subordinates are so dedicated to their assignments that they act as if they had no families.",
  :shaughnessy
  "Not decreasing it, but increasing it; there is no trouble; determination is auspicious; there is someplace to go; obtain a servant without family."},
 :notes-&-para
 {:judgment "A sacrifice creates equilibrium.",
  :the-superior-man "sacrifices his appetites to a higher principle.",
  :the-traditional-name-for-this-hexagram-is
  "Decrease, but the lines and commentary all describe a compensating exchange of forces to attain equilibrium. The idea of sacrifice is mentioned in the Judgment, and that also might make a good title, though the image of two baskets of grain suggests a balancing scale: a compensating device. In this hexagram, the flow of energy moves from below upwards -- the waters of the lake or marsh are dispersed to enrich the mountain. In psychological terms we think of the ego sacrificing or decreasing its autonomy to achieve psychic equilibrium with the Self: we forfeit something valuable to obtain something even more valuable. Without this quid pro quo, the concept of sacrifice is meaningless and irrational.",
  :compare-the-image-message-from-hexagram-number-15,
  "Temperance with the notion of a compensating balance: The superior man, in accordance with this, diminishes his excesses to augment his insufficiencies, thus creating a just balance. We are reminded of another Temperance -- the 14th Arcanum of the Tarot, which depicts an angel pouring water from one vessel into another: compensating. A comparison of its symbolism with that of hexagram number 41 yields many insights:",
  :without-belaboring-the-point,-we-can-see-that-all-sacrifice-is-a-kind-of-remuneration-it-couldn't-be-otherwise-in-an-interconnected-universe.-the-image-instruction-for-the-superior-man-to-“control-his-anger”-is-also-echoed-in-the-temperance-card.-this-relates-to
  "",
  :"decrease-with-sincerity"
  "(Liu) refers to one's continuous sacrifice for the goals of the Work, and curbing anger (Ritsema/Karcher) is how one handles the archetypal forces evoked when the decrease seems endless and you've yet to receive anything in return. Like any other hexagram, Compensating Sacrifice can symbolize an infinity of possible situations, but psychologically speaking we can first regard it as an image of sacrifice for the purpose of attaining a balance of power within the psyche. Without the sacrificial devotion of the ego, the Self cannot attain its will; and if the Self can't make it, the ego is doomed by default."},
 :commentary
 {:confucius-legge
  "In Compensating Sacrificethe lower trigram is diminished to increase the upper, and the flow is upward. The two baskets of grain accord with the time. There is a time when the strong should be diminished and the weak strengthened. Decrease and increase, overflowing and emptiness, take place in harmony with the demands of the time.",
  :legge
  "Ch'eng-tzu says: Every diminution and repression of what we have in excess to bring it into accordance with right and reason is comprehended under Compensating Sacrifice. If there is sincerity in doing this it will lead to success and happiness, and even if the offering is small, yet it will be accepted.",
  :the-k'ang-hsi-editors-say
  "What is meant by diminishing in this hexagram is the regulation of expenditure or contribution according to the time. This would vary in a family according to its poverty or wealth, and in a state according to the abundance or scantiness of its resources. If one supplements the insufficiency of his offering with the abundance of his sincerity, the insignificance of his two baskets will not be despised.",
  :the-waters-of-a-marsh-are-continually-rising-up-in-vapor-to-bedew-the-hill-above-it,-and-thus-increase-its-verdure.-what-is-taken-from-the-marsh-gives-increase-to-the-hill.
  ""},
 :line-3
 {:the-master-said
  "Heaven and earth come together, and all things take shape and find form. Male and female mix their seed, and all creatures take shape and are born. In the Book of Changes it is said: `When three people journey together, their number decreases by one. When one man journeys alone, he finds a companion.' This refers to the effect of becoming one.",
  :confucius-legge
  "When three are together, doubts arise among them. Wilhelm/Baynes: If a person should seek to journey as one of three, mistrust would arise. Blofeld: It is well to travel alone now, as three would give rise to suspicion. Ritsema/Karcher: Three by-consequence doubting indeed. Cleary (2): When one person travels, three then doubt. Wu: Three would create doubts.",
  :liu
  "Three people walking together will lose one. When one walks alone, he will meet a friend.",
  :cleary-1
  "Three people traveling are reduced by one person; one person traveling finds a companion.",
  :cleary-2 "… One person traveling gets companionship.",
  :legge
  "Chu Hsi says that the lower trigram was originally three yang lines, like three men walking together, and that the third line was removed and made into the topmost line of the upper trigram which was originally three yin lines. This exchange of places between lines three and six maintains their proper correlation and suggests the proper pairing of affinities. The K'ang-hsi editors observe that this line is true not only of three men, but of many repetitions of thought or action.",
  :blofeld
  "If three set forth together now, one will be lost on the way; whereas one man going forth alone will find company.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Three people moving, by-consequence Diminishing the-one-person. The-one-person moving. By-consequence acquiring one's friend.",
  :wing
  "The closest bonds are now possible only between two persons. Groups of three create jealousy and mistrust and will eventually splinter. Yet someone who remains alone becomes lonely and will seek a companion. It is time to strike a proper balance.",
  :editor
  "The original condition described by Chu Hsi is an image of hexagram number eleven, Harmony, which represents the correct union of male and female forces. Psychologically the Syzygy archetype is suggested: the proper pairing of male and female which is seen in its supreme state in the hieros gamos or holy marriage. (See commentary on hexagram eleven for further detail.) A dialectical process is also implied.",
  :siu
  "A close bond is possible only between two persons. A group of three engenders jealousy. The lone man finds a complementary companion.",
  :commentary "",
  :wilhelm-baynes
  "When three people journey together, their number decreases by one. When one man journeys alone, he finds a companion.",
  :wu
  "When three persons walk, one will be left out. When one walks alone, he will find a friend.",
  :shaughnessy
  "If three men move then they will decrease by one man; if one man moves then he will obtain his friend."},
 :char \䷨,
 :other-titles
 {:titles
  ("Decrease"
   "The Symbol of Lessening"
   "Loss"
   "Diminishing"
   "Reduction"
   "Diminution of Excesses"
   "Decline"
   "Bringing into Balance"
   "Dynamic Balance"
   "Sacrifice"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "Not necessarily material loss. Can mean decreasing the lower self to increase the higher."})}}
