{:binary "101011",
 :line-1
 {:confucius-legge
  "He establishes rules before any change has taken place in their wills. Wilhelm/Baynes: The will has not yet changed. Blofeld: The first part of this passage symbolizes determination which has never swerved. Ritsema/Karcher: Purpose not-yet transformed indeed. Cleary (2): The aim does not change. Wu: The goal has not been changed.",
  :liu
  "He sets up a rule for his family. Remorse disappears. [People can expect success in their plans.]",
  :cleary-1 "Guarding the home, regret vanishes.",
  :legge
  "Line one is dynamic in a dynamic place. It suggests the necessity of strict rule in governing the family. Regulations must be established, and their observance strictly insisted on.",
  :blofeld
  "The family dwelling stands within an enclosure -- regret vanishes.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Enclosing: possessing Dwelling. Repenting extinguished.",
  :wing
  "At the very beginning of relationships or endeavors, you establish firm roles and well-defined systems, then all will go well. Even occasions that might give rise to arguments will pass without remorse.",
  :editor
  "A house symbolizes the whole psyche, so a household is all of the entities which make it up -- thoughts, feelings, appetites, passions, etc. The idea here is that one must maintain consistency and order in the situation at hand, and not allow any deviation from that order. Implied is the injunction not to indulge in inappropriate expressions of emotion. The line can sometimes mean that you have everything you need to succeed within you: you don't have to seek outside for what you already possess.",
  :siu
  "At the outset, the man establishes firm rules of order and relationships in the household. Overindulgence of a young child leads to the difficult task of breaking the child's will later on.",
  :commentary "",
  :wilhelm-baynes
  "Firm seclusion within the family. Remorse disappears.",
  :wu "A family lives by the principle. There will be no regret.",
  :shaughnessy "The gate has a family; regret is gone."},
 :line-5
 {:confucius-legge
  "The relationship between them is that of mutual love. Wilhelm/Baynes: They associate with one another in love. Blofeld: This means that the ruler and his people meet together with love in their hearts. [This may be interpreted to mean that we enjoy the affection of our superiors or bestow affection on our juniors and those in our charge.] Ritsema/Karcher: Mingling mutual affection indeed. Cleary (2): With communication and mutual love. Wu: Because the people love and respect one another.",
  :liu
  "The King extends his love to the family (country) without worry. Good fortune.",
  :cleary-1
  "The king comes to have a home; no worry – it is fortunate.",
  :cleary-2
  "The king has a great home. Do not worry; it is auspicious.",
  :legge
  "The subject of the dynamic fifth line appears as the king. This may be the husband spoken of as also a king, or the real king whose merit is revealed first in his family. The central place here tempers the display of strength and power. The mention of mutual love is unusual in Chinese writings, and must be considered remarkable here.  The husband, says Ch'eng-tzu, loves his helpmate in the house; the wife loves him who is the pattern for the family.",
  :blofeld
  "The King draws near to his family (i.e. the nation) -- no cause for worry; good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The king imagines possessing a Dwelling. Beings: care significant.",
  :wing
  "A magnanimous and loving relationship exists between the leader and his followers. There is no reason to fear openness in these kinds of relationships. Good fortune comes through a beneficial influence.",
  :editor
  "This line can be problematic and is occasionally received under less than lucid circumstances. The influence of the king can be interpreted psychologically as the action of the Self in the inner dimensions and hence a reassurance that things are going as they should, even if they don't appear that way to our limited viewpoint in Spacetime.",
  :siu
  "The father is not feared by the family. Like a richly endowed king, he governs through mutual affection and tempers the display of his powers.",
  :commentary "",
  :wilhelm-baynes
  "As a king he approaches his family. Fear not. Good fortune.",
  :wu
  "The king succeeds in making the nation like a family. It is auspicious, without worries.",
  :shaughnessy
  "The king approaches his family; do not pity; going is auspicious."},
 :number 37,
 :name "The Family",
 :the-image
 {:legge
  "Wind rising out of fire -- the image of The Family. The superior man speaks the truth and is consistent in his behavior.",
  :wilhelm-baynes
  "Wind comes forth from fire: The image of The Family. Thus the superior man has substance in his words and duration in his way of life.",
  :blofeld
  "This hexagram symbolizes wind rising from fire. The Superior Man's speech is full of substance and he behaves with constancy.",
  :liu
  "The wind coming out of the fire symbolizes The Family. The speech of the superior man should have substance, and his conduct be enduring.",
  :ritsema-karcher
  "Wind originating-from fire issuing-forth. Dwelling People. A chun tzu uses words to possess beings and-also movement to possess perseverance.",
  :cleary-1
  "Wind emerges from fire, members of a family. Thus is there factuality in the speech of superior people, consistency in their deeds.",
  :cleary-2
  "… Developed people are factual in speech, consistent in action.",
  :wu
  "Wind comes forth from fire; this is The Family. Thus the jun zi speaks with facts and acts with perseverance."},
 :line-4
 {:confucius-legge
  "This is due to her docility and because she is in her correct place. Wilhelm/Baynes: For she is devoted and in her place. Blofeld:  This good fortune is indicated by the position of the line which symbolizes cheerful acceptance.  Ritsema/Karcher: Yielding located-in the situation indeed. Cleary (2): Docilely occupying its position. Wu: Because its position is well taken.",
  :liu "One makes the family prosperous. Great good fortune.",
  :cleary-1 "A rich home is very fortunate.",
  :legge
  "Line four is magnetic and in her proper place. The wife is again suggested to us, and despite her confinement to the internal affairs of the household, she can do much to enrich the family. Yu Yen (Yuan Dynasty) observes that the riches of a family are not to be sought in its wealth, but in the affection and harmony of its members. Where these prevail the family is not likely to be poor, and whatever it has will be well preserved.",
  :blofeld "A well-to-do household -- great good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher "Affluence Dwelling, the great significant.",
  :wing
  "Attention to details pertaining to the economy of the situation brings good-fortune. Any attempts to further the well-being of others in a modest and humble way will be successful.",
  :editor
  "This line restates the message of the Judgment. Psychologically speaking, it re-affirms the idea that emotional energy under control and in its proper place is a great source of personal power. This is an image of the ideal role of the ego in relation to the Work.",
  :siu
  "The woman of the family balances the income and expenditures, enriching the well-being and peace of the family. The faithful steward performs the same service for public welfare.",
  :commentary "",
  :wilhelm-baynes
  "She is the treasure of the house. Great good fortune.",
  :wu "This is a wealthy family with great auspiciousness.",
  :shaughnessy "A wealthy family; greatly auspicious."},
 :line-2
 {:confucius-legge
  "The good fortune is due to the docility of its subject operating with humility.  Wilhelm/Baynes: The good fortune depends upon devotion and gentleness. Blofeld: Namely, good fortune arising from compliance and gentleness. Ritsema/Karcher: Yielding uses Ground indeed. Cleary (2): What bodes well is docile obedience. Wu: The good fortune comes from the subject’s modesty.",
  :liu
  "Her duties are to keep the household and prepare the food; she should not pursue her fancies. Persistence leads to good fortune.",
  :cleary-1
  "Not concentrating on anything, being chaste in the kitchen is auspicious.",
  :cleary-2
  "Not concentrating on anything but household duties, it bodes well to be chaste.",
  :legge
  "Line two is magnetic, in the proper and central place in the lower trigram. It fitly represents the wife, and describes her special sphere and duty. She should be unassuming in regard to all beyond her sphere, always being firm and correct. Docility is suggested by the magnetic line. The humility comes from the upper trigram, whose attribute is Pliant Flexibility",
  :blofeld
  "This is a time when nothing can be brought to completion; however, within the household, righteous persistence brings good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Without direction, releasing. Locating the center, feeding. Trial: significant.",
  :wing
  "Don't succumb to impulses now. Seek nothing by force. Restrain such actions that are not part of the business at hand. Good fortune comes when the immediate needs of The Family are met.",
  :editor
  "The image is a clear picture of a magnetic element remaining in its proper place. That is, the female components -- emotions, feelings, etc., must remain within the psyche to nourish its growth, evolution and eventual transformation. An inappropriate expression of emotion invariably spells disaster for the Work. Since the polarity of the ego is always magnetic in relation to the dynamic Self, the line can also refer to keeping the ego in its proper sphere of influence.",
  :siu
  "The good fortune of the family lies primarily in the unassuming role of the wife, who looks after the welfare of the family and food for the sacrifice. Similarly, in governmental affairs the state of public welfare depends primarily upon the unassuming civil servant who confines himself to the duties at hand.",
  :commentary "",
  :wilhelm-baynes
  "She should not follow her whims. She must attend within to the food. Perseverance brings good fortune.",
  :wu
  "There is nothing suitable to do outside of the family. There will be good fortune to prepare meals inside.",
  :shaughnessy
  "There is no place to follow, in the middle of the food; determination is auspicious."},
 :judgment
 {:legge
  "For the regulation of The Family, what is most advantageous is that the wife be firm and correct.",
  :wilhelm-baynes
  "The Family . The perseverance of the woman furthers.",
  :blofeld "The Family. Women's persistence brings reward.",
  :liu "The Family. A woman's perseverance benefits.",
  :ritsema-karcher
  "Dwelling People. Harvesting: woman Trial. [This hexagram describes your situation in terms of living and working with others in a common space. It emphasizes that caring for your relation with those who share this space and for the space itself is the adequate way to handle it. To be in accord with the time, you are told to: dwell with people!]",
  :shaughnessy
  "Family members: Beneficial for the maiden to determine.",
  :cleary-1
  "For people in the home it is beneficial that the woman be chaste. [In the human body, the vitality, spirit, soul, psyche, and intent all belong to yin and all take orders from the human mentality … When you refine away the human mind, the mind of tao spontaneously becomes manifest.]",
  :wu
  "The Family indicates that it is advantageous for a woman to be persevering. [This is a hexagram with its emphasis on women. Both constituent trigrams are feminine … Hence those who endeavor to be firm and correct will have advantages.]"},
 :line-6
 {:confucius-legge
  "This is the result of the recovery of the true character. Wilhelm/Baynes: This indicates that one makes demands first of all upon oneself. Blofeld: He will enjoy good fortune because he subjects himself frequently to self-examination.  Ritsema/Karcher: Reversing individuality's designating indeed. Cleary (2): What is auspicious about his impressiveness is that it calls for personal transformation. Wu: He often examines his own conduct.",
  :liu "Sincerity and dignity bring good fortune.",
  :cleary-1 "There is trustworthiness, dignified; it turns out well.",
  :cleary-2
  "There is truthfulness, which is impressive. The end is auspicious.",
  :legge
  "Line six is also dynamic, and being in a magnetic place, he might degenerate into stern severity. But he is sincere and complete in himself. His majesty is not artificial: his character is remolded and perfected, hence his action will only lead to good fortune. The words of Mencius are aptly quoted in illustration of the lesson: If a man himself does not walk in the right path, it will not be walked in even by his wife and children.",
  :blofeld
  "His sincerity (and/or confidence) is such as to make him appear awe-inspiring -- good fortune in the end!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Possessing conformity, impressing thus. Completing significant.",
  :wing
  "Your character and its development will be enhanced. Your sense of responsibility toward yourself and others brings good fortune and success. You will be recognized and respected for your insights and virtuous works.",
  :editor
  "The concept rendered as sincerity in English is extremely important in Chinese thought, with connotations which transcend our ordinary definition of the word. Wing-Tsit Chan defines it: This word means not only sincerity in the narrow sense, but also honesty, absence of fault, seriousness, being true to one's true self, being true to the nature of being, actuality, realness. The line can imply a compliment for good work, saying, in effect, that your attitude is in accordance with that which promotes integration and harmony in the family of the psyche.",
  :siu
  "It is the father's character which eventually determines order and unity in the family. He should be sincere and majestic.",
  :commentary "",
  :wilhelm-baynes
  "His work commands respect. In the end good fortune comes.",
  :wu
  "He is confident in his dignity and will have good fortune in the end.",
  :shaughnessy
  "There is a return stooped-like; in the end auspicious."},
 :notes-&-para
 {:judgment
  "For the correct regulation of the psyche, what is most important is that the ego must be firm and correct.",
  :the-superior-man "lives his allegiance to the ideals of the Work.",
  :applying-the-hermetic-axiom-"as-above,-so-below,"-the-relationships-within-a-family-are-analogous-to-the-relationships-within-a-city-state,-or-a-kingdom,-and-vice-versa
  "",
  :if-the-ideal-city-is-like-a-family,-then-the-analogy-also-holds-for-an-individual--here-the-comparison-goes-directly-from-city-to-psyche
  "",
  :psychologically-interpreted,-the-hexagram-of
  "The Family symbolizes the psyche, and the Confucian commentary tells us that when its inner components all assume their proper roles and functions, then the Work will come into fruition. (All under heaven will be established.) The identical idea has been stated in Gnostic thought:",
  :the-husband-is-the-analogue-of-heaven-or-the-self,-and-the-wife-is-the-analogue-of-earth-or-the-ego.-when-the-ego-assumes-its-correct-role-as-the-magnetic-servant-of-the-work,-then-inner-transformations-can-take-place.-i-have-paraphrased-the-judgment-in-terms-of-the-necessity-of-the-ego-to-follow-the-dictates-of-the-work,-but-one-could-alternately-phrase-it-in-terms-of-keeping-emotional-responses-under-control.-for-the-wife-to-be
  "firm and correct is to ensure that emotions, drives and appetites are not allowed to make decisions -- they are servants, not masters. This is the essence of the Work, and arguably the most reiterated idea in theI Ching.",
  :the-thirty-seventh-hexagram-teaches-us-that-the-way-to-manage-the-emotions-is-no-different-than-the-proper-management-of-a
  "Family. No wise parent can teach a child self-discipline by adopting the child's point of view: permissiveness, either with our children or our own primitive drives and passions, is a sure formula for disintegration. The Work demands that the ego hold the line on this issue -- indeed, it is the ego's only legitimate function."},
 :commentary
 {:confucius-legge
  "In Family the wife is in her correct place in the lower trigram, and the husband in his correct place in the upper. That spouses occupy their correct positions shows the correct relationship between heaven and earth. The parents rule the family: let the father indeed be father, and the son son; let the elder brother be indeed elder brother, and the younger brother younger; let the husband indeed be husband, and the wife wife -- then the family will be in its correct state. Bring the family to that state, and all under heaven will be established.",
  :legge
  "The written Chinese character for Family simply means a household, or the members of a family. The lesson of the hexagram is the regulation of the family, effected by the cooperation of the husband and wife in their several spheres, and only needing it to become universal to secure the good order of the kingdom. The important place accorded to the wife is seen in the short sentence in the Judgment -- that she be firm and correct, and do her part well is essential for the family's proper regulation.",
  :the-wife-is-represented-by-line-two-and-the-husband-is-her-proper-correlate-in-line-five.-the-relationship-between-heaven-and-earth-is-analogous-to-the-relationship-between-husband-and-wife.
  "",
  :the-second-sentence-of-the-confucian-commentary,-more-closely-rendered,-would-be
  "That in the family there is an authoritative ruler is a way of naming father and mother. This means that the assertion of authority in a family should be a correct balance of force and gentleness.",
  :anthony
  "The Family symbolizes correct relationships between people – the family unit, the spiritual family (the Sage and the student), and human groups generally. When these most basic relationships are correct, the world is made correct through the force of inner truth, through cultivation of the feminine component of our nature, and through persevering in a virtually menial position (from our ego’s viewpoint) so that our work can come to fruition. All this means to forgo striving and self-assertion, and to allow ourself to be led, while persevering in gentleness and devotion to our path."},
 :line-3
 {:confucius-legge
  "Stern severity means that there has been no great failure in the regulation of the family. When wife and children are smirking and chattering, the proper economy of the family has been lost. Wilhelm/ Baynes: When tempers flare... nothing is as yet lost. When woman and child dally, the discipline of the house is lost. Blofeld: Because sharp words do not cause much harm, but the tittering of women and children leads to the destruction of good order within the family. Ritsema/ Karcher: Not-yet letting-go indeed. The wife, the son, giggling, giggling: Letting-go Dwelling articulating indeed. Cleary (2): It is not a mistake for the people in the home to be strict. When the women and children are frivolous, the order of a household is lost. Wu: The principle is not abandoned. Proper conduct is violated.",
  :liu
  "If the members of the family are severe toward each other, there will be seriousness but good fortune. When women and children are silly, there will be regret in the end.",
  :cleary-1
  "People in the home are strict. Conscientious sternness bodes well. If the women and children are too frivolous, it will end in humiliation.",
  :in-terms-of-the-work,-of-course,-these-forces-are-not-only-some-degree-within-our-control,-but-it-is-the-ego’s-specific-duty-to-control-them-as-much-as-possible.-that-is-what-this-line-is-all-about.
  "",
  :legge
  "Line three is dynamic in a dynamic place. If the place were central, the energy would be tempered, but he is at the top of the trigram, and may be expected to exceed in severity. But severity is not a bad thing in regulating a family -- it is better than laxity and indulgence.",
  :blofeld
  "When members of the family speak sharply to one another, the mutual regret and the serious situation which follow may lead to good fortune; but if the women and children take to tittering, misfortune is assured. [An occasional scolding may not do much harm, but constant mockery of parents or husband will cause irreparable damage to family accord. The former, if followed by regret and by the threat of an unwanted quarrel or separation, may bring people to their senses and make them mutually more considerate than hitherto.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Dwelling People, scolding, scolding: Repenting, adversity significant. The wife, the son, giggling, giggling: Completing abashed.",
  :a-balance-should-be-struck-between-careless-indulgence-and-severe-discipline.-when-in-doubt,-however,-it-is-far-better-to-be-overly-severe-than-to-allow-the-situation-to-become-lost-in-the-chaos-of-indulgence.
  "",
  :wing
  "A moderate path to establishing order in the situation must be found.",
  :editor
  "Psychologically interpreted, the first line shows the establishment of rules within the psyche, and the third line shows their enforcement. The wife symbolizes the Eros function: the feelings, desires, appetites and drives; and the children represent the proliferation of new psychic entities which are created in the normal day to day intercourse of thought and feeling. The image pertains to maintaining a balance between two extremes -- severity and permissiveness. If one must err, it is better to be too severe than too lax. The Greeks were fully aware that Eros is a mighty daemon:",
  :siu
  "A proper balance must be struck between indulgence and severity. However, severity, despite occasional mistakes, is preferable to a lack of discipline.",
  :commentary "",
  :wilhelm-baynes
  "When tempers flare up in the family, too great a severity brings remorse. Good fortune nonetheless. When women and children dally and laugh, it leads in the end to humiliation.",
  :wu
  "Family members complain about stern discipline. Though regrettable and disturbing, it is auspicious. When women and children are frivolous, there is cause for humiliation.",
  :shaughnessy
  "The family members so excited; regret; danger; auspicious. The wife and children are so introspective; in the end distress."},
 :char \䷤,
 :other-titles
 {:titles
  ("Family Life"
   "Clan"
   "Home"
   "Linkage"
   "Dwelling People"
   "The Psyche"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "May indicate a situation where the family can and should help."})}}
