{:binary "011010",
 :line-1
 {:confucius-legge
  "It has been forsaken in the course of time. Wilhelm/Baynes: Time forsakes it. Blofeld: The first clause signifies that our affairs take a downward trend; the second, that it is time to give up. Ritsema/Karcher: The below indeed. The season stowed-away indeed. Cleary (2): It is below. Because its time is gone. Wu: It has been abandoned.",
  :liu
  "No one drinks from a muddy well. Even animals do not come to an old well. [A time of obstacles.]",
  :cleary-1
  "Mud in a well is not to be consumed. There are no animals at an abandoned well.",
  :legge
  "Line one is magnetic and at the bottom of the figure - suggesting the mud at the bottom of a well. Many men in authority are like such a well: corrupt, useless, unregarded. It is said of line one: Those who have a mind to do something in the world, when they look at this line and its symbolism will learn how they ought to exert themselves.",
  :blofeld
  "The muddy water at the well bottom is undrinkable; an old well attracts no animals.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Well: a bog, not taking-in. The ancient well without wildfowl. [Wildfowl, CH’N: all wild and game birds; untamed.]",
  :wing
  "You rely too much upon your own opinions and perceptions and therefore have little to offer others in the way of insight or nourishment. When there is no longer an exchange with others, you are lost and forgotten.",
  :editor
  "The Legge and Ritsema/Karcher translations are the only ones which mention birds or wildfowl here; the other translators use animals, “game,” or creatures. I have often found the attribute of the bird to be useful in interpreting the psychological intent of this line. Birds symbolize the realm of intellect, ideas or thought, and often this line has clearly meant that my idea or concept of the matter at hand was stagnant or out-moded. For example, the notion that the world is flat is an idea which was once widely held, but which has since been forsaken in the course of time.  The image also suggests a very primitive level within the psyche which is best shunned by consciousness.",
  :siu
  "At the outset, the man's life is immersed in corrupt, useless, and repulsive muck. No one is attracted to him.",
  :commentary "",
  :wilhelm-baynes
  "One does not drink the mud of the well. No animals come to an old well.",
  :wu
  "The muddy water is not drinkable. The old well has nothing to offer.",
  :shaughnessy
  "If the well is muddy do not drink; the old well does not have game."},
 :line-5
 {:anthony
  "It is not enough to have the water of the well; to be of use we must drink it. If we have doubts about our path, it cannot work for us. We can only make knowledge ours by putting it to experience, and accepting the hazard of depending on it.",
  :confucius-legge
  "This is indicated by the central and correct position of the line. Wilhelm/Baynes: Drinking from the clear, cold spring depends on its central and correct position. Blofeld: This is indicated by the suitable position of the line, which is central to the upper trigram. Ritsema/Karcher: Centering correcting indeed. Cleary (2): Balance and correctness. Wu: Central and correct.",
  :liu
  "The water of the well is clear and cool. People drink from it. [People will succeed in their undertakings and profit from them.]",
  :cleary-1 "The well is pure, the cold spring is used for drinking.",
  :cleary-2 "The cold spring in the well is drunk from.",
  :legge
  "Line five is dynamic and in his correct place -- the seat of the ruler. As a well full of clear water is accessible to its users, so should a ruler be to his subjects.",
  :blofeld
  "The well is cool; its water tastes like water from an icy spring. [All goes well with us.]",
  :notes-and-paraphrases "",
  :ritsema-karcher "The Well: limpid, cold spring water taken-in.",
  :wing
  "You possess all the potential possible for insight and wisdom. This gift is the mark of an unparalleled leader. Such abilities and insights, however, must be applied to your daily life in order to continue growing and developing.",
  :editor
  "When our conscious attitude is open to inner truth, that truth is reflected in the world. The image suggests that an outer attitude reflects an inner reality. See line six for the subtle difference between the two images.",
  :siu
  "The natural-born leader performs wide and useful services for the people.",
  :commentary "",
  :wilhelm-baynes
  "A well that is fed by a spring of living water is a good well. A man who has virtues like a well of this sort is to be a leader and savior of men, for he has the water of life. Nevertheless, the character for “good fortune” is left out here. The all-important thing about a well is that its water be drawn. The best water is only a potentiality for refreshment as long as it is not brought up. So too with leaders of mankind: it is all-important that one should drink from the spring of their words and translate them into life.",
  :wu
  "The well water is fresh and clean. It is like drinking from a cool spring.",
  :shaughnessy
  "If the well is crisscrossed with cold springs, drink."},
 :number 48,
 :name "The Well",
 :the-image
 {:legge
  "The image of water over wood forms The Well.  The superior man comforts the people and stimulates their mutual cooperation.",
  :wilhelm-baynes
  "Water over wood: the image of The Well. Thus the superior man encourages the people at their work and exhorts them to help one another.",
  :blofeld
  "This hexagram symbolizes water over wood. The Superior Man encourages the people with advice and assistance.",
  :liu
  "Water on wood symbolizes The Well. The superior man inspires people to work diligently, and advises them to help each other.",
  :ritsema-karcher
  "Above wood possessing stream. The Well. A chun tzu uses toiling commoners to encourage mutualizing.",
  :cleary-1
  "There is water above wood – A Well. Thus do superior people comfort the people and encourage reciprocity.",
  :wu
  "There is water above wood; this is The Well. Thus, the jun zi encourages people to work for the good of the public and to help one another for a better life."},
 :line-4
 {:confucius-legge
  "The well has been put in good repair. Wilhelm/Baynes: The well is being put in working order. Blofeld: For it is under repair. [We are likely to suffer a necessary delay, but the situation is hopeful.]Ritsema/Karcher: Adjusting the well indeed. Cleary (2): This means fixing the well. Wu: Because it is functioning.",
  :liu "The well is being rebuilt. No blame.",
  :cleary-1 "The well is tiled, without fault.",
  :cleary-2 "When the well is tiled, there is no fault.",
  :legge
  "Line four is magnetic, but in its proper place. She is neither to be condemned nor praised. She takes care of herself, but does nothing for others. The cultivation of one's self, which is represented here, is fundamental to the government of others.",
  :blofeld "The well is being tiled -- no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher "The Well: lining, without fault.",
  :wing
  "The time has come to pull back and reorganize your life or re-evaluate your goals. This means that you will not be taking an active part in the affairs of others. By putting your life in order, however, you will be able to contribute more fully later on.",
  :editor
  "Wilhelm, Blofeld and Liu all translate this line in terms of an incomplete process: the well is undergoing reconstruction. It isn't well laid it is being well laid. That is, the well is undergoing repairs now and cannot be used until the repairs are completed. Psychologically, an inner transformation is taking place.",
  :siu
  "The man begins to organize his life and develop his capacities. He is too occupied in this task to help others at the moment. For this he deserves no blame, since he will be able to contribute more later on.",
  :commentary "",
  :wilhelm-baynes
  "…In life also there are times when a man must put himself in order. During such a time he can do nothing for others, but his work is nonetheless valuable, because by enhancing his powers and abilities through inner development, he can accomplish all the more later on.",
  :wu "There is no error in repairing the well.",
  :shaughnessy "The well is walled; there is no trouble."},
 :line-2
 {:anthony
  "Doubt that we can achieve our goal through following the path causes good nourishment to be useless.",
  :confucius-legge
  "He has none cooperating with him above. Wilhelm/Baynes: He has no one to do it with him. Blofeld:  This is indicated by the failure of this line to win response from the other lines. Ritsema/Karcher: Without associating indeed. Cleary (2): It has no partner. Wu: It has nothing to offer.",
  :liu
  "The well is like a valley (it is collapsed). The fish can be seen. The jug is old and it leaks. [One should be cautious now to avoid disaster.]",
  :cleary-1
  "The depths of the well water a frog. The jar leaks. [While in the middle of self-development, if one wants to develop others before one’s own development is sufficient, one will be of no benefit to others, and will harm oneself first.]",
  :cleary-2
  "The depths of the well a minnow. The jar is broken and leaks. [This second yang is intellectual Buddhahood, where one has been influenced somewhat by learning but has not yet become a vessel of truth.]",
  :legge
  "Line two is dynamic, and might very well symbolize an active spring which feeds the well, and through it, the ground and its cultivators. But it is in an inappropriate place, and has no proper correlate. Its cool waters cannot be brought to the top.",
  :blofeld
  "Perch dart from the water in the well hole; the pitcher is worn out and leaks. [We are doubly unfortunate in that natural conditions (signified by fish in the water) and our own ineptitude or misfortune combine to ensure our failure.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Well : a gully, shooting bass. The jug cracked, leaking. [Bass, FU: freshwater fish, said to go in pairs and be faithful.]",
  :wing
  "Because you may not be using your abilities and talents in a worthwhile way, you may go unnoticed in the world. When you are not sought out and challenged by your contemporaries, your talents will dissipate. When it becomes most important, you cannot fulfill your function.",
  :editor
  "This line reiterates the ideas presented in the Judgment: If the drawing has nearly been accomplished, but before the rope has quite reached the water, the bucket is broken, this is evil.  Psychologically, the image can suggest an insight or idea which is lost because it is not comprehended.",
  :siu
  "As in the case of able statesmen who refuse to serve as ministers of the government, the man possesses precious qualities but neglects them. His talents are dissipated in miscellaneous directions.",
  :commentary "",
  :wilhelm-baynes
  "The water itself is clear, but it is not being used. Thus the well is a place where only fish will stay, and whoever comes to it, comes only to catch fish. But the jug is broken, so that the fish cannot be kept in it. This describes the situation of a person who possesses good qualities but neglects them. No one bothers about him. As a result he deteriorates in mind. He associates with inferior men and can no longer accomplish anything worthwhile.",
  :wu
  "The well is nearly dried up, with little water left for small fish. If one tries to draw water from it, the bucket will be damaged. [Apparently the water table has changed, which prevents water from flowing into the well. Trying to draw water from it not only is unsuccessful, but also will damage the bucket. The little water may be enough for small fish, but it is not enough for people.]",
  :shaughnessy
  "If the well is murky shoot the smelt; it is only the worn-out fish-trap."},
 :judgment
 {:liu
  "The Well. The city might be moved; but not the well. It neither overflows nor runs dry. People come and go, drawing from the well. The rope nearly reaches the water, but not quite; the jug breaks -- misfortune.",
  :cleary-1
  "The Well: Changing the village, not changing the well; no loss, no gain. Those who come and go use the well as a well. If the rope does not reach all the way into the well, of if the bucket breaks, that is unfortunate.",
  :cleary-2
  "… People come and go, but the well remains a well. Lowering the bucket to the water, if you overturn the bucket before drawing it up from the well, this is unlucky.",
  :legge
  "Although a town site may be altered, The Well remains the same. Its water level neither disappears nor receives any great increase, and the people can draw from it freely. Misfortune ensues if the rope breaks or the bucket is broken before it reaches the water.",
  :blofeld
  "A Well. A city may be moved, but not a well. [The building of a city depends upon ourselves; but wells cannot be moved to places where nature supplies no water. The implication is that our activities are limited by natural conditions.] A well suffers from no decrease and no increase; but often, when the people come to draw water there, the rope is too short or the pitcher gets broken before reaching the water -- misfortune! [What we desire is there for the taking, but we may not succeed in getting it.]",
  :ritsema-karcher
  "The Well: amending the capital, not amending the Well. Without losing, without acquiring. Going, coming: Welling, Welling. Muddy culmination: truly not-yet the well- rope Well. Ruining one's pitcher: Pitfall. [This hexagram describes your situation in terms of the life water coming from the depths that everyone may draw on. It emphasizes that maintaining access to this central source is the adequate way to handle it. To be in accord with the time, you are told to go to the well!]",
  :wilhelm-baynes
  "The Well. The town may be changed, but the well cannot be changed. It neither decreases nor increases. They come and go and draw from the well. If one gets down almost to the water and the rope does not go all the way, or the jug breaks, it brings misfortune.",
  :wu
  "The Well indicates that the planning of a district may be changed, but the location of the well may not. The water level of a well will neither increase nor decrease from use. There are wells here and there. When one is drawing water from a well, if he tangles the rope and damages the bucket just before it clears the well, it will be foreboding.",
  :shaughnessy
  "The Well:  Changing the city but not changing the well; there is no loss, there is no gain. Going and coming so orderly; when the drying up arrives one also has not yet drawn from the well; burdening its formed earthenware jug; inauspicious."},
 :line-6
 {:confucius-legge
  "This indicates the grand accomplishment of the idea of the hexagram. Wilhelm/Baynes: In the top place, this means great perfection. Blofeld:  The supreme good fortune presaged here is in the nature of a great achievement. Ritsema/Karcher: Spring significant located-in the above. The great accomplishing indeed. Cleary (2): Great fortune at the top is great fulfillment. Wu: Great accomplishments.",
  :liu
  "The well is clean, without a cover. There is confidence that water can be drawn. Great good fortune.",
  :cleary-1
  "The well is being drawn from; don’t cover it. Great fortune.",
  :cleary-2
  "Do not cover the well enclosure. There is nurturance, which is very fortunate.",
  :legge
  "The sixth line is in its proper place, but magnetic. If the general idea of the figure was different, a bad auspice might be drawn from it. But the water is drawn up and the well is left uncovered so that it may be used by everyone. Sincerity suggests that the supply is inexhaustible.",
  :blofeld
  "The well-rope lies unconcealed -- confidence and supreme good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Well: collecting, no cover. Possessing conformity, Spring significant.",
  :wing
  "You can now share with others good, dependable advice and exceptional fulfillment. There will be supreme good fortune in your life.",
  :editor
  "The difference in meaning between lines five and six is a maddeningly subtle one. While five suggests that our conscious attitude reflects an inner state, line six suggests that inner and outer have become one -- the difference is between the reflection of an object and the object itself. Compare lines five and six in hexagram number twenty, Contemplation, for a similar subtlety of difference. In general the import is that everything you need to comprehend the matter at hand is available for your use.",
  :siu
  "The man's inexhaustible and dependable inspiration is drawn upon by all with whom he comes in contact.",
  :commentary "",
  :wilhelm-baynes
  "One draws from the well without hindrance. It is dependable. Supreme good fortune.",
  :wu
  "The water is being drawn and the well is left uncovered. With confidence in its inexhaustible supply, people will have great fortune.",
  :shaughnessy
  "If the well is arrested, do not cover it; there is a return; prime auspiciousness."},
 :notes-&-para
 {:judgment
  "Amid the changes of life the only constant is the psyche itself -- to be alive is to draw upon its energy. The ego’s challenge lies in the correct comprehension of its images.",
  :the-superior-man
  "promotes the harmonious interplay of his thoughts and feelings. (Works on the integration of his complexes.)",
  :a-well-is-a-universal-symbol-of-a-source-of-inner-truth,-and-is-often-associated-with-a-place-that-is-sacred-to-the-gods
  "",
  :psychologically-interpreted,-a-well-symbolizes-the-continuously-flowing-unconscious-psyche,-the-fountain-of-all-awareness.-in-this-hexagram-each-line-represents-a-level-within-the-well--by-extension-suggesting-a-hierarchy-of-value-in-the-unconscious.-it-is-important-to-remember-that-not-all-of-our-inner-images,-intuitions-or-impulses-come-from-the-self.-note-that-lines-one-through-four-all-show-the-water-of-the-well-not-being-utilized-for-one-reason-or-another--only-in-lines-three,-five-and-six-is-it-actually-available-for-use.
  "",
  :the-ego's-point-of-view-in-relation-to
  "The Well is from the outside looking in – the insights emerge from beneath the surface of awareness and can be held in the light of consciousness only if one’s comprehension is able to contain them. If the bucket breaks, our understanding is unequal to our observation and the insights are lost. (One might plausibly find the image for a cancer cure within one's psyche, but without a conscious frame of reference to acknowledge it, it would be unrecognized and lost.) Those who closely monitor their dreams know that there is an endless outpouring of strange images within the psyche which might be of inestimable value if only we knew what they referred to.",
  :wilhelm-emphasizes-the-idea-of
  "nourishing the people, which psychologically means that the role of the ego is to facilitate the cooperation of intra-psychic forces."},
 :commentary
 {:confucius-legge
  "Wood penetrates the water and raises it, giving the image ofThe Wellwhich gives nourishment yet is not exhausted. The dynamic central lines in the second and fifth places indicate that the town site may change, but the well does not. If the rope does not reach the water the well does not serve its purpose. A broken bucket brings about evil.",
  :legge
  "The upper trigram represents Water, and the lower symbolizes Wood, giving the image of a wooden bucket in the water of a well. What is said on this hexagram might be styled: Lessons to be learned from a well for the proper government of a country. A well is to its users what a government is to its subjects, and if rulers would only apply the ancient precepts of government to the present circumstances, they and their people would benefit greatly.",
  :in-the-judgment-we-see-the-well-remaining-substantially-the-same-through-many-changes-of-society--a-dependable-source-of-refreshment-to-its-users.-as-the-fashion-of-the-well-remains-changeless,-so-do-the-principles-of-human-nature-and-good-government.-the-value-of-the-well-depends-upon-the-water-being-drawn-up-and-used--and-so-must-the-principles-of-good-government-be-implemented.
  "",
  :anthony
  "This hexagram usually indicates that we have a hidden doubt or fear. We may secretly disbelieve our path."},
 :line-3
 {:anthony
  "In spite of understanding things correctly, we cling to traditional defenses. The king, our inner self, is not clear-minded enough to trust and draw upon rich inner resources: to ask for help, to trust the unknown, to persevere in allowing ourself to be led docilely and receptively. Our path is trustworthy.",
  :confucius-legge
  "Even passersby would be sorry that the well isn't used. A prayer is made that the king were intelligent, for then blessing would be received. Wilhelm/ Baynes: This is the sorrow of the active people. They beg that the king may be clear-minded, in order to attain good fortune. Blofeld: The first sentence implies activities which call forth pity; the second, that we should accept our good fortune. Ritsema/ Karcher: Moving: aching indeed. Seeking kingly brightness: acquiescing-in blessing indeed. Cleary (2): When the well is cleared but not drunk from, travelers are concerned; they seek enlightenment in the king to receive blessings.[Because it subdues the basic afflictions of the mind, the well is cleared, but because it does not yet realize essence, it is not drunk from. Here one should seek the aid of the buddhas; then one can help oneself and help others.] Wu: The people pray that the king may be perspicacious, such that they may all benefit from his reign.",
  :liu
  "The well has been cleared, but still no one drinks from it. This is sorrowful for me (the well), for others might draw from it. If the king is enlightened, he will use it for the benefit of all.",
  :cleary-1
  "The well is cleared, but not drunk from; this is the concern of one’s heart. It is worth drawing from. When the ruler is enlightened, all receive the blessing. [This line refers to one whose self-development is fulfilled.]",
  :legge
  "Line three is dynamic and in its proper place -- it represents an able minister or officer.",
  :blofeld
  "The well has been cleaned out; to my heart's sorrow, no one drinks from it, though it could well be used to supply drinking water. [If we fail now, it is not for lack of opportunity but because we do not make use of opportunity.] The King is wise and it is possible for the people to share his good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "The Well:  oozing, not taking-in. Activating my heart aching. Permitting availing-of drawing water: Kingly brightness. Together-with acquiescing-in one's blessing.",
  :wing
  "You may be overlooking an opportunity that has come your way or you, and your talents, may be overlooked by others. This is very unfortunate. If somehow this could be recognized, you and everyone around you would benefit.",
  :editor
  "Legge is unusually terse here. Since this is the only line in the lower trigram that is correctly positioned above its two incorrect companions, it suggests an asset which is ignored to the disadvantage of potential users. Perhaps an insight or connection within the psyche is going unrecognized by conscious awareness. The Well is very hierarchal in the progression of its lines, and it is instructive to compare it with hexagram number fifty, The Sacrificial Vessel, the third line of which has a similar meaning to this one.",
  :siu
  "The man has competence which is being overlooked and unused. Were the chief executive clear-sighted, such a man would have been employed for the benefit of all. Those who know his abilities are deeply saddened to see them go to waste.",
  :commentary "",
  :wilhelm-baynes
  "The well is cleaned, but no one drinks from it. This is my heart's sorrow, for one might draw from it. If the king were clear-minded, good fortune might be enjoyed in common.",
  :wu
  "The well water is clean, but it is not used for drinking. It is a pity. If it were drawn for drinking, as it should be, then we all would benefit from it like people enjoying the reign of a perspicacious king.",
  :shaughnessy
  "If the well is seeping do not drink; it makes my heart blocked; it can be used to draw water; the king's brightness together receives its blessing."},
 :char \䷯,
 :other-titles
 {:titles
  ("Welling"
   "Potentialities Fulfilled"
   "The Source"
   "The Deep Psyche"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "A resurrection or transformation. Generations coming and going and the continuance of life and development."})}}
