{:binary "010010",
 :line-1
 {:confucius-legge
  "She has missed her proper way, and there will be evil. Wilhelm/Baynes: One falls into the abyss because one has lost the way; this brings misfortune. Blofeld:  Namely the misfortune of getting lost upon the way. Ritsema/Karcher: Letting-go tao: pitfall indeed. Cleary (2): The misfortune of losing the way. Wu: The misfortune of losing the way.",
  :liu
  "Water flows repeatedly. One falls into the pit of water. Misfortune.",
  :cleary-1
  "Repeating pitfalls, one goes into a hole in a pit: bad results.",
  :cleary-2
  "Multiple danger, going into a hole in a pit, leads to misfortune.",
  :legge
  "Line one is magnetic at the bottom of the figure, and has no correlate to help her. This renders her situation as hopeless. By her own efforts she will only make matters worse.",
  :blofeld
  "Abyss upon abyss! In one of them, he tumbles into a cranny -- misfortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Repeating Gorge. Entering tending-towards the Gorge, the recess. Pitfall.",
  :wing
  "You have become accustomed to evil influences and no longer fight them. This could be the result of a weakness in your character. In any event, you've lost your way. The more action you take, the farther afield you'll stray. Begin again at another time.",
  :editor
  "There is no ambiguity here: To enter a cavern within a labyrinth, or double defile is to make things hopelessly worse.",
  :siu
  "At the outset, the man is hopelessly in danger. As a consequence of allowing himself to grow accustomed to evil, he has lost the right way. His efforts will only embroil him more deeply.",
  :commentary "",
  :wilhelm-baynes
  "Repetition of the Abysmal. In the abyss one falls into a pit. Misfortune.",
  :wu
  "Entrapment enters into the depths of a pit. There will be foreboding.",
  :shaughnessy
  "Repeated entrapment; entering the trap pit; inauspicious."},
 :line-5
 {:confucius-legge
  "The virtue indicated by the central situation is not yet sufficiently great. Wilhelm/Baynes: The central line is not yet great. Blofeld: This is because the line, being central to the upper trigram, indicates a level that is not too high. [The danger threatening whoever receives a moving line for the fifth place is relatively less serious than for many of the others whose enquiries are answered by this unfortunate hexagram.]Ritsema/Karcher: Centering, not-yet great indeed. Cleary (2): The center is not yet great. Wu: The center has not manifested its greatness.",
  :liu
  "The water does not overflow its bounds. The waves are calm. No blame.  [People will achieve their goals smoothly and without endangering themselves.]",
  :cleary-1
  "The pit is not full, it has only reached level; there is no blame.",
  :cleary-2 "The pit is not filled, only leveled. No blame.",
  :legge
  "Line five is dynamic in its proper place as ruler, and on the verge of deliverance from danger. The waters of the abyss will soon disappear and the ground be made level and smooth.",
  :blofeld
  "The abyss is not filled to the brim; the flowing water maintains its level -- no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Gorge not overfilled. Merely already evened. Without fault.",
  :wing
  "Only struggle as much as necessary to extricate yourself from your problems. Overly ambitious persons who attempt more than they should may create further difficulties. It is indicated here that the danger will pass of its own accord.",
  :editor
  "This depicts the crest of the flood, or just before the crest. Psychologically, the water is contained, and the unconscious forces do not overwhelm the psyche. Legge's Confucian commentary (The virtue indicated by the central situation is not yet sufficiently great) is not convincing in the context of what is imaged. Blofeld's rendition suggests a more credible interpretation: the rising waters are not great enough to overflow their banks. This gives an image of the strong fifth line ruler as centered and able to cope with the danger surrounding him. In other words, the cup is full, but not over-full. The situation is dangerous, but not overwhelming. The dark forces have reached their maximum power -- now they can only wane.",
  :siu
  "The man is almost extricated, but remains in danger because of excessive ambition. He does not learn from the water's example of rising only to the lowest point of the rim to flow out of a ravine. He should not attempt great and apparently unattainable things but should only try to escape danger by following the path of least resistance.",
  :commentary "",
  :wilhelm-baynes
  "The abyss is not filled to overflowing. It is filled only to the rim. No blame.",
  :wu
  "Entrapment is not full. It is level and uneventful. There will be no blame.",
  :shaughnessy
  "The trap is not filled, but the sandbar has been flattened; there is no trouble."},
 :number 29,
 :name "Danger",
 :the-image
 {:legge
  "The image of water flowing on continuously forms the repeated trigram of Danger. The superior man, in accordance with this, maintains constantly the virtue of his heart and the sincerity of his conduct, and practices the business of instruction.",
  :wilhelm-baynes
  "Water flows on uninterruptedly and reaches its goal. The image of the Abysmal repeated. Thus the superior man walks in lasting virtue and carries on the business of teaching.",
  :blofeld
  "This hexagram symbolizes water flowing on and on and abyss upon abyss. [The trigram K'an is usually inauspicious; here it occurs in duplicate as the upper and the lower trigram; thus the implication is that we are beset by grave dangers from which, if we can escape them at all, the utmost skill and confidence will be required to extricate ourselves.] The Superior Man acts in accordance with the immutable virtues and spends much of his time instructing others in the conduct of affairs.",
  :liu
  "Water flows unceasingly into the depths symbolizing Water doubled. The superior man constantly preserves his virtue and practices his task of education.",
  :ritsema-karcher
  "Streams reiterating culminating. Repeating Gorge. A chun tzu uses rules actualizing-tao to move. [A chun tzu uses] repeating to teach affairs. [Actualize-tao, TE: realize tao in action; power, virtue; ability to follow the course traced by the ongoing process of the cosmos... Linked with acquire, TE: acquiring that which makes a being become what it is meant to be.]",
  :cleary-1
  "Water travels, double water. Thus do superior people consistently practice virtue and learn how to teach.",
  :cleary-2
  "Water comes repeatedly – multiple danger. Developed people practice teaching by constant virtuous action. [This is in perfect accord with the Tiantai Buddhist teaching of knowing how to get through an impasse, the method of making an impasse itself into a way through; this is also the method of skillfully using natural ills.]",
  :wu
  "Water comes time and again; this is Entrapment. Thus the jun zi practices virtuous conduct and reviews didactics."},
 :line-4
 {:anthony
  "The Sage, knowing that we are in danger, voluntarily comes to our aid. Consequently, we are enlightened by a breakthrough in our understanding.",
  :confucius-legge
  "This describes the meeting of the dynamic and magnetic lines. Wilhelm/Baynes: It is the boundary between firm and yielding. Blofeld:  This passage is suggested by the nature of the line, which forms a border between yielding and firm.  Ritsema/Karcher: Solid and Supple, the border indeed. Cleary (2): The border of hard and soft. Wu: The meeting of the strong and weak.",
  :liu
  "A jug of wine. Two bowls of food should be put into an earthen container and passed through the window. There is no blame in the end.",
  :cleary-1
  "One jug of wine, two vessels. Use simplicity, sincerity, and openness, and in the end there will be no fault.",
  :cleary-2
  "A jug of wine with a ceremonial vessel of grain alongside. Use a plain cup; take in a pledge through the window. In the end there is no fault.",
  :legge
  "Line four is the magnetic minister who will get no help from her first line correlate. She can't avert the danger herself, but she is close to the fifth line ruler whom she cautiously enlightens with the sincerity of her simple nourishment. Consequently, there will be no error.",
  :blofeld
  "A flagon of wine and a bamboo food-basket -- both. These objects were handed to him through a hole in the rock. To the very end he remains free from blame. [The terrible trouble in which we find ourselves occurs through no fault of ours; others are able to help us to some extent -- but it looks as though their help may serve only to prolong our agony.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A cup, liquor, a platter added. Availing-of a jar. Letting-in bonds originating-from the window. Completing, without fault.",
  :wing
  "Take the simple and direct approach to solving your problems and overcoming difficulties. Strive for clarity of mind. Do not clutter your actions with useless pretense, since it will only confuse the situation.",
  :editor
  "This image implies that the dangerous elements in the situation are caused by some kind of complexity -- vanity, bureaucracy, or Byzantine intellectualism perhaps. Whatever it is, a return to basics is indicated. While surrounded by a feast (of choices) one partakes only of simple nourishment (options).",
  :siu
  "The man is without a sponsor because of the lack of impressive gifts. Ceremonial forms and expensive gifts are unnecessary, however, during periods of great urgency. Spurred on by unostentatious sincerity, he presents his thoughts directly to the chief. No error will result from this honest request for mutual help during times of peril.",
  :commentary "",
  :wilhelm-baynes
  "A jug of wine, a bowl of rice with it; earthen vessels simply handed in through the window. There is certainly no blame in this.",
  :wu
  "Using a jar of wine and a bamboo basket of food with ordinary table earthenware, he presents himself at the window. In the end, he will be blameless. [The judgment describes a person in a precarious position (the fourth) presenting himself in a simple way to his ruler (the fifth). The scene may also be viewed as a loyal minister offering his counsel to his king in time of crisis.]",
  :shaughnessy
  "Offering wine and tureens in pairs; use earthenware. Take in the angelica from the window; in the end there is no trouble."},
 :line-2
 {:confucius-legge
  "He will not yet escape from his environed position. Wilhelm/Baynes: One should strive to attain small things only. For the middle has not yet been passed. Blofeld:  Though he obtain these trifles, he remains within the abyss. [Whatever small successes we may win will not have any effect in lessening the danger that threatens.] Ritsema/ Karcher: Not-yet issuing-forth-from the center indeed. Cleary (2): Not yet gotten out of the middle. Wu: He has not stepped out of the center of danger.",
  :liu
  "There is danger in the abyss. One should work for small gains only.",
  :cleary-1
  "There is danger in a pitfall. One finds a small gain. [Dwelling in the middle of two yins, daily in the company of petty people and not knowing to approach people imbued with Tao, one will ultimately fall and become a fool, just as there is danger in a pitfall.]",
  :cleary-2 "… One seeks a small gain.",
  :legge
  "Line two is dynamic and in the center. Although unable to escape the danger completely, at least he doesn't involve himself more deeply in it like the first line does, and therefore he obtains a measure of relief.",
  :blofeld
  "Danger lurks within the abyss; only in small matters can he obtain what he desires.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Gorge possessing venturing. Seeking, the small acquiring.",
  :wing
  "The danger is great and cannot be surmounted with one single action. Small, consistent efforts to stay afloat in a sea of difficulties are all that are possible at this time.",
  :editor
  "The image portrays a tight spot -- calm awareness of the realities of the situation enables one to prevail without panic. Go with the flow until an exit presents itself. In psychological terms, it is possible that inner forces are being stressed for integration -- the ego can only destroy the Work by giving them an outlet.",
  :siu
  "A person in danger should not try to escape at one stroke. He should first calmly hold his own, then be satisfied with small gains, which will come by creative adaptations.",
  :commentary "",
  :wilhelm-baynes
  "The abyss is dangerous. One should strive to attain small things only.",
  :wu
  "There is danger in Entrapment. It is all right to seek small gains.",
  :shaughnessy
  "The trap has depth; in seeking there is a little gain."},
 :judgment
 {:liu
  "Water doubled. Danger. Sincerity leads to success (peacefulness) in your heart and mind. You will succeed in your actions. [This hexagram means danger, misfortune, or entanglement in a difficult situation... You should be both careful and patient; do not struggle with all of the difficulties around you.]",
  :cleary-1
  "In mastering pitfalls there is truthfulness; thus the mind develops. There is excellence in practice.",
  :cleary-2
  "In multiple danger, if there is sincerity, the mind gets through and action has value.",
  :legge
  "The trigram of Danger, here repeated, shows the possession of sincerity, through which the mind is penetrating. Action in accordance with this will be of high value.",
  :blofeld
  "Abyss upon abyss -- grave danger! All will be well if confidence is maintained and a sharp hold kept upon the mind; activities so conducted will win esteem.",
  :ritsema-karcher
  "Repeating Gorge. Possessing conformity. Holding-fast the heart Growing. Movement possesses honor. [This hexagram describes your situation in terms of a dangerous situation you cannot avoid. It emphasizes that taking the risk without reserve, the action of Gorge, is the adequate way to handle it. To be in accord with the time, you are told to: venture and fall!]",
  :wilhelm-baynes
  "The Abysmal repeated. If you are sincere, you have success in your heart, and whatever you do succeeds.",
  :wu
  "Entrapment indicates there is confidence. The heart of the matter is that it is pervasive. Actions taken in its accord will be commendable.",
  :shaughnessy
  "Repeated Entrapment: There is a return; the appended heart; receipt; in motion there will be elevation."},
 :line-6
 {:anthony
  "Misfortune comes because we press on, taking matters into our hands. This line warns of the failure we may expect in maintaining this attitude and notes the obstinacy that has brought us to this impasse. The remedy is to return to the path of perseverance.",
  :confucius-legge
  "She misses her proper course -- there will be evil for three years. Wilhelm/Baynes: This misfortune continues for three years. Blofeld:  The line indicates that we lose our way and suffer misfortune for three years. Ritsema/Karcher: Pitfall: three year's-time indeed. Cleary (2): The top yin loses the way, unfortunate for three years. Wu: The sixth yin violates the proper way of doing things and the violation results in the misfortune for three years.",
  :liu
  "Tied with thick ropes, one is put in prison among thorn bushes. One cannot find the way for three years. Misfortune. [If you receive this line, avoid all entanglements, both physical and mental. Be cautious, or you will be detained.]",
  :cleary-1
  "Bound with rope, put in a briar patch, for three years one cannot find the way out; misfortune.",
  :cleary-2 "… Helpless for three years – misfortune.",
  :legge
  "The case of line six is hopeless. When danger has reached its peak, there she is -- yielding, without a proper correlate. The thicket of thorns is a metaphor for a prison.",
  :blofeld
  "Bound with black ropes and imprisoned amidst thorns, for three years he fails to obtain what he seeks. [This situation is far from cheerful, but not as hopeless as the situation of those who receive moving lines in the second and third places.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Tying availing-of stranded ropes. Dismissing tending-towards dense jujube-trees. Three year's-time, not acquiring. Pitfall.",
  :wing
  "None of your solutions or efforts have been appropriate. The way out of danger is blocked. There will come a long time of disorder. All you may do is wait.",
  :editor
  "On the face of it, there is little ambiguity in this line -- it depicts one who is severely confined because of not knowing the proper course to pursue. If we closely examine the psychological symbols of this restriction however, we see deeper into the possible reasons for it. Chetwynd, in his Dictionary of Symbols identifies cords or ropes with links to the inner psyche -- the umbilical cord being the connection to the Mother, or source of our physical-emotional being. He also points out that thorns are a common symbol of the dark side of the Mother principle. To be bound with cords and imprisoned by thorns then, is to be trapped in a womb of primitive emotional darkness, or suffocated by some entity which does not want to evolve into conscious awareness.",
  :siu
  "The man is hopelessly enmeshed in his own faults after missing the proper course. No chances of escape are apparent.",
  :commentary "",
  :wilhelm-baynes
  "Bound with cords and ropes, shut in between thorn-hedged prison walls: for three years one does not find the way. Misfortune.",
  :wu
  "He is tied with black ropes and surrounded by thorny vines. He cannot set himself free for three years. Foreboding.",
  :shaughnessy
  "The attachment uses braids and cords: place him in the clumped thorn bushes, for three years not getting him; inauspicious."},
 :notes-&-para
 {:judgment
  "Commitment to the Work engenders a keen discernment of threatening situations and the factors which create them. With the ability to recognize the dangerous elements in a situation, success is assured.",
  :the-superior-man
  "maintains his connection with the Self and learns from the trials thus provided.",
  :this-is-one-of-the-first-hexagrams-that-one-learns-to-recognize-by-name-and-number,-and-it-is-usually-received-with-trepidation.-like-the-death-card-in-tarot,-it-is-often-interpreted-as-an-evil-omen,-although-a-deeper-understanding-reveals-opportunity-rather-than-defeat-in-such-images.
  "",
  :there-is-danger-and-suffering-in-the-work,-but-probably-far-less-of-it-(in-the-long-run)-than-in-an-ordinary-unexamined-life.-anguish-in-the-service-of-purpose-is-ultimately-tolerable--it-is-the-incredible-suffering-of-ignorance-that-is-truly-tragic-all-that-pain-and-sorrow-expended-on-worldly-illusions!
  "",
  :the-confucian-commentary-provides-some-valuable-insights-concerning-the-defensive-use-of-danger-by-kings-and-princes-to-protect-their-realms.-to-master-a-dangerous-challenge-before-one-can-progress-to-a-higher-level-of-awareness-is-a-classical-theme-of-initiation-without-it,-the-candidate-would-be-destroyed-by-forces-he-wasn't-ready-to-confront.-(this-is-the-purpose-and-meaning-behind-of-the-"guardian-of-the-threshold"-archetype.)-danger-is-evil-or-unfortunate-only-if-one-is-intimidated-by-it--correct-behavior-in-accordance-with-the-principles-of-the-work-will-always-take-you-to-your-destination.-the-self-will-seldom,-if-ever,-give-you-a-test-that-you-cannot-pass-if-you-fully-apply-yourself.-when-it-seems-otherwise,-bear-in-mind-that-failure-often-renders-better-lessons-than-success,-or-the-illusion-thereof.
  ""},
 :commentary
 {:confucius-legge
  "Danger repeated shows us one defile succeeding another. This is the nature of water -- it flows on, without accumulating its volume so as to overflow; it pursues its way through a dangerous defile, without losing its true nature. That the mind is penetrating is indicated by the dynamic line in the center. Advance in accordance with this will be followed by achievement. The dangerous height of heaven cannot be ascended; the difficult places of the earth are mountains, rivers, hills and mounds. Kings and princes arrange, by means of such strengths, to maintain their territories. Great indeed is the use of what is here taught about seasons of peril.",
  :legge
  "The trigram of Danger which is doubled to form this hexagram is the symbol of water, and means a pit, a perilous cavity or defile with water flowing through it. The trigrams consist of a dynamic central line between two magnetic lines. Together they symbolize danger -- how it should be encountered, its effects on the mind, and how to escape from it.",
  :liang-yin-says
  "Water stops at the proper time, and moves at the proper time. Is not this an emblem of the course of the superior man in dealing with danger?”",
  :the-k'ang-hsi-editors-say-that-to-exercise-one's-self-in-meeting-difficulty-and-peril-is-the-way-to-establish-and-strengthen-the-character,-and-the-use-of-such-experience-is-seen-in-all-measures-for-self-defense.
  ""},
 :line-3
 {:anthony
  "Every step leads to danger. Our attitude has brought out elements in others which further expose us to difficulty. We should take refuge in neutrality and disengagement until a way out shows itself.",
  :confucius-legge
  "She will never in such circumstances achieve any success. Wilhelm/Baynes: Here any effort ends up as impossible. Blofeld: This presages our ultimate failure to accomplish anything at all. Ritsema/ Karcher: Completing without achieving indeed. Cleary (2): In the end there is no accomplishment. Wu: In the end nothing will be accomplished.",
  :liu
  "Water flows on and on. One is in the pit of the abyss. Danger. Do not act.",
  :cleary-1
  "Coming and going, pitfall upon pitfall, dangerous and obstructed, going into a hole: Don’t act this way.",
  :legge
  "Line three is magnetic and occupies the place of a dynamic line. She is in an evil case. She goes and comes, moves up and down, backwards and forwards, making no advance. This can be of no use in extracting her from the danger.",
  :blofeld
  "Abyss upon abyss rears up and the danger is acute. He falls into a cranny and there is nothing he can do to help himself.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Coming's Gorge, the Gorge. Venturing moreover reclining. Entering tending-towards the Gorge, the recess. No availing-of.",
  :wing
  "You are surrounded by danger and you do not understand it. Any action will only make matters worse. Maintain your principles and wait for the solution to reveal itself.",
  :editor
  "Here is an image of raw panic -- the fear of a trapped animal: a bird in a house mindlessly battering itself against a plate-glass window. Hysteria is a grossly futile and incompetent response to stress: a demeaning lack of self- control. Get a grip on yourself!",
  :siu
  "The man becomes entangled in danger at every turn. He should refrain from action, which only worsens the situation, and wait until the solution reveals itself.",
  :commentary "",
  :wilhelm-baynes
  "Forward and backward, abyss on abyss. In danger like this, pause at first and wait, otherwise you will fall into a pit in the abyss. Do not act in this way.",
  :wu
  "There is danger in coming and there is danger in going. The subject is in danger and is stopped from exiting. He enters into the depths of a pit and nothing useful will come out of it.",
  :shaughnessy
  "Bringing it so entrappedly, both steep and deep; entering the trap pit; do not use it."},
 :char \䷜,
 :other-titles
 {:titles
  ("The Abysmal"
   "The Symbol of Sinking"
   "Water"
   "The Abyss"
   "Gorge"
   "Repeating Gorge"
   "Repeated Entrapment"
   "Double Pitfall"
   "Multiple Danger"
   "Double Water"
   "The Deep"
   "Dark Forces"
   "The Perilous Pit,"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "May not be as bad as it sounds, but whatever happens, remain true to yourself."})}}
