{:binary "100110",
 :line-1
 {:baynes
  "To follow what is correct brings good fortune. One does not lose oneself. Blofeld: The first sentence presages the good fortune derived from officials undergoing a change of heart and following what is right. The tangible results mentioned at the end of the passage imply that we shall not fail. Ritsema/Karcher: Adhering-to correcting significant indeed. Not letting-go indeed. Cleary (2): It is good to follow what is right …In the sense of not losing. Wu: Because following what is correct is auspicious … Because his position is not compromised.",
  :liu
  "One's position is changing. To continue brings good fortune. Both friends and business are gained by going out. Success.",
  :cleary-1
  "Standards change; it is good to be correct. Going outside and mixing is effective.",
  :cleary-2 "… Interaction outside the gate is successful.",
  :legge
  "The dynamic first line is the lord of the lower trigram. The magnetic lines ought to follow him, but he is beneath them in the lowest place in the figure. This suggests that he should change his pursuit. Because of his strength and correct position, he will be fortunate in this. Going beyond his gate for associates shows public spirit and an absence of selfish motivation.",
  :blofeld
  "Those in power undergo a change -- righteous determination brings good fortune! Going forth from home and mingling with those outside will produce tangible results.",
  :notes-and-paraphrases "",
  :confucius-legg
  "e: He will not fail in the method he pursues. Wilhelm/",
  :ritsema-karcher
  "An office: possessing denial. Trial: significant. Issuing-forth from the gate, mingling possesses achievement.",
  :wing
  "A change is occurring, whether in your own objectives or in the situation around you. In order to accomplish something you should now communicate with persons of all persuasions and opinions. Yet remain internally principled and discerning.",
  :editor
  "Psychologically, an inner transformation is taking place. If this is the only moving line, hexagram number forty-five, Contraction, is created, so a (possibly unconscious) re-arrangement of attitudes and perceptions is suggested. To go beyond one's own gate implies a need to expand your horizons during a shift in the balance of forces.",
  :siu
  "At the outset, the man changes his objectives. He will succeed if he remains firm in principle and goes beyond selfish considerations to mingle freely with those who do not share his feelings, as well as those who do.",
  :commentary "",
  :wilhelm-baynes
  "The standard is changing. Perseverance brings good fortune. To go out of the door in company produces deeds.",
  :wu
  "The way of conducting public affairs is subject to change. Perseverance will bring good fortune. Success can be had by communicating with people from without.",
  :shaughnessy
  "The office perhaps notifies; determination is auspicious; going out of the gate to interact has results."},
 :line-5
 {:confucius-legge
  "His position is correct and in the center. Wilhelm/ Baynes: The place is correct and central. Blofeld: The suitable position of this line.  Ritsema/Karcher: Situation correctly centering indeed. Cleary (2): Because the state is correctly balanced. Wu: Because his position is correct and central.",
  :liu "There is confidence in goodness. Good Fortune.",
  :cleary-1 "Truthfulness in good is auspicious.",
  :legge
  "Line five is dynamic in his central and correct place, with line two as a proper correlate. Hence the auspicious symbolism.",
  :blofeld
  "Confidence is admirable -- good fortune! [ Confidence in the context of this hexagram implies perfect trust in those we follow.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Conformity tending-towards excellence. Significant.",
  :wing
  "If you sincerely insist upon the very best, the chances are that you will get it. Set your sights high. Good fortune.",
  :editor
  "Wilhelm points out that the ruler in line five follows the sage in line six, who represents the way of heaven -- or, in our terms, the ideals of the Work. When the ruler (psychologically in this case, the ego) follows the way of heaven (the Work), then his subjects (inner aspects) will follow him, and the kingdom (psyche) will prosper.",
  :siu "The ruler fosters excellence, which brings on good fortune.",
  :commentary "",
  :wilhelm-baynes "Sincere in the good. Good fortune.",
  :wu "Having confidence in goodness is auspicious.",
  :shaughnessy "Returning in joy; auspicious."},
 :number 17,
 :name "Following",
 :the-image
 {:legge
  "Thunder in the marsh: the image of Following. The superior man, in accordance with this, at nightfall enters his house and rests.",
  :wilhelm-baynes
  "Thunder in the middle of the lake: the image of Following. Thus the superior man at nightfall goes indoors for rest and recuperation.",
  :blofeld
  "This hexagram symbolizes thunder rumbling within a swamp! When darkness falls, the Superior Man goes within and rests peacefully. [The component trigrams can be read as thunder and marsh, but also as movement and joy. In the Book of Change, joy is frequently associated with willing obedience to and glad acceptance of what is right.]",
  :liu
  "Thunder in the lake symbolizesFollowing. In the evening, the superior man rests and relaxes in his home.",
  :ritsema-karcher
  "Marsh center possessing thunder. Following. A chun tzu uses turning-to darkening to enter a reposing pause.",
  :cleary-1
  "There is thunder in the lake, Following. Thus do superior people go inside and rest when the sun goes down.",
  :cleary-2 "… Leaders go in and rest at sundown.",
  :wu
  "Thunder in the marsh is the symbol of Following. Thus the jun zi retires toward the twilight of the day."},
 :line-4
 {:confucius-legge
  "He is followed and obtains adherents -- according to the idea of the hexagram, this is evil. He is sincere in his course -- showing his intelligence, and leading to achievement. Wilhelm/Baynes: This bodes misfortune...This brings clear-sighted deeds. Blofeld:  Following others with ulterior motives is surely evil; whereas sincerity along the way produces brilliant results. Ritsema/Karcher: One's righteousness: pitfall indeed... Brightening achieving indeed. Cleary (2): When following gains, the meaning is inauspicious. Having faith in the way, the understanding is successful. Wu: With confidence in his course, he can be successful.",
  :liu
  "Success is gained by following. But to continue brings misfortune. Going the correct way leads to glory (brightness). How can there be blame?",
  :cleary-1
  "Following has gain. Even if right, it is inauspicious. Truthfully remaining on the path, using understanding, what blame is there?",
  :cleary-2
  "Following gains, but it bodes ill even if right. Having faith in the way, thereby understanding, what fault is there?",
  :legge
  "Line four is dynamic, and in the place of a minister next to the ruler in line five. His having adherents will be injurious to the authority of the supreme ruler, and only sincere loyalty will save him from error and misfortune.",
  :blofeld
  "Following someone with an ulterior motive -- persisting in this course would bring misfortune. But, if as he goes his way he makes sincerity his beacon, what harm can come to him?",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Following possessing catching. Trial: pitfall. Possessing conformity, locating-in tao uses brightening. Wherefore faulty? [Possessing conformity: Inner and outer are in accord; confidence of the spirits has been captured...]",
  :wing
  "Those whom you appear to influence actually have ulterior motives in their allegiance to you. Look beyond the current flattering situation into your original principled aim. Strive to act independently.",
  :editor
  "The line is a clear warning about being corrupted by the projections of others. Viewed objectively, the ego is only a temporary personality created for the purpose of transforming psychic energy – a transitional tool or vessel emanated into matter by the Self for one brief lifetime. It is only a servant--never a master. Long dedication to the Work can concentrate power which the ego may be tempted to use for its own benefit--a dangerous seduction which can only harm the Work.",
  :siu
  "The man acquires followers who flatter, scheme, and act subservient to seek personal gains. There is a chance that he will become dependent on them because of gratifying associations, which will detract from his authority in his position of influence. He must see through such adherents and free himself from egotistical encumbrances.",
  :commentary "",
  :wilhelm-baynes
  "Following creates success. Perseverance brings misfortune. To go one's way with sincerity brings clarity. How could there be blame in this?",
  :wu
  "To have a following may be advantageous. Despite perseverance, it will be foreboding. With confidence in his course, he can explain his intention. What blame can there be?",
  :  "",
  :shaughnessy
  "In following there is a catch; determination is inauspicious. There is a return on the way; at the end of brightness, what trouble is there?"},
 :line-2
 {:confucius-legge
  "He cannot be with the two at the same time. Wilhelm/ Baynes: One cannot be with both at once. Blofeld: He cannot be of service to both of them. Ritsema/Karcher: Nowhere joining associating indeed. Cleary (2): One is not with both at once. Wu: Because she cannot have both.",
  :liu "By staying with the boy, you lose the strong man.",
  :cleary-1 "Involved with the child, one loses the adult.",
  :legge
  "Line two is magnetic. His proper correlate is the dynamic fifth line, but he prefers to cling to the line below him, instead of waiting to follow line five.",
  :blofeld
  "He belongs to (i.e. puts himself at the service of) the boy and thereby loses the adult. [The implied meaning is that he rejects what is superior and follows what is inferior.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Tied-to the small son. Letting-go the respectable husband.",
  :wing
  "Examine your goals and the standards you have set for yourself. If they are unworthy, inferior, weak, or nonexistent, you will remain low, and you will lose contact with productive, competent, worthwhile influences. You are forced to make a choice.",
  :editor
  "The content of this line prevents using the usual gender symbolism. Nevertheless, the message is unambiguous.",
  :siu
  "The man surrounds himself with the incompetent and dismisses the experienced.",
  :commentary "",
  :wilhelm-baynes
  "If one clings to the little boy, one loses the strong man.",
  :wu "She clings to her child, but loses her husband.",
  :shaughnessy "Tying the little son, losing the senior fellow."},
 :judgment
 {:liu
  "Following. Great success. It is of benefit to continue. No blame.",
  :cleary-1
  "Following is greatly developmental: it is beneficial if correct; then there is no fault.",
  :cleary-2 "Following is very successful, etc.",
  :without-fault.
  "[This hexagram describes your situation in terms of being impelled or drawn into moving forward. It emphasizes that yielding to the impulse by accepting guidance is the adequate way to handle it. To be in accord with the time, you are told to: follow!]",
  :legge
  "Following indicates successful progress and no error through firm correctness.",
  :blofeld
  "Following. Sublime success! Righteous persistence brings reward -- no error! [This sublime success comes, of course, only to those who follow what is right, namely the will of heaven or of those whose own will embodies it.]",
  :ritsema-karcher "Following. Spring Growing Harvesting Trial.",
  :wilhelm-baynes
  "Following has supreme success. Perseverance furthers. No blame.",
  :wu
  "Following is primordial, pervasive, prosperous, and persevering. There will be no blame.",
  :  "",
  :shaughnessy
  "Following: Prime receipt; beneficial to determine; there is no trouble."},
 :line-6
 {:confucius-legge
  "The idea of the hexagram has reached its extreme development. Wilhelm/Baynes: At the top it ends. Blofeld: Those above us have exhausted their merit. Ritsema/Karcher: Exhausting the above indeed.",
  :liu
  "Deeply involved with one's fellows, one tries to continue. The King offers the Western Mountain.",
  :cleary-1
  "Binding and tying up; the king sacrifices on west mountain.",
  :cleary-2
  "This is the upper impasse of involvement. Wu: Because he has reached the upper limit.",
  :legge
  "The concept of Followingreaches its highest representation in the topmost line. The action, directed by the most sincere devotion to what is right, influences both men and spiritual beings. The Western Mountain is Mt. Khi, at the foot of which was the original settlement of the house of Kau in 1325 B.C.",
  :blofeld
  "He obtained people's allegiance and his followers clung to him. During the time he spent on the Western Mountain, the King made sacrifice.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Grappling, tying-to it. Thereupon adhering holding-fast-to it. The king availing-of Growing tending- towards the Western mountain.",
  :wing
  "You are called upon, by virtue of your wisdom and expertise, to lead another. You will unquestionably become involved, but you will be rewarded for your unselfish commitment.",
  :editor
  "Psychologically, Legge's commentary suggests the idea of devotion and sacrifice uniting forces in both conscious and unconscious realms of the psyche. The Confucian commentary suggests that the principle of Followingcomes to an end when ego and Self merge. To offer a sacrifice on the peak of the Western mountain: a high spiritual place where the sun sets (an image of the completed Work), implies this. Getting this line doesn't mean the Work is literally completed (it never is in this space-time dimension), but that you have probably integrated some significant inner complexes. Compare this line with 46:4.",
  :siu
  "The sage, who is retired, is recalled by the king because of his unique qualifications. The faithful and effective subject is rewarded.",
  :commentary "",
  :wilhelm-baynes
  "He meets with firm allegiance and is still further bound. The king introduces him to the Western Mountain.",
  :wu
  "He is constrained and bound in order to follow. May a king make offerings to the gods of the western mountain.",
  :  "",
  :shaughnessy
  "Grabbing and tying him, and thereafter binding him; the king uses aromatic grass on the western mountain."},
 :notes-&-para
 {:judgment "Following means advancement through willpower.",
  :the-superior-man "rests on his inner virtue.",
  :in
  "Following, the trigram of Movement follows the trigram of Cheerfulness: independent action subordinates itself and allows itself to be led by cheerful obedience. In terms of the Work, this symbolizes our willingness to follow or adhere to its principles. Psychologically interpreted, Followingmeans the compliant subordination of ego-autonomy to the Great Work of psychic integration.",
  :blofeld-points-out-that-the-trigram-of
  "Joy, or Cheerfulness is often associated with willing obedience to and glad acceptance of what is right. Hence the cheerful following of the intent of the Self. He explains the role of the superior man in the Image as: It is not hard to see the connection between following and resting peacefully; for, once we have given our allegiance to others [the Self], we no longer have to worry about what should be done.",
  :when-received-without-changing-lines-this-hexagram-often-takes-the-meaning-of-"to-accord-with"--in-such-instances-the-answer-is-an-affirmation-to-your-query.
  ""},
 :commentary
 {:confucius-legge
  "In Followingthe dynamic trigram places itself under the magnetic. We see in them the attributes of Movement and Pleasure. Through firm correctness all under heaven will be found following at such a time.",
  :legge
  "Following comes after Enthusiasm, the symbol of harmony and satisfaction. When these conditions prevail men are sure to follow.  The hexagram includes the ideas of both following others and being followed by others.(Emphasis mine, Ed.) The good auspice is due to this flexibility, but in either instance the following must be guided by a reference to what is correct. The lower trigram of Movement represents the eldest son, and the upper trigram of Pleasure represents the youngest daughter. The strong places itself under the weak -- esteeming others higher than himself, and giving the idea of following. The union of Movement with Pleasure suggests the same idea.",
  :  ""},
 :line-3
 {:confucius-legge
  "By the decision of his will, he abandons the youth below. Wilhelm/Baynes: One's will gives up the one below. Blofeld: He is willing to give up what is inferior. Ritsema/Karcher: Below, purpose stowed-away indeed. Cleary (2): One’s aspiration leaves the low behind. Wu: Because she has given up her aspiration to hold on to what is below.",
  :liu
  "By staying with the strong man, you lose the boy. Through following, one will gain what one seeks. To continue benefits.",
  :cleary-1
  "Involved with the adult, one loses the child. Following with an aim, one gains. It is beneficial to abide in rectitude.",
  :cleary-2 "… It is good to remain correct.",
  :legge
  "Line three is magnetic, but follows the dynamic line above it, thus abandoning the first line. This is just the opposite of the situation of the second line. It is magnetic, however, and line four is not its proper correlate: hence the conclusion of the paragraph is equivalent to a caution.",
  :blofeld
  "He belongs to (i.e. is of service to) the adult and loses the boy. By following the former, he gains what he desires. It is advisable to make no move but to remain determined.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Tied-to the respectable husband. Letting-go the small son. Following possessing seeking, acquiring. Harvesting: residing in Trial.",
  :wing
  "You will find yourself parting ways with former inferior elements in your life as you make contact with worthwhile persons or ideals. By firmly following the superior path you will find what you are looking for, while your strength of character will greatly benefit.",
  :editor
  "The context of this line prevents using the gender symbolism employed in this book. It is opposite in meaning to line two, and unambiguous.",
  :siu
  "The man joins with superior people and parts company with the superficial and the inferior.",
  :commentary "",
  :wilhelm-baynes
  "If one clings to the strong man, one loses the little boy. Through following one finds what one seeks. It furthers one to remain persevering.",
  :wu
  "She clings to her husband, but loses her child. Although she gets what she asks for, she will be privileged to remain persevering.",
  :shaughnessy
  "Tying the senior fellow, losing the little son; in following there is the seeking to get; beneficial to determine about dwelling."},
 :char \䷐,
 :other-titles
 {:titles
  ("According With"
   "Acquiring Followers"
   "Adapting"
   "Adjusting"
   "To Accord With"
   "To Accompany"
   "Concordance"
   "Conformance to The Work"),
  :quotes
  ({:author "D.F. Hook",
    :quote "Learn to serve in order to rule. Quit the old ways."})}}
