{:binary "101110",
 :line-1
 {:confucius-legge
  "He should in his circumstances be taking action. (Sic.) Wilhelm/Baynes: One should not act thus. Blofeld: Such aids to strength are necessary, for this line cannot suit itself to its position. [We cannot adapt ourselves to the present situation; we must increase our strength so as to be able to combat it.] Ritsema/Karcher: Not permitted to use possessing activating indeed. Cleary (2): It will not do to use contrivance.Wu: Because he is not ready for any task.",
  :liu "To strengthen it, use yellow oxhide.",
  :cleary-1 "Wrapped up in yellow ox-hide.",
  :cleary-2 "Use yellow ox hide for wrapping.",
  :legge
  "Line one at the bottom of the figure may be taken as denoting change made at too early a period. He has no proper correlate or helper above, hence he is represented as tied up and unable to take any action.",
  :blofeld "For strength, use yellow oxhide.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Thonging avails-of yellow cattle's skin.",
  :wing
  "Restrain yourself. You don't really know if it is an appropriate time to act. Wait until you're sure. A little moderation will do a world of good now, whereas premature action will bring difficulties.",
  :editor
  "There is a proofreading error in the Confucian commentary on this line which is preserved in both the Dover and Mentor editions of Legge's translation. The comment should read: He should ... not be taking action. The idea of the hexagram is molting, but at the beginning one is still wrapped in the protective skin of one's chrysalis. Try to remove a butterfly from its cocoon and you will surely kill it. The growth cycle must complete itself fully before the revolution can take place or the new order prevail. Sometimes the line can suggest the idea of being hidebound -- stuck in a mental cocoon of limiting beliefs. (Yellow is the color of clarity, intellect.) Hidebound: Having an inflexible or ultraconservative character: bigoted, narrow. As always, the exact interpretation depends upon your intuition about the situation at hand.",
  :siu
  "At the outset, the man is under restraint. Premature offensive action will be unfortunate.",
  :commentary "",
  :wilhelm-baynes "Wrapped in the hide of a yellow cow.",
  :wu "He appears as if with a yellow cow’s hide.",
  :shaughnessy "Together use the yellow ox's bridle."},
 :line-5
 {:confucius-legge
  "The beauty of the tiger's stripes becomes more brilliant. Wilhelm/Baynes: His marking is distinct. Blofeld: His accomplishing the change `like a tiger' means in a brilliantly civilized manner. Ritsema/ Karcher: One's pattern luminous indeed. Cleary (2): Their stripes are clear. Wu: His refinements are illustrious.",
  :liu
  "The great man transforms himself like a tiger. Even before prediction by the oracle, people will believe him.",
  :cleary-1
  "A great person changes like a tiger. There is certainty without divination.",
  :cleary-2
  "Great people change like tigers. There is certainty without augury.",
  :legge
  "Line five has every quality proper to the lord of the hexagram, and his action will be in every way beneficial. He is symbolized by the tiger. The changes he makes are symbolized by the bright stripes of the tiger when it has just molted its coat.",
  :blofeld
  "The great man accomplishes the change like a tiger; he is so confident that he does not need to employ divination. [Like a tiger and like a leopard do not have any connotation of fierceness. The striped skin of the former and the spotted hide of the latter symbolize brilliance and beauty respectively.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Great People; tiger transforming. Not-yet an augury, possessing conformity.",
  :wing
  "If you look around, you will find that your actions are spontaneously supported by others. You are in the correct position to bring great change to the situation. Trust your intuition in the matter.",
  :editor
  "Wilhelm renders the second sentence of the line as: Even before he questions the oracle he is believed. Blofeld translates it as: He is so confident that he does not need to employ divination. The image suggests a powerful, distinct and clear-cut transformation -- a situation so glaringly obvious that there is no room for doubt. If this is the only changing line, the new hexagram created is number 55, Expansion of Awareness, the Judgment of which states: ...When the king is enlightened there is no need to fear a change. Let him be as the sun at noon. (Legge). Or, ...The king attains abundance. Be not sad. Be like the sun at midday. (Wilhelm). In some situations the line can be interpreted as an admonition from the oracle that you are asking questions which you can figure out for yourself.",
  :siu
  "The great man clearly shows the strong guiding principles behind his proposed changes. He retains the spontaneous support of the followers.",
  :commentary "",
  :wilhelm-baynes
  "The great man changes like a tiger. Even before he questions the oracle he is believed.",
  :wu
  "The great man makes changes like a tiger. He is confident of success even without divination.",
  :shaughnessy
  "The great man's tiger whip; not yet having prognosticated, there is a return."},
 :number 49,
 :name "Metamorphosis",
 :the-image
 {:legge
  "A fire in the marsh -- the image of Metamorphosis. The superior man synchronizes his astronomical calculations to clarify the times and seasons.",
  :wilhelm-baynes
  "Fire in the lake: the image ofRevolution. Thus the superior man sets the calendar in order and makes the seasons clear.",
  :blofeld
  "This hexagram symbolizes fire rising from a marshy lake. The Superior Man regulates the calendar and thus ensures that men are clear about times and seasons.",
  :liu
  "Within the lake, fire -- this symbolizes Revolution. The superior man makes a calendar, clearly arranging the seasons.",
  :ritsema-karcher
  "Marsh center possessing fire. Skinning. A chun tzu uses regulating time-reckoning to brighten the seasons.",
  :cleary-1
  "There is fire in a lake, changing. Thus do superior people make a calendar and clarify the seasons.",
  :cleary-2
  "Fire in a lake – changing. Leaders make calendars to define the seasons.",
  :wu
  "There is fire below the marsh; this is Reform. Thus, the jun zi is inspired to develop a calendrical system for keeping time."},
 :line-4
 {:confucius-legge
  "The good fortune of changing the ordinances is due to the faith reposed in his aims. Wilhelm/Baynes: Is due to the fact that one's conviction meets with belief. Blofeld: Good fortune in the sense that people will put their faith in our objectives.  Ritsema/Karcher: Trustworthy purpose indeed. Cleary (2): Belief in the aim. Wu: Comes from the people’s trust in its purposes.",
  :liu
  "Remorse vanishes. People believe him. Changing the government brings good fortune.",
  :cleary-1
  "Regret vanishes. With sincerity one changes destiny for the better. [If one is sincere in reforming oneself, while strong one can be yielding, and can transmute the temperament and not be constrained by yin and yang. This is the revolution of employing strength with flexibility.]",
  :cleary-2
  "Regret vanishes; there is trust. Changing one’s fate, there is good fortune.",
  :legge
  "Line four is dynamic, but in the place of a magnetic line. This might vitiate any change he makes, but other conditions suggest a contrary effect: the line has passed from the lower trigram into the upper where water and fire come into contact. [e.g., Fire boils water, producing steam to do work. Ed.]  In addition, the fourth place is that of the minister immediately below the ruler's seat. These considerations all demand action in harmony with the idea of change. Therefore, if he has secured the general confidence he can proceed with the greatest of changes -- even to change the dynasty -- with good results.",
  :blofeld
  "Regret vanishes and confidence is established. A change of government brings good fortune. [Taken out of its political context, this may presage a great change in some other walk of life.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Repenting extinguished, possessing conformity. Amending fate significant.",
  :wing
  "A radical change is at hand. If your position is correct, your motives worthwhile and you are properly prepared, the new situation will bring great good fortune.",
  :editor
  "I have seldom received this line except in the conditional sense: When the proper conditions of the situation are met, then one may act. Psychologically, when the inner complexes are finally convinced that you mean business they will cooperate and fall into line. To change the existing ordinances is to change your beliefs or attitudes. Ritsema/Karcher define possessing conformity as: inner and outer are in accord; confidence of the spirits has been captured. They translate amend (i.e. amending fate) as fighting your own errors. This reflects Anthony’s observation: “Capricious demands from our inferiors…will have a bad effect.” (In Anthony’s paradigm, “our inferiors” relate to our habits, complexes, etc.) If this is the only changing line, the new hexagram created is number 63, Completion, suggesting that a major synthesis may be at hand if you’re careful.",
  :siu
  "The man succeeds in effecting changes because of inner firmness, adherence to higher ideals, coupled with adequate power.",
  :commentary "",
  :wilhelm-baynes
  "Remorse disappears. Men believe him. Changing the form of government brings good fortune.",
  :wu
  "Regret disappears. Confidence abounds. Revolution will be auspicious.",
  :shaughnessy
  "Regret is gone; there is a return that changes the mandate; auspicious."},
 :line-2
 {:confucius-legge
  "She makes her changes when some time has passed -- what she does will be a matter of admiration. Wilhelm/Baynes: Action brings splendid success.  Blofeld: This line presages great blessings. [Unexpected good fortune.] Ritsema/Karcher: Moving possessing excellence indeed. Cleary (2): There is felicity in going. Wu: The action will be praiseworthy.",
  :liu
  "When the right day for revolution arrives, start. Good fortune. No blame.",
  :cleary-1
  "The sun of the self is the good fortune of expedition in revolution; no blame. [Emptying the mind and governing oneself, one understands revolution and can first get rid of personal desires... This is the revolution of emptying the mind to seek illumination.]",
  :cleary-2
  "On the day of completion, the change has taken place. An expedition leads to good fortune, without blame.",
  :legge
  "Line two is magnetic in her correct and central place in the center of the trigram of Clarity. Her proper correlate is the dynamic fifth line ruler. Let her take action in the way of change.",
  :blofeld
  "On the day revolution is completed, to advance brings good fortune and is free from error. [We must not advance further until certain major changes have been completed.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Before-zenith sun , thereupon Skinning it. Chastising significant, without fault.",
  :wing
  "You have reached a point where change is both necessary and timely. To bring this about requires a strong vision of the ultimate outcome and a thorough commitment to your project, but with the correct inner attitude, you will meet with success. You will now find additional support in others.",
  :editor
  "This line is conditional and subject to misunderstanding if taken as an injunction for immediate action.Legge’s commentary and the Siu and Wing paraphrases misinterpret the timing covertly explicit here: the core idea is to prepare yourself now for a later change, not to take action now. This echoes the promise in Wilhelm's Judgment: On your own day you are believed.  Blofeld adds a prescient footnote to his translation: We must not advance further until certain major changes have been completed.” Because the Work demands almost superhuman levels of restraint, one often receives this line as a kind of promise:  When the Work is completed you may begin to be active again in the world.",
  :siu
  "After a series of unsuccessful attempts, the man's chance to make effective changes has come. He succeeds because of the requisite capabilities, thorough planning, and public confidence.",
  :commentary "",
  :wilhelm-baynes
  "When one's own day comes, one may create revolution. Starting brings good fortune. No blame.",
  :wu
  "When the time is ripe, reform is in order. It will be auspicious to go forward with the plan. No error.",
  :shaughnessy
  "On the si day then bridle it; to be upright is auspicious; there is no trouble."},
 :judgment
 {:liu
  "Revolution. When the appropriate day comes, the people will believe in it. Great success. It is beneficial to continue. Remorse vanishes.",
  :cleary-1
  "Inrevolution, the sun of the self is truth: This is creative, developmental, fruitful, and perfect. Regret vanishes. [In old texts when it says that the alchemical elixir is in people, but first they have to refine the self and wait for the proper time, this means to make a radical purge of all the pollution of past influences and not let any flaws remain in the heart.]",
  :cleary-2
  "Change is believed in on the day it is completed. It is very successful, beneficial if correct. Regret vanishes.",
  :legge
  "Metamorphosis is believed in only after it has been accomplished. Firm correctness abolishes regret and brings successful progress.",
  :blofeld
  "Revolution. Not before the day of its completion will men have faith in it -- sublime success! Determination in a righteous course brings reward; regret vanishes! [Very often, this means renovation, as of character, etc. But it may also mean exactly what it says; Confucius, though he regarded loyalty to the ruler as one of the highest virtues, recognized that evil men forfeit their right to rule by their excesses, and it is probable that this notion antedates him by many centuries.]",
  :ritsema-karcher
  "Skinning; before-zenith sun, thereupon conforming. Spring Growing Harvesting Trial. Repenting extinguished. [This hexagram describes your situation in terms of stripping away a protective cover. It emphasizes that radically changing and renewing the way you present yourself is the adequate way to handle it...]",
  :wilhelm-baynes
  "Revolution. On your own day you are believed. Supreme success, furthering through perseverance. Remorse disappears.",
  :wu
  "Reform indicates that revolution will become credible when the time is ripe. In this way, it is great and pervasive and advantageous to be persevering. Regret will disappear.",
  :shaughnessy
  "The Bridle: on the si day then return; prime receipt; beneficial to determine; regret is gone."},
 :line-6
 {:anthony
  "The inferiors conform to the required changes only superficially. Habit is strong and clarity short-lived. Permanent change occurs only through step by step discipline. Giant steps lead to rebellion and back-sliding, therefore patience and perseverance are necessary.",
  :confucius-legge
  "The superior man produces his changes as the leopard does when he changes his spots means that their beauty becomes more elegant. Inferior men change their faces means that they show themselves prepared to follow their ruler. Wilhelm/Baynes: His marking is more delicate ... He is devoted and obeys the prince. Blofeld: The Superior Man brings about the change `like a leopard' means that he does so in a manner that is exceedingly graceful. That lesser men promptly switch their allegiance means that they readily accept his lead. Ritsema/Karcher: One's pattern beautiful indeed. Yielding uses adhering-to the chief indeed. Cleary (2): Their spots are dense. They follow the leader docilely. Wu: Because his refinements are elegant. This means he (the little man) will obey the king.",
  :liu
  "The superior man transforms himself like a leopard. The inferior man changes his attitude. To advance leads to misfortune. To remain and persist leads to good fortune.",
  :cleary-1
  "Superior people transform, inferior people change on the surface. To go on an expedition is unlucky, to remain correct is auspicious. [Gentle non-striving revolution is only possible to superior people with faith. Inferior people without faith cannot accomplish it. Inferior people change their appearance, their surface, but they do not change their hearts; their wills are not firm, and they do not finish what they have started, eventually to fall into ruin, bringing on misfortune. Superior people always remain correct; their will becomes stronger with time, so that they ultimately attain the Tao and achieve good fortune. This is revolution in which false and true bear their fruits.]",
  :cleary-2
  "Developed people transform like leopards; undeveloped people change their faces … etc.",
  :legge
  "Line six is magnetic, but still penetrated with the spirit of the hexagram. He is a superior man, inferior only to the great man immediately below him in line five. Any changes he makes will be subordinate only to those of the ruler. If he be an inferior man, he will be compliant and submissive. The lesson for him is to abide firm and correct without taking unilateral action.",
  :blofeld
  "The Superior Man brings about the change like a leopard and lesser men promptly switch their allegiance. [Like a tiger and like a leopard do not have any connotation of fierceness. The striped skin of the former and the spotted hide of the latter symbolize brilliance and beauty respectively.] To advance now brings misfortune. Righteous persistence brings good fortune to those who remain where they are.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A chun tzu: leopard transforming. Small People: Skinning the visage. Chastising: pitfall. Residing-in Trial significant.",
  :psychologically-interpreted,-the-tiger-can-be-seen-as-the-self,-the-leopard-as-the-ego,-and-the-small-(inferior)-men-as-the-complexes--the-habits,-appetites,-drives-and-passions-within-the-unconscious-psyche.-cleary’s-taoist-commentary-warns-the-ego-to-“maintain-both-the-spirit-and-letter-of-the-law”-lest-your-complexes-rationalize-the-situation-(many-spots)-and-adulterate-the-work.-if-this-is-the-only-changing-line,-the-new-hexagram-created-is-number-13,
  "Union of Forces, the corresponding line of which depicts an incomplete synthesis. Ritsema/Karcher’s Confucian commentary for 13:6 sums it up succinctly: “Purpose not-yet acquired indeed.” This strongly implies that the “inferior men” in the current line (whatever they symbolize in the situation at hand) represent cause for concern: Will the Metamorphosis be successful or not? Ritsema/Karcher’s: “Righteous persistence brings good fortune to those who remain where they are” portrays the best strategy for dealing with this situation. Anthony’s commentary nicely supplements this in contemporary idiom.",
  :wing
  "The major objective is reached and only details remain to be adjusted. Although you may see limitations in the new condition, you must not create disharmony by reaching for perfection. Try to find satisfaction in what is possible now and bring stability into your life.",
  :editor
  "This line does not lend itself to the gender symbolism for a magnetic line. The difference between the changes in line five and those in line six is seen in the difference between a tiger's stripes and a leopard's spots, and in the relative rank and value of the two animals. The tiger is in the ruler's place appropriate to its strength and majesty, and his changes are bold and distinct. The leopard is inferior only to the tiger in rank and power, and his changes are represented by hundreds of spots, suggesting numerous differentiations, many details. The ruler's reforms are sketched out in bold outlines (stripes), but the specifics (spots) are completed by his subordinates. It is through the letter of the law (the details) that inferior men are made to comply (to change their faces) and show obedience. This is a reiteration of the superior man's role in the Image: The Superior Man regulates the calendar and thus ensures that men are clear about times and seasons (Blofeld).",
  :siu
  "After bringing about successful major reforms, the man introduces the necessary minor adjustments in order to bring inferior men into compliance with the new order.",
  :commentary "",
  :wilhelm-baynes
  "The superior man changes like a panther. The inferior man molts in the face. Starting brings misfortune. To remain persevering brings good fortune.",
  :wu
  "The jun zi makes changes like a leopard. The little man makes only cosmetic changes. Going forward is foreboding. Remaining firm is auspicious.",
  :shaughnessy
  "The gentleman's leopard whip; the little man bridles the face; to be upright is inauspicious; determination about dwelling is auspicious."},
 :notes-&-para
 {:judgment
  "Hidden within its cocoon the caterpillar becomes a butterfly -- who would believe it until the Metamorphosis was complete?",
  :the-superior-man
  "recognizes that celestial sequences create changes only when they are due; he therefore acts in accordance with the requirements of the times.",
  :the-forty-ninth-hexagram-makes-an-analogy-between-the-natural
  "Metamorphosisof animal pelts and the proper way to regard radical changes in government. Lines one, five and six all refer to skin, and two, three and four refer to politics. The general idea is that radical transformations occur at their own natural pace -- they cannot be successfully forced any more than eggs can be made to hatch before their time. The Image makes this point in its reference to the celestial correlation of the seasons.",
  :once-one-assumes-conscious-responsibility-for-the-work,-there-comes-a-long-and-indefinite-period-in-which-one-labors-unceasingly-without-any-visible-results-at-all.-dream-images-and
  "I Ching meditations will indicate that progress is being made, but the ego's life in spacetime consists of seemingly fruitless labor in the service of a transcendental ideal. This is a universal experience -- it happens to everyone who undertakes the Work. In the Western Mystery Tradition it is known as the Dark Night of the Soul. (See Hexagram Number-36 for further insights into this unavoidable phenomenon.)",
  :psychologically-interpreted,
  "Metamorphosis means that changes are taking place in the unconscious psyche, but don't expect them to manifest until their growth is complete. The ego must recognize this and persevere with the Work, even when common sense counsels otherwise. It is a period of probation and trial, and many there are who fail the test.",
  :if-there-is-any-consolation-in-this-terrible-ordeal,-it-is-that-others-have-made-the-journey-before-you,-and-survived.-keep-the-faith-that,-in-the-imagery-of-this-hexagram,-the-lower-trigram-of-clear-perception-following-the-upper-trigram-of-cheerfulness-will-lead-you-through-the-most-challenging-of-all-transformations.
  ""},
 :commentary
 {:confucius-legge
  "In Metamorphosis, Water and Fire extinguish each other. When two daughters with opposing viewpoints live together, change is inevitable; but after the change is accomplished, faith is accorded to it: Clarity brings good cheer and progress through what is correct. When a transformation is properly accomplished, all occasion for regret disappears. Heaven and earth undergo their changes, and the four seasons complete their functions. The rulers of old transformed the state in accordance with the will of heaven and in response to the wishes of men. Great indeed is what takes place in a time of change.",
  :legge
  "The written character translated as Metamorphosis is used here in the sense of changing. Originally used for the skin of an animal or bird, it received the significance of changing at a very early time. The figure deals with the subject of changes which are called for in the state of the country. The necessity for change is recognized, and hints are given as to the spirit and manner in which they should be brought about.",
  :the-judgment-assumes-that-change-is-viewed-by-people-generally-with-suspicion-and-dislike,-and-therefore-should-not-be-made-hastily.
  "[This can refer to inner complexes, habits, etc. – Ed.]  When the necessity for change has been proven beforehand and subsequently carried out with firm correctness, then the issue will turn out satisfactorily.",
  :the-lower-trigram-is-the-symbol-for-fire-and-the-upper-for-water.-water-extinguishes-fire,-and-fire-dries-up-water.-each-"changes"-the-other.-the-lower-trigram-is-also-the-second-daughter-and-the-upper-is-the-youngest-daughter.-in-the-scheme-of-the-trigrams-these-two-are-seen-to-be-mutually-incompatible.
  ""},
 :line-3
 {:anthony
  "Changes are difficult to make. If we expect too much progress too soon, we are being hasty; if we do not put forth energy to persevere because the task seems too difficult, this is being excessively conservative. We need strength to make changes; strength comes only from seeing clearly that we must make this effort.",
  :confucius-legge
  "The change contemplated has been three times fully discussed -- to what else should attention be directed? Wilhelm/Baynes:When talk of revolution has gone the rounds three times, one may commit himself. If not, how far are things to be allowed to go? Blofeld: What else could we do under the circumstances? Ritsema/Karcher: Furthermore actually wherefore having-them. Cleary (2): Make three presentations. Where are you going? Wu: What else can be done?",
  :liu
  "To advance leads to misfortune. To continue leads to danger. When the idea of revolution has been spoken publicly three times, the people will believe it.",
  :cleary-1
  "It is not auspicious to go on an expedition; even if correct, there is danger. Revolutionizing words formulated thrice, there is certainty.",
  :cleary-2
  "An expedition leads to misfortune, dangerous even if correct. Change, then speak; on the third presentation, there will be trust. [Here one is too adamant and unbalanced; but one is in correspondence with the top (magnetic line), which is flexible but upright, representing a leader that is like a spotted leopard and cannot be changed forcibly… One can only change oneself so as to go along with the leader.]",
  :legge
  "The symbolism of line three is twofold. The line is dynamic and in his correct position, but has passed the center of the lower trigram of Clarity and is on an outward verge. These conditions may dispose him to reckless and violent changes which would be bad. But if he acts with caution and due deliberation he may take action, and he will be believed in.",
  :blofeld
  "To advance now would bring misfortune and persistence would lead to further troubles. When talk of revolution has thrice arisen, then act with confidence. [We must make very sure that a rumored change will occur before we take further action.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Chastising: pitfall, Trial: adversity. Skinning words three-times drawing-near: possessing conformity.",
  :wing
  "Do not step into change hastily, for this will bring misfortune. Yet if you hesitate or deny the possibility of change you will put yourself in danger. Rely upon openness and self-control to guide you. When the necessity of Changing has made itself perfectly clear, and when you have thoroughly contemplated its effect, you may then proceed.",
  :editor
  "This depicts a situation in which one must find the proper balance between action and inaction. The line is an unambiguous warning about being clear in one's mind and cautious in one's transactions. Balanced differentiations (perhaps augmented by mature advice from others) are called for. A rather callow impatience is implied, so it is useful to note the third place in Hexagram 17 (Following) which is created if this is the only changing line: “By staying with the strong man, you lose the boy. Through following, one will gain what one seeks. To continue benefits” (Liu). This is an unambiguous picture of immaturity (inexperience) rectified via seasoned discernment – psychologically, an image of the ego “following” the intentions of the Self.",
  :siu
  "The man is disposed toward violent and far-reaching changes. Yet after the complaints have been well aired, his recommendations will be understood. He will succeed.",
  :commentary "",
  :wilhelm-baynes
  "Starting brings misfortune. Perseverance brings danger. When talk of revolution has gone the rounds three times, one may commit himself, and men will believe him.",
  :wu
  "Going forward is foreboding. Remaining firm is perilous. In discussing reform thoroughly, he will gain confidence. [“Remaining firm is perilous”because by doing simply nothing, he will miss an opportunity in making contributions to reformation. In “discussing reform thoroughly” with others, such as his [6 th line] correlate, he will gain confidence in doing the right thing.]",
  :shaughnessy
  "To be upright is inauspicious; determination is dangerous. When bridling words thrice approach, there is a return."},
 :char \䷰,
 :other-titles
 {:titles
  ("Revolution(s)"
   "Transformation"
   "Skinning"
   "The Bridle"
   "The Symbol of Change"
   "Molting"
   "Leather"
   "Skin"
   "Molt"
   "Cut Off"
   "Changing"
   "Radical Change"
   "Overthrowing")}}
