{:binary "000100",
 :line-1
 {:confucius-legge
  "Her wishes have been satisfied to overflowing. Wilhelm/ Baynes: This leads to the misfortune of having the will obstructed. Blofeld:  The evil mentioned in this passage is that which results from utter exhaustion of the will-power. Ritsema/Karcher: Purpose exhausted, pitfall indeed. Cleary (2): Trumpeting joy bodes ill when the aspiration reaches an impasse. [The first yin harmonizes with the fourth yang above and rejoices in this; having no real qualities in oneself, only aspiring to cleave to others, how can one not come to an impasse?]Wu: Lacking aspiration will be foreboding.",
  :liu "Happiness that shows itself off brings misfortune.",
  :cleary-1 "Trumpeting joy is inauspicious.",
  :legge
  "Line one is magnetic, with a dynamic correlate in the fourth place. She may well enjoy the happiness of the time, but unable to contain herself, she erupts in boastful enthusiasm and calls undue attention to herself. Enthusiasm has thus been her undoing.",
  :blofeld
  "The crowing of the cock bespeaks repose -- an evil omen! [A sleepy cockcrow is not likely to bring men leaping from their beds, yet the traditional role of the cock is to sound the call to renewed action.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Calling Provision. Pitfall. [Provide(-for)/Provision, YU: ready, prepared for; prearrange, take precaution, think beforehand; satisfied, contented, at ease.]",
  :wing
  "Although you may have a harmonious connection with someone in a high position, it does not necessarily indicate that you are on top of the situation. Furthermore, if you boast of your advantage, you will surely invite disaster.",
  :editor
  "The meaning here can be subtle. Something (a strong emotion or attitude perhaps) is upsetting one’s equilibrium. In addition to the usual meaning of “enthusiasm,” this can symbolize any release or loss of energy (even despair, anguish, depression or grief – “Anti-Enthusiasm,” if you will), which serves to demolish Repose. Shaughnessy labels it Excess. Wilhelm and Blofeld render the Confucian commentary in terms of the obstruction or exhaustion of willpower. Ritsema/Karcher describe a loss of purpose; Cleary and Wu, blocked aspiration. If this is the only changing line, the hexagram changes to Shock, a plausible consequence in this case.",
  :siu "At the outset, the man is enthusiastic and boastful.",
  :commentary "",
  :wilhelm-baynes
  "Enthusiasm that expresses itself brings misfortune.",
  :wu "Crowing over merriment will be foreboding.",
  :  "",
  :shaughnessy "Calling out in excess; inauspicious."},
 :line-5
 {:anthony
  "The situation is difficult and uncomfortable. We are still under the influence of striving to achieve results or hedging to prevent them. However, our discomfort is useful in causing us to seek out these attitudes which block our progress.",
  :confucius-legge
  "She is mounted on a dynamic line in the central position, and her memories of the past have not yet perished. Wilhelm/Baynes: It rests upon a hard line. That it nevertheless does not die is due to the fact that the middle has not yet been passed. Blofeld:  Illness is indicated because this yielding line comes immediately above a firm one. Recovery rather than death is to be expected because this line is, nevertheless, central to the upper trigram.  Ritsema/Karcher: Trial: affliction. Riding a solid indeed. Persevering, not dying. Center not-yet extinguished indeed. Cleary (2): Being chaste in illness means riding on firmness. Never dying means not losing balance. Wu: Because its position remains central.",
  :liu "Long illness, but still living.",
  :cleary-1 "There is a persistent illness, but one never dies.",
  :cleary-2 "Chaste in illness, one never dies.",
  :legge
  "Line five is magnetic in the place of a dynamic ruler, and in danger of being carried away by the lust of enthusiasm. Her proximity to the powerful influence below is a source of danger. Hence she is represented as suffering from a chronic complaint.",
  :blofeld
  "Illness is presaged, but it will not last long or cause death.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Trial: affliction. Persevering, not dying.",
  :wing
  "Total harmony is obstructed and impossible. Yet the very awareness of this will keep you from sinking again into chaos and eventual defeat.",
  :editor
  "At its most neutral, the image suggests a chronic condition currently not amenable to being cured. Sometimes this feels like ironic irritation: the oracle seems to be asking: When are you ever going to learn?” The ego is clinging to outmoded ways (the memories mentioned in Legge's Confucian commentary), and is yet unable to fully comprehend the demands of the Work. If this is the only changing line, the hexagram becomes #45, Gathering Together, with a corresponding line hinting that the source of our illness may be less-than-pristine dedication. Cleary (2): “Gathering around the position, there is no blame. If those who are not loyal remain ever-faithful to their original commitment, regret vanishes.”",
  :siu
  "The man is continually complaining. Yet the very struggling against the daily troubles constitutes his immediate incentive for living.",
  :commentary "",
  :wilhelm-baynes
  "Here enthusiasm is obstructed. A man is under constant pressure, which prevents him from breathing freely. However, this pressure has its advantage – it prevents him from consuming his powers in empty enthusiasm. Thus constant pressure can actually serve to keep one alive.",
  :wu "It is like having a persistent illness, but not fatal.",
  :shaughnessy
  "Determination is illness; if constant you will not die."},
 :number 16,
 :name "Enthusiasm/Self-Deception/Repose",
 :the-image
 {:legge
  "Thunder exploding out of the Earth -- the image of Enthusiasm. The ancient kings, in accordance with this, composed their music and honored virtue, offering it especially to God when they worshipped him at the service of their ancestors.",
  :wilhelm-baynes
  "Thunder comes resounding out of the earth: the image of Enthusiasm. Thus the ancient kings made music in order to honor merit, and offered it with splendor to the Supreme Deity, inviting their ancestors to be present.",
  :blofeld
  "This hexagram symbolizes thunder over the earth. The ancient rulers venerated heaven's gifts with solemn music and they sacrificed abundantly to the Supreme Lord of Heaven in order to be worthy of their ancestors.",
  :liu
  "Thunder arising from the earth symbolizes Happiness. The ancient kings composed music to honor virtue, offering it to God and the spirits of their ancestors.",
  :ritsema-karcher
  "Thunder issuing-forth-from earth impetuously. Providing-for. The Earlier Kings used arousing delight to extol actualizing-tao. Exalting worship's Supreme Above. Using equalizing the grandfather predecessors. [Actualize-tao:ability to follow the course traced by the ongoing process of the cosmos... Linked with acquire, TE: acquiring that which makes a being become what it is meant to be.]",
  :cleary-1
  "When thunder emerges the earth stirs: Thus did the kings of yore make music to honor virtue, offering it in abundance to God, thereby to share it with their ancestors.",
  :wu
  "Thunder breaks out above the earth with a boom; this is Merriment. Thus the ancient kings used music to praise virtuous accomplishments and made grand offerings to the Supreme Being to be accompanied by their ancestors."},
 :line-4
 {:his-will-is-done-in-great-things.
  "Blofeld:  The first sentence indicates the fullest attainment of our will. Ritsema/Karcher: Purpose: the great moving indeed. Cleary (2): The aspiration is carried out greatly. Wu: His aspirations are fully realized.",
  :anthony
  "The source of enthusiasm is in believing in our path and its ultimate success, because it is correct. We gather friends and helpers when this belief is strong enough that we do not try to convince people or contend with them. Contending comes from the ego, which secretly disbelieves.",
  :confucius-legge
  "His aims take effect on a grand scale. Wilhelm/Baynes:",
  :liu
  "The source of happiness. One receives great gain without hesitation. Your friends are already successful.",
  :cleary-1
  "Being the source of joy, there is great gain. Do not doubt. Companions gather.",
  :legge
  "The dynamic subject of line four is the agent to whom the happy condition is owing, and it is only necessary to caution him to maintain his confidence in himself and his purpose. His adherents and success will continue.",
  :blofeld
  "From repose, great results accrue. Harbor no doubts. Why should it be harmful to befriend this official? [The meaning of this terse question is not obvious; but the enquirer may find it apt in the context either of his question or of subsequent events.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Antecedent Provision. The great possesses acquiring. No doubting. Partners join-together suddenly.",
  :wing
  "Harmonious times are approaching. It is safe to exhibit your confidence in the future. Your attitude will attract others to you, who will co-operate in your endeavors. In this way you can accomplish great deeds.",
  :editor
  "As the only dynamic line in the hexagram, line four is considered to be its ruler. When we note that Legge mentions harmony and satisfaction instead of enthusiasm, we begin to see the meaning behind Blofeld's title of Repose. Indeed, his translation of the line begins: From repose, great results accrue... Wilhelm's version gives the idea of consolidating forces as a hair clasp gathers the hair. Psychologically interpreted, a process of integration is symbolized. The line can sometimes be a gentle admonition to have faith in your own unconscious processes to advance the Work.",
  :siu
  "The man is confident, free of suspicions of others, and sincere in his dedication. He instills harmony and satisfaction among his associates. People gather around him in effective cooperation.",
  :commentary "",
  :wilhelm-baynes
  "The source of enthusiasm. He achieves great things. Doubt not. You gather friends around you as a hair clasp gathers the hair.",
  :wu
  "Let merriment have its way. There is much to gain. No doubt about it. Friends will unite their hairpins.",
  :  "",
  :shaughnessy
  "Really excess; if one greatly has gain, do not doubt; cowries and shells slander."},
 :line-2
 {:the-master-said
  "Does not he who knows the inception of things possess spirit-like wisdom? The superior man, in his intercourse with the high, uses no flattery, and, in his intercourse with the low, no coarse freedom: does not this show that he knows the inception of things? Those beginnings are the slight stirrings of movement, and the earliest indications of good fortune or ill. The superior man sees them, and acts accordingly without waiting for the delay of a single day. As is said in the I Ching, `He is firm as a rock, and acts without waiting for the delay of a single day. With firm goodness there will be good fortune.' Firm as a rock, how should he have to wait a single day to ensure his knowing those beginnings and his course? The superior man knows the minute and the manifested; he knows what is weak, and what is strong: he is a model to ten-thousand.",
  :it-is-balanced-in-the-right-way.
  "Wu: Because he is central and correct.",
  :you-don't-need-a-weatherman-to-know "",
  :confucius-legge
  "This is shown by the central and correct position of the line. Wilhelm/Baynes: Because it is central and correct. Blofeld: This is indicated by the suitable position of this line which is central to the lower trigram. Ritsema/Karcher: Using centering correcting indeed. Cleary (2):",
  :liu
  "Firm and stable like a rock. Do not wait a whole day. Continuing brings good fortune.",
  :cleary-1 "Firm as a rock, not procrastinating, rectitude is good.",
  :which-way-the-wind-blows. "",
  :legge
  "The magnetic second line is in her correct central position in the lower trigram. Quietly and firmly she is able to abide in her place and exercise a far-seeing discrimination. All is indicative of good fortune.",
  :blofeld
  "Unmoved as a rock; before the end of day, righteous persistence will bring good fortune. [Unmoved as a rock because of the repose which results from absolute confidence in a decision already taken.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Chain-mail tending-towards petrification: Not completing the day. Trial: significant.",
  :wing
  "To be able to recognize the early signs of a change in fortune is a tremendous gift. While others may be swept away by compelling rhythms and fads, you adhere firmly to the underlying principles of your nature and react appropriately to the demands of the time. Such is the behavior of leaders.",
  :editor
  "All translations except Legge and Cleary's render the second sentence in the imagery of not waiting for a whole day to pass,” which suggests action taken on the basis of foresight, premonition or intuition. This line is sometimes an injunction to follow your common sense -- saying in effect, that an oracle is unnecessary to proclaim the obvious.",
  :siu
  "The man is quiet, but firm as a rock, yet sensitive to the first imperceptible signs of impending changes. He does not delay in taking action.",
  :commentary "",
  :wilhelm-baynes
  "Firm as a rock. Not a whole day. Perseverance brings good fortune.",
  :wu
  "He is upright like a rock. In less time than the passing of the day, he discriminates the good from the bad. To be persevering is auspicious.",
  :  "",
  :shaughnessy
  "Scratched on a rock; not to the end of the day; determination is auspicious.",
  :--bob-dylan ""},
 :judgment
 {:legge
  "Enthusiasm indicates that feudal princes may be set up and the army advantageously mobilized.",
  :wilhelm-baynes
  "Enthusiasm. It furthers one to install helpers and to set armies marching.",
  :blofeld
  "Repose profits those engaged in building up the country and sending forth armies. [This means that perfect certainty as to the rightness of our cause is of great value under the conditions mentioned. The usual meaning of this character is beforehand or happiness. In the English translation of Wilhelm's version, it appears as enthusiasm. Repose was suggested by the Chinese experts who kindly vetted this manuscript. At first I felt hesitant about adopting it, until I realized that, where it is used favorably, it must be understood as the kind of mental repose which follows absolute confidence that the action now being taken is the right one. In lines one, three and six, however, it clearly means failure to act when action is essential; in line five, failure to act owing to incapacity.]",
  :liu
  "Happiness. It is of benefit to build up the country (or business), and send the army forth. [Receivers of this hexagram should be wary of exhibiting excessive enthusiasm when beginning a new undertaking. If they are not, there will be misfortune. The hexagram also advises that everything necessary for advancement should be made ready. Then if an opportunity presents itself, it should be seized immediately, without hesitation.]",
  :ritsema-karcher
  "Providing-for , Harvesting: installing feudatories to move legions. [This hexagram describes your situation in terms of what is needed to meet the future. It emphasizes that accumulating strength through foresight and prudence so things can be fully enjoyed is the adequate way to handle it. To be in accord with the time, you are told to: provide-for!]",
  :shaughnessy
  "Excess: Beneficial to establish a lord and to move troops.",
  :cleary-1
  "Joy. It is advantageous to set up a ruler and mobilize the army.",
  :wu
  "Merriment indicates the advantage of establishing principalities and taking military actions."},
 :line-6
 {:confucius-legge
  "How can one in such a condition continue for long? Wilhelm/Baynes: Deluded enthusiasm in a high place: how could this last? Blofeld:  Since this is a top line, the state of madcap repose cannot possibly last long. Ritsema/Karcher: Dim Providing-for located above. Wherefore permitting long-living indeed? Cleary (2): Oblivion in joy is at the top. What can last? Wu: How can the situation continue for long?",
  :liu "Deluded happiness. Change after completion. No blame.",
  :cleary-1
  "Oblivious in joy. What comes about has change; there is no blame.",
  :cleary-2 "… What has come about changes, etc.",
  :the-action-of-the-figure-is-over,-and-if-she-postpones-changing-her-evil-ways-any-longer,-there-is-no-hope-remaining-for-her.-however,-there-is-still-a-chance-of-safety-if-she-will-but-change.
  "",
  :legge
  "The magnetic sixth line at the end of the hexagram is all but lost.",
  :blofeld
  "Madcap repose. Fortunately a change takes place, so no blame is involved. [Madcap repose implies being tardy to the point of extreme rashness in the face of approaching danger or of a need to act.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Dim Providing-for. Accomplishment: possessing denial. Without fault.",
  :wing
  "The person in this position is lost in the memory of a compelling and harmonious experience. The time is past, and what is left is empty egotism. Fortunately, reform is possible. There is an opportunity to move on to a situation of new growth.",
  :siu
  "The man is distracted by pleasure and satisfaction. If he changes after the events of the day have run their course, however, the sober awakening will prevent future errors.",
  :commentary "",
  :wilhelm-baynes
  "Deluded enthusiasm. But if after completion one changes, there is no blame.",
  :wu
  "Merriment is obscured. There may be success, but changes are pending. There will be no error.",
  :  "",
  :shaughnessy
  "Dark excess; if complete perhaps you will be informed; there is no trouble."},
 :notes-&-para
 {:judgment "Delegate authority and gather your forces.",
  :the-superior-man
  "synchronizes his will with the intent of the Self via the principles of the Work.",
  :enthusiasm
  "is the reverse of the preceding hexagram of Temperance. In Temperance we saw the calm strength of a mountain concealed within the earth. In Enthusiasm we see thunder exploding out of the ground into the sky: the strength that was formerly tempered and restrained is now released. It is significant to note that while every line of Temperance is more or less favorable,” every line of Enthusiasm is either negative or cautionary -- even the generally positive fourth line carries a hint of warning about “doubt.”",
  :negatively,
  "Self-Deception (the passion of True Believers) seems to be what this hexagram is portraying. The figure often suggests a callow or deluded buoyancy -- the kind of outlook associated with romantic idealists. In its most negative aspect, Enthusiasm is Intemperance -- the exact opposite of the moderation and restraint shown in the preceding hexagram. The behavior of an untrained Great Dane puppy suddenly bursting into a formal dinner party could be described as enthusiasm,” but hardly a desirable form thereof. The lower trigram of Obedient Devotion has suddenly employed the action and energy of the upper trigram of Thunderous Shock to express itself. This is inconsistent with the code of the superior man.",
  :conversely,-in-its-most-positive-sense,
  "Enthusiasm suggests the surety of total self-confidence. Blofeld translates this as Repose, explaining that the name was suggested to him by his Chinese advisors. We begin to understand this subtle distinction when we compare the seemingly obscure connection with music in the Image with a passage from Chuang- tse:",
  :to-understand
  "“the music of heaven” is to attain Repose, which is another way of describing the tranquility that comes with furthering the intent of the Self. The only dynamic line in the hexagram is in the minister's place just below the fifth-line ruler. He has the confidence of his sovereign and his actions therefore accord with heaven. We can turn to the Stoics to find an illustration of this idea:",
  :thus-we-see-that-the-hexagram-can-describe-either-one-of-two-opposite-conditions--the-intemperate
  "Enthusiasm of ego-confidence (a synonym for Self-Deception), or the calm Repose of true SELF-confidence. The fifteenth and sixteenth hexagrams, each the inverse of the other, represent magnetic and dynamic aspects of the same general idea: Enthusiasm, when it emanates from the Self, is just Temperance in action."},
 :commentary
 {:confucius-legge
  "Enthusiasm shows one dynamic line inspiring responsive obedience in all the others: devoted obedience takes action. Such obedient action conforms to natural law and creates order and discipline in the people. The planets and the seasons follow their natural cycles. The sages similarly obey the laws of their nature and the people acknowledge their regulations and punishments as just.",
  :legge
  "Enthusiasm shows harmony and contentment throughout the kingdom -- a time when the people rejoice in their sovereign and readily obey him. At such a time his appointments and any military undertakings would be hailed and supported. Because he is close to the fifth place of dignity, the dynamic fourth line is seen as the chief executive officer of the ruler. The ruler has confidence in him, and all of the magnetic lines yield their obedience. Obedience is the attribute of the lower trigram which here takes the initiative and uses Movement, which is the attribute of the upper trigram.",
  :the-symbolism-of-the-image-is-more-obscure-than-usual.-the-use-of-music-at-sacrifices-is-supposed-to-assist-in-producing-the-union-between-god-and-his-worshippers-as-well-as-the-present-and-past-generations.
  ""},
 :line-3
 {:confucius-legge
  "This is intimated by the position not being the appropriate one. Wilhelm/Baynes: The place is not the appropriate one. Blofeld:  This is indicated by the line's unsuitable position. Ritsema/ Karcher: Situation not appropriate indeed. Cleary (2): Wu: Because his position is improper.",
  :liu "Looking upward leads to remorse. Delay brings regret.",
  :cleary-1
  "Looking up to joy, if repentance is tardy, there will be regret.",
  :cleary-2 "Looking up in joy, repent. If too late, there is regret.",
  :legge
  "Line three is magnetic in a dynamic place. She looks upward and depends upon the ruling line above while she does nothing herself but indulge in pleasure. Unless she changes her attitude, the auspice is bad.",
  :blofeld
  "To gaze reposefully brings regret; tardy action brings regret. [This suggests inactivity prolonged beyond reasonable measure.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Skeptical Providing-for, repenting. Procrastinating possesses repenting.",
  :wing
  "You have waited complacently for a cue from someone else to motivate you. Whatever the reasons for your hesitation, whether it is idle pleasure in the present or simply inertia, you are losing your independence and self-reliance. You can still save yourself. Move.",
  :editor
  "This line is magnetic when the times call for dynamic action, giving us an image of indolent dependency. Without doing anything, she wants to have her cake and eat it too.” Sometimes one receives this line when in a state of despair: feeling as if abandoned to one's fate by an incomprehensible cosmos. The idea is that fate isn't going to make the transition for you: you must do it yourself.",
  :siu
  "The man looks upward for favors and continues his dependency upon others. He indulges in visions of pleasure and affluence. Unless he changes immediately, he will be sorry.",
  :commentary "",
  :wilhelm-baynes "Enthusiasm that looks upward creates remorse.",
  :wu
  "Gazing at merriment will bring regret. Loitering about will bring regret.",
  :hesitation-brings-remorse. "",
  :  "",
  :shaughnessy "A bowl's excess; regret; being slow there is regret."},
 :char \䷏,
 :other-titles
 {:titles ("The Symbol of Harmonious Joy"),
  :quotes
  ({:author
    ", Merriment, Selfconfidence, Contentment, Harmonize, Excitement, Intemperance,",
    :quote ", Happiness, Providing-for/Provision,"}
   {:author "D.F. Hook",
    :quote
    "Repose in the absolute confidence that the action now being taken is right. Also refers to music."})}}
