{:binary "010011",
 :line-1
 {:confucius-legge
  "The good fortune is due to the natural course pursued by its subject. Wilhelm/Baynes: Is based on its devotion. Blofeld: Results from willing accord with others. Ritsema/Karcher: Yielding indeed. Cleary (2): The fortune of the first yin is in following. Wu: The auspiciousness comes from an amiable relationship.",
  :liu "To rescue one with a strong horse. Good fortune.",
  :cleary-1 "Act to save the horse. Vigor will have good results.",
  :cleary-2 "For rescue, it is fortunate that the horse is strong.",
  :legge
  "Line one, at the commencement of the hexagram, tells us that the evil has not yet made great progress, and that dealing with it will be easy. But the subject of the line is magnetic in a dynamic place. She cannot cope with the evil herself. She must have help, and she finds it in a strong horse, which is understood to symbolize the subject of the dynamic second line. The natural course” that line one pursues is that required by the circumstances of the time.",
  :blofeld
  "Helping others with the strength of a horse – good fortune!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Availing-of a rescuing horse, invigorating significant.",
  :wing
  "You can see the very beginning of discord. This is fortunate indeed, for it is far easier to reunify and overcome separation when it first arises. Good fortune.",
  :editor
  "Both the Wilhelm and Legge commentaries tell us that line two is the horse referred to here. It follows that if line two is the horse, then we can think of line one as its rider.” Horses symbolize raw energy, and suggest the instinctual-emotional components of the psyche. The rider would be the ego who controls this energy. See the commentary on line two for additional insights.",
  :siu
  "At the outset, the man overcomes misunderstanding through a precise and energetic response to the needs of the moment.",
  :commentary "",
  :wilhelm-baynes
  "He brings help with the strength of a horse. Good fortune.",
  :wu "To rescue with the aid of a strong horse is auspicious.",
  :shaughnessy "Holding aloft a horse; auspicious; regret is gone."},
 :line-5
 {:shaughnessy’s-rendering
  "“Dispersing his liver with a great cry…” suggests a connection with Chinese medicine which may be useful in interpreting the symbolism of this line:",
  :confucius-legge
  "The accumulations of the royal granaries are dispersed, and there is no error -- this is due to the correctness of the position. Wilhelm/Baynes: He is in his proper place.  Blofeld:  The correct position of this ruling line. Ritsema/ Karcher: Correcting the situation indeed. Cleary (2): This is the right position. Wu: His position is correct.",
  :liu
  "Dispersion is like sweat pouring from the body, with loud cries. Separation from the king's palace. No blame.",
  :cleary-1
  "Dispersing defilement, that is a great directive. The dispersing king remains impeccable.",
  :cleary-2
  "Scattering sweat; the great call scatters. The king abides. There is no fault.",
  :legge
  "Line five shows us the proclamations and benevolent actions of the ruler himself. Canon McClatchie gives an ingenious and original note upon the symbol of the perspiration: “As sweat cures fevers, so do proclamations cure rebellions.”",
  :blofeld
  "Scattering perspiration, he issues his royal command. The King disperses the treasures in his palace among the people -- no blame. [One additional commentary suggests that perspiration comes from illness and anxiety and that the meaning is: The King rids himself of cause for anxiety by ordering that his goods be dispersed among the needy.” Again, large generosity is required for our success.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Dispersing sweat, one's great crying out. Dispersing. Kinghood residing, without fault.",
  :wing
  "During times of discord and disunity a great proclamation or inspiring idea is necessary to again reunify the situation. In this way, others put aside their factionalism and work together once again.",
  :editor
  "Perspiration is a healing release of energy in response to somatic disequilibrium: a catharsis. The definition of catharsis is: Any purification or purgation that brings about a spiritual renewal or a satisfying release of tension.” Wilhelm interprets this as an idea or concept: “In times of general dispersion and separation, a great idea provides a focal point for the organization of recovery.”  Psychologically interpreted, royal granaries” (or treasures”) are wellsprings of libido or Chi (Qi). The line thus suggests psychic energy being redistributed as the result of the elimination of a previously blocked condition. The keywords are redistribution/ reorganization -- showing how the forces symbolized in this hexagram and Number 45, Contraction, comprise the expansion and contraction phases of a larger evolutionary process. At its most neutral, the line can depict any sudden release of energy, such as conversational enthusiasm.",
  :siu
  "The man announces a great policy during a period of disunity and deadlock which serves as a rallying point for reforms. Misunderstanding is thereby dissipated by his proclamation.",
  :commentary "",
  :wilhelm-baynes
  "His loud cries are as dissolving as sweat. Dissolution! A king abides without blame.",
  :wu
  "At the time of dispersion, he proclaims with loud voice until he perspires. He distributes the contents in the royal residence. No error.",
  :shaughnessy
  "Dispersing his liver with a great cry. Dispersing the king's residence; there is no trouble."},
 :number 59,
 :name "Expansion (Dispersion)",
 :the-image
 {:legge
  "The image of wind moving over water forms Expansion. The ancient kings, in accordance with this, presented offerings to God and established the ancestral temple.",
  :wilhelm-baynes
  "The wind drives over the water: the image of Dispersion. Thus the kings of old sacrificed to the Lord and built temples.",
  :blofeld
  "This hexagram symbolizes wind blowing across the face of the waters. The kings of old built temples in which to sacrifice to the Supreme Lord of Heaven. [A temple is a place of safety from the ills of the world. The symbolism here is that the upper trigram forms a temple in which people are safe from the pit (the lower trigram); its middle line (five) signifies the King. The implication is that we should employ spiritual or moral means to preserve ourselves from the danger threatened by the lower trigram.]",
  :liu
  "Wind blowing over water symbolizes Dispersion. The ancient kings offered sacrifices to the Deity, then built temples.",
  :ritsema-karcher
  "Wind moves above stream. Dispersing. The Earlier Kings used presenting tending-towards the supreme to establish the temples.",
  :cleary-1
  "Wind blows above water, Unintegrated. Thus ancient kings honored god and set up shrines.",
  :cleary-2
  "Wind travels over the water, dispersing. Ancient kings honored God and set up shrines.",
  :wu
  "The wind moves above water; this is Dispersion. Thus, the ancient kings made offerings to the Supreme Being and consecrated their ancestral temple."},
 :line-4
 {:dispersion-leads-in-turn-to-accumulation.-this-is-something-that-ordinary-men-do-not-think-of.
  "",
  :confucius-legge
  "Brilliant and great are her virtue and service.  Wilhelm/Baynes:  His light is great.Blofeld: In this context, sublime good fortune connotes glory. Ritsema/Karcher: Shining great indeed. Cleary (2): The illumination is great. Wu: What he does is right and brilliant.",
  :liu
  "He disperses his group. Great and fortune. (Sic.) He disperses his hills (property). Ordinary people do not think of this.",
  :cleary-1
  "Dispersing the crowd is very auspicious. On dispersal there is gathering, inconceivable to the ordinary.",
  :legge
  "Line four, though magnetic, is in its correct place, and adjoins the dynamic fifth-line ruler. The subject of four therefore fitly represents the minister, whose task is to assume a great part in remedying the evil of dispersion. She brings divisive partisanship to an end, and re-assembles those who had been divided into a great body so that they stand out conspicuously like a hill.",
  :blofeld
  "He disperses his group of companions [Namely a group of people who have proved themselves inimical to the public good] -- sublime good fortune! Dispersion leads to accumulation, but this is not something that ordinary people understand. [This is an auspicious time to cast our bread upon the waters. Acts of great generosity are now essential to our success.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Dispersing one's flock, Spring significant. Dispersing possessing the hill-top. In-no-way hiding, a place to plunder.",
  :wing
  "Here you can bring dissent and discord to an end. The perspective that comes with far-reaching ideals and concerns for the general welfare will allow you to transcend partisan interests. In this way you will find extraordinary success.",
  :editor
  "Psychologically interpreted, parties in the state can symbolize obsolete attitudes and limiting beliefs held by complexes within the psyche. The image suggests a process of psychic re-organization. One is reminded of the alchemical aphorism: Solve et coagula, et habebis magisterium. (“Separate and recombine, and you will have the masterpiece.”) This refers to the differentiation of all the aspects of a situation for the purpose of recombining them into a totally new entity.",
  :siu
  "The man brings dissent and partisanship to an end by his transcendent view of life's interrelationships. He rises above personal friendships to assemble good men from near and far.",
  :commentary "",
  :wilhelm-baynes
  "He dissolves his bond with his group. Supreme good fortune.",
  :wu
  "He disbands cliques. Great fortune. A few mounds remain. This is not what ordinary people can anticipate.",
  :shaughnessy
  "Dispersing his flock; prime auspiciousness. Dispersal has a hillock; it is not that about which the younger sister thinks."},
 :line-2
 {:confucius-legge
  "He gets what he desires. Wilhelm/Baynes:  And thus attains what he wishes. Blofeld: We shall obtain what we desire.  Ritsema/Karcher: Acquiring desire indeed. Cleary (2): Running to support on dispersal is attaining what is wished. Cleary (2): Attaining what is wished. Wu: He gets what he wishes.",
  :liu
  "At the dispersion he hastens to the opportunity. Remorse vanishes.",
  :cleary-1 "Running to support upon dispersal, regret vanishes.",
  :legge
  "Line two is dynamic, but in a magnetic place, and although that place is central, it is in the trigram of Peril. These conditions indicate evil, and action will be dangerous. But line two looks to line one below him, and takes shelter in union with it. Line two desires success in counteracting the prevailing tendency to disunion, and the Confucian commentary suggests that he attains his desire.",
  :blofeld
  "When disintegration is in process, hasten to the altar and regret will vanish.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Dispersing: fleeing one's bench. Repenting extinguished.",
  :wing
  "Your problems originate from within. You must modify your attitudes and overcome any feelings of alienation. If you can improve your opinions and feelings toward your fellow man you will find peace of mind and avoid unnecessary suffering.",
  :editor
  "Legge renders the object of security here as a contrivance.” Other translations of this are: Altar,” Opportunity,” Bench,” Stairs” Shelter,” “Couch,” and “That which supports him.” Wilhelm and Blofeld say that this object is not line one, but line five. Blofeld's commentary on the Image is appropriate to this second line as well: The symbolism here is that the upper trigram forms a temple in which people are safe from the pit (the lower trigram); its middle line (five) signifies the king. The implication is that we should employ spiritual or moral means to preserve ourselves from the danger threatened by the lower trigram.” In other words: when confusion prevails rely on the principles of the Work to guide your choices.",
  :siu
  "The man finds himself alienated from others because of the prevailing ill humor and misanthropy. However, he revises his judgment of humanity and takes shelter in his strong position. His moderate and just view of mankind removes the causes for repentance later.",
  :commentary "",
  :wilhelm-baynes
  "At the dissolution he hurries to that which supports him. Remorse disappears.",
  :wu
  "At the time of Dispersion, he rushes to where the couch is. The regret will disappear.",
  :shaughnessy "Dispersal rushes its stairs; regret is gone."},
 :judgment
 {:liu
  "Dispersion.  Success. The king approaches the temple. It is of benefit to cross the great water. It benefits to continue.",
  :cleary-1
  "In Dispersal there is development. The king comes to have a shrine. It is beneficial to cross great rivers . It is beneficial to be correct.",
  :cleary-2
  "Dispersal is successful. The king goes to his ancestral temple. The benefit crosses great rivers. It is beneficial if correct.",
  :legge
  "Expansion intimates that there will be progress and success. The king goes to his ancestral temple. It will be advantageous to cross the great stream. It will be advantageous to be firm and correct.",
  :blofeld
  "Scattering -- success! The King has approached his temple. [An omen of safety.] It is advantageous to cross the great river (or sea). [I.e., to go on a long journey.] Persistence in a righteous course brings reward.",
  :ritsema-karcher
  "Dispersing , Growing. The king imagines possessing a temple. Harvesting: wading the Great River. Harvesting Trial. [This hexagram describes your situation in terms of confronting obstacles, illusions and misunderstandings. It emphasizes that clearing away what is blocking the light is the adequate way to handle it. To be in accord with the time, you are told to: disperse what obstructs awareness!]",
  :wilhelm-baynes
  "Dispersion. Success. The king approaches his temple. It furthers one to cross the great water. Perseverance furthers.",
  :wu
  "Dispersion indicates pervasiveness. The king does homage to his ancestral temple. It will be advantageous to cross the big river, but only with perseverance.",
  :shaughnessy
  "Dispersal: Receipt; the king approaches into the temple; beneficial to ford the great river; beneficial to determine."},
 :line-6
 {:and-the-sun-came-out-to-dry-me. "",
  :a-world-torn-loose-went-by-me. "",
  :then-the-rain-stopped-and-the-blowin "g",
  :and-started-down-the-gully. "",
  :robert-frost "",
  :confucius-legge
  "His bloody wounds are gone. He is far removed from the danger of injury. Wilhelm/Baynes: He keeps at a distance from injury. Blofeld: This means keeping evil at a distance. Ritsema/Karcher: Distancing harm indeed. Cleary (2): Scattering the blood means avoiding harm. Wu:“He disperses what hurts him,” because he is able to distance it.",
  :liu
  "Dissolving his (coagulated) blood. Departing to a remote place. No blame.",
  :bumped-heads-together-dully "",
  :cleary-1 "Dispersing the blood, going far away, there is no fault.",
  :whole-capes-caked-off-in-slices. "",
  :legge
  "Line six is dynamic, with a magnetic third line correlate. However, because three is at the top of the trigram of Peril, six avoids her company. He does this in the spirit of dispersion, and therefore incurs no blame.",
  :blofeld
  "Dispersing blood (i.e. fending off injury or violence), he keeps it at a distance -- no blame! [The text of the original is so unclear that the additional commentaries all disagree as to the meaning of dispersing blood, but the general idea is perfectly clear from the commentary on the line.]",
  :notes-and-paraphrases "",
  :i-felt-my-standpoint-shaken "",
  :ritsema-karcher
  "Dispersing one's blood. Departing far-away, issuing-forth. Without fault.",
  :one-step-backward-taken "",
  :were-once-more-on-their-travels, "",
  :wing
  "Avoidance of danger is necessary at this time, both for yourself and especially for those of your concern. This should be accomplished in whatever way possible. Depart the situation if necessary. You will not be blamed for such action.",
  :but-with-one-step-backward-taken "",
  :editor
  "Wilhelm emphasizes in his commentary the idea of one who helps his kin avoid danger. Psychologically, this means to keep your inner family” from harm. If this is the only changing line, the hexagram becomes number twenty-nine, Danger, suggesting a serious situation demanding a careful choice of options. Wu’s translation seems to convey the idea most succinctly.",
  :siu "The man removes the sources of danger and bloodshed.",
  :i-saved-myself-from-going. "",
  :not-only-sands-and-gravels "",
  :commentary "",
  :wilhelm-baynes
  "He dissolves his blood. Departing, keeping at a distance, going out, is without blame.",
  :wu
  "At the time of dispersion, he disperses what hurts himand alleviates what worries him. No error.",
  :great-boulders-off-their-balance "",
  :shaughnessy "Dispersing his blood, he departs, warily exiting.",
  :in-the-universal-crisis. "",
  :but-gulping-muddy-gallons ""},
 :notes-&-para
 {:the-superior-man "subdues his ego to attain his latent potential.",
  :the-judgment-of-hexagram-number-forty-five,
  "Contraction, also mentions the king going to his ancestral temple. A close comparison of this figure with Expansion will reveal much about the dynamics of the Work.",
  :the
  "ancient kings and sages are more mythical than historical, so we can assume that they symbolize archetypal forces (gods) within the psyche -- of whom the ego is only the current spacetime representative (i.e., servant- facilitator). The Self is the focal point, the center of this multidimensional awareness complex.",
  :judgment
  "Focus on the ideals of the Work and maintain your will. A major synthesis is possible.",
  :expansion
  "is the inverse of the following hexagram of Restrictive Regulations. What is there confined and hoarded is here dispensed -- but this dispensation must conform with the ultimate good of the Work. Not just any release of tension will do -- it must recombine itself into a new and better organization, as imaged in the fourth line. If this new order is a proper one, the released tension precipitates a catharsis, as imaged in line five.",
  :suggestions-for-meditation "",
  :because-of-the-intimate-relationship-between-this-figure-and-hexagram-number-45,
  "Contraction, I have chosen the title of Expansionto best emphasize their polarity.",
  :psychologically,
  "Expansion depicts a state of inner pressure capable of fruitful resolution if it can be properly guided. The king in the Image (in this case, the ego) sacrifices for a high ideal: the good of the Work. Legge's commentary tells us that the second sentence of the Confucian commentary literally begins: `The king is indeed in the middle...' This suggests a combination of his second and third sentences into the paraphrase: The king steers a middle course when crossing the water to the ancestral temple. This gives the image of a vessel and the proper way to guide it toward a destination. Anyone who has ever steered a boat with a rudder knows that to over-correct on either side is a mark of poor seamanship: the goal is to maintain a dynamic balance in our guidance of the Work. Lines two and five represent proper course-correction because they are both in the middle of their respective trigrams.",
  :the-symbol-of-a-temple,-where-one-worships-one's-ancestors-may-be-taken-as-the-perfect-gestalt-of-the-work-as-it-exists-outside-of-spacetime,-as-well-as-the-karmic-repository-of-all-previous-incarnations.-it-represents-both-the-completed-work-and-the-work-in-progress.-that-the-family-temple-was-regarded-in-china-as-symbolic-of-an-ideal-standard-of-perfection-such-as-this,-is-implied-in-the-following-passage
  ""},
 :commentary
 {:confucius-legge
  "The dynamic line is central in the lower trigram, and the magnetic fourth line is correct in the upper trigram, uniting with the dynamic ruler above her. The king's mind is without any deflection as he goes to his ancestral temple. He rides over water in a vessel of wood, and will cross the great stream with success.",
  :legge
  "The hexagram of Expansion denotes a state of dissipation or dispersion. It shows men's minds alienated from correctness and sure to go on to disorder. Here an attempt is made to show how the situation should be remedied.",
  :the-lower-trigram-represents-water,-and-the-upper,-wind.-wind-moving-over-water-evaporates-it,-and-suggests-the-idea-of-dispersion.-success-is-intimated-because-there-are-dynamic-lines-occupying-the-central-places-in-the-trigrams.-the-king's-piety-moves-the-spirits-by-its-sincerity--when-the-religious-spirit-rules-men's-minds,-there-will-be-no-alienation-from-what-is-right-and-good.-under-such-conditions-even-hazardous-enterprises-may-be-undertaken.
  "",
  :the-second-sentence-of-the-confucian-commentary-literally-begins
  "The king is indeed in the middle... This means that his heart and mind are set on the central truth of what is right and good. The ancestral temple signifies the recognition that sincere religious practices counteracted the tendency to mutual alienation and selfishness among men. The wooden vessel refers to one of the attributes of the upper trigram, which is Wood. It suggests a boat riding on water (the lower trigram), hence: crossing the great water."},
 :line-3
 {:confucius-legge
  "She has no regard for her own person. Her aim is directed to what is external to herself. Wilhelm/Baynes: His will is directed outward. Blofeld: The will is fixed upon something external to our own well-being. Ritsema/Karcher: Purpose located outside indeed. Cleary (2): The aim is outside. Wu: His goal is to reach out.",
  :liu
  "He dissolves his egotism. No remorse. [A person should be wary of disaster: if it occurs, he may not be able to escape its results.]",
  :cleary-1 "Dispersing the self, there is no regret.",
  :legge
  "Line three is magnetic in a dynamic place. Although we might fear an excessive self-regard which would render her useless in the work of the hexagram, she discards selfishness and will do nothing shameful. There is a change of style in the Chinese text at this point. As Wang Sheng-tzu (Yuan dynasty) says -- Here and henceforth the scattering is of what should be scattered, that which should not be scattered may be collected.",
  :blofeld "Self-centered thoughts are dispersed -- no regret!",
  :notes-and-paraphrases "",
  :ritsema-karcher "Dispersing one's body. Without repenting.",
  :wing
  "The proposed task is so great and difficult that you will need to put all personal concerns aside. Working toward common goals will greatly benefit your inner strength; there is no regret in such selflessness.",
  :editor
  "This line changes the hexagram to number fifty-seven, translated by Blofeld as Willing Submission. The idea of selfless devotion to the Work is clearly implied. Liu's version is the most concise, depicting the sacrifice of egotism (in favor of the higher possibilities within the situation). Note that Wang Sheng-tzu’s commentary (see Legge above) suggests the alchemical principle of solve et coagula – a profound concept from the Perennial Philosophy.",
  :siu
  "The man disregards his own personal interests in order to work for the benefit of others.",
  :commentary "",
  :wilhelm-baynes "He dissolves his self. No remorse.",
  :wu
  "He distributes his personal belongings to others. There will be no regret.",
  :shaughnessy "Dispersing his torso; there is no trouble."},
 :char \䷺,
 :other-titles
 {:titles
  ("Dispersion"
   "Dissolution"
   "Disintegration"
   "Dispersal"
   "Overcoming Dissension"
   "Scattering"
   "Dispersing"
   "Unintegrated"
   "Reuniting"
   "Evaporation"
   "Reorganization"
   "New Deal"
   "Re-Shuffle"
   "Course Correction"
   "Catharsis")}}
