{:binary "110000",
 :line-1
 {:hua-ching-ni
  "Advance impartially. One should start in this manner and continue in this direction. Good Fortune.",
  :confucius-legge
  "His will is set on doing what is right. Wilhelm/Baynes: His will is to act correctly. Blofeld:  This is because what is willed is carried out in righteous ways. Ritsema/Karcher: Purpose moving, correcting indeed. Cleary (2): Because the intention and the action are correct. Wu: Because his aspiration is correct.",
  :liu "Approach with sincerity. To continue brings good fortune.",
  :cleary-1 "Sensitive overseeing leads to good results when correct.",
  :legge
  "Line one is dynamic in his proper place. The danger is that he may be more strong than prudent -- hence the caution requiring firm correctness.",
  :blofeld
  "All approach -- righteous persistence will bring good fortune! [All approach can be taken to mean that all things desirable are converging upon us.]",
  :notes-and-paraphrases "",
  :ritsema-karcher "Conjunction Nearing, Trial: significant.",
  :wing
  "Begin your endeavors in the company of those who share your enthusiasm. This will give you the kind of strong support necessary to achieve your aims. At the same time you should be certain that you are pursuing worthwhile goals. Continuing in your principles brings good fortune.",
  :editor
  "The texts of the first two lines are almost identical. As the only two yang forces in the hexagram they support and reinforce each other in their advance on the yin lines. The image suggests an ego-Self accord in the work of pacifying disparate forces within the psyche. If this is the only changing line, the new hexagram becomes number seven, Discipline, which reinforces the idea of a disciplined dynamic advance. In the context of certain questions, the Confucian commentary here sometimes seems more accessible than the original line.",
  :siu
  "At the outset, the man advances with his associates to a higher position. He must remain more prudent than strong in doing right and not be carried away by the popular will.",
  :commentary "",
  :wilhelm-baynes "Joint approach. Perseverance brings good fortune.",
  :wu "Pressing forward with a companion will be auspicious.",
  :shaughnessy "Prohibited forest; determination is auspicious."},
 :line-5
 {:hua-ching-ni
  "Wise advancement. This is how the great should proceed. G.F.",
  :confucius-legge
  "What befits the great ruler means pursuing the course of the due mean. Wilhelm/Baynes: This means that he should walk in the middle. Blofeld:  This is a way of saying that we must keep to the middle path. Ritsema/Karcher: Moving the center's designating indeed. Cleary (2): What is appropriate for a great leader is balance in action. Wu: He rules from the center.",
  :liu
  "To approach with wisdom is appropriate for a great duke. Good fortune.",
  :cleary-2
  "Knowing overseeing, appropriate for a great leader, bodes well.",
  :legge
  "Line five is the seat of the ruler. She is magnetic, but because she is central and has the dynamic second line as her proper correlate, she is the symbol of a wise sovereign who employs able counsel to advise her.",
  :blofeld "A wise approach suited to a great prince -- good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Knowledge Nearing. A Great Chief's propriety. Significant.",
  :wing
  "Your position is one of sovereignty. Here you would be wise to allow others to execute you plan for you. If you can choose competent helpers and restrain yourself from interfering in their work, you will achieve the ideal of true authority.",
  :editor
  "There is an intimation here of the Self allowing the ego to look after its own welfare, as long as action is in accordance with moderation and restraint. A test situation may be in progress.",
  :siu
  "The great ruler displays his wisdom in attracting men of ability to direct his affairs and in providing them freedom of action.",
  :commentary "",
  :wilhelm-baynes
  "Wise approach. This is right for a great prince. Good fortune.",
  :wu
  "Condescending with wisdom befits a great king. There will be good fortune.",
  :shaughnessy
  "Knowing the forest; the great lord's propriety is auspicious."},
 :number 19,
 :name "Approach",
 :the-image
 {:legge
  "The earth over a marsh -- the image of Approach. The superior man is inexhaustible in his instruction and unflagging in his nourishing support of the people.",
  :wilhelm-baynes
  "The earth above the lake: the image of Approach. Thus the superior man is inexhaustible in his will to teach, and without limits in his tolerance and protection of the people.",
  :blofeld
  "This hexagram symbolizes land rising above a marsh. The Superior Man's teaching and his affection for his juniors are inexhaustible. Nothing hinders him in his care for the people.  [The lower component trigram suggests the nourishment which the Superior Man gives joyfully to others. The upper trigram symbolizes the great bulk of those who benefit.]",
  :liu
  "The earth above the lake symbolizes Approach. The superior man's will for instruction has no limit. He is boundless in his support and protection of the people.",
  :ritsema-karcher
  "Above marsh possessing earth. Nearing. A chun tzu uses teaching to ponder without exhausting. [A chun tzu uses] tolerating to protect the commoners without delimiting.",
  :cleary-1
  "Above the lake there is earth, overseeing. Superior people use inexhaustibility of education and thought to embrace and protect the people without bound.",
  :wu
  "There is ground above the marsh; this is Condescension. Thus the jun zi realizes that there is no limit to the ideas of education and there is no boundary in the protection of people."},
 :line-4
 {:hua-ching-ni "Correct advancement. No fault.",
  :confucius-legge
  "This is due to the various appropriateness of the position. Wilhelm/Baynes:  For the place is the appropriate one.  Blofeld:  This is indicated by the suitable position of this line. Ritsema/Karcher: Situation appropriate indeed. Cleary (2): In the right place. Wu: His position is proper.",
  :liu "Complete approach brings no blame.",
  :cleary-1
  "Consummate overseeing is blameless. [Being weak yet preserving rectitude, refining oneself and mastering the mind, thereby awaiting the newborn positive energy, is called consummate overseeing. Watching over the quintessential, when the great medicine appears one naturally does not make the mistake of missing it.]",
  :cleary-2
  "Consummate overseeing is impeccable. [In Buddhist terms, this represents using correct concentration corresponding to correct insight.]",
  :there-will-be-no-error. "",
  :legge
  "Line four, though magnetic, is in her proper place and has for her correlate the dynamic first line. Hence her advance is in the highest style.",
  :blofeld "A perfect approach -- no error!",
  :notes-and-paraphrases "",
  :ritsema-karcher "Culmination Nearing. Without fault.",
  :wing
  "Your Promotion is well executed. Regardless of any difficulties you may encounter in assuming your new position, your behavior is so appropriate that you can continue successfully on your way.",
  :editor
  "The image suggests that the conscious attitude is in accordance with the aims and goals of the Work. Depending on the context of your query, some kind of fruition is indicated: something is concluding as fated or willed.",
  :siu
  "The man advances to a high place because of the appropriateness of his ideas and behavior and the open-mindedness of a person of high rank who draws men of competence into service.",
  :commentary "",
  :wilhelm-baynes "Complete approach. No blame.",
  :wu "Condescending at the right place is without blame.",
  :shaughnessy "Arriving at the forest; there is no trouble."},
 :line-2
 {:hua-ching-ni "Impartial advance without prejudice continues…",
  :confucius-legge
  "This is because those to whom the advance is made are not yet obedient to the ordinances of heaven. Wilhelm/Baynes: One need not yield to fate. Blofeld: This indicates that there is nevertheless some disobedience. Ritsema/Karcher: Not-yet yielding-to fate indeed. Cleary (2): This is addressed to those who are not yet in harmony with the universal order. Wu: There are still those who do not obey the ordinances of heaven. [Since prosperity of the yang is considered a good omen and meets the approval of heaven, presence of the four yin in the yang’s path of advance is indicative of disobeying the ordinances of heaven.]",
  :liu
  "To approach with sincerity brings good fortune. It is beneficial for everything.",
  :cleary-2
  "Sensitive overseeing is good, beneficial all around. [The second yang is also in the momentum of gradually increasing strength, but at this point it is best to keep still and not ride on the momentum to try to advance; then it will be good and beneficial all around.]",
  :legge
  "Line two is dynamic, but in a magnetic place. This is counterbalanced by the central position and the proper correlate in line five.",
  :blofeld
  "All approach -- good fortune! Nothing is unfavorable.  [All approach can be taken to mean that all things desirable are converging upon us.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Conjunction Nearing: significant. Without not Harvesting.",
  :wing
  "What you propose to do wins sympathy and support from higher forces. So correct are your ideals that you can overcome even inherent difficulties. The future is bright indeed.",
  :editor
  "The differences in meaning between lines one and two are extremely slight in English translation. Cleary’s Buddhist commentary on the line suggests the idea of controlling the momentum of an otherwise favorable action. (See also his commentary on the Judgment.) Wu’s note on the Confucian commentary shows line two in immediate contact with four yin lines, interpreted here as recalcitrant forces. On another tack, if we take Ritsema/Karcher's version of Conjunction Nearing: significant...” literally, we can imagine two possible approaching syntheses (line 1 and line 2), one of which may be more auspicious than the other. Only the context of your query can provide a plausible interpretation of these very different readings.",
  :siu
  "People who are not obedient to the ways of heaven are induced to follow the steadfast man in a high position. The future will be advantageous in every way.",
  :commentary "",
  :wilhelm-baynes "Joint approach. Good fortune. Everything furthers.",
  :wu
  "Pressing forward with a companion will be auspicious. Everything will be advantageous.",
  :shaughnessy
  "Prohibited forest; auspicious; there is nothing not beneficial."},
 :judgment
 {:hua-ching-ni
  "Advance. It is beneficial to go forward with a positive attitude, but be mindful of the cyclical nature of things.",
  :liu
  "Approach. Great Success. It is of benefit to continue. When the eighth month arrives, then there will be misfortune.",
  :cleary-1
  "Overseeing is creative and developmental, beneficial if correct. In the eighth month there is misfortune.",
  :cleary-2
  "Overseeing is very successful, beneficial if correct. If you go on until the eighth month, there will be misfortune. [If you ride on the momentum of the time and do not know to turn back, at a certain point deterioration will inevitably set in, after flourishing has reached its climax, and there will surely be misfortune.]",
  :legge
  "Approach  means successful progress through firm correctness. In the eighth month there will be evil.",
  :blofeld
  "Approach.Sublime success! Righteous persistence brings reward. However, when the eighth month is reached, misfortune will befall. [The eighth moon of the lunar calendar corresponds approximately to September.]",
  :ritsema-karcher
  "Nearing, Spring Growing Harvesting Trial. Culminating tending-towards the eighth moon: possessing a pitfall. [This hexagram describes your situation in terms of approaching and being approached. It emphasizes that acting without immediately expecting to attain what you desire is the adequate way to handle it...]",
  :wilhelm-baynes
  ": Approach has supreme success. Perseverance furthers. When the eighth month comes, there will be misfortune.",
  :wu
  "Condescension is great, pervasive, and persevering, etc. [Condescension as used in several judgments has two meanings: to condescend (or to look down from a higher position) and to press forward with authority.]",
  :shaughnessy
  "The Forest: Prime receipt; beneficial to determine; arriving at the eighth month there is inauspiciousness."},
 :line-6
 {:hua-ching-ni "Sincere advancing. Good Fortune. No blame.",
  :confucius-legge
  "This is because her will is focused on the first two lines of the lower trigram.  Wilhelm/Baynes: The will is directed inward. Blofeld: This good fortune arises from concealing our will within our hearts. [This would seem to mean that, for the present, we should gladly accord with others and carefully conceal our aims.] Ritsema/Karcher: Purpose located inside indeed. Cleary (2): The good of attentive overseeing is in the will being within. Wu: Because his aspiration is directed inward.",
  :liu "Benevolent approach brings good fortune. No blame.",
  :cleary-2 "Attentive overseeing is good and blameless.",
  :legge
  "Line six is at the top of the upper trigram of Docility. Although the first and second lines of the hexagram are not her proper correlates, it is proper for the yin to seek for the yang, and it is emphatically so in this case.",
  :blofeld "A magnanimous approach -- good fortune, no error.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Magnanimity Nearing. Significant. Without fault.",
  :wing
  "The person in this position will allow others to benefit from the wealth of his experience. Such generosity will bring unaccountable progress to all concerned. This is a true moment of greatness.",
  :editor
  "An advance of honesty suggests truth: to be honest about something is to acknowledge its truth. Generosity implies the unselfish acceptance of this truth: perhaps a tolerant concession to a less-than-perfect status quo. Wilhelm renders the Confucian commentary in the imagery of the will being directed inward; Blofeld interprets it as magnanimity coupled with a hidden agenda which is not inconsistent with good will. Ritsema/ Karcher's Purpose located inside indeed, reinforces this idea. Tolerance or leniency is definitely implied: Wilhelm describes a sage, retired from the world, generously lending his wisdom to the people. Psychologically, the image can suggest that advance in the situation at hand consists of turning inward for support: the developing ego concentrates on connecting with the perfect will of the Self.",
  :siu
  "The sage returns from retirement to teach and help others, who greatly benefit from his experience.",
  :commentary "",
  :wilhelm-baynes "Greathearted approach. Good fortune. No blame.",
  :wu "Condescending with honesty is auspicious, etc.",
  :shaughnessy "Thick forest; auspicious; there is no trouble."},
 :notes-&-para
 {:judgment "Two steps forward are followed by one step backward.",
  :the-superior-man
  "remains true to the Work regardless of fluctuations within the psyche.",
  :the-meaning-of
  "Approach is derived from the two dynamic lines advancing from below to encounter the magnetic lines above. These two are firm allies, and the action of the superior man in the Image suggests that their ascent is one of benevolent regard for the welfare of their subordinates -- only the third line need change for the hexagram to become number eleven, Harmony. We are reminded of the proper relationship between the ego and the Self -- when they advance together, the magnetic forces in the rest of the psyche are eventually transformed.",
  :this-hexagram-recognizes-the-inevitably-slow-progress-of-the-work-("-rome-wasn't-built-in-a-day"),-and-that-advances-are-always-followed-by-retreats.-the-point-is-that-if-one-maintains-the-will-to-advance,-one-can-be-confident-that-the-work-is-advancing,-regardless-of-appearances.
  "",
  :without-changing-lines,-the-hexagram-suggests-a-progressive-advance-in-the-matter-at-hand.-nature-being-what-it-is-however,-no-advance-can-be-sustained-indefinitely-and-an-eventual-regression-can-be-expected.-(this-observation-is-such-a-truism-that-we-must-assume-it-is-more-than-usually-applicable-to-the-current-situation.)
  ""},
 :commentary
 {:confucius-legge
  "In Approach we see the dynamic lines gradually increasing and advancing. The lower trigram is the symbol of Being Pleased, and the upper of Being Compliant. The strong line is in the central position, and is properly responded to. It is the way of heaven to bring progress and success through firm correctness, however the advancing power will decay after no long time.",
  :legge
  "Approach suggests the approach of authority -- to inspect, to comfort or to rule. The figure shows two dynamic lines advancing on the four magnetic lines above them. Their action will be powerful and successful, but it must be governed by rectitude and a caution that understands the nature of continuous change."},
 :line-3
 {:hua-ching-ni
  "Easy advancement. If one abuses one’s position, there will be trouble in the long run. If this tendency is corrected immediately, there will be no blame.",
  :confucius-legge
  "She shows herself well pleased to advance, but her position is not that appropriate to her. If she become anxious about it her error will not be continued. Wilhelm/Baynes: The place is not the appropriate one. A fault that induces grief no longer exists. Blofeld:  The foregoing is indicated by the unsuitable position of this line. However, if we grieve for it, we shall not be involved in error for long.  [At present, there is no goal or destination towards which it would be profitable to move; however, if we sincerely regret this, it will not be long before we emerge from the rut.] Ritsema/Karcher: Situation not appropriate indeed. Fault not long-living indeed. Cleary (2): Once you trouble over it, blame will not last long. Wu: He is out of place. His error will be temporary.",
  :liu
  "Cheerful approach does not benefit further. If one fears regret, no blame.",
  :cleary-1
  "Presumptuous overseeing is of no benefit. If one is troubled over this, there is no blame.",
  :cleary-2 "… but if you trouble over it, there will be no blame.",
  :legge
  "Line three is magnetic, neither central nor in her correct position, and therefore her action will not be advantageous. Being at the top of the lower trigram of Pleased Satisfaction, she is well pleased to advance. Anxious reflection will save her from error.",
  :blofeld
  "A willing approach, but there is nowhere towards which it would be advantageous to set out. Feeling regret on that account involves no error.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Sweetness Nearing. Without direction: Harvesting. Already grieving-over it: Without fault.",
  :wing
  "An easy Promotion is possible now. This might lead to a careless attitude on your part. There is danger in such overconfidence. If you are quick to recognize the need for continuous caution, however, you can avoid mistakes that would otherwise harm you.",
  :editor
  "The image depicts a case in which one’s powers are not equal to the challenge. Ritsema/Karcher translate Without direction: Harvesting as: “No plan or direction is advantageous; in order to take advantage of the situation, do not impose a direction on events.” That is, success demands that you refrain from action or drop the subject of inquiry. Their rendition of: Grieving-over it means: “Sorrow, melancholy; mourn; anxious, careworn; hidden sorrow…heart-sick and anxious.” One can receive this line under conditions of deep grief, wherein (as in any line of the I Ching), extremely subtle insights often transcend an exact paraphrase.",
  :siu
  "The man gains power, influence, and comfort. There is danger of relation and carelessness in dealing with others. But if he becomes apprehensive about his actions, he will not continue in his error and will avoid troubles.",
  :commentary "",
  :wilhelm-baynes
  "Comfortable approach. Nothing that would further. If one is induced to grieve over it, one becomes free of blame.",
  :wu
  "Condescending for flaunting purposes has nothing to gain. If he is concerned of his behavior, he will make no error.",
  :shaughnessy
  "Sweet forest; there is no place beneficial; having been saddened by it, there is no trouble."},
 :char \䷒,
 :other-titles
 {:titles
  ("The Symbol of Advance and Arrival"
   "Nearing"
   "Overseeing"
   "Condescension"
   "Getting Ahead"
   "Promotion"
   "Conduct"
   "Drawing Near"
   "Becoming Great"
   "The Forest"
   "Advance"
   "Advancing"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "Two people advancing together; or a good influence which hasn't been seen or felt for some time, is approaching."})}}
