{:binary "100010",
 :line-1
 {:advance
  "The advance of consciousness, comprehension, etc. Feudal Ruler: The ego as master of its thoughts and feelings. Humbles himself to the mean: (Mean here means lowly.) The ego remains firm and correct, maintains his will, but doesn't take on airs -- he nurtures his humility. The people: Thoughts, feelings, opinions, attitudes, emotions, appetites, etc.",
  :confucius-legge
  "Although there is difficulty in advancing, the mind of the subject of the line is set on doing what is correct. While noble, he humbles himself to the mean, and grandly gains the people. Wilhelm/Baynes: The aim of the work is nonetheless to carry out what is right. When an eminent man subordinates himself to his inferiors, he wins the hearts of all people. Blofeld:  Despite prevailing uncertainty, the way of righteousness must be pursued with firm correctness. Men in high places, by co-operating with those under their care, will thereby win the support of the people. Ritsema/Karcher: Although a stone pillar, purpose moving correctly indeed. Using valuing the mean below. The great acquiring the commoners indeed. Cleary(2): Though they stay around, the action of their wills is correct. Because they value the lowly, they win many people. Wu: Although he is under constraint, he has set his goal correctly. Like a noble man serving the common people, he will receive their support.",
  :liu
  "Considering and considering. It is of benefit to continue in the right way. One should find helpers.",
  :cleary-1
  "Not going anywhere, it is beneficial to abide in correctness. It is beneficial to set up a ruler. [It is beneficial to set up the ruler and nurture the original energy.]",
  :cleary-2
  "Staying around, it is beneficial to remain correct. It is beneficial to set up lords. [In Buddhist terms, to “stay around” means to be immediately aware of any mental movement and not roll along, following thoughts. This is what is called “coming back before going far.”]",
  :legge
  "The first line is energetic and strong, and his place in the trigram of Movement disposes him to action. But above him is the trigram of Peril, and the lowest line of that, to whom he must look for response and cooperation, is magnetic. Hence arise the ideas of difficulty in advancing, the necessity of caution, and the advantage of being clothed with authority. He is noble, firm and correct, but his place is below the divided lines, symbols of the weak and lowly.",
  :blofeld
  "Uncertainty prevails. It is best to make no move, but to build up determination and to consolidate the position.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Stone pillar. Harvesting: residing in Trial. Harvesting: installing feudatories.",
  :wing
  "It seems that you have come across a confusing obstacle at the very beginning of your path. The best way to attract the helpers you will need is to maintain a devoted and humble attitude. Do not attempt to boldly push ahead unaided. However, do keep your goal in sight.",
  :editor
  "The symbolism suggests the following intrapsychic correlations:",
  :siu
  "At the outset, the man takes stock of the obstacles. He does not force his advance. He perseveres on the right course and acquires the appropriate assistants. He continuously rechecks his bearings, as the confusion is gradually resolved.",
  :commentary "",
  :wilhelm-baynes
  "Hesitation and hindrance. It furthers one to remain persevering. It furthers one to appoint helpers.",
  :wu
  "There is a formidable obstruction to advance. It will be advantageous, however, to remain persevering … etc. [If the subject can remain firm and correct, he will overcome.]",
  :  "",
  :shaughnessy
  "To and fro; beneficial to determine about a dwelling; beneficial to establish a lord."},
 :line-5
 {:confucius-legge
  "He experiences difficulty in bestowing his rich favors -- the extent to which they reach will not yet be conspicuous. Wilhelm/Baynes: Because the benefaction is not yet recognized. Blofeld:  We have wrought insufficiently for the public good. Ritsema/Karcher: Sprouting one's juice. Spreading-out not-yet shining indeed. Cleary(2): The giving is not yet enlightened. [It is not that there is no giving at all, just that it does not accord with greater reality.] Wu: His benefaction has not been illuminating. [We should remind ourselves that distributing accumulations need not be limited to tangible assets. Kindness, sympathy, and moral support can certainly be included.]",
  :liu
  "Difficulties in prosperity. Good fortune for small things. Misfortune for great things.",
  :cleary-1
  "Stalling the benefits. Rectitude in small matters is good. Self-righteousness in great matters brings misfortune. [This is being great but conscious of the small, waiting for the time to be able to get out of difficulty.]",
  :cleary-2
  "Stalling the benefits. There is good outlook for the correctness of the small, bad outlook for the correctness of the great.",
  :legge
  "Line five is in the place of authority, and should show himself a ruler by dispensing benefits on a grand scale. But he is in the center of the trigram of Peril, and his correlate line two is weak. Hence arises the symbolism, and great things should not be attempted.",
  :blofeld
  "Fertility cannot easily be brought about. Persistence in small things will bring good fortune; in greater matters, it will bring disaster.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Sprouting: one's juice. The small, Trial: significant. The great, Trial: pitfall.",
  :wing
  "Although your position is one of authority within the situation, you have much left to achieve in the way of establishing yourself. Small efforts in this will bring good fortune. But beware: Do not attempt any large endeavor. It could easily end in disaster.",
  :editor
  "The image depicts an impasse or restriction preventing the flow of energy which would resolve it. Modest effort will improve the situation; major action will make it worse. Sometimes the line implies that you have not yet understood the matter under question. It can also image a situation in which psychic energy is blocked from consciousness.",
  :siu
  "The man attains a position of authority. Premature expressions of good intentions lead to damaging misinterpretations. Time is required for stepwise maturation and acquisition of general confidence. Consummation cannot be forced.",
  :commentary "",
  :wilhelm-baynes
  "Difficulties in blessing. A little perseverance brings good fortune. Great perseverance brings misfortune.",
  :wu
  "Hoarding wealth suggests conditions suitable for limited progress but detrimental for great undertakings.",
  :shaughnessy
  "Hoarding its fat; little determination is auspicious, great determination is inauspicious."},
 :number 3,
 :name "Difficulty",
 :the-image
 {:legge
  "The image of clouds and thunder formsDifficulty. The superior man, in accordance with this, adjusts his measures of government as in sorting the threads of the warp and woof.",
  :wilhelm-baynes
  "Clouds and thunder: the image of Difficulty at the Beginning. Thus the superior man brings order out of confusion.",
  :blofeld
  "This hexagram symbolizes lightning spewed forth by the clouds -- difficulty prevails! The Superior Man busies himself setting things in order.",
  :liu
  "Clouds and thunder symbolize Difficulty at the Beginning. The superior man makes order out of disorder.",
  :ritsema-karcher
  "Clouds, Thunder, Sprouting. A chun tzu uses the canons to coordinate.  [Canons: standards, laws; regular, regulate; the Five Classics. The ideogram: warp-threads in a loom.]  ",
  :cleary-1
  "Thunder in the clouds is held back; the superior person orders and arranges.",
  :cleary-2
  "Clouds and thunder – Difficulty. Thereby leaders organize.",
  :wu
  "Clouds and thunder form hexagram Distress. Thus the jun zi plans and organizes."},
 :line-4
 {:confucius-legge
  "Going forward after such a search for a helper shows intelligence. Wilhelm/Baynes: To go only when bidden -- this is clarity. Blofeld:  To pursue what we desire, that is wisdom.  Ritsema/Karcher: Seeking and also going. Brightness indeed. Cleary(2): Going in search is intelligent. Wu: Accepting the proposal shows a clear discernment.",
  :liu
  "He goes back and forth on horseback. If he seeks marriage, he will have good fortune. Everything benefits.",
  :cleary-1
  "Mounted on a horse yet not going forward. Seeking marriage, it is good to go, beneficial all around.",
  :cleary-2
  "Mounted on a horse but standing still. Go to seek alliance, and the good results will benefit all.",
  :legge
  "The fourth line is the proper correlate of line one, who is the suitor whose aid she seeks. With his help she is able to cope with the difficulties of her position and go forward.",
  :blofeld
  "Hesitating like a man trotting to and fro, he waits for marriage. Thenceforth, good fortune will prevail and every action prosper. [This passage indicates that success can certainly be obtained, but only after a considerable period of waiting patiently.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Riding a horse, arraying thus. Seeking matrimonial allying. Going significant. Without not Harvesting.",
  :wing
  "With a little help, perhaps a connection you might exploit, you can attain your goals. Of course, you must admit that you lack sufficient power to act independently. If you hesitate over this, you will get nowhere.",
  :editor
  "Horses symbolize energy (horsepower) -- here running away from their female owner, a symbol of the emotional function within the psyche. She seeks her proper male correlate, a symbol of Logos, the mental function. Their destined relationship is one of marriage or union. Psychologically interpreted, the image is of a separation of thought and feeling. The line counsels us to seek a connection, establish harmony, or bring our emotions under the control of reason.",
  :siu
  "The man lacks sufficient power to discharge his responsibilities. He is like a chariot without a horse. But opportunity for help arises. This should be accepted even in the face of self-abnegation.",
  :commentary "",
  :wilhelm-baynes
  "Horse and wagon part. Strive for union. To go brings good fortune. Everything acts to further.",
  :wu
  "The horse carriage falters along. The lady is being asked for marriage. It will be auspicious to accept. Everything will be advantageous.",
  :shaughnessy
  "A team of horses vexatious-like, seeking confused enrichment; to go is auspicious; there is nothing not beneficial."},
 :line-2
 {:confucius-legge
  "Her difficulty arises from her place over the dynamic line below her. The union and children after ten years shows things resuming their regular course. Wilhelm/Baynes: She rests upon a rigid line. Pledging herself after ten years means return to the general rule.  Blofeld: The difficulties are revealed by this weak line's position just above a firm one. Waiting for ten years to receive the beloved's consent implies awaiting a gradual return to normal conditions. Ritsema/Karcher: Six at second's heaviness. Riding a solid indeed. Ten years-revolved, thereupon nursing. Reversing rules indeed. Cleary(2): Riding on the obdurate. Getting married after ten years means return to normal. Wu: Riding on the strong-minded first nine. A return to normalcy.",
  :liu
  "Many difficulties. He goes back and forth on horseback, but he is not a robber. He seeks marriage but the girl does not want an engagement. After ten years she does.",
  :cleary-1
  "Difficult to advance, hard to make progress. Mounted on a horse, not going forward. It is not a matter of enmity, but marriage. The girl is chaste, not engaged. After ten years she is engaged. [This means not seeking immediate solutions when in difficulty.]",
  :cleary-2
  "Stopped, mounted on a horse but standing still. Not enmity, marriage… etc.",
  :legge
  "Advance is even more difficult for the second line than for line one. She is magnetic, and pressed by the dynamic line below her. Above, in the fifth line is the ruler with whom union should be properly sought. All these circumstances suggest the idea of a young lady sought in marriage by a strong suitor with whom marriage was unsuitable. She rejects him, and after ten years marries the only suitable match for her. Things resume their regular course means that she is now at liberty to seek a union with line five.",
  :blofeld
  "He makes no more progress, covers no more distance, than a mounted man trotting to and fro. (His hesitation is due) not to an obstacle but to his wooing a girl who chastely repulses his advances and waits ten years before giving her consent.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Sprouting thus, quitting thus. Riding a horse, arraying thus. In-no-way outlawry, matrimonial allying. Woman and son, Trial: not nursing. Ten years- revolved, thereupon nursing.",
  :wing
  "Confusion and difficulty mount, and decisions become impossible. To allow yourself to accept help will create a hindering obligation. Therefore it is best to wait until the situation returns to normal before you continue your pursuits.",
  :editor
  "Horses are a common symbol for energy or libido (horsepower). Women and men respectively represent Eros (emotion) and Logos (intellect). These attributes are consistent throughout the I Ching, and are common in almost all symbol systems. In this line the man is seen as an unsuitable match for the woman, psychologically suggesting an improper union of thoughts and feelings, or the temptation to an emotional rationalization of some sort. The situation is confused and up in the air: psychic energy is in a state of regression, and we are tempted to accept the first solution that comes along. Under such circumstances no progress can be made until things are allowed to settle down. The ten years refer to any fulfilled cycle of time.",
  :siu
  "Progress is further inhibited. Someone suddenly appears who is mistaken for a robber at first but actually turns out friendly. His offer of help is not to be accepted. Not being from the right quarter, it may entail undesirable obligations. Things will resume their regular course at the proper time.",
  :commentary "",
  :wilhelm-baynes
  "Difficulties pile up. Horse and wagon part. He is not a robber; he wants to woo when the time comes. The maiden is chaste, she does not pledge herself. Ten years -- then she pledges herself.",
  :wu
  "There is hesitation to proceed. The horse carriage falters along. A suitor, not a transgressor, asks for marriage. The young woman chooses to remain chaste and refuses. After 10 years, however, she consents to the betrothal to another man.",
  :shaughnessy
  "Hoardingly, earth-moundlike, a team of horses vexatious-like; it is not robbers who confusedly enrich. The [female] child's determination is not to get pregnant; in ten years then she gets pregnant."},
 :judgment
 {:liu
  "Difficulty in the Beginning : great success. It is of benefit to continue without planning to go someplace. One should find helpers.",
  :cleary-1
  "In difficulty, creativity and development are effective if correct. Do not use. There is a place to go. It is beneficial to set up a ruler.",
  :cleary-2
  "Creativity is successful. It is beneficial to be correct. Do not make use of going somewhere. It is beneficial to set up lords.",
  :legge
  "Difficulty indicates progress and success through firm correctness. Action should not be undertaken lightly, and it is wise to seek help.",
  :blofeld
  "Difficulty followed by sublime success! Persistence in a righteous course brings reward; but do not seek some new goal (or destination); it is highly advantageous to consolidate the present position. [The fundamental idea of this hexagram is that of birth and growth amidst difficulty, as with a sprouting seed becoming a young plant and forcing its way through the earth. Our affairs, being still in their early stages, are vulnerable; we must not wander forth, but attend to them until they ripen; then, with proper care, the seed will bring forth a splendid tree. The upper trigram, a pit, suggests a need for caution; but, if we heed these omens, our success is assured.]  ",
  :ritsema-karcher
  "Sprouting . Spring Growing Harvesting Trial. No availing-of possessing directed going. Harvesting: installing feudatories. [This hexagram describes your situation in terms of beginning growth. It emphasizes that collecting potential in preparation for arduous labor is the adequate way to handle it...]",
  :wilhelm-baynes
  "Difficulty at the Beginning works supreme success, furthering through perseverance. Nothing should be undertaken. It furthers one to appoint helpers.",
  :wu
  "Distress is primordial, pervasive, prosperous, and persevering. The subject should proceed with caution. It will be advantageous to establish marquisates.",
  :shaughnessy
  "Hoarding : Prime receipt; beneficial to determine. Do not herewith have someplace to go; beneficial to establish a lord."},
 :line-6
 {:anthony
  "Desire and fear prevail. The child in us rules. Despairing, we give up our path. “One should not persist in this.”",
  :confucius-legge
  "She weeps tears of blood in streams -- how can the state thus emblemed continue long? Wilhelm/Baynes: How could one tarry long in this! Blofeld: How could a flow of blood and tears endure for long?  [In other words, our present troubles will pass away in time.] Ritsema/Karcher: Wherefore permitting long-living indeed? Cleary (2): Weeping tears of blood – what can last? Wu: Only despair remains.",
  :liu
  "He goes back and forth on horseback. He sheds tears with blood! [Arrogance leads to misfortune, perhaps extreme misfortune.]",
  :cleary-1
  "Mounted on a horse, not going forward, weeping tears of blood.",
  :legge
  "The sixth line is magnetic, as is her third line correlate. She is at the extremity of Peril -- the game is up. What can remain for her in such a case but terror and abject weeping?",
  :blofeld
  "He hesitates like a man trotting to and fro or like one shedding blood and tears.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Riding a horse, arraying thus. Weeping blood, coursing thus.",
  :wing
  "You have lost your perspective. You can no longer see your initial difficulties realistically, nor can you find your way out. This is disgraceful and will cause you much regret. It is best to begin again.",
  :editor
  "Lines two, four and six all show horses in retreat: strong images of psychological turmoil and confusion; two and four have proper correlates however, so they present the possibility of at least some kind of reconciliation. Here, the correlate is line three, who is depicted as being lost in the woods.” At its most neutral, the image is one of severe disunion. Wilhelm and Blofeld state that the situation is not a lasting one, so all need not be lost if you seek a totally new and perhaps currently unrecognized connection.",
  :siu
  "The man fails to overcome the initial difficulties and despair.",
  :commentary "",
  :wilhelm-baynes "Horse and wagon part. Bloody tears flow.",
  :wu
  "The horse carriage falters along. Tears roll down from the rider’s eyes.",
  :  "",
  :shaughnessy
  "A team of horses vexatious-like, dipping blood streamingly."},
 :notes-&-para
 {:thus-we-see-that-the-third-hexagram,-following-the-creation-of-the-cosmic-pair-of-opposites-in-the-first-two-figures,-represents-a-dialectical-progression.-lao-tse,-who-wrote-the
  "Tao Te Ching some six-hundred years after the I Ching was committed to writing, describes this unfolding process:",
  :the-superior-man
  "uses careful analysis to separate order from confusion.",
  :wilhelm’s-title-for-this-hexagram-is
  "Difficulty at the Beginning. I prefer Difficulty, because it is a situation encountered at any phase of the Work, not just the beginning.",
  :this-idea-has-been-stated-very-simply "",
  :difficulty
  "is experienced because confusion and multiplicity prevail during the initial phase of any creative activity -- thoughts and feelings proliferate and threaten to overwhelm the mind with infinite complexity. The only way to proceed under such circumstances is to carefully sort out the components of the situation and arrange them in categories and in order of importance. To sort the threads of the warp and woof is to weave a tangled mess into a tapestry.",
  :there-are-some-profound-ideas-in-these-images-about-the-structure-of-human-consciousness-and-the-contents-of-the-unconscious-psyche.-the-basic-idea-is-that-of-emanation--the-creation-of-physical-reality-from-a-supreme-principle-in-ordered-hierarchies-of-increasing-complexity.-this-concept-is-essential-for-a-full-understanding-of-the-work.
  "",
  :the-orderly-sequence-of-the-hexagrams-gives-us-an-image-of-what-takes-place-under-the-hexagram-of
  "Difficulty:",
  :and-also-with-poetic-complexity "",
  :judgment
  "Under the conditions of Difficulty it is best to mark time while seeking assistance.",
  :the-identical-idea-is-found-in-many-traditions,-giving-it-the-status-of-an-archetype-within-human-consciousness.-it-is-not-necessary-to-be-familiar-with-the-technical-terminology-of-kabbalah-to-recognize-that-the-same-idea-is-being-discussed-in-the-following-passage
  "",
  :in-many-systems-of-thought,-the-proliferation-of-forces-is-seen-in-sexual-terms--the-cosmic-parents-produce-entities-in-male-and-female-pairs-(gnostic-syzygies),-which-in-turn-produce-offspring.-hence,-confucius-says
  "Difficulty is experienced as Heaven and Earth begin their intercourse. That this has an explicit sexual connotation is confirmed by McClatchie: The figure of Difficulty represents the hard and the soft beginning to have sexual intercourse, and bringing forth with suffering. Thus we see that the correct and incorrect correlation (intercourse) of dynamic (male) and magnetic (female) lines in anyI Ching hexagram symbolizes the favorable (life-enhancing) or unfavorable (life-negating) combinations of thought and feeling within the psyche.",
  :the-sexual-intercourse-of-heaven-and-earth-is-also-described-in-hexagram-number-eleven,
  "Harmony. In terms of these sexual metaphors, what does the term adultery imply in regard to the Work? See hexagram number forty-four, Temptation, for further insight on this theme.",
  :"filling-up,"
  "is rendered as fullness in some translations. This is the exact meaning of the gnostic term: Pleroma, or Fullness which Jung correlates with the Collective Unconscious or Objective Psyche. These are interior dimensions from which emanate the archetypal energies which we experience as instinctual drives and emotional complexes. This is the hyperspace from which the Self, via the oracle, responds to our queries and directs the Work.",
  :suggestions-for-meditation ""},
 :commentary
 {:confucius-legge
  "Difficultyis experienced as Heaven and Earth begin their intercourse, but correct action succeeds in the face of danger. By the action of thunder and rain, which are the attributes of the lower and upper trigrams, all between Heaven and Earth is filled up. But the conditions of the time are irregular and obscure. Authority should be delegated, but the feeling that rest and peace have been secured should not be indulged in even then.",
  :legge
  "The written character for Difficultyis pictorial, and shows a plant struggling with difficulty as it rises above the surface of the earth. This initial difficulty is a metaphor for how struggle is the condition of a state which is emerging from disorder after a revolution. The author saw his social and political world in great disorder and difficult to reform, yet he had faith in himself and the destiny of his House. Let there be prudence and caution, with unswerving adherence to the right. Let the government of the different states be entrusted to good and able men -- then all will be well.",
  :according-to-the-arrangement-of-the-eight-trigrams,-heaven-and-earth-are-the-parents-of-the-other-six,-who-are-their-children.-the-first-born-son-is-the-lower-trigram-of-movement,-and-the-second-born-son-is-the-upper-trigram-of-peril.-mcclatchie-renders-here
  "The figure of Difficulty represents the hard and the soft beginning to have sexual intercourse, and bringing forth with suffering.",
  :the-power-to-move-in-the-lower-trigram-is-likely-to-produce-great-effects;-to-do-this-in-perilous-and-difficult-circumstances-(symbolized-by-the-upper-trigram)-requires-firmness-and-correctness.-good-princes-throughout-the-realm-will-help-to-remedy-the-political-and-social-disorder-of-the-times,-but-the-supreme-ruler-should-not-trust-his-subordinates-to-the-point-of-relaxing-his-vigilance.
  "",
  :the-lower-trigram-represents-thunder,-the-upper-represents-rain-clouds.-the-hexagram-therefore-places-us-in-the-atmosphere-of-a-thunderstorm--a-metaphor-for-the-situation-of-a-political-state-in-difficulty.-when-the-thunder-has-pealed,-and-the-clouds-have-discharged-their-burden-of-rain,-the-atmosphere-is-cleared-and-there-is-a-feeling-of-relief.
  "",
  :anthony
  "This hexagram means that we have not yet found the correct path.",
  :it-also-means-confusion-too-many-possibilities.-nothing-is-clear.-this-lack-of-clarity-is-the
  "“hindrance” referred to in the first line of the hexagram. In the second line, the remedies that come forth are inappropriate. In the first stages of dealing with a problem, we are tempted to grasp at solutions, whereas we should wait until the proper actions become clear."},
 :line-3
 {:confucius-legge
  "One pursues the deer without the guidance of the forester in his eagerness to follow the game. The superior man gives up the chase, knowing that if he go forward he would be reduced to extremity. Wilhelm/Baynes: He desires the game, but to go on brings humiliation. It leads to failure. Blofeld: His lack of caution in hunting the deer resulted from his being too set on capturing it. The Superior Man always desists when to advance would bring disaster. Ritsema/Karcher: Approaching stag, without precaution. Using adhering-to wildfowl indeed. A chun tzu stowing it: Going abashment exhausted indeed. Cleary(2): Chasing deer without preparation is following the beasts. To go would bring regret and lead nowhere. Wu: Hunting without a guide is like chasing around the game. To proceed will end in an awkward situation.",
  :liu
  "He hunts deer with a forester. He gets lost in the forest. The superior man, knowing this, prefers to give up the hunt. To go on would bring regret.",
  :cleary-1
  "Chasing deer without a guide, just going into the forest. The superior person, knowing the dangers, had better give up; to go would bring regret.",
  :cleary-2
  "Chasing deer without preparation only goes into the bush. Leaders see that it is better to give up, for to go would bring regret. [ If you have no accurate knowledge yourself and do not have enlightened teachers or associates, and practice blindly, then you will fall into a pit.]",
  :legge
  "The third line is magnetic, not central, and in the place of a dynamic line. These things are all generally unfavorable, but the outcome of the whole hexagram being good, the superior man sees the immediate danger and avoids it.",
  :blofeld
  "Pursuing a deer without a guide, the hunter finds himself lost in the forest. The Superior Man perceives that he must stay where he is, as going forward would lead to trouble.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Approaching stag, lacking precaution. Namely, entering tending-towards the forest center. A chun tzu almost not thus stowing-away. Going abashed.",
  :wing
  "You can sense the difficulties that lie ahead on your path. If you nevertheless plunge into the forest of obstacles without an experienced guide, you will surely lose your way. Such egotism and vanity brings unrelenting humiliation. A wiser man will alter his goals here.",
  :editor
  "Forest symbolism is usually associated with the feminine principle and the unconscious psyche. A deer, being a denizen of the forest, could symbolize an undifferentiated, unassimilated, autonomous force within the situation at hand. As the object of the quest, it represents the answer to a question, a solution to your problem, etc. To complete the metaphor, the forester would be your intuition or inner guide: the Self. The message is that you have no insight into the prevailing situation and should stop trying to force a solution. Cease your fruitless speculation and wait for the way to become clear.",
  :siu
  "The man wanders aimlessly without adequate guidance, like a hunter without a forester. The superior man knows when going forward will cause regret. He gives up the senseless chase and avoids eventual disgrace.",
  :commentary "",
  :wilhelm-baynes
  "Whoever hunts deer without the forester only loses his way in the forest. The superior man understands the signs of the time and prefers to desist. To go on brings humiliation.",
  :wu
  "Hunting in the forest without the guidance of a ranger will result in roaming aimlessly with a chance of getting lost. The jun zi senses the risk. It is better to quit than to proceed and regret.",
  :  "",
  :shaughnessy
  "Approaching the deer without ornamentation, it is only to enter into the forest. For the gentleman it is just about as good as dispensing with it; to go is distressful."},
 :char \䷂,
 :other-titles
 {:titles
  ("Difficulty at the Beginning"
   "The Symbol of Bursting"
   "Sprouting"
   "Hoarding"
   "Distress"
   "Organizational Growth Pains"
   "Difficult Beginnings"
   "Growing Pains"
   "Initial Obstacles"
   "Initial Hardship")}}
