{:binary "101111",
 :line-1 {},
 :line-5
 {:line-1 "",
  :line-5 "",
  :forces "just issuing from his gate. There will be no error.",
  :confucius-legge
  "This arises from his central position and straightforward character. The meeting secured by his great army intimates that its opponents have been overcome. Wilhelm/Baynes: The beginning of the men bound in fellowship is central and straight...they are victorious. Blofeld: This strong line which is central to the upper trigram indicates that they began by weeping. [A strong central line is usually auspicious, but not in this case where we are dealing with something so soft and tender as love.] Fortunately a crowd of people encountered them and, somehow, the right thing was said to bring them together again. Ritsema/Karcher: Using centering straightening indeed. Words mutualize controlling indeed. Cleary (2): It is the middle way. In meeting with the great general, his words overcome. Wu: They together finally achieve victory.",
  :liu
  "Fellowship of men. They cry and lament. Later they laugh. After great battles they have success.",
  :line-4 "",
  :line-2 "",
  :cleary-1
  "In sameness with people, first there is weeping, afterward laughter. A great general wins, then meets others.",
  :cleary-2
  "He mounts the wall but does not succeed in the attack. This is lucky.",
  :without-fault. "",
  :legge
  "Line five is dynamic in a dynamic and central place, and seeks union with his second-line correlate. However, lines three and four are powerful foes who oppose this union, and their opposition makes him weep. He finally effects his purpose by collecting his forces and defeating his opponents.",
  :blofeld
  "The lovers begin by weeping and wailing, but they finish by laughing, for the crowd succeeds in bringing them together.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Concording People beforehand crying-out sobbing and-also afterwards laughing. Great legions controlling mutual meeting.",
  :wing
  "The difficulties and obstacles within the situation cause you much sorrow. If you openly express your distress you will find that you generate similar expressions from your fellow man. Together you can overcome the difficult time and there will be much joy in your newfound unity.",
  :abashment. "",
  :editor
  "This line changes the hexagram to Number thirty, Clarity. The corresponding line is almost identical to this one: Shows its subject as one with tears flowing in torrents, and groaning in sorrow. There will be good fortune. The idea is that, in this case at least, union and clarity (comprehension and enlightenment) are achieved only through a bitter struggle.",
  :siu
  "After considerable difficulties, the man collects his forces and overcomes the obstacles to the union of men. Sadness gives way to joy.",
  :commentary "",
  :wilhelm-baynes
  "Men bound in fellowship first weep and lament, but afterward they laugh. After great struggles they succeed in meeting.",
  :wu
  "Men of fellowship first wail and then laugh. The large armed forces meet after victory.",
  :line-3 "",
  :shaughnessy
  "Gathering men at first weeping and wailing, but later laughing; the great captains succeed in meeting each other."},
 :number 13,
 :name "Union of Forces",
 :the-image
 {:legge
  "The images of heaven and fire form Union of Forces. The superior man, in accordance with this, distinguishes things according to their kinds and classes.",
  :wilhelm-baynes
  "Heaven together with fire: the image of Fellowship with Men. Thus the superior man organizes the clans and makes distinctions between things.",
  :blofeld
  "This hexagram symbolizes heaven (the sun) and fire representing a pair of lovers. The Superior Man treats everything in a manner proper to his kind. [an analogy (based on the component trigrams) between the sun and fire, which to some extent are of a kind.]",
  :liu
  "Fire goes up to heaven, symbolizing Fellowship with Men. The superior man organizes his kinship group (party), and sorts them out.",
  :ritsema-karcher
  "Heaven associating-with fire. Concording People. A chun tzu uses sorting the clans to mark-off the beings.",
  :cleary-1
  "Heaven with fire, sameness with others; superior people distinguish things in terms of categories and groups.",
  :cleary-2
  "… Leaders distinguish beings in terms of classes and families.",
  :wu
  "Heaven above and fire below form Fellowship. The jun zi distinguishes things by their kinds."},
 :line-4 {},
 :line-2
 {:line-1 "",
  :forces "just issuing from his gate. There will be no error.",
  :confucius-legge
  "Relationship with one's kindred is the path to regret. Wilhelm/Baynes: The way to humiliation. Blofeld: Choosing a beloved from a man's own clan is a sure way to unhappiness. [This Chinese belief was so strongly held that, until recently, even unrelated people of the same surname could not marry.]Ritsema/Karcher: Abashment tao indeed. Cleary (2): The road to regret. Wu: This is a way to humiliation.",
  :liu "Fellowship of men in the kinship group (party). Humiliation.",
  :line-2 "",
  :cleary-1 "Sameness with people in the clan is regrettable.",
  :without-fault. "",
  :legge
  "Lines two and five are proper correlates, a fact which in this instance suggests the idea of a partial and limited union. This is blameworthy because union with only one's kindred implies narrowness of mind.",
  :blofeld
  "His beloved (betrothed) is of the same clan as himself -- trouble!",
  :notes-and-paraphrases "",
  :ritsema-karcher "Concording People tending-towards ancestry.",
  :wing
  "There is a tendency toward elitism and exclusivity. This creates limitations for everyone in society. Such a situation of egotism and selfish interests will bring regret.",
  :abashment. "",
  :editor
  "The image is one of incestuous exclusivity. The formation of factions, special interest groups and cliques can only cause harm to the larger psyche or to society because it excludes the vital give and take necessary for evolution and eventual synthesis. Sometimes the line can suggest the idea of being caught in a closed loop or vicious circle -- energy is trapped by limiting beliefs, thus preventing growth into new realms of being.",
  :siu
  "Because of special privileges and factions, only a limited fellowship is realized. Regrets and problems result.",
  :commentary "",
  :wilhelm-baynes "Fellowship with men in the clan. Humiliation.",
  :wu "Fellowship becomes kinship. There will be humiliation.",
  :shaughnessy "Gathering men at the ancestral temple; distress."},
 :judgment
 {:legge
  "Union of Forces appears in the remote districts of the country, indicating progress and success. It will be advantageous to cross the great stream. It will be advantageous to maintain the firm correctness of the superior man.",
  :wilhelm-baynes
  "Fellowship with Men in the open. Success. It furthers one to cross the great water. The perseverance of the superior man furthers.",
  :blofeld
  "Lovers (friends) in the open -- success! It is advantageous to cross the great river (or sea). [To make any kind of journey.] The Superior Man will benefit if he does not slacken his righteous persistence.",
  :liu
  "Fellowship of men in the open (countryside). Success. It benefits one to cross the great water. It benefits the superior man to continue his task.",
  :ritsema-karcher
  "Concording People , tending-towards the countryside. Growing. Harvesting: wading the Great River. Harvesting: chun tzu, Trial. [This hexagram describes your situation in terms of sharing a goal with others. It emphasizes that finding ways to cooperate with and harmonize people's efforts is the adequate way to handle it...]",
  :shaughnessy
  "Gathering men in the wilds; receipt; beneficial to ford the great river; beneficial for the gentleman to determine.",
  :cleary-1 "… Beneficial for a leader to be correct.",
  :wu
  "Fellowship in the open is pervasive, etc. … It will be advantageous to the jun zi who perseveres."},
 :line-6
 {:confucius-legge
  "His object has not yet been attained. Wilhelm/Baynes: The will is not yet satisfied. Blofeld: This is not what is desired. Ritsema/",
  :liu "Fellowship of men in the open countryside. No remorse.",
  :cleary-1
  "Being the same as people in the countryside, there is no regret.",
  :cleary-2
  "Sameness with people in the countryside involves no regret.",
  :legge
  "The union reaches to all within the suburbs, but it is not yet universal. The ideal of the hexagram is found in the Judgment in which the union of forces occurs in the open country. In line six the union is only in the suburbs which surround the city, yet are not quite out in the open country. This indicates only a partial success, but there is still no cause for repentance.",
  :blofeld
  "Her beloved is in a distant frontier region -- no regret! [In Chinese history, it often happened that a man was drafted and sent far away to a frontier region from which he could not be expected to return for many years. In this case, his beloved (betrothed or wife) has enough wisdom to give up repining, since the case is a hopeless one. The implication is that we should not repine.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Concording people tending-towards the suburbs. Without repenting.",
  :wing
  "The unity and fellowship that are possible in this position are not significant in terms of universal needs. However, joining with others, even in a small way, is not a mistake.",
  :editor
  "The union of forces is adequate to meet the current situation, but it seems to be a compromise at best. Though the circumstances are said to evoke no remorse, the Confucian commentary leaves no doubt about his assessment of this position. The Work still has a long way to go to be complete, but since that seldom happens this side of hyperspace, any increment of integration has to be better than no progress at all. Blofeld's translation and note seem too specific to facilitate these wider meanings.",
  :siu
  "The man achieves fellowship, but only with those nearby. Simply because mankind has not yet attained universal brotherhood, however, is no ground for remorse.",
  :karcher
  "Purpose not-yet acquired indeed. Cleary (2): The aspiration has not yet been attained. Wu: Their aspirations have not prevailed.",
  :commentary "",
  :wilhelm-baynes "Fellowship with men in the meadow. No remorse.",
  :wu
  "Men of fellowship gather outside of the city. There will be no regret.",
  :shaughnessy "Gathering men in the pasture; there is no regret."},
 :notes-&-para
 {:judgment
  "Connections are being made. If you are able to maintain your will, it is advisable to push for a synthesis .",
  :the-superior-man
  "differentiates and prioritizes; he sorts and evaluates his options.",
  :this-is-another-image-of-union--not-the-supreme-union-of-hexagram-number-eleven
  ", Harmony, but a subordinate union of forces within the psyche which builds toward an eventual grand alliance. The component trigrams show the union of Strength and Clarity, suggesting that a certain level of mental comprehension is involved. To receive the hexagram without changing lines is often a confirmation of your particular thought -- saying, in effect: You've made the connection.",
  :comprehension-(synthesis)-involves-making-distinctions-(analysis)--a-paradoxical-process-in-which-one-must-divide-before-one-can-(re)unite.-(this-is-the
  "solve et coagula of alchemy.) Thus we see the superior man in the Image creating categories to bring about union -- this is discrimination directed toward reclassification or rectification. For example, a heterogeneous mixture of vegetable and flower seeds is made meaningful when one sorts them into their separate categories. The disparate elements then become coherently united -- in I Chingterms, each line obtains its proper correlate as in Hexagram number 63.",
  :the-chinese-name-of-this-hexagram-includes-the-word-jen,-which-is-apparently-a-difficult-concept,-since-many-philosophers-have-spent-a-good-deal-of-energy-in-trying-to-define-it
  "",
  :chu-hsi-defines-jen-as-the-"character-of-the-mind"-(psyche)-and-"the-principle-of-love"-(union).-interpreted-in-this-way-we-are-enabled-to-apprehend-the-essence-of-the-word-"love,"-which-is-union--becoming-one-with-its-object.-i-have-chosen-the-title-of
  "Union of Forces to emphasize intra-psychic dynamics which are not immediately obvious in Wilhelm's title of Fellowship with Men. For example in dealing with questions pertaining to the Work, the concept of ego states or subpersonalities is often relevant to the symbolism of this hexagram:",
  :this-hexagram's-"shadow-side"-reveals-circumstances-preventing-the-union-of-entities-or-forces,-more-than-those-conditions-promoting-fruitful-affiliation.-note-that-only-the-first-and-fifth-lines-of-the-figure-depict-a-positive-synthesis;-the-first-one-is-minor,-and-in-the-case-of-line-5,-union-is-attained-only-after-much-struggle.-line-2-reveals-a-clique-or-faction-situation-opposed-to-the-general-welfare,-and-lines-3-and-4-are-images-of-recalcitrant-forces-unable-to-either-join-or-attack-the-alliance.-the-sixth-line-depicts-a-partial-union-(probably-the-most-common-outcome-in-general-experience),-which-the-confucian-commentary-nevertheless-minimizes.-out-of-six-lines-then,-only-two-describe-anything-like-complete-fellowship.-i-have-received-this-hexagram-without-changing-lines-when-the-context-of-the-question-revealed-an-“incestuous,”-clique-type-situation,-so-not-all-"fellowship"-or
  "Union of Forcesis necessarily an ideal configuration."},
 :commentary
 {:confucius-legge
  "In Union of Forces the magnetic line has the central place of influence and responds to her correlate line in the upper trigram of Strength. The hexagram takes its name from the upper trigram of Strength lending its power to the lower trigram of Clarity and Intelligence. This represents the correct course of the superior man. It is only the superior man who can comprehend and affect the minds of all under the sky.",
  :legge
  "Union of Forces describes a condition which is the opposite of the preceding hexagram of Divorcement. What was there distress and obstruction is here a union of forces. But it must be based entirely on the good of the whole, without any taint of selfishness.",
  :the-dynamic-line-correctly-in-the-fifth-place-occupies-the-most-important-position,-and-has-for-his-correlate-the-magnetic-second-line,-also-in-her-correct-place.-the-one-female-line-is-naturally-sought-after-by-all-the-male-lines.-the-editors-of-the-k'ang-hsi-edition-would-make-the-second-line-respond-to-all-of-the-lines-of-the-upper-trigram,-as-being-more-agreeable-to-the-idea-of-union.
  "",
  :the-upper-trigram-is-that-of-heaven,-the-lower-is-of-fire,-whose-tendency-is-to-mount-upwards.-this-image-suggests-the-fire-ascending,-blazing-to-the-sky-and-uniting-with-it.-all-these-ideas-are-in-harmony-with-the-notion-of-union,-but-it-must-be-free-of-all-factionalism,-and-this-is-indicated-by-its-being-in-the-remote-districts-of-the-country,-where-people-are-unsophisticated-and-free-from-the-corrupting-effects-of-urban-intrigue.-although-a-union-from-such-motives-can-cope-with-the-greatest-difficulties,-yet-a-word-of-caution-is-added.
  ""},
 :line-3
 {:confucius-legge
  "He hides arms in the thick grass because of the strength of his opponent. For three years he makes no demonstration--how can he do anything? Wilhelm/Baynes:  Because he had a hard man as opponent--how could it be done? Blofeld: He conceals his weapons because the enemy is strong--but three years without joy! Who would follow such a course? Ritsema/Karcher: Antagonistic solid indeed. Quieting movement indeed.",
  :liu
  "They hide arms in the bushes. They climb to the summit of a hill. For three years they do not act.",
  :cleary-1
  "Subduing fighters in the bush, climbing up a high hill, even in three years there will be no flourishing.",
  :cleary-2
  "Three years without flourishing is calm activity. Wu: He should be contented with his lot.",
  :legge
  "Line three is dynamic in a dynamic place, but without a proper correlate in line six. This makes him anxious to unite with line two, but two is devoted to her proper correlate in line five, of whose strength line three is afraid. Therefore he takes the measures described, but his abstaining so long from action will save him from misfortune.",
  :blofeld
  "Concealing his weapons in the bushes, he climbs his high hill. For three years he enjoys no happiness. [His cowardice was so great that he dared not seek home, wife or children for three years. The implication is that boldness at all costs is required.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Hiding away arms, tending-towards the thickets. Ascending one's high mound. Three year's-time not rising.",
  :wing
  "There is a possibility that those involved in the situation have selfish interests and divergent goals. This is unfortunate, because the ensuing mistrust of each for the other will grind events to a halt. Unless goals are realigned, no progress can be made and nothing will come of the situation.",
  :editor
  "Wilhelm remarks here that the situation depicts mistrust -- union is blocked by some divisive element such as doubt or cynicism. Perhaps a pessimistic attitude is impeding the flow of events. Although the line is not necessarily always completely negative (note the lack of an appended value judgment), the image depicts latent forces of an inferior sort blocking the natural flow of energy or growth. If this is the only changing line we receive hexagram number 25, Innocence, with a corresponding line depicting undeserved misfortune. Psychologically interpreted, unconscious complexes could threaten the Work by refusing to integrate. It is possible that this transcends the ego's conscious awareness. Blofeld's note does not agree with the general sense of the line, and may be considered anomalous.",
  :siu
  "Mistrust ensues. The man conceals his weapons, plans an ambush, but does not come forth.",
  :commentary "",
  :wilhelm-baynes
  "He hides weapons in the thicket; he climbs the high hill in front of it. For three years he does not rise up.",
  :wu
  "He conceals weapons in bushes. He moves up to high mounds. He makes no headway in three years. [He is planning to overwhelm by force those with whom he disagrees, but he is alone and cannot make a breakthrough.]",
  :shaughnessy
  "Surrendered appearance in tall grass. Climbing its high peak, for three years it does not arise."},
 :char \䷌,
 :other-titles
 {:titles
  ("Fellowship with Men"
   "The Symbol of Companionship"
   "Lovers"
   "Beloved Friends"
   "Like-minded persons"
   "Concording People"
   "Gathering Men"
   "Sameness with People"
   "Universal Brotherhood"
   "Fellowship"
   "Community"
   "United"
   "Human Association"
   "Union of Men"
   "Integration of Forces"
   "Minor Synthesis"
   "Cliques"
   "Concordance"
   "To Be In Accord With"
   "Confirmation")}}
