{:binary "100001",
 :line-1
 {:confucius-legge
  "He thus shows himself unfit to be thought noble. Wilhelm/ Baynes: This is really not to be respected. Blofeld: Looking at me like that is hardly to be regarded as admirable behavior. Ritsema/Karcher: Truly not the stand to value indeed. Cleary(2): To watch me greedily is not worthy of respect. Wu: He who watches with his mouth watering is also unworthy of respect.",
  :liu
  "If you leave your divine tortoise and look at me with mouth drooling, there will be misfortune.",
  :cleary-1
  "Abandoning your spiritual tortoise, you watch my moving jaw – this is unfortunate.",
  :cleary-2
  "To give up your sacred tortoise and watch me greedily leads to misfortune.",
  :legge
  "The first line is dynamic and in his proper place. He might suffice for the nourishing of himself like a tortoise, which is said to live on air. But he is drawn out of himself by desire for the magnetic line four, his proper correlate, at whom he looks till his jaw hangs down, or, as we say, his mouth waters. Hence the auspice is bad. The symbolism takes the form of a reprimand addressed by the fourth line to the first. As Mencius said, He who attends his smaller self becomes an inferior man, and he who attends to his greater self becomes a superior man.",
  :blofeld
  "You released your sacred tortoise and stared at me with mouth agape -- misfortune! [The shells of tortoises were used for divination. Here, the implication seems to be that someone abandons his sacred duty in his greed (symbolized by ‘mouth agape') to obtain what he wants from the person to whom “me” refers. It may be that contemporaries of the authors of the I Ching were familiar with a story to which this sentence pertains.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Stowing-away simply the psyche tortoise. Viewing my pendant jaws. Pitfall.",
  :wing
  "You are so actively aware of the prosperity of others that you lose control of your own destiny. This is deplorable behavior and will result in misfortune.",
  :editor
  "This line is a reprimand for an unworthy attitude. Since in China the tortoise was associated with divination, it refers to a higher realm of perception. The other translations render Legge's efficacious as magic,sacred, divine, psyche, and numinous. The line tells you that you are out of touch with what is best in you and suggests a “victim,” a self-made loser, who has repudiated his source of power or nourishment and then begs for sympathy because he “has nothing.” Often the line can suggest that you have misread a previous oracle: i.e., I already told you, but you paid no attention.”",
  :siu
  "At the outset, the man is envious of the prosperity of others.",
  :commentary "",
  :wilhelm-baynes
  "You let your magic tortoise go, and look at me with the corners of your mouth drooping. Misfortune.",
  :wu
  "“Abandon your spiritual tortoise and watch me with your mouth watering.” Foreboding.",
  :shaughnessy
  "Dispensing with your numinous turtle, and viewing our shortened jaw; inauspicious."},
 :line-5
 {:anthony
  "The Sage cannot make us strong. Although we are dependent on his guidance, we must do the work of disciplining our inferiors.",
  :confucius-legge
  "The good fortune from abiding in firmness is due to her docility in following the line above. Wilhelm/Baynes: The good fortune comes from following the one above devotedly. Blofeld:  The good fortune attainable by such people consists in being able to obey their superiors most willingly.  Ritsema/Karcher: Residing in Trial's significance. Yielding uses adhering-to the above indeed. Cleary (2): What is good about remaining upright is following those above docilely. Wu: The docility of following the one above.",
  :liu
  "One strays from the path. Remaining in the correct way brings good fortune. Don't cross the great water. [With another's help, one will...achieve his goals.]",
  :cleary-1
  "Going against the constant. It is good to abide in rectitude. It will not do to cross great rivers.",
  :cleary-2
  "Brushing aside the constant, it is good to remain upright, but it will not do to cross a great river.",
  :legge
  "Line five is not equal to the requirements of her position, but with a firm reliance on the dynamic sixth line there will be good fortune. However, she shouldn't engage in the most difficult undertakings.",
  :blofeld
  "Normal ways are abandoned. Righteous persistence will bring good fortune to those who stay where they are. The great river (or sea) must not be crossed. [In such abnormal times, it is best to stay at home.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Rejecting the canons. Residing-in Trial significant. Not permitting wading the Great River.",
  :wing
  "Although you are aware of the need to nourish and affect others, you lack sufficient strength to do so unaided. You must take an indirect approach and depend upon a strong superior to accomplish the deed. Don't try it on your own.",
  :editor
  "This line can suggest that an unconventional (improper”) action is justifiable under the prevailing conditions. Blofeld interprets the line in terms of correctly abandoning normal procedures; Wilhelm and Liu render images of getting off of a proper” path, but still retaining appropriateness. Because this fifth line ruler seeks help from the sixth line above, the image suggests an ego obeying the higher laws of the Self. The implication is that some form of unconventional action may be valid under the prevailing circumstances as long as one doesn't attempt too much. In other words, the expected, conventional (or your usual) response may be inappropriate in the current situation. Meditate to obtain intuitive guidance.",
  :siu
  "The man realizes his personal deficiencies in strength and knowledge to discharge his assigned responsibilities. He seeks and follows the advice of a spiritual superior, who is unknown to the public. Persevering under such guidance will bring success. But he must recognize his dependency and not assume great undertakings alone.",
  :commentary "",
  :wilhelm-baynes
  "Turning away from the path. To remain persevering brings good fortune. One should not cross the great water.",
  :wu
  "It violates normal way of doing things. Should he stay firm, there will be good fortune. He may not cross the big river.",
  :shaughnessy
  "Threshing the warp; determination about dwelling is auspicious; one may not ford the great river."},
 :number 27,
 :name "Nourishment",
 :the-image
 {:legge
  "The image of thunder under a mountain forms Nourishment.  The superior man, in accordance with this, controls his speech and regulates his eating and drinking.",
  :wilhelm-baynes
  "At the foot of the mountain, thunder: the image of The Corners of the Mouth. Thus the superior man is careful in his words and temperate in eating and drinking.",
  :blofeld
  "This hexagram symbolizes thunder rumbling at the foot of a mountain. The Superior Man is thoughtful in speech and frugal in his eating and drinking. [The lower trigram, thunder, also represents the power of quickening growth; hence its place in a hexagram concerned with nourishment.]",
  :liu
  "Thunder rolling around the foot of the mountain is the symbol of Nourishment. The superior man is cautious in his speech; he restrains and regulates his eating and drinking.",
  :ritsema-karcher
  "Below mountain possessing thunder. Jaws. A chun tzu uses considering words to inform. [A chun tzu uses] articulating to drink and take-in.",
  :cleary-1
  "There is thunder beneath the mountain. Superior people are careful about what they say, and moderate in eating and drinking.",
  :cleary-2
  "… Leaders are prudent in speech, moderate in consumption.",
  :wu
  "There is thunder below the mountain; this is Nurturing. Thus the jun zi speaks with caution and drinks and eats with moderation."},
 :line-4
 {:confucius-legge
  "This shows how brilliant will be the diffusion of the power from her superior position. Wilhelm/Baynes: The one above spreads light. Blofeld:  The good fortune is due to light shed from above. Ritsema/Karcher: Spreading-out shining above indeed. Cleary (2): Giving out light from above. Wu: The favors from above are illustrious.",
  :liu
  "Seeking nourishment from the top of the mountain brings good fortune. One stares like a starving tiger stalking its prey. No blame.",
  :cleary-1
  "Reverse nourishment is auspicious. The tiger watches intently, about to give chase. No fault.",
  :legge
  "With line four we pass into the upper trigram. She is next to the ruler's place in line five, and bent on nourishing and training all below. Her proper correlate is the dynamic first line, and although she is weak in herself, she looks with intense desire to the first line for help (Sic.), and there is no error.",
  :blofeld
  "Nourishment on the mountain peak -- good fortune! He glares like a tiger stalking its prey so ardent is his look -- no error! [This line, like the second line, suggests a recluse; but in this case he is well qualified for the spiritual life and obviously gains the fruit of his endeavor. His tigerish glance calls to mind a Master of Zen or, rather, a Taoist sage who has reached a similar stage of enlightenment.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Toppling jaws. Significant. Tiger observing: glaring, glaring. His appetites: pursuing, pursuing. Without fault.",
  :wing
  "Any desire to energetically nourish others will meet with success. You are in a position to be supportive and influential, although you may need to enlist help. Look for clever people to aid you. There is no mistake in this.",
  :editor
  "Wilhelm, Blofeld and Liu all show this line turning upward to a summit or mountain peak for her source of nourishment, and the Confucian commentaries are rendered in terms of light shining down from above. Legge's translation and commentary are not in accordance with this, and hence misleading. The image is one of turning upward for the inspiration to nourish those below. It suggests an ego gaining its power from the Self in order to correctly nourish subordinate complexes within the psyche. The fourth line represents the minister: symbolically, the ego as facilitator of the Work in spacetime. The image of the tiger suggests the fervor of dedication to a higher idea.",
  :siu
  "The man in a high position recognizes the need for able helpers to pursue his lofty aims for the good of the people. He looks for the required talent with the searching glare of a hungry tiger.",
  :commentary "",
  :wilhelm-baynes
  "Turning to the summit for provision of nourishment brings good fortune. Spying about with sharp eyes like a tiger with insatiable craving. No blame.",
  :wu
  "There is reversed nurture. Auspicious. Like the attentive gazing of a tiger, he chases after his desires. There will be no error.",
  :shaughnessy
  "Upside-down jaw; auspicious. The tiger looks with eyes downcast, his appearance is so sad; there is no trouble."},
 :line-2
 {:hua-ching-ni
  "One neglects the constancy and stability which can benefit life and seeks nourishment from the wrong source. Misfortune.",
  :confucius-legge
  "The evil of her advance is because her movements abandon her proper associates. Wilhelm/Baynes: In going it loses its place among its kind. Blofeld: The misfortune is due to his having separated himself from his own kind. Ritsema/Karcher: Movement letting-go sorting indeed. Cleary(2): The action loses companionship. Wu: It is out of order.",
  :liu
  "Seeking nourishment from the top, one strays from the path to the hill. To set forth leads to misfortune.",
  :cleary-1
  "Perverting nourishment goes against the constant. Feeding on high ground – to go brings misfortune.",
  :cleary-2
  "Perverting nourishment brushes aside the constant. Feeding on high ground, an expedition bodes ill. [For those above to nourish those below is the rational constant. Here one in a higher position is recessive and weak, and relies on strength from below for nourishment; so this “brushes aside the constant.]",
  :legge
  "The magnetic second line, insufficient for herself, seeks nourishment first from the dynamic first line below, which is improper, and then from the dynamic sixth line above, which is too far removed and also not her proper correlate. In either case the thing is evil because neither of the dynamic lines is her proper associate.",
  :blofeld
  "Nourishment on the mountain peak; he abandons normal ways to seek nourishment in the hills -- misfortune! [From ancient times, there has been a large body of opinion in China that Taoists and other mystics leading the life of a recluse are odd people who have abandoned their duties to family, state and mankind. However, the Book of Change, revered by both Taoists and Confucians, is not likely to be guilty of bias; indeed, in the fourth place, “nourishment on the mountain” brings good fortune. Perhaps the implication is that those who withdraw from ordinary life more on account of their oddity than because of any genuine desire for spiritual guidance waste their talents and their time.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Toppling jaws. Rejecting the canons, tending-toward the hill-top. Jaws chastising: pitfall.",
  :wing
  "Although you are able to properly nourish yourself in this situation, you rely upon inappropriate methods or persons to fulfill your needs. If this continues, it will rob you of your independence and create an unhealthy state of mind. Difficulties will follow.",
  :editor
  "Thereseems to be disagreement among the translators about which “order of nourishment” (above or below), is appropriate. Legge’s commentary and Siu’s paraphrase offer the most coherent interpretations. The line usually symbolizes one who doesn't know her proper place, who tries to exceed her authority or go beyond herself. Issues pertaining to self-righteousness, spiritual materialism and “wannabe gurus” are sometimes addressed here. The line can also refer to shirking one's responsibility. For example, begging the oracle for information one can easily decide for oneself.",
  :siu
  "The man does not provide for his own support. He improperly takes what he needs from below and also cravenly begs for it from above. Such unworthiness leads to misfortune.",
  :commentary "",
  :wilhelm-baynes
  "Turning to the summit for nourishment, deviating from the path to seek nourishment from the hill. Continuing to do this brings misfortune.",
  :wu
  "There is reversed nurturing. It violates the normal order of offering nurture to the one above. The action is foreboding. [The second (line) has the responsibility of offering nurture to its correlate, the fifth (line). On the contrary, it nurtures the one below, i.e., the first (line). Hence the judgment calls the action a misplaced reversed nurturing.]",
  :shaughnessy
  "Say upside-down jaw; threshing the warp at the northern jaw; to be upright is inauspicious."},
 :judgment
 {:hua-ching-ni
  "In nourishment, one should seek the right nutrition and not be tempted by what others enjoy.",
  :liu
  "Nourishment. Continuing leads to good fortune. Observe the providing of nourishment and the food someone seeks for himself.",
  :cleary-1
  "In nourishment, it is good to be correct. Observe nourishment, and seek fulfillment for the mouth by yourself.",
  :cleary-2
  "Nourishment  is good if correct. Observe nourishment, and seek food by yourself.",
  :legge
  "Nourishmentindicates good fortune through firm correctness. Make sure you know what you are feeding, and determine your proper diet.",
  :blofeld
  "Nourishing. (Nourishment -- literally Jaws) [The form of this hexagram readily brings to mind the concept of wide open jaws, but the word nourishment must not be taken only in a literal sense; for we are concerned here with all those things which men seek both for their own advantage and for giving succor or assistance to others.] Righteous persistence brings good fortune. Watch people nourishing others and observe with what manner of things they seek to nourish themselves. [For this will teach us a lot about their characters.]",
  :ritsema-karcher
  "Jaws, Trial: significant. Viewing Jaws. Originating-from seeking mouth substance. [This hexagram describes your situation in terms of nourishing and being nourished. It emphasizes that opening in order to take things in as well as providing to others is the adequate way to handle it...]",
  :wilhelm-baynes
  "The Corners of the Mouth . Perseverance brings good fortune. Pay heed to the providing of nourishment and to what a man seeks to fill his own mouth with.",
  :wu
  "Nurturing indicates that with perseverance there will be auspiciousness. People should observe the principle of nurturing and find proper foods for nourishment.",
  :shaughnessy
  "Jaws: Determination is auspicious. View the jaw; oneself seeking the mouth's fullness."},
 :line-6
 {:is-required-in-order-to-properly-educate,-influence,-and-nourish-others.-should-he-undertake-this-task,-conscious-of-all-the-implications-of-his-responsibilities,-he-will-bring-happiness-to-many.
  "",
  :anthony
  "The source of nourishment comes from the Sage to ourself and from ourself to others. Only by nourishing ourself correctly can we fulfill our responsibility to nourish others. We “cross the great water” when we tend to this inner nourishment, sorting out and resolutely discarding all the thoughts fantasies, false comforts and self-deceptions that are unworthy of our inner dignity. In this way we get past the dangers they create.",
  :confucius-legge
  "His good fortune, notwithstanding the peril of his position, affords great cause for congratulation. Wilhelm/Baynes: It has great blessing. Blofeld: We shall enjoy great blessings. [`Blessings' means good fortune apparently unconnected with our merits or endeavors.] Ritsema/Karcher: The great possessing reward indeed. Cleary (2): There will be great celebration. Wu: There will be great joy.",
  :liu
  "Seeking the source of nourishment. Danger, good fortune. It is of benefit to cross the great water.",
  :cleary-1
  "The source of nourishment; dangerous, but auspicious. It is beneficial to cross great rivers.",
  :cleary-2
  "At the source of nourishment, it is good to be diligent, etc.",
  :legge
  "The topmost line is dynamic, and line five relies on him. Being penetrated with the idea of the hexagram, he feels himself in the position of master or tutor to all under heaven. The task is hard and the responsibility great, but realizing these things, he will prove equal to them.",
  :blofeld
  "Nourishment gives rise both to trouble and good fortune. It is favorable to cross the great river (or sea). [Our quest for the necessities of mind and body brings mixed results.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Antecedent Jaws. Adversity significant. Harvesting: wading the Great River.",
  :wing
  "The person in this position has a highly developed awareness of what",
  :editor
  "The internal, eternal Self is the evolving entity of the psyche. The rewards of its cosmic adventure are worth all the perils involved. When action originates from the Self, one flows toward one's destiny.",
  :siu
  "The sage educates others. Heavy responsibilities accompany such a position. Awareness of the situation enables the man to accept great challenges with success to the benefit of the people.",
  :commentary "",
  :wilhelm-baynes
  "The source of nourishment. Awareness of danger brings good fortune. It furthers one to cross the great water.",
  :wu
  "He nurtures all below him. With fortitude comes auspiciousness, etc.",
  :shaughnessy
  "From the jaw; danger; auspicious; beneficial to ford the great river."},
 :notes-&-para
 {:judgment
  "Nourishment asks you to examine your motives in the allocation of your energy. Willpower creates a well- balanced apportionment.",
  :the-superior-man
  "controls his expression and monitors his appetites.",
  :the-lines-in-the-lower-trigram-of-movement-are-all-rendered-unfavorably-to-one-degree-or-another,-while-the-lines-of-the-upper-trigram-of-keeping-still-are-all-generally-correct.-the-implication-is-that-non-action-is-almost-always-preferable-to-movement.-this-idea-is-fundamental-to-the-philosophy-of-the
  "I Ching, and in the hexagram of Nourishmentthe lesson is that non-action feeds and strengthens the psyche.",
  :all-actions-are-the-expression-of-psychic-energy-through-a-physical-body-to-create-an-effect-in-spacetime.-each-effect-creates-consequences-which-usually-demand-further-action.-it-is-easy-to-see-that-action-which-is-not-initiated-by-the-self-can-only-result-in-unexpected-consequences,-and-that-action-which-conforms-to-the-will-of-the-self-is-motivated-by-and-directed-toward-a-transcendent-goal.-although-correct-non-action-generally-creates-no-negative-consequences-in-spacetime,-it-does-have-nourishing-consequences-in-the-psyche-as-autonomous-forces-are-gathered,-digested,-assimilated-and-renewed-in-ascending-configurations-of-growth.
  "",
  :suggestions-for-meditation "",
  :compare-the-image-of
  "Nourishment in this hexagram with those in hexagram number five, Waiting; number forty-eight, The Well; and number fifty, The Sacrificial Vessel."},
 :commentary
 {:confucius-legge
  "When the nourishing is correct, there will be good fortune. We must examine those whom we wish to nourish, and we must also examine our own nourishing of ourselves. Heaven and earth nourish all things. The sages nourish men of talent and virtue in order to reach the masses. Great is the work intended in the time of nourishing.",
  :legge
  "The character ofNourishment is the symbol of the upper jaw, but the image of the hexagram suggests a whole mouth with undivided lines at top and bottom, and divided lines between them. The bottom line is in the trigram of Movement, and the top line is in the trigram of Keeping Still -- giving the image of a mobile lower jaw and a fixed upper jaw. The divided lines represent the mouth cavity. The hexagram denotes nourishing of body or mind, of one's self or others, and the proper nourishment in each case must necessarily vary according to circumstances. Thus, judgment must be exercised to determine which nourishment is in harmony with correctness and virtue."},
 :line-3
 {:hua-ching-ni
  "The wrong kind of nourishment. This kind of nourishment may look good for ten years, but in the end has no real benefit. Misfortune.",
  :anthony
  "Only by firmly mastering our inferiors [i.e. our attitudes, complexes, limiting beliefs] do we nourish ourself correctly.",
  :baynes
  "It is all too contrary to the right way. Blofeld: Ten years because his ways are utterly perverse.  Ritsema/Karcher: Ten years-revolved, no availing-of. Tao, the great rebelling indeed. Cleary(2): For the way is greatly confused. Wu: Because it has violated the principle.",
  :confucius-legge
  "Her course is greatly opposed to what is right. Wilhelm/",
  :liu
  "One turns away from nourishment. Continuing in this way brings misfortune: no action for ten years, no benefit or advantage. [Owing to misconduct there is a danger of encountering disaster, misfortune, or poor health.]",
  :cleary-1
  "Going against nourishment, even with rectitude this is inauspicious. Don’t act on this for ten years; there is no benefit.",
  :cleary-2
  "Going against nourishment is inauspicious even if there is rectitude. Do not act on this for ten years; there is nothing to be gained. [The weak cannot nourish themselves; if they are also not balanced correctly and dwell on the climax of action in this state, this is going against nourishment. Even though there is a correct correspondence with the top yang, this cannot save them, and they wind up useless . In Buddhism, it is like the senses deranging people so that they lose their standards.]",
  :legge
  "Line three is magnetic in a dynamic place, and because she is the last line in the trigram of Movement, that quality culminates in her. She considers herself self-sufficient, needing no help. The issue is bad.",
  :blofeld
  "He is determined to relinquish nourishment -- misfortune! For ten years he performs no useful function and there is nowhere favorable for him to go. [Such extreme eccentricity can only end in barrenness. Those familiar with Buddhism will recollect that the Lord Buddha abandoned nourishment on the advice of his teachers and then came to regret this fruitless method of self-discipline.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Rejecting Jaws. Trial: pitfall. Ten years-revolved, no availing-of. Without direction: Harvesting.",
  :wing
  "You cannot be fully nourished because you are too busy looking for nourishment in the wrong places. In doing this, you turn away from others who might help you, and therefore you achieve nothing. This is eccentric and dangerous behavior.",
  :editor
  "The idea here is one of ignoring or repudiating what is necessary for growth. Compare this line with the sixth line of hexagram 24: Return, which Wilhelm translates as: “Missing the return. Misfortune. Misfortune from within and without. If armies are set marching in this way, one will in the end suffer a great defeat, disastrous for the ruler of the country. For ten years it will not be possible to attack again.” Carefully examine the situation at hand to determine where the source of error lies. This line can sometimes refer to “attitude” problems – depression or pessimism that you cannot throw off despite knowing that the Work transcends such illusions.",
  :siu
  "Instead of solid accomplishments, the man pursues pleasures and self-gratification. He will never achieve anything so long as he is surrounded by dissipating temptations.",
  :commentary "",
  :wilhelm-baynes
  "Turning away from nourishment. Perseverance brings misfortune. Do not act thus for ten years. Nothing serves to further.",
  :wu
  "It violates the principle of nurturing. Even if correct it is foreboding. It loses its usefulness for ten years. There is nothing to be gained.",
  :shaughnessy
  "Threshing the jaw; determination is inauspicious; for ten years do not use it; there is no place beneficial."},
 :char \䷚,
 :other-titles
 {:titles
  ("The Corners of the Mouth"
   "Providing Nourishment"
   "The Symbol of the Cheek and of Nourishment"
   "Jaws"
   "Lower Jaw"
   "Nurturing"
   "Swallowing"
   "Sagacious Counsel"
   "Nourishing"
   "To Feed,"),
  :quotes
  ({:author "D.F. Hook",
    :quote "Can mean money, usually as the result of effort."})}}
