{:binary "110100",
 :line-1
 {:confucius-legge
  "That she is in a subordinate position is the constant practice in such a case. Even though lame she can render useful service. Wilhelm/Baynes: The marrying maiden as a concubine,” because that gives duration. A lame man who is able to tread...,” because they receive each other. Blofeld: What is described in the first sentence was due to her constancy; the second sentence presages mutual support. Ritsema/Karcher: Using persevering indeed. Mutualizing receiving indeed. Cleary (2): The lame can walk to good fortune because of service. Wu: It is auspicious because they have roles to play.",
  :liu
  "The marrying maiden is to be a concubine. A crippled man can walk. Undertaking is good fortune. [Even with limited ability a person will achieve his undertakings by depending on someone influential.]",
  :cleary-1
  "Marrying off a young girl as a junior wife. The lame can walk. It is good to go on. [The time is not right but her virtue is right, and she does not do anything improper. This represents the ability to maintain rectitude when the time is not right.]",
  :cleary-2
  "Marrying a young girl, taking junior wives. The lame can walk. To go on leads to good fortune.",
  :notwithstanding-apparent-disadvantages,-an-able-officer-may-do-his-ruler-good-service.
  "It is the constant practice for such a case in the Confucian commentary seems to mean that an ancillary wife has no right to the disposition of herself, but must do what she is told. Thus it is that the mean position of the younger sister does not interfere with the service that she can render.",
  :legge
  "A feudal prince was said to marry nine ladies at once. The principal of them was the bride who was to be the proper wife, and she was attended by two others, virgins from her father's harem; a cousin and a half-sister, a daughter of her father by another mother of inferior rank. Under line one the young woman of the hexagram appears in the inferior position of this half-sister. But the line is dynamic, indicative of a female of firm virtue. The mean condition and its duties are to be deplored, and give the auspice of lameness; but notwithstanding, the secondary wife will in a measure discharge her service. There will be good fortune.",
  :blofeld
  "The maiden marries and becomes a concubine. The lame can walk -- to advance brings good fortune. [Some advance is indicated, but not a very splendid one. To become a concubine is doubtless better than remaining single; to walk with a limp is better than not walking at all – neither is greatly to be desired.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Converting Maidenhood using the junior- sister. Halting enabling treading. Chastising significant.",
  :wing
  "Your position within the situation is low in stature, but you have the good fortune of being taken into the confidence of a superior. If you remain Subordinate, you will assure your security. You can then influence the situation using tact and reserve.",
  :editor
  "This line does not lend itself to the usual gender designation employed in this book. Generally speaking, the line should be read as symbolic of any situation in which one is in a subordinate, powerless position. Often it suggests the need for some sort of compromise in the situation at hand.",
  :siu
  "At the outset, the man in a relatively low position enjoys the confidence of the prince. Outwardly, he keeps tactfully behind the official ministers. Although this diminishes his status, he continues to perform valuable services for the state.",
  :commentary "",
  :wilhelm-baynes
  "The Marrying Maiden as a concubine. A lame man who is able to tread. Undertakings bring good fortune.",
  :wu
  "The marrying of a young woman with her younger sister is like treading with one lame leg. It is auspicious to proceed.",
  :shaughnessy
  "The returning maiden with younger sisters; the lame are able to walk; to be upright is auspicious."},
 :line-5
 {:confucius-legge
  "That her sleeves were not equal to her inferior's shows her noble character, indicated by the central position of the line. Wilhelm/Baynes: The place is in the middle, hence action has value. Blofeld: The first sentence means that, though we may be of only middle rank, we should behave with true nobility. Ritsema/Karcher: One's situation located-in the center. Using valuing movement indeed.  Cleary (2):  The position is one of balance, behaving in a noble manner.  Wu: Her position was central and royal. She had no need for ornamentations.",
  :liu
  "Emperor I gives his daughter in marriage. The embroidered dress of the princess is not as splendid as that of the concubine. The moon is nearly full. Good fortune.",
  :the
  "Book of Odes says, Over her brocaded robe, she wore a plain and simple dress,” for she disliked the loudness of its color and patterns. Thus the way of the superior man is hidden but becomes more prominent every day, whereas the way of the inferior man is conspicuous but gradually disappears. It is characteristic of the superior man to be plain, and yet people do not get tired of him. He is simple and yet rich in cultural adornment. He is amiable and yet systematically methodical. He knows what is distant begins with what is near. He knows where the winds (moral influence) come from. And he knows the subtle will be manifested. Such a man can enter into virtue.",
  :cleary-1
  "The emperor marries off his younger sister; the attire of the empress is not as good as the attire of the young wife. The moon is nearly full. Good fortune.",
  :cleary-2
  "... The attire of the lady is not as good as that of the junior wives. The moon is almost full. This is auspicious.",
  :legge
  "The King's sister is here honorably married, suggesting that the adornment she preferred was the ornament of the hidden man of the heart.” Ch'eng-tzu says: The moon is not full, but only nearly full. A wife ought not to eclipse her husband.” She is in the place of honor, with a proper correlate in line two.",
  :blofeld
  "The Emperor's second marriageable daughter wore regal garments less splendid that those of her bridesmaid. [The implication is that the princess showed better taste than her maid in not dressing too grandly. We must be on our guard against ostentation.]  Close upon the full moon comes good fortune!",
  :notes-and-paraphrases "",
  : "",
  :ritsema-karcher
  "The supreme burgeoning Converting Maidenhood. One's chief's sleeves: One's junior-sister's sleeves not thus fine. The moon almost facing, significant.",
  :wing
  "When you can overlook your social position and stature and place yourself in the service of another, you will realize good fortune. To accomplish this you must overcome vanity, pride, and any ostentatious behavior. To Subordinate yourself to others, regardless of their position, is now a good thing.",
  :editor
  "It is instructive to compare this line with the fifth line of hexagram number eleven,Harmony, which also refers to King Ti-yi's younger sister. A clue to the symbolism comes from the Neo-Confucian classic, The Doctrine of the Mean:",
  :siu
  "The man is reminded that the sister of King I placed herself graciously below her outranked husband and remained free of vanity. The moon that is full does not face the sun.",
  :commentary "",
  :we-see-here-a-princess-bride-who-is-less-attractively-arrayed-than-her-bridesmaid,-and-a-waxing-moon-which-has-yet-to-reach-full-illumination.-the-context-of-the-line-is-a-royal-marriage--the
  "hieros gamos or holy marriage of the alchemists which is also described in hexagram number eleven. Psychologically, the image can suggest that during a time when forces are coming together for synthesis, less important elements in the situation may seem more attractive than the true essence. Since the moon isn't full yet, we haven't seen all of the light -- full comprehension has yet to dawn. Sometimes the line simply boils down to the idea that things are not what they seem.”",
  :wilhelm-baynes
  "The sovereign I gave his daughter in marriage. The embroidered garments of the princess were not as gorgeous as those of the serving maid. The moon that is nearly full brings good fortune.",
  :wu
  "Di Yi married off his younger sister. Her dress was not so elaborate as her younger sister’s. The moon was almost full. Auspicious. [ This was considered proper, for what was proper was the virtuous union, not the wedding dress.]",
  :shaughnessy
  "Di Yi marries off the maiden: the primary wife's sleeves are not as fine as her younger sister's sleeves; the day's moon is past full; auspicious."},
 :number 54,
 :name "Propriety/Making-Do",
 :the-image
 {:legge
  "The waters of a Marsh with Thunder over it form the hexagram of Propriety. The superior man, in accordance with this, having regard to the far-distant end, knows the mischief that may be done at the beginning.",
  :wilhelm-baynes
  "Thunder over the lake: the image of The Marrying Maiden. Thus the superior man understands the transitory in the light of the eternity of the end.",
  :blofeld
  "This hexagram symbolizes thunder over a pool. The Superior Man knows that, to achieve an enduring end, he must be aware of his mistakes at the beginning.",
  :liu
  "Thunder over the lake symbolizes the Marrying Girl. The superior man knows the cause of error, and persists in his virtue to the end.",
  :ritsema-karcher
  "Above marsh possessing thunder. Converting Maidenhood. A chun tzu uses perpetually completing to know the cracked.",
  :cleary-1
  "There is thunder above a lake, making a young girl marry. Thus superior people persist to the end and know what is wrong.",
  :cleary-2
  "Thunder over a lake – Marrying a young girl. Developed people consider lasting results and know what is wrong. [The way developed people handle things is that before they take the time to ask how to start something, they first consider lasting results. If they think of lasting results, they know what is wrong with acting prematurely, like marrying an immature girl. If you understand the meaning of this, you can apply it to government and to contemplating mind as well.]",
  :wu
  "There is thunder above the marsh; this is Marrying a Maiden. Thus, the jun zi in the pursuit of lasting excellence realizes the flaws and corrects them."},
 :line-4
 {:confucius-legge
  "After waiting, the thing may be done all the better. Wilhelm/ Baynes: The state of mind that leads to drawing out of the allotted time indicates a desire to wait for something before going. Blofeld: Her firm desire to postpone her marriage indicates that we should wait before taking action. Ritsema/Karcher: Over-running the term's purpose. Possessing awaiting and-also moving indeed. Cleary (2):  The purpose of putting off the marriage is to go at the right time. Wu: To wait for the right time.",
  :liu
  "The marrying girl postpones marriage. She will marry later, waiting for the right time.",
  :cleary-1
  "When it is the wrong time for a girl to marry, she delays the marriage until the proper time.",
  :legge
  "Line four is dynamic, where it should be magnetic, but in the case of a female the indication is not bad. The subject of the line, however, is in no haste. She waits, and the good time will come. It is she who puts off the marriage, not the other way around.",
  :blofeld
  "The maiden stays unwed beyond the proper time, but the day comes when she makes a late marriage.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Converting Maidenhood overrunning the term. Procrastinating Converting possesses the season.",
  :wing
  "You are faced with a situation in which you must now refrain from action in order to await a more propitious time. It may appear that the world is passing you by as you wait, but your reward for maintaining your principles is on its way.",
  :editor
  "The line does not lend itself to the usual gender designations used in this book. The image is one of patient postponement, with assurance that the desired consequences will occur in the course of time. Wilhelm's rendition of allotted time” suggests that fate is involved.",
  :siu
  "The person does not throw her virtue away but waits. Her marriage will be all the better for it.",
  :commentary "",
  :wilhelm-baynes
  "The Marrying Maiden draws out the allotted time. A late marriage comes in due course.",
  :wu
  "The marrying of the young woman is postponed. A later date is anticipated.",
  :shaughnessy
  "The returning maiden exceeds the appointed time, and tardily returns having time."},
 :line-2
 {:confucius-legge
  "She has not changed from the constancy proper to a wife. Wilhelm/Baynes: The permanent law is not changed.  Blofeld: As yet, no change occurs in the ordinary course of events. Ritsema/Karcher: Not-yet transforming the rules indeed. Cleary (2): The benefit of the chastity of a hermit is not changing the norm. Wu: He has not yet deviated from his course.",
  :liu
  "A one-eyed man can see. It benefits the solitary man to keep quiet.",
  :cleary-1
  "The one-eyed can see. It is beneficial to be chaste as a hermit.",
  :legge
  "Line two is dynamic in a magnetic place, and her correlate is magnetic in a dynamic place. Both, however, are central in their respective trigrams. With a weak correlate, line two can't do much in the discharge of her duties, but if she thinks only of her husband, like the widow who will die rather than marry again, such devotion will have its effect and reward. Though blind in one eye, she still manages to see -- devoted loyalty in an officer will compensate for many disadvantages.",
  :blofeld
  "The one-eyed man can see. Righteous persistence brings advantage to the recluse. [It is not unusual for a one-eyed man to see, more or less, or for a recluse to benefit from persistence in his meditations and devotions; neither of them symbolizes anything at all remarkable.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Squinting enabling observing. Harvesting: shade people's Trial.",
  :wing
  "The situation is disappointing. It is up to you, alone, to carry on the original vision. Such devotion and loyalty will ultimately bring progress.",
  :editor
  "The line does not lend itself to the usual gender designations used in this book. Blofeld's Confucian commentary: As yet, no change occurs in the ordinary course of events” suggests that although we may not perceive or understand what is going on, we still haven't violated the Work. Legge's rendition of the firm correctness of a solitary widow” implies virtuous abstinence -- not giving one's energy to any force that would compromise our integrity.",
  :siu
  "Devoted loyalty on the part of the man will compensate for many weaknesses on the part of his associates as well.",
  :commentary "",
  :wilhelm-baynes
  "A one-eyed man who is able to see. The perseverance of a solitary man furthers.",
  :wu
  "It is like looking with one injured eye. It is advantageous to having a recluse’s perseverance.",
  :shaughnessy
  "The blind are able to see; beneficial for a dark man to determine."},
 :judgment
 {:liu
  "The Marrying Girl. Undertaking leads to misfortune. Nothing benefits.",
  :cleary-1
  "Making a young girl marry:  To go on will lead to misfortune; no profit is gained.",
  :cleary-2
  "Marrying a young girl. To go on an expedition leads to misfortune, with nothing gained.",
  :legge
  "Propriety indicates that action will be evil, and in no wise advantageous.",
  :blofeld
  "The Marriageable Maiden. Advance brings misfortune. No goal (or destination) is now favorable.",
  :ritsema-karcher
  "Converting Maidenhood, chastising: pitfall. Without direction: Harvesting. [Without direction: Harvesting: ... In order to take advantage of the situation, do not impose a direction on events.] [This hexagram describes your situation in terms of the changing status of someone who cannot control their circumstances. It emphasizes that finding a real field of activity through accepting this imposition is the adequate way to handle it...]",
  :wilhelm-baynes
  "The Marrying Maiden. Undertakings bring misfortune. Nothing that would further.",
  :wu
  "Marrying a Maiden indicates that it will be foreboding to make moves. There is nothing to be gained.",
  :shaughnessy
  "Returning maiden: To be upright is inauspicious; there is no place beneficial."},
 :line-6
 {:confucius-legge
  "The basket is empty. Wilhelm/Baynes: The reason that the top line has no fruits is because it holds an empty basket. Blofeld:  This top line implies absence of solid worth, hence the symbol of holding an empty basket. Ritsema/ Karcher: Six above, without substance. Receiving an empty basket indeed.",
  :liu
  "The woman's basket is empty. The man stabs the sheep, but no blood comes. Nothing beneficial.",
  :cleary-1
  "The woman receives a chest, but there is nothing in it. The man sacrifices a goat, but there is no blood. No benefit is gained.",
  :cleary-2
  "When one does not accumulate virtue in life, then one has no spirit after death and cannot cause one’s descendants to flourish. Developed people, knowing what is wrong by thinking of the lasting results, see this at the outset.",
  :legge
  "The sixth line is magnetic at the top of the hexagram, and without a proper correlate, hence the unfortunate auspice. The marriage contract is broken, and union does not take place. The parties concerned offer sacrifices in the temple, but the woman's basket is empty and the man's effort is fruitless.",
  :blofeld
  "A woman holds a basket with nothing inside; a man stabs a sheep without drawing blood. No goal (or destination) is favorable now.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "A woman receiving a basket without substance. A notable disemboweling a goat without blood. Without direction: Harvesting.[ Without direction: Harvesting, WU YU LI: no plan or direction is advantageous; in order to take advantage of the situation, do not impose a direction on events.]",
  :wing
  "Are you just going through the motions? Is there content to the refined manner you present? If you are acting out of adherence to form, don't bother. Nothing will come of it.",
  :editor
  "Like everything else in the Book of Changes, this line can symbolize an enormous range of situations. At its most basic level, a union of opposites does not take place. Whether or not blame is involved depends upon the circumstances. Note that blame is not mentioned in the line itself.",
  :siu
  "The man goes through superficial actions, such as offering an empty basket and a pre-slaughtered sheep to the gods, solely to preserve the form. This disregard for content bodes no good for lasting associations.",
  :sacrifices,-charities-and-penances-performed-without-faith-in-the-supreme-are-nonpermanent.-o-son-of-prtha,-they-are-useless-both-in-this-life-and-in-the-next.
  "Bhagavad-Gita 17: 28",
  :commentary "",
  :wilhelm-baynes
  "The woman holds the basket, but there are no fruits in it. The man stabs the sheep, but no blood flows. Nothing that acts to further.",
  :wu
  "The woman carries a basket that is bottomless; the man sacrifices a sheep that has no blood. There is nothing to be gained.",
  :shaughnessy
  "The woman holds up the basket, there is no fruit, the man stabs the sheep, there is no blood; there is no place beneficial."},
 :notes-&-para
 {:in-the-first-instance,-it-is-useful-to-compare-the-symbolism-here-with-that-of-the-preceding-hexagram-of
  "Gradual Progress. There we see the organic progression of the Work allegorized as the proper marriage of a young woman. In this case, Gradual Progress has been turned upside down and the symbolism reversed: this young woman improperly pursues a marriage on her own initiative. Psychologically interpreted, it can be regarded as an image of the ego pushing its own agenda or desire for union.",
  :the-superior-man
  "understands that the Work is guided from within, and that choices which ignore this truth can only retard its progress. (Present actions originate future consequences: pay heed to your choices.)",
  :to-recognize-our-`relative-limitedness
  "“vis-à-vis the Self-field” is to renounce our claim to unilateral action. Though the ego ardently desires a marriage with the Self, only the Self can initiate such a union. Chou Tun I, an early Neo-Confucian, makes an observation which illuminates Legge's Image:",
  :judgment "Propriety means that unilateral action is inappropriate.",
  :to-receive-this-hexagram-without-changing-lines-can-be-an-admonition-to-examine-your-motives-and-actions-in-the-matter-at-hand.-where-are-you-out-of-line?-if-no-obvious-impropriety-is-involved,-it-could-also-portray-an-essentially-impotent-predicament.-at-such-times-ritsema-karcher's-synopsis-bears-repetition
  "This hexagram describes your situation in terms of the changing status of someone who cannot control their circumstances. It emphasizes that finding a real field of activity through accepting this imposition is the adequate way to handle it.”",
  :although-the-confucian-commentary-describes-this-hexagram-in-terms-of-self-seeking-aspiration,-the-wretched-protagonist-of-the-figure-is-not-invariably-culpable,-and-neither-judgment-nor-image-imply-this.-in-addition-to-being-at-the-very-bottom-of-the-social-pecking-order,-the-maiden-is-portrayed-as-half-blind,-crippled-and-a
  "slave. Although condemned by the commentators for importuning a marriage that would raise her status, a close reading of the lines reveals that only the sixth place suggests possible impropriety -- the others all contain advice about how one of extremely low status should cope with restricted circumstances. The hexagram therefore can deal with either of two possible conditions: those involving Proprietyand those involving Making-do as an adaptation to adversity.",
  :the-traditional-name-for-this-hexagram-is
  "The Marrying Maiden -- a title which does not convey to modern western readers the subtlety of its symbolism. Blofeld says: This hexagram is, on the whole, a most unfortunate omen ... We must not suppose that it deals only with marriage. What is said about the maiden symbolizes in some way or other what we may expect for ourselves within the context of our enquiry. The figure is certainly difficult, but unfortunate only if its import is resisted or denied: any portrayal of our situation which eliminates illusion (however painful the realization), must be regarded as a positive lesson.",
  :compare
  "Propriety with hexagram number fifty-three, Gradual Progress, then compare them both with hexagram number thirty-one,Initiative.  What are the similarities in their ideas? Now look at hexagrams number eleven, seventeen and twenty-two and observe the over-all philosophy which begins to emerge.",
  :suggestions-for-meditation ""},
 :commentary
 {:confucius-legge
  "In the marriage of a young bride the proper relationship between heaven and earth is seen. Nothing could grow or flourish if heaven and earth did not unite. The marriage of a young bride is therefore both the commencement and goal of humanity. But here the desire of pleasure employs movement to attain union. This action will be evil because the lines are in inappropriate places, and the magnetic three and five are mounted on dynamic lines.",
  :legge
  "The Chinese phrase for this hexagram might be equivalent to the English giving in marriage,” but there are some special meanings in this case which must be understood. The Judgment gives a bad auspice because the trigram of the Youngest Daughter is beneath the trigram of the Eldest Son. Since the action of the hexagram begins with the lowest trigram, we have two violations of propriety. First, the marriage is initiated by the woman and her friends. She goes unilaterally to her future home instead of the bridegroom coming to fetch her. Second, the parties are unequally matched -- there is too great a disparity in their ages. In addition, all the lines in the hexagram except the top and the bottom are in places inappropriate for them. Some commentators insist that the symbol of the contracting of a marriage in this hexagram sets forth some principles which should obtain in the relation between a ruler and his ministers.",
  :the-growth-of-things-in-nature-from-the-interaction-of-heaven-and-earth-is-analogous-to-the-increase-of-mankind-through-the-interaction-between-male-and-female-in-marriage.-the-k'ang-hsi-editors-reconcile-this-good-auspice-with-the-unfavorable-judgment-by-saying
  "The interaction of the yin and yang cannot be dispensed with, but we ought to be careful about it in the beginning in order to prevent mischief in the end.” The error here is that the desire for the marriage originated with the lady, and that she is heedless of the disparity in their ages."},
 :line-3
 {:confucius-legge
  "This is shown by the improprieties indicated in the line. Wilhelm/ Baynes: She is not yet in the appropriate place. Blofeld: Her former state is indicated by the unsuitable position of this line. Ritsema/Karcher: Not- yet appropriate indeed. Cleary (2): The bride-to-be who seeks is not right. Wu:  Because her position is improper.",
  :liu
  "The marrying girl is to be a maidservant. She marries as a concubine.",
  :cleary-1
  "When the bride-to-be seeks, it will be the little sister who is married instead.",
  :legge
  "The third line is magnetic in a dynamic place at the top of the trigram of Frivolity. She is of so mean a character and such a slave of passion that no one will marry her. She returns and accepts the position of a concubine.",
  :blofeld
  "From being a servant, the marriageable maiden becomes a concubine. [Again, a small advance is made, but nothing very satisfying is won.]",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Converting Maidenhood: using hair-growing. Reversing Converting: using the junior-sister.",
  :wing
  "To attain your desires, it will be necessary for you to compromise your Self.",
  :editor
  "There are at least two interpretations of this line: one portrays moving from an abject position (slavery) to accept a correct, albeit still subservient role. On the other hand, the line can suggest an attempt at a union or synthesis which is unstable or premature: The imbalances within the situation cause its dynamics to be re-adjusted at a lower level than desired. An inherent instability cannot be maintained no matter how much we want it to be otherwise.",
  :siu
  "It is preferable to be a concubine rather than a slave. The inferior person enters into situations incompatible with self-esteem, in pursuit of joys that cannot be attained legitimately.",
  :commentary "",
  :wilhelm-baynes
  "The Marrying Maiden as a slave. She marries as a concubine.",
  :wu
  "The marrying of the young woman is being put on hold. Instead, her younger sister is married in her place.",
  :shaughnessy
  "The returning maiden with consorts turns around and returns with younger sisters."},
 :char \䷵,
 :other-titles
 {:titles
  ("The Marrying Maiden"
   "The Symbol of the Marriage of the Younger Sister"
   "Marriageable Maiden"
   "The Marrying Girl"
   "Subordinate"
   "The Second Wife"
   "Converting Maidenhood"
   "Returning maiden"
   "Making a young girl marry"
   "Marrying a young girl"
   "Marrying a Maiden"
   "Unilateral Action"
   "Impropriety"
   "Improper Advances"),
  :quotes
  ({:author "D.F. Hook",
    :quote
    "Deals with life and death, sex and birth. It contains a warning about a person or situation. It deals essentially with discrimination. The first step on the Path without which we are useless."})}}
