{:binary "100111",
 :line-1
 {:confucius-legge
  "When he who is free from insincerity makes any movement, he will get what he desires. Wilhelm/Baynes:  Innocent behavior attains its will. Blofeld:  What is willed comes to pass. Ritsema/Karcher: Acquiring purpose indeed. Cleary (2): One attains one’s aspiration. Wu: He will have his aspirations fulfilled.",
  :liu "Innocent actions bring good fortune.",
  :cleary-1 "Fidelity, without error; it is auspicious to go.",
  :cleary-2 "Going without error leads to good results.",
  :legge
  "The first line is dynamic at the bottom of the trigram of Movement. His action will characterize all the action set forth, and will itself be fortunate. This is another way of saying that true goodness may expect good fortune, by the appointment of Heaven.",
  :blofeld "Moving onward with integrity brings good fortune.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Without Embroiling. Going significant.",
  :wing
  "Acting with integrity and spontaneity will bring you success. You may trust your instincts, because there is goodness in your heart. Good fortune is willed.",
  :editor
  "This is a very favorable line, showing one who is worthy and able to advance under the conditions described in the Judgment.",
  :siu
  "At the outset, the man follows the original pure impulses of his heart. His aims will be achieved.",
  :commentary "",
  :wilhelm-baynes "Innocent behavior brings good fortune.",
  :wu "Without vainness, he will proceed with auspiciousness.",
  :shaughnessy "The pestilence goes; auspicious."},
 :line-5
 {:confucius-legge
  "Medicine in the case of one who is free from insincerity should not be tried at all. Wilhelm/Baynes: One should not try an unknown medicine. Blofeld: What this really means is that we should avoid applying untried remedies.  Ritsema/Karcher: Not permitting testing indeed. Cleary (2): Medicine should not be tried when nothing is wrong. Wu: No medicine should be taken for being free from vainness.",
  :liu
  "For an unexpected illness, use no medicine. Good fortune will follow.",
  :cleary-1
  "For sickness without error don’t use medicine; there will be joy.",
  :legge
  "Line five is dynamic in the central place of honor, and has a proper correlate in line two. Hence he must possess the qualities of the hexagram in perfection. Nevertheless, he is sick or in distress. He need not be anxious -- without his efforts a way of escape will be opened for him. The idea is that sickness shouldn't happen to one who is perfectly sincere, and if it does happen it must refer to some inexplicable will of Heaven. If such is the cause, then so shall it cure.",
  :blofeld "Unexpected illness, but it will be best not to treat it.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Without Embroiling's affliction. No medicinal herbs, possessing rejoicing.",
  :wing
  "What may appear as an unfortunate turn of events has internal causes. External remedies will not solve the problem. What is occurring is an inner process. Let nature take its course. The solution will come of itself.",
  :editor
  "Wilhelm observes: That he appears ill comes from his way of taking the illnesses of others upon himself.” This can refer to both other people in the outer world, or to others in the inner world of the psyche -- our autonomous drives, appetites, emotions, etc. The psychological concept of co- dependence” often applies to this line.",
  :siu
  "Unexpected evil comes to the man through no fault of his own. He should not anxiously resort to hasty remedies. Nature will overcome the evil in her own way and at her own pace.",
  :commentary "",
  :wilhelm-baynes
  "Use no medicine in an illness incurred through no fault of your own. It will pass of itself.",
  :wu
  "He feels sick being free from vainness. He will be happy for having taken no medicine.",
  :shaughnessy
  "The pestilence's illness: there is no medicine but there is happiness."},
 :number 25,
 :name "Innocence",
 :the-image
 {:legge
  "Thunder rolls under heaven, and everything manifests its original nature, free from all insincerity. The ancient kings, in accordance with this, made their regulations in complete accordance with the seasons, thereby nourishing all things.",
  :wilhelm-baynes
  "Under heaven thunder rolls: all things attain the natural state of innocence. Thus the kings of old, rich in virtue, and in harmony with the time, fostered and nourished all beings.",
  :blofeld
  "This hexagram symbolizes thunder rolling across the whole earth; from it, all things receive their integrity. [The lower trigram is pictured as thunder, but it acts through its power to quicken growth.] The ancient rulers gave abundant and timely nourishment to all.",
  :liu
  "Thunder rolls under heaven; everything is innocent. The ancient kings cultivated virtue and used the appropriate time to nourish all beings.",
  :ritsema-karcher "Below heaven thunder moving. Beings associating",
  :without-embroiling.
  "The Earlier Kings used luxuriance suiting the season to nurture the myriad beings.",
  :cleary-2
  "Thunder travels under the sky; things accompany with no error. Ancient kings promoted flourishing appropriate to the time and nurtured myriad beings.",
  :wu
  "Thunder moves under heaven. All things participate in the spirit of Freedom from Vainness. The ancient kings acted in time to cause all people and things to flourish."},
 :line-4
 {:steadfast-to-his-own-nature,-he-will-commit-no-error. "",
  :anthony "Dread of losing is as faulty as anticipation of winning.",
  :confucius-legge
  "He firmly holds fast his correctness. Wilhelm/Baynes: For he possesses firmly. Blofeld:  That is to say firmness will enable us to fulfill our aim. Ritsema/Karcher: Firmly possessing it indeed. Cleary (1): This is inherent. Wu: Because he holds fast to what he has gotten.",
  :liu "If one carries on, no blame.",
  :cleary-1 "One should be correct; then there is no error.",
  :legge
  "Line four is the lowest in the trigram of strength, and line one is not a proper correlate. Also, the fourth line is dynamic in a magnetic place, so caution is necessary.",
  :blofeld
  "Something can be accomplished by righteous persistence and no error is involved.",
  :notes-and-paraphrases "",
  :ritsema-karcher "Permitting Trial. Without fault.",
  :wing
  "Do not be influenced by the designs of those around you. It is very important, at this time, that you trust your inner vision. Obey your instincts.",
  :editor
  "There is a definite qualification in most translations of this line: IF you can maintain correctness, you will succeed -- or at least not be incorrect.” The wording can imply doubt, and hints at a possible test of your discrimination. The wisest reading is that if you aren't impeccable, the injunction from the Judgment is appropriate here: If someone is not as he should be, he has misfortune, and it does not further him to undertake anything.”",
  :siu
  "What really belongs to the man cannot be lost to him. As long as he remains",
  :commentary "",
  :wilhelm-baynes "He who can be persevering remains without blame.",
  :wu "If he can remain firm and correct, he will be blameless.",
  :shaughnessy "Able to be determined; there is no trouble."},
 :line-2
 {:anthony
  "Innocence means to answer the duty required by the moment, regardless of consequences, looking neither forward nor backward. If we have hopes and expectations, we are disappointed when things do not work out on our imagined schedule.",
  :confucius-legge
  "She reaps without having ploughed -- the thought of riches to be gotten had not risen in her mind. Wilhelm/Baynes: One does not seek wealth. Blofeld:  It is not meet to calculate profits as such an early stage, nor can we expect to become rich soon. Ritsema/Karcher: Not-yet affluence indeed. Cleary (2): One is not enriched. [This means aspiring only to attain enlightenment, not thinking of riches or rank. Then it is beneficial to go somewhere.] Wu: For he is not after material rewards.",
  :liu
  "Do not count the harvest while planting, nor plow the field that lies in fallow. There is advantage in undertaking something.",
  :cleary-1
  "Not plowing or harvesting, not making new fields, then it is beneficial to go somewhere.",
  :cleary-2
  "Not plowing for the harvest, it is beneficial to go somewhere.",
  :ploughed,-and-gathers-the-produce-of-her-third-year's-fields-without-having-cultivated-them-for-that-end.-to-such-a-one-there-will-be-advantage-in-whatever-direction-she-may-move.
  "",
  :legge
  "Line two is magnetic, central, and in her correct place. She is entirely free from selfish or mercenary motives. She is good for the sake of goodness, and things are such that her action will be successful. She does what she does because it is right, not because of any gain it might bring to her.",
  :blofeld
  "Do not calculate the size of the harvest while the ploughing is still in progress, nor gloat over the third year's crop while still planting the virgin ground. It is favorable to seek some object (or destination).",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Not tilling the crop. Not clearing the plow-land. By-consequence, Harvesting: possessing directed going.",
  :wing
  "Do not dream about the results of your work or the attainment of your goal. Instead, take action for its own sake and devote your full attention to what you are now doing. Only in this way can you achieve your aim.",
  :editor
  "The idea here is that the times are favorable to undertake something only if you are free of ulterior motives. Because Wilhelm's translation of this line is conditional, there is a suggestion that there may be some temptation toward selfishness within the situation. Keep an open mind and remain receptive to your experience.",
  :siu
  "The man succeeds in everything he undertakes. He does not proceed with mercenary or selfish interests in mind but does good things for their own sake. Unsought wealth will come his way.",
  :commentary "",
  :wilhelm-baynes
  "If one does not count on the harvest while plowing, nor on the use of the ground while clearing it, it furthers one to undertake something.",
  :wu
  "If he does not expect to reap as he plows the field, or if he does not expect to harvest in a “ripe” field when he cultivates a raw land, he will have the advantage of moving ahead.",
  :shaughnessy
  "Not sowing or reaping, not breaking new fields nor working old fields; beneficial to have someplace to go."},
 :judgment
 {:liu
  "The Unexpected: sublime success. Benefit. Perseverance. Someone acts incorrectly: misfortune. No benefit for undertakings.",
  :cleary-1
  "Fidelity is creative and developmental. It is beneficial to be correct; if it is not correct, there will be disaster, and it will not be beneficial to go anywhere.",
  :cleary-2
  "Freedom from error is very successful, beneficial for the upright. Denial of what is correct is mistaken, etc.",
  :legge
  "Innocenceindicates progress and success through firm correctness. If the action of its subject is incorrect, he will fall into error. In such a case it will not be advantageous to move in any direction.",
  :blofeld
  "Integrity. (The Unexpected). [this hexagram has two widely different meanings, both of which occur in what follows.] Sublime success! Righteous persistence brings reward. Those opposed to righteousness meet with injury. It is not favorable to have in view any goal (or destination). [Usually this sentence may be taken to have a wide application; but, in this case, (the Confucian commentary) suggests that it applies only to the enemies of righteousness, though it does have a general application for those who receive a moving line for the sixth place.]",
  :ritsema-karcher
  "Without embroiling. Spring Growing Harvesting Trial. One in-no-way correcting: possessing blunder. Not Harvesting: possessing directed going. [This hexagram describes your situation as being without confusion or fault. It emphasizes that acting while remaining free from entangling, vanity or recklessness is the adequate way to handle it. To be in accord with the time, you are told: act without becoming embroiled!]",
  :wilhelm-baynes
  "Innocence. Supreme success. Perseverance furthers. If someone is not as he should be, he has misfortune, and it does not further him to undertake anything.",
  :wu
  "Freedom from Vainness is primordial, pervasive, prosperous and persevering. If it does not stay in the correct course, there will be calamities and there will be no advantage to have any undertaking.",
  :shaughnessy
  "Pestilence: Prime receipt; beneficial to determine. If it is not upright there will be an inspection; not beneficial to have somewhere to go."},
 :line-6
 {:anthony
  "When innocent action begins to meet with resistance, it is best to disconnect and fall back on acceptance. We should work with a situation only when it works with us, going only so far as openness in the other person allows. Waiting quietly without ulterior designs means to truly disconnect, inwardly, and go on our way.",
  :confucius-legge
  "Action is inappropriate now because the time for it has passed. Wilhelm/Baynes: Action without reflection brings about the evil of bewilderment. Blofeld:  An unexpected journey now would plunge us into a state of dangerous exhaustion. Ritsema/Karcher: Exhaustion's calamity indeed. Cleary (2): Action without error involves misfortune when it comes to an impasse. Wu: the action taken without vainness will result in calamities from overextension.",
  :liu "Innocent action brings disaster. No advantage.",
  :cleary-1
  "If fidelity in action has faults, there is no benefit. [This is fidelity not knowing when enough is enough.]",
  :cleary-2
  "Even if there is no error, action involves misfortune, so no benefit is gained. [This refers to clinging to a constant and not knowing how to change adaptively.]",
  :legge
  "Line six is at the top of the hexagram, and comes into the field when the action has run its course. He should be still, and not initiate any fresh movement. When a thing is over and done, submission and acquiescence are what are required -- not renewed attempts at action.",
  :blofeld
  "If it is unexpected, a journey now would be injurious. This is a time favorable for those with no destination in view.",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Without Embroiling. Moving possessing blunder. Without direction: Harvesting. [Without direction: Harvesting, WU YU Li: no plan or direction is advantageous; in order to take advantage of the situation, do not impose a direction on events.]",
  :wing
  "Progress is impossible. Even innocent actions will create chaos. Do not attempt anything new, nor try to improve upon your surroundings. Do not do anything at all.",
  :editor
  "Wilhelm compares the import of this line to line six of The Dynamic:Arrogant dragon will have cause to repent.” Ritsema/Karcher’s “In order to take advantage of the situation, do not impose a direction on events” puts a slightly different spin on the meaning, suggesting that circumstances will improve if you can keep from meddling.",
  :siu
  "The time is not ripe for further progress. The man keeps still. Activities in opposition to fate will not help him in any way.",
  :commentary "",
  :wilhelm-baynes
  "Innocent action brings misfortune. Nothing furthers.",
  :wu
  "Even without vainness, he will face calamities if he chooses to act. There is nothing to gain. [The sixth is not a position for doing anything aggressively. There is nothing sensible for the sixth to undertake. Doing what is not supposed to be done is an overextension.]",
  :shaughnessy
  "The pestilence's motion; there is an inspection; there is no place to benefit."},
 :notes-&-para
 {:the-superior-man "acts in harmony with the times.",
  :wilhelm-has-some-interesting-commentary-on-this-hexagram,-stating-that-it-can-indicate-unexpected-misfortune.-in-his-book,
  "Lectures on the I Ching, he comments:",
  :compare-what-is-said-here-about-the-ancient-kings-with-what-is-said-about-them-in-hexagrams-8,-16,-20,-21,-24,-and-59.-what-common-theme-unites-them,-and-how-does-it-relate-to-the-concept-of-the-work?
  "",
  :see-line-three-and-its-commentaries-for-further-insights-into-wilhelm's-ideas-here.
  "",
  :judgment
  "Success is possible only if you are impeccably correct. If such is not the case, take no action at all. (Let him who is without sin cast the first stone.)",
  :to-use-the-christian-injunction-in-illustration-the-upper-trigram-of-heaven-is-perfect,-and-the-lower-trigram-of-movement-is-asked-to-reflect-on-how-far-he-conforms-to-this-ideal.-in-psychological-terms,-how-do-the-goals-of-the-ego-compare-with-those-of-the-self,-the-entity-to-whom-the-work-is-dedicated?
  "",
  :suggestions-for-meditation "",
  :to-receive-this-hexagram-without-changing-lines-is-tantamount-to-being-asked-if-you-are-perfect-enough-to-take-action-without-harm.-sometimes,-depending-on-circumstances,-it-can-also-suggest-that-your-position-is-correct-and-blameless.-as-always,-the-context-of-your-query-will-leave-no-doubt-when-this-latter-interpretation-is-intended.-if-there-is-doubt,-rephrase-the-question-and-ask-until-you-understand.-the-oracle-uses-ambiguity-to-develop-your-intuition--especially-so-on-those-occasions-when-all-you-want-is-a-quick-answer.
  "",
  :the-ancient-kings-in-the-image-are-mentioned-by-name-in-seven-hexagrams.-(see-the-commentary-on-hexagram-number-20,
  "Contemplation, for a fuller discussion of their symbolism.) Here, the Image shows them synchronizing their laws with the laws of nature -- an archetypal concept which is found in many mystical traditions. Here is the alchemical version:",
  :in-terms-of-the-hexagram-of
  "Innocence, the idea is that if you are truly synchronized with your inner cosmos, if you are truly innocent (i.e., perfect), you may succeed under the prevailing conditions, but if you are not in complete inner accord you would be well advised to sit tight and take no action. To paraphrase the last sentence of the Confucian commentary: Can the ego do anything advantageously without the concurrence of the Self?"},
 :commentary
 {:confucius-legge
  "Innocence shows the dynamic first line descending from the upper trigram to become the lord of the hexagram in the lower trigram. We see the attributes of Motive Power and Strength. The dynamic fifth line is central and responded to by the magnetic second line. It is the will of heaven that true progress can only proceed from correctness. If the action of the subject is incorrect he will fall into error, and it will be unfortunate for him to move in any direction. Where can one with the illusion of innocence proceed? Can anything be accomplished by someone without the assistance of heaven's will?",
  :legge
  "Of the two Chinese characters which symbolize Innocence, one is the symbol of being reckless, and often of being insincere; these two characters in combination describe a state of entire freedom from such a condition. The subject of the hexagram therefore, is one who is simple and sincere. This quality is characteristic of heaven, and of the highest style of humanity. The figure is an essay on this noble attribute. But an absolute rectitude is essential to it. The nearer one comes to the ideal of the quality, the more powerful will be his influence and the greater his success. But let him see to it that he never swerve from being correct.",
  :anthony
  "Innocence means to let go of the present, thereby letting the future become what it will and being at peace with it… When we have learned to do a thing for its own sake, we know the meaning of innocence… In keeping our minds open and free, we are able to meet unexpected events with the help of the Creative, which always points out the correct and most appropriate response."},
 :line-3
 {:anthony
  "Situations occur which are negative, and it is not our fault. Nevertheless, we must adjust to them with acceptance. To fail to do so will only bring on further misfortune. We should not let negative events destroy our innocence of mind.",
  :confucius-legge
  "The passer-by gets the ox -- this proves a calamity to the people of the neighborhood. Wilhelm/Baynes: If the wanderer gets the cow, it is the citizen's loss. Blofeld: The former gains an ox at the cost of the owner's suffering. [The calamity may be threatening us. Otherwise, the implication is that we cannot avoid gaining something at severe cost to others.]Ritsema/ Karcher: Capital people, calamity indeed. Cleary (2): When a traveler finds the cow, it is a misfortune for the local people. Wu: The passerby gets the ox and the villager faces a loss.",
  :liu
  "An unexpected misfortune: the cow is tied up, and a passerby takes it. The passerby gains, the villagers are in trouble.",
  :cleary-1
  "The misfortune of fidelity; a tethered ox is a gain for a traveler, misfortune for the townspeople.",
  :cleary-2 "The misfortune of no error, etc.",
  :legge
  "Sometimes calamity may befall the best of us, even when there is freedom from insincerity. Line three, being magnetic in a dynamic place, is vulnerable to this misfortune. The people of the neighborhood are of course entirely innocent. On line three it is said: The superior man seeks simply to be free from insincerity, and leaves the question of happiness and calamity to Heaven.”",
  :blofeld
  "Unexpected calamity. Someone ropes an ox and leads it off -- a gain to the passer-by but a loss to the farmer who owns it!",
  :notes-and-paraphrases "",
  :ritsema-karcher
  "Without Embroiling's calamity. Maybe attaching's cattle. Moving people's acquiring: Capital people's calamity.",
  :wing
  "Undeserved and unexpected misfortune may come your way. It will pass. An attitude of Innocence does not preclude bad luck, as such shifts of fortune are unavoidable. However, an innocent posture should not be abandoned for it can reveal new ways of dealing with problems.",
  :editor
  "The symbolism usually implies that you have just been wronged through no fault of your own. Cleary’s Buddhist commentary introduces a different interpretation: “This represents the unbalanced and aberrant who cling to a principle that is without error and make it into a misfortune. When a traveler finds the cow, why then cling to principle and seek a reward from the local people? Is this not misfortune extending to the innocent?” Note that the references to the innocent villagers’ culpability in Legge, Liu and Cleary-2 suggest there may be hidden nuances to this line.",
  :siu
  "Undeserved calamity comes to the sincere person. Unexpected misfortunes of this kind, however, do not throw the superior man off stride.",
  :commentary "",
  :wilhelm-baynes
  "Undeserved misfortune. The cow that was tethered by someone is the wanderer's gain, the citizen's loss.",
  :wu
  "There are hazards despite freedom from vainness. For instance, a villager ties an ox here, but a passerby leads it away. The villager ends up with a loss.",
  :shaughnessy
  "The pestilence's disaster: someone ties it to an ox. The traveling man's gain, is this of the city man."},
 :char \䷘,
 :other-titles
 {:titles
  ("The Unexpected"
   "The Unintentional"
   "The Symbol of Freedom from Error"
   "Integrity"
   "Without Embroiling"
   "Pestilence"
   "Fidelity"
   "No Error"
   "Freedom from Vainness"
   "Instinctive Goodness"
   "The Simple"
   "Correctness"
   "Subconscious"),
  :quotes
  ({:author "D.F. Hook",
    :quote "Whatever happens, keep calm and do what is right."})}}
